<% title t('titles.confirmations.delete') %>

<div class="padding-0 cntnr-xxskinny border-box bg-white rounded-xxl modal-warning">
  <h1 class="margin-y-2 fs-20p sans-serif regular center">
    <%= t('users.delete.heading') %>
  </h1>
  <hr class="margin-bottom-4 border-width-05" />
  <div class="margin-bottom-1 bold">
    <%= t('users.delete.subheading') %>
  </div>
  <ul class="padding-x-2">
    <li class="margin-bottom-1"><%= t('users.delete.bullet_1', app_name: APP_NAME) %></li>
    <li class="margin-bottom-1"><%= current_user.decorate.delete_account_bullet_key %></li>
    <li class="margin-bottom-1"><%= t('users.delete.bullet_3', app_name: APP_NAME) %></li>
    <li class="margin-bottom-1"><%= t('users.delete.bullet_4', app_name: APP_NAME) %></li>
  </ul>
  <div>
    <%= validated_form_for(current_user, url: account_delete_path,
                           html: { autocomplete: 'off', method: :post }) do |f| %>
      <div class="margin-bottom-4">
        <%= t('users.delete.instructions') %>
      </div>
      <%= f.input :password, label: t('idv.form.password'), required: true,
                  input_html: { aria: { invalid: false }, class: 'password-toggle' } %>
      <%= f.button :submit,
                   t('users.delete.actions.delete'),
                   class: 'usa-button--big usa-button--full-width margin-bottom-2' %>
    <% end %>

    <%= link_to t('users.delete.actions.cancel'), account_path,
                role: 'button',
                class: 'usa-button usa-button--big usa-button--full-width usa-button--outline' %>
  </div>
</div>
