<div class="p0 cntnr-xxskinny border-box bg-white rounded-xxl modal-warning">
  <h2 class="my2 fs-20p sans-serif regular center">
    <%= t('users.delete.heading') %>
  </h2>
  <hr class="mb3 bw4 rounded" />
  <div class="mb1 bold">
    <%= t('users.delete.subheading') %>
  </div>
  <ul class="px2 yellow-dots">
    <li class="mb1"><%= t('users.delete.bullet_1', app: APP_NAME) %></li>
    <li class="mb1"><%= current_user.decorate.delete_account_bullet_key %></li>
    <li class="mb1"><%= t('users.delete.bullet_3', app: APP_NAME) %></li>
  </ul>
  <div class="center">
    <%= button_to t('users.delete.actions.delete'), account_delete_path,
                  class: 'btn btn-primary col-12 mb2 p2 rounded-lg', method: 'delete' %>
    <%= link_to t('users.delete.actions.cancel'), account_path,
                role: 'button',
                class: 'btn col-12 p2 rounded-lg border border-blue blue border-box' %>
  </div>
</div>
