<% title t('titles.confirmations.delete') %>

<%= render PageHeadingComponent.new.with_content(t('users.delete.heading')) %>

<p class="margin-bottom-1">
  <%= t('users.delete.subheading') %>
</p>

<ul>
  <li class="margin-bottom-1"><%= t('users.delete.bullet_1', app_name: APP_NAME) %></li>
  <li class="margin-bottom-1"><%= current_user.decorate.delete_account_bullet_key %></li>
  <li class="margin-bottom-1"><%= t('users.delete.bullet_3', app_name: APP_NAME) %></li>
  <li class="margin-bottom-1"><%= t('users.delete.bullet_4', app_name: APP_NAME) %></li>
</ul>

<%= simple_form_for(
      current_user,
      url: account_delete_path,
      html: { autocomplete: 'off', method: :post },
    ) do |f| %>
  <p class="margin-bottom-4">
    <%= t('users.delete.instructions') %>
  </p>

  <%= render PasswordToggleComponent.new(
        form: f,
        name: :password,
        label: t('idv.form.password'),
        required: true,
      ) %>

  <%= f.button(
        :submit,
        t('users.delete.actions.delete'),
        class: 'usa-button--big usa-button--wide usa-button--danger margin-top-1 margin-bottom-2',
      ) %>
<% end %>

<%= link_to(
      t('users.delete.actions.cancel'),
      account_path,
      class: 'usa-button usa-button--big usa-button--wide usa-button--outline',
    ) %>
