<% title t('in_person_proofing.headings.barcode') %>

<% content_for(:pre_flash_content) do %>
  <%= render StepIndicatorComponent.new(
        steps: step_indicator_steps,
        current_step: :go_to_the_post_office,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      ) %>
<% end %>

<%= image_tag(
      asset_url('idv/user-in-person.svg'),
      width: 136,
      height: 136,
      class: 'display-block margin-x-auto margin-bottom-4',
      alt: '',
    ) %>

<%= render PageHeadingComponent.new(class: 'text-center') do %>
  <%= t('in_person_proofing.headings.barcode') %>
<% end %>

<%= render AlertComponent.new(class: 'margin-y-4', text_tag: :div) do %>
  <p class="margin-bottom-1"><strong><%= t('in_person_proofing.body.barcode.deadline', deadline: @presenter.formatted_due_date) %></strong></p>
  <p class="margin-bottom-0"><%= t('in_person_proofing.body.barcode.deadline_restart') %></p>
<% end %>

<p><%= t('in_person_proofing.body.barcode.emailed_info') %></p>

<p>
  <% if @sp_name.present? %>
    <%= t('in_person_proofing.body.barcode.return_to_partner',
         link: link_to(t('in_person_proofing.body.barcode.return_to_partner_link', sp_name: @sp_name), @sp_link)) %>
  <% else %>
    <%= t('in_person_proofing.body.barcode.close_window') %>
  <% end %>
</p>

<section class="border-1px border-primary-light radius-lg padding-4">
  <h2 class="margin-top-0 margin-bottom-2"><%= t('in_person_proofing.body.barcode.items_to_bring') %></h2>
  <p><%= t('in_person_proofing.body.barcode.speak_to_associate') %></p>
  <%= render ProcessListComponent.new(heading_level: :h3, class: 'margin-y-3') do |c| %>
    <% c.item(heading: t('in_person_proofing.process.barcode.heading')) do %>
      <p><%= t('in_person_proofing.process.barcode.info') %></p>
      <%= render BarcodeComponent.new(
            barcode_data: @presenter.enrollment_code,
            label: t('in_person_proofing.process.barcode.caption_label'),
            label_formatter: Idv::InPerson::EnrollmentCodeFormatter.method(:format),
          ) %>
    <% end %>
    <% c.item(heading: t('in_person_proofing.process.state_id.heading')) do %>
      <p class="margin-bottom-105"><%= t('in_person_proofing.process.state_id.info') %></p>
      <ul class="usa-list margin-y-105">
        <% t('in_person_proofing.process.state_id.acceptable_documents').each do |document| %>
          <li><%= document %></li>
        <% end %>
      </ul>
      <p><%= t('in_person_proofing.process.state_id.no_other_documents') %></p>
    <% end %>
    <% if @presenter.needs_proof_of_address? %>
      <% c.item(heading: t('in_person_proofing.process.proof_of_address.heading')) do %>
        <p class="margin-bottom-105"><%= t('in_person_proofing.process.proof_of_address.info') %></p>
        <ul class="usa-list margin-y-105">
          <% t('in_person_proofing.process.proof_of_address.acceptable_proof').each do |proof| %>
            <li><%= proof %></li>
          <% end %>
        </ul>
        <p><%= t('in_person_proofing.process.proof_of_address.physical_or_digital_copy') %></p>
      <% end %>
    <% end %>
  <% end %>
  <p class="margin-bottom-0">
    <%= t('in_person_proofing.body.barcode.items_to_bring_questions') %>
    <%= new_window_link_to(
          t('in_person_proofing.body.barcode.learn_more'),
          MarketingSite.help_center_article_url(
            category: 'verify-your-identity',
            article: 'verify-your-identity-in-person',
          ),
        ) %>
  </p>
</section>

<% if @presenter.selected_location_details.present? %>
  <section aria-label="<%= t('in_person_proofing.body.barcode.location_details') %>" class="margin-y-4">
    <address>
      <h2 class="font-sans-md margin-bottom-1"><%= @presenter.selected_location_details['name'] %></h2>
      <div class="margin-bottom-1">
        <%= @presenter.selected_location_details['street_address'] %><br>
        <%= @presenter.selected_location_details['formatted_city_state_zip'] %>
      </div>
      <h3 class="margin-y-0 h4"><%= t('in_person_proofing.body.barcode.retail_hours') %></h3>
      <div class="margin-bottom-2">
        <%= t('date.range', from: t('date.day_names')[0], to: t('date.day_names')[4]) %>: <%= @presenter.selected_location_hours(:weekday) %><br>
        <%= t('date.day_names')[5] %>: <%= @presenter.selected_location_hours(:saturday) %><br>
        <%= t('date.day_names')[6] %>: <%= @presenter.selected_location_hours(:sunday) %>
      </div>
      <div>
        <span class="usa-sr-only"><%= t('in_person_proofing.body.barcode.retail_phone_label') %>: </span>
        <%= @presenter.selected_location_details['phone'] %>
      </div>
    </address>
  </section>
<% end %>
