<% content_for(:pre_flash_content) do %>
  <%= render 'shared/step_indicator', {
        steps: Idv::Flows::DocAuthFlow::STEP_INDICATOR_STEPS,
        current_step: :verify_phone_or_address,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      } %>
<% end %>

<% title t('titles.doc_auth.otp_delivery') %>

<h1 class="margin-y-0">
  <%= t('idv.titles.otp_delivery_method') %>
</h1>
<p class="margin-top-1">
  <%= t('idv.messages.otp_delivery_method.phone_number_html', phone: @idv_phone) %>
</p>


<%= form_tag(
      idv_otp_delivery_method_url,
      autocomplete: 'off', class: 'margin-top-4',
      method: :put
    ) do |f| %>

  <fieldset class="margin-bottom-4 padding-0 border-0">
    <%= radio_button_tag(
          'otp_delivery_preference',
          :sms,
          false,
          class: 'usa-radio__input usa-radio__input--tile',
        ) %>
    <label for="otp_delivery_preference_sms" class="usa-radio__label">
      <%= t('two_factor_authentication.otp_delivery_preference.sms') %>
      <span class="usa-radio__label-description">
        <%= t('two_factor_authentication.two_factor_choice_options.sms_info_html') %>
      </span>
    </label>

    <%= radio_button_tag(
          'otp_delivery_preference',
          :voice,
          false,
          class: 'usa-radio__input usa-radio__input--tile',
        ) %>
    <label for="otp_delivery_preference_voice" class="usa-radio__label">
      <%= t('two_factor_authentication.otp_delivery_preference.voice') %>
      <span class="usa-radio__label-description">
        <%= t('two_factor_authentication.two_factor_choice_options.voice_info_html') %>
      </span>
    </label>
  </fieldset>
  <div class="margin-y-5">
    <%= submit_tag(t('idv.buttons.send_confirmation_code'), class: 'usa-button usa-button--big usa-button--wide') %>
  </div>
<% end %>

<%= render(
      'shared/troubleshooting_options',
      heading: t('idv.troubleshooting.headings.having_trouble'),
      options: [
        {
          url: idv_phone_path,
          text: t('idv.troubleshooting.options.change_phone_number'),
        },
        gpo_letter_available && {
          url: idv_gpo_path,
          text: t('idv.troubleshooting.options.verify_by_mail'),
        },
      ].select(&:present?),
    ) %>

<%= render 'idv/doc_auth/start_over_or_cancel', step: 'phone_otp_delivery_selection' %>
