<% self.title = @presenter.title %>

<%= render ADS::FormPageComponent.new(
      title: @presenter.heading,
      subtitle: strip_tags(@presenter.description),
    ) do |page| %>
  <% page.with_body do %>
    <div class="ads-copy">
      <p><%= t('instructions.mfa.piv_cac.having_trouble') %></p>

      <ul class="ads-list">
        <li><%= t('instructions.mfa.piv_cac.bullet_1') %></li>
        <li>
          <%= strip_tags(
                t(
                  'instructions.mfa.piv_cac.bullet_2_html',
                  link_html: t('instructions.mfa.piv_cac.signing_in.text'),
                  auth_method_link: t('instructions.mfa.piv_cac.another_method_text'),
                ),
              ) %>
        </li>
        <li>
          <%= render ADS::LinkComponent.new(url: MarketingSite.contact_url) do %>
            <%= t('instructions.mfa.piv_cac.bullet_3', app_name: APP_NAME) %>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>

  <% page.with_actions do %>
    <%= render ButtonComponent.new(
          url: login_two_factor_piv_cac_url,
        ).with_content(t('links.try_again')) %>

    <%= render ButtonComponent.new(
          url: login_two_factor_piv_cac_logout_url,
          method: :delete,
          variant: :quaternary,
        ).with_content(t('links.create_account')) %>
  <% end %>
<% end %>
