<% self.title = t('titles.present_piv_cac') %>

<%= render PageHeadingComponent.new.with_content(@presenter.header) %>

<p>
  <%= t('instructions.mfa.piv_cac.confirm_piv_cac') %>
</p>

<div class="margin-y-5">
  <%= render SpinnerButtonComponent.new(
        action: ->(**tag_options, &block) do
          link_to(@presenter.piv_cac_service_link, **tag_options, &block)
        end,
        big: true,
        wide: true,
      ).with_content(@presenter.piv_cac_capture_text) %>
</div>

<%= render 'two_factor_authentication/troubleshooting_options', presenter: @presenter %>
<%= render 'shared/cancel', link: @presenter.cancel_link %>
