<% title t('service_providers.errors.inactive.heading', sp_name: @sp_name, app_name: APP_NAME) %>

<%= image_tag(asset_url('status/error.svg'), width: 54, alt: t('titles.icons.error.alt_text')) %>

<h3 class="margin-bottom-1 margin-top-4">
  <%= t('service_providers.errors.inactive.heading', sp_name: @sp_name, app_name: APP_NAME) %>
</h3>

<p>
  <%= t('service_providers.errors.inactive.instructions', sp_name: @sp_name, app_name: APP_NAME) %>
</p>

<p>
  <%= t('service_providers.errors.inactive.instructions2', sp_link: @sp_link) %>
</p>

<%= link_to(
      t('service_providers.errors.inactive.button_text', app_name: APP_NAME),
      root_path,
      class: 'usa-button usa-button--wide usa-button--big margin-top-3',
    ) %>
