<%= title t('forms.totp_delete.confirm') %>

<%= image_tag(asset_url('alert/warning-lg.svg'), alt: '', width: 54) %>

<h1 class="margin-bottom-1 margin-top-4 margin-y-0">
  <%= t('forms.totp_delete.confirm') %>
</h1>

<div class="col-2 margin-bottom-2">
  <hr class="margin-top-4 margin-bottom-2 border-width-05 border-yellow">
</div>
<div>
  <%= t('forms.totp_delete.caution', app_name: APP_NAME) %>
</div>
<br>

<%= form_tag(disable_totp_path(id: params[:id]), method: :delete) do %>
  <%= button_tag t('account.index.totp_confirm_delete'), type: 'submit', class: 'usa-button usa-button--big usa-button--wide margin-bottom-2' %>
<% end %>
<%= link_to t('links.cancel'), account_path, class: 'usa-button usa-button--big usa-button--wide usa-button--outline' %>
