<%= title t('forms.totp_delete.confirm') %>

<%= image_tag(asset_url('status/warning.svg'), alt: t('errors.alt.warning'), width: 88, class: 'display-block margin-bottom-4') %>

<%= render PageHeadingComponent.new.with_content(t('forms.totp_delete.confirm')) %>

<p>
  <%= t('forms.totp_delete.caution', app_name: APP_NAME) %>
</p>

<%= form_tag(disable_totp_path(id: params[:id]), method: :delete, class: 'margin-top-5') do %>
  <%= button_tag t('account.index.totp_confirm_delete'), type: 'submit', class: 'usa-button usa-button--big usa-button--wide margin-bottom-2' %>
<% end %>
<%= link_to t('links.cancel'), account_path, class: 'usa-button usa-button--big usa-button--wide usa-button--outline' %>
