<% title t('titles.totp_setup.new') %>

<%= render PageHeadingComponent.new.with_content(t('headings.totp_setup.new')) %>

<p>
  <%= t(
        'forms.totp_setup.totp_intro_html',
        link: new_window_link_to(t('links.what_is_totp'), MarketingSite.help_authentication_app_url),
      ) %>
</p>

<%= simple_form_for('', method: :patch, html: { class: 'margin-bottom-4' }) do |f| %>
  <%= render ProcessListComponent.new(connected: true, class: 'margin-y-4') do |c| %>
    <%= c.item(heading: t('forms.totp_setup.totp_step_1')) do %>
      <p><%= t('forms.totp_setup.totp_step_1a') %></p>
      <%= render ValidatedFieldComponent.new(
            form: f,
            name: :name,
            required: true,
            label: false,
            wrapper_html: { class: 'margin-bottom-0' },
            input_html: {
              aria: { label: t('forms.totp_setup.totp_step_1') },
              maxlength: 20,
            },
          ) %>
    <% end %>
    <%= c.item(heading: t('forms.totp_setup.totp_step_2')) %>
    <%= c.item(heading: t('forms.totp_setup.totp_step_3')) do %>
      <div class="text-center">
        <%= image_tag @qrcode, size: 240, skip_pipeline: true, alt: t('image_description.totp_qrcode') %>
      </div>
      <p><%= t('instructions.mfa.authenticator.manual_entry') %></p>
      <code class="display-block margin-y-2 font-family-mono padding-y-2 padding-x-1 border-base-lighter border-1px text-bold text-wrap-anywhere" id="qr-code">
        <%= @code %>
      </code>
      <%= render ClipboardButtonComponent.new(clipboard_text: @code.upcase, outline: true) %>
    <% end %>
    <%= c.item(heading: t('forms.totp_setup.totp_step_4')) do %>
      <%= render OneTimeCodeInputComponent.new(
            form: f,
            transport: nil,
            maxlength: TwoFactorAuthenticatable::OTP_LENGTH,
            field_options: {
              label: false,
              input_html: {
                aria: { label: t('forms.totp_setup.totp_step_4') },
              },
            },
          ) %>
    <% end %>
  <% end %>
  <%= f.input(
        :remember_device,
        as: :boolean,
        label: t('forms.messages.remember_device'),
        input_html: {
          class: 'usa-checkbox__input--bordered',
          checked: @presenter.remember_device_box_checked?,
        },
      ) %>
  <%= f.submit t('forms.buttons.submit.default'), class: 'display-block margin-y-5' %>
<% end %>

<%= render 'shared/cancel_or_back_to_options' %>
