<% title t('titles.totp_setup.new') %>

<% help_link = new_window_link_to t('links.what_is_totp'),
                                  MarketingSite.help_authentication_app_url %>
<h1 class="margin-y-0"><%= t('headings.totp_setup.new') %></h1>
<p class="mt-tiny margin-bottom-4"><%= t('forms.totp_setup.totp_intro_html', link: help_link) %></p>
<%= validated_form_for(authenticator_setup_path, method: :patch, class: 'margin-bottom-1') do %>
  <ul class="list-reset">
    <li class="padding-y-2 border-top border-primary-light">
      <div class="margin-bottom-2">
        <div class="margin-right-1 inline-block circle-number bg-primary text-white">1</div>
        <div class="inline-block bold" id="totp-nickname"><%= t('forms.totp_setup.totp_step_1') %></div>
        <div class="inline-block margin-left-4"><%= t('forms.totp_setup.totp_step_1a') %></div>
      </div>
      <div class="sm-col-9 sm-ml-28p">
        <div class="clearfix margin-x-neg-1">
          <div class="col col-6 sm-col-7 padding-x-1">
            <%= text_field_tag :name, '', required: true, aria: { invalid: false }, class: 'block col-12 field monospace',
                                maxlength: 20, 'aria-labelledby': 'totp-nickname' %>
          </div>
        </div>
      </div>
    </li>
    <li class="padding-y-2 border-top border-primary-light">
      <div class="margin-right-1 inline-block circle-number bg-primary text-white">2</div>
      <div class="inline-block bold"><%= t('forms.totp_setup.totp_step_2') %></div>
    </li>
    <li class="padding-y-2 border-top border-primary-light">
      <div class="margin-bottom-2">
        <div class="margin-right-1 inline-block circle-number bg-primary text-white">3</div>
        <div class="inline-block bold"><%= t('forms.totp_setup.totp_step_3') %></div>
      </div>
      <div class="sm-col-9 sm-ml-28p">
        <div class="center">
          <%= image_tag @qrcode, skip_pipeline: true, alt: t('image_description.totp_qrcode') %>
        </div>
        <%= t('instructions.mfa.authenticator.manual_entry') %>
        <div class="grid-row margin-top-2 flex-align-center">
          <code class="grid-col-fill font-family-mono padding-y-2 padding-x-1 border-base-lighter border-1px text-bold" id="qr-code">
            <%= @code %>
          </code>
          <button class="clipboard margin-right-0 margin-top-2 mobile-lg:margin-top-0 mobile-lg:margin-left-2 usa-button usa-button--outline ico ico-copy"
                  type="button"
                  data-clipboard-text="<%= @code.upcase %>">
            <%= t('links.copy') %>
          </button>
        </div>
      </div>
    </li>
    <li class="padding-y-2 border-top border-primary-light">
      <div class="margin-bottom-2">
        <div class="margin-right-1 inline-block circle-number bg-primary text-white">4</div>
        <div class="inline-block bold" id="totp-label"><%= t('forms.totp_setup.totp_step_4') %></div>
      </div>
      <div class="sm-col-9 sm-ml-28p">
        <div class="clearfix margin-x-neg-1">
          <div class="col col-6 sm-col-7 padding-x-1">
            <%= render(
              'shared/one_time_code_input',
              transport: nil,
              name: :code,
              'aria-labelledby': 'totp-label',
              required: true,
              class: 'block col-12',
            ) %>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <%= submit_tag t('forms.buttons.submit.default'), class: 'usa-button usa-button--big usa-button--wide' %>
  <div class="margin-y-4 display-flex flex-align-center">
    <%= hidden_field_tag 'remember_device', false, id: 'remember_device_preference' %>
    <%= check_box_tag 'remember_device', true, @presenter.remember_device_box_checked? %>
    <%= label_tag 'remember_device', t('forms.messages.remember_device'), class: 'text-primary margin-0 margin-left-1' %>
  </div>
<% end %>

<%= render 'shared/cancel_or_back_to_options' %>
<%= javascript_packs_tag_once 'clipboard' %>
