<p class="tablet:margin-right-1 tablet:margin-left-1 margin-top-4 margin-bottom-4">
  <%= t('help_text.requested_attributes.intro_html',
      app_name: APP_NAME,
      sp: content_tag(:strong, decorated_session.sp_name)) %>
</p>
<div class='tablet:margin-left-1 tablet:margin-right-1' >
  <%= render @view_model.requested_attributes_partial, view_model: @view_model %>
</div>
<p class="tablet:margin-right-1 tablet:margin-left-1 margin-top-4 margin-bottom-4">
  <%= t('help_text.requested_attributes.outro_html',
        app_name: APP_NAME,
        sp: content_tag(:strong, decorated_session.sp_name)) %>
</p>
<p>
  <div class="center">
    <%= validated_form_for(:idv_form, url: sign_up_completed_path) do %>
      <%= submit_tag t('sign_up.agree_and_continue'), class: 'usa-button usa-button--wide' %>
    <% end %>
  </div>
</p>
