<% self.title = @presenter.heading %>

<%= render ADS::FormPageComponent.new(title: @presenter.heading) do |page| %>
  <% page.with_body do %>
    <%= render ADS::StackComponent.new do %>
      <% @presenter.pii.each do |attribute_key, attribute_value| %>
        <% next if attribute_value.blank? %>
        <%= render CardComponent.new(padding: :compact) do |card| %>
          <% if attribute_key == :email %>
            <% card.with_trailing do %>
              <%= render ADS::LinkComponent.new(
                    url: sign_up_select_email_path,
                  ).with_content(t('help_text.requested_attributes.change_email_link')) %>
            <% end %>
          <% end %>

          <div class="ads-card__stack">
            <p class="ads-card__label">
              <%= t("help_text.requested_attributes.#{attribute_key}") %>
            </p>
            <% if attribute_value.is_a?(Array) %>
              <% attribute_value.each do |item| %>
                <p class="ads-card__value"><%= item %></p>
              <% end %>
            <% elsif attribute_key == :social_security_number %>
              <p class="ads-card__value"><%= SsnFormatter.format_masked(attribute_value) %></p>
            <% elsif attribute_key == :verified_at %>
              <p class="ads-card__value">
                <%= l(
                      attribute_value.in_time_zone('UTC'),
                      format: t('time.formats.event_timestamp'),
                    ) %>
              </p>
            <% else %>
              <p class="ads-card__value"><%= attribute_value.to_s %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <% unless @multiple_factors_enabled %>
        <%= render AlertComponent.new(
              type: :warning,
              message: t('mfa.second_method_warning.text'),
              action: {
                label: t('mfa.second_method_warning.link'),
                url: authentication_methods_setup_path,
              },
            ) %>
      <% end %>
    <% end %>
  <% end %>

  <% page.with_actions do %>
    <%= form_with(
          url: sign_up_completed_path,
          method: :post,
          local: true,
          class: 'ads-form',
        ) do %>
      <%= render ButtonComponent.new(
            size: :lg,
            type: :submit,
            icon: :lock,
            icon_position: :right,
          ).with_content(t('titles.sign_up.completion_first_sign_in', sp: @presenter.sp_name)) %>
    <% end %>
  <% end %>
<% end %>
