<% title @presenter.heading %>
<div class="text-center">
  <%= image_tag asset_url(@presenter.image_name), width: 140, alt: @presenter.image_alt, class: 'margin-bottom-2' %>
</div>

<%= render PageHeadingComponent.new(class: 'tablet:margin-right-1 tablet:margin-left-1 text-center') do %>
  <%= @presenter.heading %>
<% end %>

<p class="tablet:margin-right-1 tablet:margin-left-1 margin-top-4 margin-bottom-4">
  <%= @presenter.intro.html_safe %>
</p>
<div class='tablet:margin-left-1 tablet:margin-right-1'>
  <%= render 'sign_up/completions/requested_attributes', pii: @presenter.pii %>
</div>

<% if !@multiple_factors_enabled %>
  <%= render(AlertComponent.new(type: :warning, class: 'margin-bottom-4')) do %>
    <%= link_to(
          t('mfa.second_method_warning.link'),
          authentication_methods_setup_path,
        ) %>
    <%= t('mfa.second_method_warning.text') %>
  <% end %>
<% end %>

<%= simple_form_for(:idv_form, url: sign_up_completed_path, html: { class: 'margin-y-5' }) do |f| %>
  <%= f.submit t('sign_up.agree_and_continue') %>
<% end %>

<%= render PageFooterComponent.new do %>
  <%= link_to t('links.cancel'), return_to_sp_cancel_path %>
<% end %>
