<% title @presenter.heading %>
<div class="text-center">
  <%= image_tag asset_url(@presenter.image_name), width: 140, alt: '', class: 'margin-bottom-2' %>
</div>

<%= render PageHeadingComponent.new(class: 'tablet:margin-right-1 tablet:margin-left-1 text-center') do %>
  <%= @presenter.heading %>
<% end %>

<p class="tablet:margin-right-1 tablet:margin-left-1 margin-top-4 margin-bottom-4">
  <%= @presenter.intro.html_safe %>
</p>
<div class='tablet:margin-left-1 tablet:margin-right-1'>
  <%= render 'sign_up/completions/requested_attributes', pii: @presenter.pii %>
</div>

<% if !@multiple_factors_enabled && IdentityConfig.store.select_multiple_mfa_options %>
  <%= render(AlertComponent.new(type: :warning, class: 'margin-bottom-4')) do %>
    <%= link_to(
          t('mfa.second_method_warning.link'),
          second_mfa_setup_path,
        ) %>
    <%= t('mfa.second_method_warning.text') %>
  <% end %>
<% end %>
<p>
  <%= simple_form_for(:idv_form, url: sign_up_completed_path) do |f| %>
    <%= f.submit t('sign_up.agree_and_continue') %>
  <% end %>
</p>
