<% title @view_model.title %>
<div class="clearfix col-10 sm-col-12 margin-x-auto">
  <div class="center">
    <%= image_tag asset_url(@view_model.image_name), width: 140, alt: '', class: 'margin-bottom-2' %>
  </div>

  <h1 class="margin-bottom-2 margin-y-0 tablet:margin-right-1 tablet:margin-left-1 center">
    <%= @view_model.heading %>
  </h1>

  <p class="tablet:margin-right-1 tablet:margin-left-1 margin-top-4 margin-bottom-4">
    <%= t(
          'help_text.requested_attributes.intro_html',
          app_name: APP_NAME,
          sp: content_tag(:strong, decorated_session.sp_name),
        ) %>
  </p>
  <div class='tablet:margin-left-1 tablet:margin-right-1' >
    <%= render 'sign_up/completions/requested_attributes', requested_attributes: @view_model.requested_attributes_sorted %>
  </div>
  <p class="tablet:margin-right-1 tablet:margin-left-1 margin-top-4 margin-bottom-4">
    <%= t(
          'help_text.requested_attributes.outro_html',
          app_name: APP_NAME,
          sp: content_tag(:strong, decorated_session.sp_name),
        ) %>
  </p>
  <p>
    <div class="center">
      <%= validated_form_for(:idv_form, url: sign_up_completed_path) do %>
        <%= submit_tag t('sign_up.agree_and_continue'), class: 'usa-button usa-button--big usa-button--wide' %>
      <% end %>
    </div>
  </p>
</div>
