<% self.title = @presenter.title %>

<%= render PageHeadingComponent.new do %>
  <%= @presenter.heading %>
<% end %>

<p class="margin-top-2 margin-bottom-2">
  <%= @presenter.description %>
</p>

<div class="margin-top-4">
  <%= link_to t('instructions.mfa.piv_cac.back_to_sign_in'), root_url, class: 'usa-button' %>
</div>

<%= render 'shared/cancel', link: new_user_session_url %>
