<% title @presenter.title %>

<h1 class='h3 my0'>
  <%= @presenter.heading %>
</h1>

<p class='mt2 mb2'>
  <%= raw @presenter.info %>
</p>

<%= render 'shared/spinner-button' do %>
  <%= link_to @presenter.piv_cac_capture_text,
              @presenter.piv_cac_service_link,
              class: 'btn btn-primary' %>
<% end %>

<%= render 'shared/cancel', link: new_user_session_url %>
