<% title @presenter.title %>

<%= render PageHeadingComponent.new.with_content(@presenter.heading) %>

<p class='margin-top-2 margin-bottom-2'>
  <%= raw @presenter.info %>
</p>

<%= render 'shared/spinner_button' do %>
  <%= link_to @presenter.piv_cac_capture_text,
              @presenter.piv_cac_service_link,
              class: 'usa-button usa-button--wide usa-button--big' %>
<% end %>

<%= render 'shared/cancel', link: new_user_session_url %>
