<% self.title = t('account.navigation.two_factor_authentication') %>

<%= render PageHeadingComponent.new.with_content(t('headings.account.two_factor')) %>

<div class="card">
  <% if TwoFactorAuthentication::PhonePolicy.new(current_user).visible? %>
    <%= render 'accounts/phone' %>
  <% end %>
</div>

<div class="card">
  <%= render 'accounts/auth_apps' %>
</div>

<div class="card">
  <%= render 'accounts/webauthn_platform' %>
</div>

<div class="card">
  <%= render 'accounts/webauthn_roaming' %>
</div>

<div class="card">
  <%= render 'accounts/piv_cac' %>
</div>

<div class="card">
  <%= render 'accounts/backup_codes' %>
</div>

<% if @presenter.show_manage_personal_key_partial? %>
  <div class="card">
    <%= render 'accounts/manage_personal_key' %>
  </div>
<% end %>
