<% self.title = t('account.navigation.two_factor_authentication') %>
<% mfa_context = MfaContext.new(current_user) %>

<div class="ads-auth-methods">
  <h1 class="ads-sr-only"><%= t('headings.account.two_factor') %></h1>

  <%= render 'accounts/two_factor_authentication/webauthn_platform',
             mfa_context: %>
  <%= render 'accounts/two_factor_authentication/auth_apps',
             mfa_context: %>
  <% if TwoFactorAuthentication::PhonePolicy.new(current_user).visible? %>
    <%= render 'accounts/two_factor_authentication/phone',
               mfa_context: %>
  <% end %>
  <%= render 'accounts/two_factor_authentication/webauthn_roaming',
             mfa_context: %>
  <%= render 'accounts/two_factor_authentication/backup_codes' %>
  <%= render 'accounts/two_factor_authentication/piv_cac',
             mfa_context: %>
</div>
