<% self.title = t('account.navigation.history') %>

<%= render PageHeadingComponent.new.with_content(t('account.navigation.history')) %>

<div class="margin-bottom-4 card profile-info-box">
  <div class="margin-top-0 border-bottom border-primary-light">
    <h2 class="margin-top-0 margin-bottom-2">
      <%= t('headings.account.devices') %>
    </h2>
    <% @presenter.recent_devices.each do |device| %>
      <%= render 'accounts/device_item', device: %>
    <% end %>
  </div>
</div>

<div class="card profile-info-box">
  <div class="margin-top-0 border-bottom border-primary-light">
    <h2 class="margin-top-0 margin-bottom-2">
      <%= t('headings.account.activity') %>
    </h2>
    <% @presenter.recent_events.each do |event| %>
      <% if event.is_a?(ServiceProviderIdentity) %>
        <%= render 'accounts/identity_item', event: %>
      <% else %>
        <%= render 'accounts/event_item', event: %>
      <% end %>
    <% end %>
  </div>
</div>
