<% title t('account.navigation.history') %>

<h1 class="mt0">
  <%= t('account.navigation.history') %>
</h1>

<div class="mb3 card profile-info-box">
  <div class="mt0 border-bottom border-light-blue">
    <h2 class="mt0 mb2">
      <%= t('headings.account.devices') %>
    </h2>
    <% @view_model.recent_devices.each do |device| %>
      <%= render 'accounts/device_item', device: device %>
    <% end %>
  </div>
</div>

<div class="card profile-info-box">
  <div class="mt0 border-bottom border-light-blue">
    <h2 class="mt0 mb2">
      <%= t('headings.account.activity') %>
    </h2>
    <% @view_model.recent_events.each do |event| %>
      <%= render event.event_partial, event: event %>
    <% end %>
  </div>
</div>
