<% title t('titles.verify_email') %>
<% request_id = params[:request_id] || sp_session[:request_id] %>

<% if @resend.present? %>
  <%= render 'forgot_password/resend_alert' %>
<% end %>

<%= render PageHeadingComponent.new.with_content(t('headings.verify_email')) %>

<p><%= t('notices.forgot_password.first_paragraph_start') %>
   <strong><%= @email %></strong>
   <%= t('notices.forgot_password.first_paragraph_end') %>
</p>

<div class="width-10">
  <hr class="margin-y-4 border-width-05 border-info">
</div>

<%= simple_form_for @password_reset_email_form,
                    html: { autocomplete: 'off', method: :post, class: 'margin-bottom-2' },
                    url: user_password_path do |f| %>

  <%= f.input :email, as: :hidden %>
  <%= f.input :resend, as: :hidden %>
  <%= f.input :request_id, as: :hidden, input_html: { value: request_id } %>
  <p><%= t('notices.forgot_password.no_email_sent_explanation_start') %>
  <%= f.button :button, t('links.resend'), class: 'usa-button--unstyled margin-left-05' %></p>

  <% link = link_to(
       t('notices.forgot_password.use_diff_email.link'),
       sign_up_email_path(request_id: request_id),
     ) %>
  <p><%= t('notices.forgot_password.use_diff_email.text_html', link: link) %></p>
  <p><%= t('instructions.forgot_password.close_window') %></p>
<% end %>
