<% title t('account_reset.recovery_options.header') %>
<%= render PageHeadingComponent.new.with_content(t('account_reset.recovery_options.header')) %>

<p>
  <%= t('account_reset.recovery_options.help_text') %>
</p>

  <%= render ProcessListComponent.new(heading_level: :h3, class: 'margin-y-3') do |c| %>
    <%= c.item(heading: t('account_reset.recovery_options.try_method_again')) %>
    <%= c.item(heading: t('account_reset.recovery_options.use_device')) do %>
      <p><%= t('account_reset.recovery_options.try_another_device') %></p>
    <% end %>
    <%= c.item(heading: t('account_reset.recovery_options.check_webauthn_platform')) do %>
      <p><%= t('account_reset.recovery_options.check_webauthn_platform') %></p>
    <% end %>
  <% end %>

<%= button_to(
      root_url,
      method: :get,
      class: 'usa-button usa-button--big usa-button--wide margin-bottom-2',
    ) { t('account_reset.request.no_cancel') } %>
<%= button_to(
      account_reset_delete_account_path,
      method: :delete,
      class: 'usa-button usa-button--unstyled',
    ) { t('account_reset.request.yes_continue') } %>

