<% content_for(:pre_flash_content) do %>
  <%= render StepIndicatorComponent.new(
        steps: step_indicator_steps,
        current_step: :get_a_letter,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      ) %>
<% end %>

<% title t('forms.verify_profile.title') %>

<%= render PageHeadingComponent.new.with_content(t('forms.verify_profile.welcome_back')) %>
<%= sanitize t('forms.verify_profile.welcome_back_description'), tags: %w[p strong] %>
<hr class="margin-y-4" />
<h2><%= t('forms.verify_profile.title') %></h2>

<p>
  <%= t('forms.verify_profile.instructions') %>
</p>

<%= simple_form_for(
      @gpo_verify_form,
      url: idv_gpo_verify_path,
      html: { autocomplete: 'off', method: :post },
    ) do |f| %>
  <div class="grid-row margin-bottom-5">
    <div class="grid-col-12 tablet:grid-col-6">
      <%= render ValidatedFieldComponent.new(
            form: f,
            name: :otp,
            maxlength: 10,
            required: true,
            autofocus: true,
            input_html: {
              value: @code,
            },
            label: t('forms.verify_profile.name'),
          ) %>
      <%= f.submit t('forms.verify_profile.submit'), full_width: true, wide: false, class: 'display-block margin-top-5' %>
    </div>
  </div>
<% end %>

<% if FeatureManagement.enable_gpo_verification? && !@mail_spammed %>
  <%= link_to t('idv.messages.gpo.resend'), idv_gpo_path, class: 'display-block margin-bottom-2' %>
<% end %>

<%= button_to(
      idv_session_path(step: 'gpo_verify', location: 'clear_and_start_over'),
      method: :delete,
      class: 'usa-button usa-button--unstyled',
    ) { t('idv.messages.clear_and_start_over') } %>

<div class="margin-top-2 padding-top-2 border-top border-primary-light">
  <%= link_to t('idv.buttons.cancel'), account_path %>
</div>
