<%= image_tag(
      attachments['verified.png'].url,
      width: 140,
      height: 177,
      alt: '',
      role: 'img',
      class: 'float-center padding-bottom-4',
    ) %>

<h1><%= message.subject %></h1>

<p>
  <%= t('user_mailer.account_verified.greeting') %>
</p>
<p>
  <%= t('user_mailer.account_verified.intro', date: @date) %>
</p>

<p>
<% if @presenter.service_provider.present? %>
  <% if @presenter.show_cta? %>
    <%= t('user_mailer.account_verified.next_sign_in.with_sp.with_cta', sp_name: @presenter.service_provider.friendly_name) %>
  <% else %>
    <%= t('user_mailer.account_verified.next_sign_in.with_sp.without_cta', sp_name: @presenter.service_provider.friendly_name) %>
  <% end %>
<% else %>
  <%= t('user_mailer.account_verified.next_sign_in.without_sp', app_name: APP_NAME) %>
<% end %>
</p>

<% if @presenter.show_cta? %>
  <table class="button expanded large radius">
    <tbody>
    <tr>
      <td>
        <table>
          <tbody>
          <tr>
            <td>
              <%= link_to t('user_mailer.account_verified.sign_in'), @presenter.sign_in_url,
                          target: '_blank', class: 'btn-warn', rel: 'noopener' %>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <p>
    <%= link_to(@presenter.displayed_sign_in_url, @presenter.sign_in_url, target: '_blank', rel: 'noopener') %>
  </p>
<% end %>

<p>
  <%= t(
        'user_mailer.account_verified.warning_contact_us_html',
        change_password_link_html: link_to(
          t('user_mailer.account_verified.change_password_link'),
          new_user_password_url,
        ),
        contact_link_html: link_to(t('user_mailer.account_verified.contact_link', app_name: APP_NAME), MarketingSite.contact_url),
      )
  %>
</p>

<table class="spacer">
  <tbody>
    <tr>
      <td class="s10" height="10px">
          &nbsp;
      </td>
    </tr>
  </tbody>
</table>

<table class="hr">
  <tr>
    <th>
      &nbsp;
    </th>
  </tr>
</table>
