<% if @first_sentence.present? %>
  <p class="mailer-text mailer-text--spaced">
    <%= @first_sentence %>
  </p>
<% end %>

<p class="mailer-text mailer-text--spaced">
  <%= t('user_mailer.email_confirmation_instructions.body') %>
</p>

<p class="mailer-text mailer-text--spaced">
  <%= t('user_mailer.email_confirmation_instructions.footer', confirmation_period: @confirmation_period) %>
</p>

<p class="mailer-text">
  <%= t('user_mailer.email_confirmation_instructions.link_ignore') %>
</p>

<%= render 'shared/email/button',
           url: @confirmation_url,
           text: t('user_mailer.email_confirmation_instructions.link_text') %>