<p>
  <%=
    t(
      'idv.messages.gpo_reminder.body_html',
      date_letter_was_sent: @date_letter_was_sent,
    )
  %>
  <%=
    link_to(
      t('idv.troubleshooting.options.learn_more_verify_by_mail'),
      "https://www.google.com",
      {style: "text-decoration: 'underline'"},
     )
  %>
</p>

<table class="button expanded large radius">
  <tbody>
    <tr>
      <td>
        <table style="margin-bottom: 1em; margin-top: 1em">
          <tbody>
            <tr>
              <td style="text-align: center">
                <%= link_to t('idv.messages.gpo_reminder.finish'),
                              new_user_password_url,
                              target: '_blank',
                              class: 'float-center',
                              align: 'center',
                              rel: 'noopener' %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="expander"></td>
    </tr>
  </tbody>
</table>

<p>
  <%= t('idv.messages.gpo_reminder.did_not_get_a_letter') %>
  <%=
    link_to(
      t('idv.messages.gpo_reminder.request_another_letter'),
      'https://www.google.com',
       {style: "text-decoration: 'underline'"}
    )
  %>
</p>
