<%= image_tag(
      'email/user-signup-ial2.png',
      width: 140,
      height: 177,
      alt: '',
      class: 'float-center padding-bottom-4',
    ) %>
<h4><%= message.subject %></h4>
<p class="s16">
  <%= t('user_mailer.in_person_verified.greeting') %><br>
  <%= t(
        'user_mailer.in_person_verified.intro',
        location: @presenter.location_name,
        date: @presenter.formatted_verified_date,
      ) %><br /><br />
  <%= t('user_mailer.in_person_verified.next_sign_in', app_name: APP_NAME) %>
</p>

<%= render 'shared/in-person-verification-results-email-lower' %>
