<%= t('user_mailer.in_person_verified.greeting') %><br>
<p>
  <%= t(
        'user_mailer.in_person_failed.intro',
        location: @presenter.visited_location_name,
        date: @presenter.formatted_verified_date,
      ) %>
</p>
<p>
  <% if @presenter.show_cta? %>
    <%= t('user_mailer.in_person_failed.body.with_cta', sp_or_app_name: @presenter.service_provider_or_app_name) %>
  <% else %>
    <%= t('user_mailer.in_person_failed.body.without_cta', sp_name: @presenter.service_provider.friendly_name) %>
  <% end %>
</p>

<% if @presenter.passports_enabled? %>
  <p><strong><%= t('user_mailer.in_person_failed.verifying_identity_passports_enabled') %></strong></p>
  <li><%= t('user_mailer.in_person_failed.verifying_step_passports_enabledb1') %> </li>
  <li><%= t('user_mailer.in_person_failed.verifying_step_passports_enabledb2') %> </li>
  <li><%= t('user_mailer.in_person_failed.verifying_step_passports_enabledb3_html', app_name: APP_NAME) %> </li>
<% else %>
    <p><strong><%= t('user_mailer.in_person_failed.verifying_identity') %></strong></p>
  <ul class="usa-list"> 
    <li><%= t('user_mailer.in_person_failed.verifying_step_not_expired') %></li> 
  </ul>
<% end %>

<%= render 'shared/in-person-verification-results-email-lower' %>
