<%= image_tag(
      'email/user-signup-ial2.png',
      width: 140,
      height: 177,
      alt: '',
      class: 'float-center padding-bottom-4',
    ) %>
<h4><%= message.subject %></h4>
<p>
<div class="s16">
  <%= t('user_mailer.in_person_verified.greeting') %><br>
  <%= t('user_mailer.in_person_verified.intro', location: @presenter.location, date: @presenter.date) %><br /><br />
  <%= t('user_mailer.in_person_verified.next_sign_in') %>
</div>
</p>

<div class="mt-40">
<table class="button expanded large radius">
  <tbody>
    <tr>
      <td>
        <table>
          <tbody>
            <tr>
              <td style="text-align: center">
                <%= link_to t('user_mailer.in_person_verified.sign_in'),
                            idv_url,
                            target: '_blank',
                            class: 'float-center',
                            rel: 'noopener' %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="expander"></td>
    </tr>
  </tbody>
</table>
</div>

<p>
  <%= link_to idv_url, idv_url, target: '_blank', rel: 'noopener' %>
</p>

<p class="s16">
<br />
<%= t(
      'user_mailer.in_person_verified.warning_contact_us_html',
      contact_us_url: MarketingSite.contact_url,
      sign_in_url: idv_url,
    )
%>
<a>
</a>
</p>
