<p class="margin-bottom-3"><%= t('user_mailer.in_person_completion_survey.body.greeting') %></p>
<p class="margin-bottom-3"><%= t('user_mailer.in_person_completion_survey.body.thanks', app_name: APP_NAME) %></p>
<p class="margin-bottom-3"><%= t('user_mailer.in_person_completion_survey.body.intent') %></p>
<p class="margin-bottom-3"><%= t('user_mailer.in_person_completion_survey.body.request_description') %></p>
<p class="margin-bottom-3"><%= t(
                                 'user_mailer.in_person_completion_survey.body.privacy_html',
                                 url: @privacy_url,
                               ) %></p>
<p class="margin-bottom-4"><%= t('user_mailer.in_person_completion_survey.body.cta.callout') %></p>

<table class="button expanded large radius">
  <tbody>
    <tr>
      <td>
        <table>
          <tbody>
            <tr>
              <td>
                <center>
                  <%= link_to t('user_mailer.in_person_completion_survey.body.cta.label'),
                              @survey_url,
                              target: '_blank',
                              class: 'float-center',
                              align: 'center',
                              rel: 'noopener',
                              style: 'padding: 1rem 0' %>
                </center>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="expander">
      </td>
    </tr>
  </tbody>
</table>