<p class="lead">
  <%= t('user_mailer.please_reset_password.intro', app_name: APP_NAME) %>
</p>

<p>
  <%= t('user_mailer.please_reset_password.call_to_action') %>
</p>

<ol>
  <li><%= t('user_mailer.please_reset_password.step_1', app_name: APP_NAME) %></li>
  <li><%= t('user_mailer.please_reset_password.step_2') %></li>
  <li><%= t('user_mailer.please_reset_password.step_3') %></li>
</ol>

<p>
  <%= t('user_mailer.please_reset_password.reminder_html', app_name: APP_NAME) %>
</p>

<p>
  <%= link_to(
        t('user_mailer.please_reset_password.learn_more_link_text'),
        MarketingSite.help_which_authentication_method_url) %>
</p>
