<% if @pending_profile_requires_verification %>
  <table>
    <tbody>
    <tr>
      <td width="140">
        <%= image_tag('letter-warning.png', width: 140, height: 140, alt: '') %>
      </td>
      <td class="padding-left-3">
        <h2 style="font-size:22px;"><%= t('user_mailer.reset_password_instructions.gpo_letter_header') %></h2>
        <p><%= t('user_mailer.reset_password_instructions.gpo_letter_description') %></p>
      </td>
    </tr>
  </table>
  <hr class="border-0 border-bottom border-primary-light margin-y-4" />
  <h1>
    <%= @header || message.subject %>
  </h1>
  <% end %>
<p class="lead">
  <%= t(
        'user_mailer.reset_password_instructions.header',
        app_name: link_to(APP_NAME, IdentityConfig.store.mailer_domain_name, class: 'gray'),
      ) %>
</p>

<table class="button expanded large radius">
  <tbody>
    <tr>
      <td>
        <table>
          <tbody>
            <tr>
              <td>
                <center>
                  <%= link_to t('user_mailer.reset_password_instructions.link_text'),
                              edit_user_password_url(reset_password_token: @token, locale: @locale),
                              target: '_blank', class: 'float-center', align: 'center', rel: 'noopener' %>
                </center>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="expander">
      </td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to edit_user_password_url(reset_password_token: @token, locale: @locale),
              edit_user_password_url(reset_password_token: @token, locale: @locale),
              target: '_blank', rel: 'noopener' %>
</p>

<table class="spacer">
  <tbody>
    <tr>
      <td class="s10" height="10px">
        &nbsp;
      </td>
    </tr>
  </tbody>
</table>

<table class="hr">
  <tr>
    <th>
      &nbsp;
    </tr>
  </th>
</table>

<p>
  <%= t(
        'user_mailer.reset_password_instructions.footer',
        expires: Devise.reset_password_within / 3600,
      ) %>
</p>
