<% if @gpo_verification_pending_profile %>
  <%= render(
        'shared/email/alert',
        type: :warning,
        text: t('user_mailer.reset_password_instructions.gpo_letter_description'),
      ) %>

  <p class="mailer-text mailer-text--spaced">
    <%= t('user_mailer.reset_password_instructions.footer', expires: 6) %>
  </p>

  <p class="mailer-text mailer-text--spaced">
    <%= t('user_mailer.reset_password_instructions.ignore_request') %>
  </p>

  <p class="mailer-text mailer-text--spaced">
    <%= t('user_mailer.reset_password_instructions.identity_support', app_name: APP_NAME) %>
  </p>
<% else %>
  <p class="mailer-text mailer-text--spaced">
    <%= t('user_mailer.reset_password_instructions.footer', expires: 6) %>
  </p>

  <p class="mailer-text mailer-text--spaced">
    <%= t('user_mailer.reset_password_instructions.ignore_request') %>
  </p>
<% end %>

<%= render 'shared/email/button',
           url: edit_user_password_url(reset_password_token: @token, locale: @locale, request_id: @request_id),
           text: t('user_mailer.reset_password_instructions.link_text') %>