<p class="lead">
  <%= t('user_mailer.signup_with_your_email.intro_html', app_name: link_to(APP_NAME, IdentityConfig.store.mailer_domain_name, class: 'gray')) %>
</p>

<table class="button expanded large radius" role="presentation">
  <tbody>
    <tr>
      <td>
        <table>
          <tbody>
            <tr>
              <td>
                <center>
                  <%= link_to t('user_mailer.signup_with_your_email.link_text', app_name: APP_NAME),
                              @root_url, target: '_blank',
                                         class: 'float-center', align: 'center', rel: 'noopener' %>
                </center>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="expander">
      </td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to @root_url, @root_url, target: '_blank', rel: 'noopener' %>
</p>

<table class="spacer">
  <tbody>
    <tr>
      <td class="s10" height="10px">
        &nbsp;
      </td>
    </tr>
  </tbody>
</table>

<table class="hr">
  <tr>
    <th>
      &nbsp;
    </th>
  </tr>
</table>

<p>
  <%= t(
        'user_mailer.signup_with_your_email.reset_password_html',
        app_name: link_to(APP_NAME, IdentityConfig.store.mailer_domain_name, class: 'gray'),
      ) %>
</p>

<p>
  <%= t(
        'user_mailer.signup_with_your_email.help_html',
        app_name: link_to(APP_NAME, IdentityConfig.store.mailer_domain_name, class: 'gray'),
        help_link: link_to(t('user_mailer.help_link_text'), MarketingSite.help_url),
        contact_link: link_to(t('user_mailer.contact_link_text'), MarketingSite.contact_url),
      ) %>
</p>
