<p class="mailer-text mailer-text--spaced">
  <%= t('user_mailer.verify_by_mail_letter_requested.intro_html', app_name: APP_NAME) %>
</p>

<% if @presenter.show_sp_contact_instructions? %>
  <ol class="mailer-list mailer-text">
    <li><%= t('user_mailer.verify_by_mail_letter_requested.instructions.sign_in') %></li>
    <li>
      <%= t(
            'user_mailer.verify_by_mail_letter_requested.instructions.contact_sp',
            friendly_name: @presenter.sp_name,
          ) %>
    </li>
  </ol>
<% else %>
  <p class="mailer-text mailer-text--spaced"><%= t('user_mailer.verify_by_mail_letter_requested.instructions.sign_in') %></p>
<% end %>

<% if @presenter.show_cta? %>
  <%= render 'shared/email/button', url: @presenter.sign_in_url, text: t('user_mailer.verify_by_mail_letter_requested.cta.sign_in') %>
<% end %>