<% self.title = t('webauthn_platform_recommended.heading') %>

<%= render StatusPageComponent.new(status: :info, icon: :question) do |c| %>
  <% c.with_header { t('webauthn_platform_recommended.heading') } %>

  <p><%= t('webauthn_platform_recommended.description_secure_account') %></p>

  <p>
    <%= t(
          'webauthn_platform_recommended.description_private_html',
          phishing_resistant_link_html: new_tab_link_to(
            t('webauthn_platform_recommended.phishing_resistant'),
            help_center_redirect_path(
              category: 'get-started',
              article: 'authentication-methods',
              anchor: 'face-or-touch-unlock',
              flow: @sign_in_flow,
              step: :webauthn_platform_recommended,
            ),
          ),
        ) %>
  </p>

  <div class="grid-row margin-top-5">
    <div class="tablet:grid-col-9">
      <%= render ButtonComponent.new(
            url: webauthn_platform_recommended_url,
            method: :post,
            params: { add_method: true },
            big: true,
            full_width: true,
            class: 'margin-bottom-2',
          ).with_content(t('webauthn_platform_recommended.cta')) %>
      <%= render ButtonComponent.new(
            url: webauthn_platform_recommended_url,
            method: :post,
            unstyled: true,
          ).with_content(t('webauthn_platform_recommended.skip')) %>
    </div>
  </div>
<% end %>
