<% self.title = t('two_factor_authentication.backup_code_header_text') %>

<%= render ADS::FormPageComponent.new(
      title: t('two_factor_authentication.backup_code_header_text'),
      subtitle: t('two_factor_authentication.backup_code_prompt'),
    ) do |page| %>
  <% page.with_body do %>
    <%= form_with(
          model: @backup_code_form,
          url: login_two_factor_backup_code_path,
          method: :post,
          local: true,
          class: 'ads-form',
        ) do |f| %>
      <%= render ADS::StackComponent.new(kind: :form, gap: 32, align: :stretch) do %>
        <%= render ADS::StackComponent.new(kind: :form, gap: 16, align: :stretch) do %>
          <%= render InputComponent.new(
                form: f,
                attribute: :backup_code,
                type: :password,
                label: t('forms.two_factor.backup_code'),
                required: true,
                autocomplete: 'off',
                autofocus: true,
                autocapitalize: 'none',
                spellcheck: false,
                pattern: '^[a-zA-Z0-9]{4}-?[a-zA-Z0-9]{4}-?[a-zA-Z0-9]{4}$',
                maxlength: 14,
                error_messages: {
                  valueMissing: t('components.input.errors.backup_code'),
                  patternMismatch: t('two_factor_authentication.invalid_backup_code'),
                },
              ) %>

          <div class="ads-checkbox">
            <%= check_box_tag(
                  'backup_code_verification_form[remember_device]',
                  '1',
                  @presenter.remember_device_box_checked?,
                  id: 'backup_code_verification_form_remember_device',
                  class: 'ads-checkbox__input',
                ) %>
            <%= label_tag(
                  'backup_code_verification_form_remember_device',
                  t('forms.messages.remember_device'),
                  class: 'ads-checkbox__label',
                ) %>
          </div>
        <% end %>

        <%= render ADS::StackComponent.new(kind: :actions, gap: 8, align: :stretch) do %>
          <%= render ButtonComponent.new(
                type: :submit,
              ).with_content(t('forms.buttons.continue')) %>

          <%= render ButtonComponent.new(
                url: login_two_factor_options_path,
                variant: :quaternary,
              ).with_content(t('two_factor_authentication.login_options_link_text')) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
