<%# Beware: This component is used in mailer content, so be mindful of email markup compatibility %>
<%= content_tag(
      :div,
      role: 'figure',
      'aria-labelledby': barcode_caption_id,
      class: css_class,
      **tag_options,
    ) do %>
  <%= barcode_html.html_safe %>
  <div id="<%= barcode_caption_id %>" class="text-center margin-top-1">
    <% if label.present? %>
      <span class="usa-sr-only"><%= label %>:</span>
    <% end %>
    <%= formatted_data %>
  </div>
<% end %>
