<% content_for :early_head do %>
  <% if recaptcha_script_src.present? %>
    <%= content_tag(:script, '', src: recaptcha_script_src, async: true) %>
  <% end %>
<% end %>

<%= content_tag(
      :'lg-captcha-submit-button',
      **tag_options.except(:class),
      class: [*tag_options[:class], 'ads-form__button-wrapper'],
      'recaptcha-site-key': IdentityConfig.store.recaptcha_site_key,
      'recaptcha-action': action,
      'recaptcha-enterprise': recaptcha_enabled?,
    ) do %>
  <% if IdentityConfig.store.recaptcha_mock_validator %>
    <%= f.input(:recaptcha_token, as: :hidden, input_html: { value: 'mock_token' }) %>
    <% if show_mock_score_field? %>
      <%= render ADS::StackComponent.new(kind: :form, gap: 8, align: :stretch) do %>
        <%= render InputComponent.new(
              form: f,
              attribute: :recaptcha_mock_score,
              label: t('components.captcha_submit_button.mock_score_label'),
              floating_label: false,
              value: '1.0',
            ) %>
        <div class="ads-copy">
          <p><%= t('components.captcha_submit_button.mock_score_disclaimer') %></p>
        </div>
      <% end %>
    <% else %>
      <%= f.input(:recaptcha_mock_score, as: :hidden, input_html: { value: '1.0' }) %>
    <% end %>
  <% else %>
    <%= f.input(:recaptcha_token, as: :hidden, input_html: { value: '' }) %>
  <% end %>
  <%= render SpinnerButtonComponent.new(
        action_message: t('components.captcha_submit_button.action_message'),
        size: :lg,
        type: :submit,
        **button_options,
      ).with_content(content) %>
<% end %>
