    <label class="usa-label">     
        <%= @label %>
    </label>
    <span class="usa-hint" id="dob_hint">
        <%= @hint %>
    </span>
      <%= content_tag :'lg-memorable-date', min: min&.html_safe, max: max&.html_safe do -%>
       <div class="usa-memorable-date">
          <%= content_tag(
            :script,
            error_messages.to_json,
            {
              type: 'application/json',
              class: 'memorable-date__error-strings',
            },
            false,
          ) %>
          <lg-validated-field>
        <%= content_tag(
            :script,
            error_messages.to_json,
            {
              type: 'application/json',
              class: 'validated-field__error-strings',
            },
            false,
          ) %>
              <%= f.input(
                :month,
                pattern: '^(1[0-2])|(0?[1-9])$',
                wrapper_html: { class: 'usa-form-group usa-form-group--month margin-bottom-0'},
                label_html: { class: 'usa-label' },
                input_html: {
                    type: 'string',
                    class: 'validated-field__input memorable-date__month input-padding',
                    minLength: 1,
                    maxLength: 2,
                    aria: {
                        invalid: false,
                        describedby: "validated-field-error-#{unique_id}",
                    },
                },
                error: { id: "validated-field-error-#{unique_id}" },
                required: false,
                ) %>
            </lg-validated-field>
            <lg-validated-field>
        <%= content_tag(
            :script,
            error_messages.to_json,
            {
              type: 'application/json',
              class: 'validated-field__error-strings',
            },
            false,
          ) %>
            <%= f.input(
                :day,
                pattern: '^([1-3][0-9])|(0?[1-9])$',
                wrapper_html: { class: 'usa-form-group usa-form-group--day margin-bottom-0'},
                label_html: { class: 'usa-label' },
                input_html: {
                    type: 'string',
                    class: 'validated-field__input memorable-date__day input-padding',
                    minLength: 1,
                    maxLength: 2,
                    aria: {
                        invalid: false,
                        describedby: "validated-field-error-#{unique_id}",
                    },
                },
                error: { id: "validated-field-error-#{unique_id}" },
                required: false,
            ) %>
            </lg-validated-field>
            <lg-validated-field>
        <%= content_tag(
            :script,
            error_messages.to_json,
            {
              type: 'application/json',
              class: 'validated-field__error-strings',
            },
            false,
          ) %>
            <%= f.input(
                :year,
                pattern: '^\d{4}$',
                wrapper_html: { class: 'usa-form-group usa-form-group--year margin-bottom-0'},
                label_html: { class: 'usa-label' },
                input_html: {
                    type: 'string',
                    class: 'validated-field__input memorable-date__year input-padding',
                    minLength: 4,
                    maxLength: 4,
                    aria: {
                        invalid: false,
                        describedby: "validated-field-error-#{unique_id}",
                    },
                },
                error: { id: "validated-field-error-#{unique_id}" },
                required: false,
            ) %>
          </lg-validated-field>
        </div>
      <% end -%>
     <div class="usa-error-message" id="validated-field-error-<%= unique_id %>"></div>
