<lg-validated-field class='usa-fieldset'>
<%= content_tag(
        :script,
        error_messages.to_json,
        {
          type: 'application/json',
          class: 'validated-field__error-strings',
        },
        false,
      ) %>
    <label class="usa-label">     
        <%= @label %>
    </label>
    <span class="usa-hint" id="dob_hint">
        <%= @hint %>
    </span>
    <%# this forms memorable date layout as expected using form #%>
          <div class="usa-memorable-date">
          <%= f.input(
            :month,
            pattern: '^\d{2}$',
            maxlength: 2,
            wrapper_html: { class: 'usa-form-group usa-form-group--month'},
            label_html: { class: 'usa-label' },
            input_html: {
                type: 'number',
                class: 'usa-input',
            aria: {
                invalid: false,
                describedby: "validated-field-error-#{unique_id}",
            },
            },
            error: { id: "validated-field-error-#{unique_id}" },
        ) %>
        <%= f.input(
            :day,
            pattern: '^\d{2}$',
            maxlength: 2,
            wrapper_html: { class: 'usa-form-group usa-form-group--day'},
            label_html: { class: 'usa-label' },
            input_html: {
                class: 'usa-input',
            aria: {
                invalid: false,
                describedby: "validated-field-error-#{unique_id}",
            },
            },
            error: { id: "validated-field-error-#{unique_id}" },
        ) %>
        <%= f.input(
            :year,
            pattern: '^\d{2}$',
            maxlength: 2,
            wrapper_html: { class: 'usa-form-group usa-form-group--year'},
            label_html: { class: 'usa-label' },
            input_html: {
                class: 'usa-input',
            aria: {
                invalid: false,
                describedby: "validated-field-error-#{unique_id}",
            },
            },
            error: { id: "validated-field-error-#{unique_id}" },
        ) %>
        </div>
        <div class="usa-error-message" id="validated-field-error-<%= unique_id %>"></div>

        <%# this is the wrapper that's in progress #%>
        <%= f.input(
            :date,
            label: t("in_person_proofing.form.state_id.month"),
            wrapper: :uswds_memorable_date, 
        ) %>
        <div class="usa-error-message" id="validated-field-error-<%= unique_id %>"></div>
       
</lg-validated-field>