    <label class="usa-label">     
        <%= @label %>
    </label>
    <span class="usa-hint" id="dob_hint">
        <%= @hint %>
    </span>
    <%= content_tag(
        'memorable-date',
      ) do %>
       <div class="usa-memorable-date">
       <lg-validated-field>
       <%= content_tag(
           :script,
           error_messages.to_json,
           {
             type: 'application/json',
             class: 'validated-field__error-strings',
           },
           false,
         ) %>
          <%= f.input(
            :month,
            pattern: '^\d{2}$',
            wrapper_html: { class: 'usa-form-group usa-form-group--month margin-bottom-0'},
            label_html: { class: 'usa-label' },
            input_html: {
                type: 'number',
                class: 'validated-field__input memorable-date__month input-padding',
                min: 1,
                max: 12,
            aria: {
                invalid: false,
                describedby: "validated-field-error-#{unique_id}",
            },
            },
            error: { id: "validated-field-error-#{unique_id}" },
            ) %>
        </lg-validated-field>
        <lg-validated-field>
        <%= content_tag(
            :script,
            error_messages.to_json,
            {
              type: 'application/json',
              class: 'validated-field__error-strings',
            },
            false,
          ) %>
        <%= f.input(
            :day,
            pattern: '^\d{2}$',
            wrapper_html: { class: 'usa-form-group usa-form-group--day margin-bottom-0'},
            label_html: { class: 'usa-label' },
            input_html: {
                type: 'number',
                class: 'validated-field__input memorable-date__day input-padding',
                min: 1,
                max: 31,
            aria: {
                invalid: false,
                describedby: "validated-field-error-#{unique_id}",
            },
            },
            error: { id: "validated-field-error-#{unique_id}" },
        ) %>
        </lg-validated-field>
        <lg-validated-field>
        <%= content_tag(
            :script,
            {
              type: 'application/json',
              class: 'validated-field__error-strings',
            },
            false,
          ) %>
        <%= f.input(
            :year,
            pattern: '^\d{2}$',
            wrapper_html: { class: 'usa-form-group usa-form-group--year margin-bottom-0'},
            label_html: { class: 'usa-label' },
            input_html: {
                type: 'number',
                class: 'validated-field__input memorable-date__year input-padding',
            aria: {
                invalid: false,
                describedby: "validated-field-error-#{unique_id}",
            },
            },
            error: { id: "validated-field-error-#{unique_id}" },
        ) %>
        </lg-validated-field>
        </div>
        <div class='memorable-date-custom-error'></div>
        <% end %>
     <div class="usa-error-message" id="validated-field-error-<%= unique_id %>"></div>
