<%= content_tag(:'lg-password-toggle', **tag_options, **visibility_label_attributes) do %>
  <label class="usa-label" for="<%= input_id %>">
    <%= label_text %>
  </label>
  <div class="password-toggle__input-wrapper">
    <%= render ValidatedFieldComponent.new(
          form: form,
          name: :password,
          type: :password,
          **field_options,
          label: false,
          wrapper_html: field_options[:wrapper_html].to_h.merge(
            class: [
              field_options.dig(:wrapper_html, :class),
              'margin-bottom-0',
            ].compact,
          ),
          input_html: field_options[:input_html].to_h.merge(
            id: input_id,
            class: ['password-toggle__input', *field_options.dig(:input_html, :class)],
          ),
        ) %>
    <button
      type="button"
      role="switch"
      aria-checked="false"
      aria-controls="<%= input_id %>"
      class="password-toggle__toggle field js usa-tooltip"
      title="<%= t('components.password_toggle.toggle_label.show') %>"
      data-position="top"
    >
      <%= render IconComponent.new(icon: :visibility, class: 'password-toggle__icon') %>
    </button>
  </div>
<% end %>
