<%= content_tag(:'lg-password-toggle', class: css_class) do %>
  <%= render field if toggle_position == :bottom %>
  <div class="password-toggle__toggle-wrapper js">
    <input
      id="<%= toggle_id %>"
      type="checkbox"
      class="usa-checkbox__input usa-checkbox__input--bordered password-toggle__toggle"
      aria-controls="<%= input_id %>"
    >
    <label
      for="<%= toggle_id %>"
      class="usa-checkbox__label password-toggle__toggle-label"
    >
      <%= toggle_label %>
    </label>
  </div>
  <%= render field if toggle_position == :top %>
<% end %>
