<%= content_tag(
      'lg-phone-input',
      class: ['ads-phone-input', tag_options[:class]],
      data: {
        delivery_methods:,
        translated_country_code_names:,
      },
    ) do %>
  <%= content_tag(
        :script,
        strings.to_json,
        {
          type: 'application/json',
          class: 'phone-input__strings',
        },
        false,
      ) %>
  <div class="phone-input__international-code-wrapper ads-input">
    <%= f.label(
          :international_code,
          class: 'ads-input__label ads-input__label--visible',
        ) { t('components.phone_input.country_code_label') } %>
    <div class="ads-input__shell">
      <%= f.input(
            :international_code,
            collection: international_phone_codes,
            include_blank: false,
            label: false,
            input_html: {
              class: 'phone-input__international-code ads-input__control',
              data: { countries: supported_country_codes },
            },
            wrapper_html: {
              class: 'ads-input__wrapper',
            },
          ) %>
    </div>
  </div>
  <div class="ads-input">
    <%= f.label(
          :phone,
          class: 'ads-input__label ads-input__label--visible',
        ) { t('two_factor_authentication.phone_label') } %>
    <%= render ValidatedFieldComponent.new(
          form: f,
          name: :phone,
          error_messages: {
            valueMissing: t('errors.messages.phone_required'),
          },
          as: :tel,
          required:,
          label: false,
          input_html: {
            class: 'phone-input__number ads-input__control',
          },
        ) %>
  </div>
<% end %>
<%= stylesheet_link_tag 'intlTelInput' %>
