<%= render AlertIconComponent.new(icon_name, class: 'display-block margin-bottom-4', width: 54, height: 54) %>
<%= header %>

<%= content %>

<% if action_buttons? %>
  <div class="margin-top-5">
    <% action_buttons.each do |action| %>
      <div class="margin-top-2">
        <%= action %>
      </div>
    <% end %>
  </div>
<% end %>

<% if troubleshooting_options? %>
  <div class="margin-top-5">
    <%= troubleshooting_options %>
  </div>
<% end %>
