<%= content_tag(:'lg-validated-field', 'error-id': error_id) do %>
  <%= content_tag(
        :script,
        error_messages.to_json,
        {
          type: 'application/json',
          class: 'validated-field__error-strings',
        },
        false,
      ) %>
  <div class="validated-field__input-wrapper margin-bottom-4">
    <label for="<%= input_id %>" class="usa-label">
      <%= label %>
    </label>
    <% if has_hint? %>
      <div id="<%= hint_id %>" class="usa-hint">
        <%= hint %>
      </div>
    <% end %>
    <%= f.text_field(
          name,
          **tag_options[:input_html],
          id: input_id,
          type: inferred_input_type,
          class: [
            'usa-input validated-field__input',
            has_errors? && 'usa-input--error',
          ].select(&:present?),
          aria: {
            invalid: has_errors?,
            describedby: aria_describedby_idrefs,
          },
        ) %>
    <% if has_errors? %>
      <div id="<%= error_id %>" class="usa-error-message">
        <%= error_message %>
      </div>
    <% end %>
  </div>
<% end %>
