<% title t('titles.two_factor_setup') %>

<% if @presenter.icon %>
  <%= image_tag(asset_url(@presenter.icon), class: 'margin-bottom-3', alt: 'important alert icon') %>
<% end %>

<h1 class="h4 my0"><%= @presenter.heading %></h1>

<p class="mt-tiny"><%== @presenter.intro %></p>

<%= validated_form_for @two_factor_options_form,
                       html: { autocomplete: 'off', role: 'form' },
                       method: :patch,
                       url: two_factor_options_path do |f| %>
  <div class="mb3">
    <fieldset class="m0 p0 border-none">
      <legend class="mb2 serif bold"><%= t('forms.two_factor_choice.legend') %>:</legend>
      <% @presenter.options.each do |option| %>
        <%= label_tag "two_factor_options_form_selection_#{option.type}",
                      class: "btn-border col-12 mb2 #{option.html_class}",
                      hidden: option.html_class == 'hide' do %>
          <div class="radio">
            <%= radio_button_tag('two_factor_options_form[selection]', option.type) %>
            <span class="indicator mt-tiny"></span>
            <span class="blue bold fs-20p"><%= option.label %></span>
            <div class="regular gray-dark fs-10p mt0 mb-tiny"><%= option.info %></div>
          </div>
        <% end %>
    <% end %>
    </fieldset>
  </div>

  <div>
    <%= f.button :submit, t('forms.buttons.continue'), class: 'sm-col-6 col-12 btn-wide mb1' %>
  </div>
<% end %>

<%= render 'shared/cancel', link: destroy_user_session_path %>

<%= javascript_packs_tag_once("webauthn-unhide-signup") %>
