<% content_for(:pre_flash_content) do %>
  <%= render StepIndicatorComponent.new(
        steps: Idv::StepIndicatorConcern::STEP_INDICATOR_STEPS,
        current_step: :verify_id,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      ) %>
<% end %>

<% title t('titles.doc_auth.link_sent') %>

<%= render AlertComponent.new(type: :warning, class: 'margin-bottom-4') do %>
  <strong class="display-block"><%= t('doc_auth.info.keep_window_open') %></strong>
  <% if FeatureManagement.doc_capture_polling_enabled? %>
    <%= t('doc_auth.info.link_sent_complete_polling') %>
  <% else %>
    <%= t('doc_auth.info.link_sent_complete_no_polling') %>
  <% end %>
<% end %>
<%= render PageHeadingComponent.new.with_content(t('doc_auth.headings.text_message')) %>
<div class="grid-row">
  <div class="grid-col-12 tablet:grid-col-3">
    <%= image_tag asset_url('idv/phone-icon.svg'), width: 88, height: 88, alt: t('image_description.camera_mobile_phone') %>
  </div>
  <div class="grid-col-12 tablet:grid-col-9">
    <p>
      <%= t('doc_auth.info.you_entered') %>
      <strong><%= local_assigns[:phone] %></strong>
    </p>
    <p><%= t('doc_auth.info.link_sent') %></p>
  </div>
</div>

<div class="margin-top-4 margin-bottom-0">
  <%= button_to(
        idv_link_sent_url,
        method: :put,
        class: 'usa-button usa-button--big usa-button--wide',
        form_class: 'link-sent-continue-button-form',
      ) { t('forms.buttons.continue') } %>
</div>

<% if FeatureManagement.doc_capture_polling_enabled? %>
  <%= content_tag 'script', '', data: {
        status_endpoint: idv_capture_doc_status_url,
        phone_question_ab_test_bucket: phone_question_ab_test_bucket,
        phone_with_camera: phone_with_camera,
      } %>
  <%= javascript_packs_tag_once 'doc-capture-polling' %>
<% end %>

<div class="margin-top-5 padding-top-2 border-top border-primary-light">
  <%= link_to(
        '‹ ' + t('forms.buttons.back'),
        idv_hybrid_handoff_url(redo: true),
        class: 'link-sent-back-link',
      ) %>
</div>
