<%= render 'idv/shared/step_indicator',
           current_step: :verify_id,
           steps: Idv::StepIndicatorConcern::STEP_INDICATOR_STEPS %>

<% self.title = t('titles.doc_auth.link_sent') %>

<%= render ADS::FormPageComponent.new(title: t('doc_auth.headings.text_message')) do |page| %>
  <% page.with_alert do %>
    <%= render AlertComponent.new(type: :warning, text_tag: 'div', dismissible: false) do %>
      <%= t('doc_auth.info.keep_window_open') %>
      <% if FeatureManagement.doc_capture_polling_enabled? %>
        <%= t('doc_auth.info.link_sent_complete_polling') %>
      <% else %>
        <%= t('doc_auth.info.link_sent_complete_no_polling') %>
      <% end %>
    <% end %>
  <% end %>

  <% page.with_body do %>
    <p class="ads-copy ads-copy--centered">
      <%= t('doc_auth.info.you_entered') %>
      <%= local_assigns[:phone] %>
      <%= t('doc_auth.info.link_sent') %>
    </p>
  <% end %>

  <% page.with_actions do %>
    <%= render ADS::StackComponent.new(kind: :actions, gap: 8, align: :stretch) do %>
      <%= render ButtonComponent.new(
            url: idv_link_sent_url,
            method: :put,
            form_class: 'link-sent-continue-button-form',
          ).with_content(t('forms.buttons.continue')) %>

      <%= render ButtonComponent.new(
            url: idv_hybrid_handoff_url(redo: true),
            variant: :quaternary,
          ).with_content(t('forms.buttons.back')) %>
    <% end %>
  <% end %>
<% end %>

<% if FeatureManagement.doc_capture_polling_enabled? %>
  <%= content_tag 'script', '', data: {
        status_endpoint: idv_link_sent_poll_url,
      } %>
  <%= javascript_packs_tag_once 'doc-capture-polling' %>
<% end %>
