<% title t('doc_auth.headings.lets_go') %>

<% content_for(:pre_flash_content) do %>
  <%= render StepIndicatorComponent.new(
        steps: Idv::StepIndicatorConcern::STEP_INDICATOR_STEPS,
        current_step: :getting_started,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      ) %>
<% end %>

<%= render PageHeadingComponent.new.with_content(t('doc_auth.headings.lets_go')) %>
<p><%= t('doc_auth.info.lets_go') %></p>
<h2><%= t('doc_auth.headings.verify_identity') %></h2>
<p><%= t('doc_auth.info.verify_identity') %></p>
<h2><%= t('doc_auth.headings.secure_account') %></h2>
<p><%= t('doc_auth.info.secure_account') %></p>

<%= simple_form_for(
      :doc_auth,
      url: url_for,
      method: 'put',
      html: { autocomplete: 'off', class: 'margin-top-2 margin-bottom-5 js-consent-continue-form' },
    ) do |f| %>
  <%= render ClickObserverComponent.new(event_name: 'IdV: consent checkbox toggled') do %>
    <%= render ValidatedFieldComponent.new(
          form: f,
          name: :ial2_consent_given,
          as: :boolean,
          label: t('doc_auth.instructions.consent', app_name: APP_NAME),
          required: true,
        ) %>
  <% end %>
  <p class="margin-top-2">
    <%= new_tab_link_to(
          t('doc_auth.instructions.learn_more'),
          policy_redirect_url(flow: :idv, step: :agreement, location: :consent),
        ) %>
  </p>
  <div class="margin-top-4">
    <%= render(
          SpinnerButtonComponent.new(
            type: :submit,
            big: true,
            wide: true,
            spin_on_click: false,
          ).with_content(t('doc_auth.buttons.continue')),
        ) %>
  </div>
<% end %>

<%= render 'idv/doc_auth/cancel', step: 'agreement' %>

<%= javascript_packs_tag_once('document-capture-welcome') %>
