<% title t('titles.present_webauthn') %>

<%= render PageHeadingComponent.new.with_content(@presenter.header) %>

<p>
  <%= @presenter.webauthn_help %>
</p>

<%= simple_form_for(
      '',
      url: login_two_factor_webauthn_path,
      method: :patch,
      html: {
        class: 'margin-bottom-1',
        id: 'webauthn_form',
      },
    ) do |f| %>
  <%= hidden_field_tag :user_challenge, user_session[:webauthn_challenge].to_json, id: 'user_challenge' %>
  <%= hidden_field_tag :credential_ids, @presenter.credential_ids, id: 'credential_ids' %>
  <%= hidden_field_tag :credential_id, '', id: 'credential_id' %>
  <%= hidden_field_tag :authenticator_data, '', id: 'authenticator_data' %>
  <%= hidden_field_tag :signature, '', id: 'signature' %>
  <%= hidden_field_tag :client_data_json, '', id: 'client_data_json' %>
  <%= hidden_field_tag :errors, '', id: 'errors' %>
  <%= hidden_field_tag :platform, '', id: 'platform' %>
  <%= hidden_field_tag :webauthn_device, '', id: 'webauthn_device' %>

  <%= content_tag(
        :div,
        id: 'webauthn-auth-in-progress',
        data: {
          webauthn_not_enabled_url: @presenter.webauthn_not_enabled_link,
          platform_authenticator_requested: @presenter.platform_authenticator?,
          multiple_factors_enabled: @presenter.multiple_factors_enabled?,
        },
      ) do %>
    <div class="display-none spinner text-center margin-bottom-4" id="spinner">
      <%= image_tag(
            asset_url('spinner.gif'),
            srcset: asset_url('spinner@2x.gif'),
            height: 144,
            width: 144,
            alt: '',
          ) %>
    </div>
    <p class="text-bold">
      <%= @presenter.login_text %>
    </p>
    <button type="button" id="webauthn-button" class="display-block margin-y-3 usa-button usa-button--big usa-button--wide">
      <%= @presenter.authenticate_button_text %>
    </button>
    <%= render 'shared/fallback_links', presenter: @presenter %>
  <% end %>

  <div id='webauthn-auth-successful' class="display-none">
    <div class="text-center margin-bottom-2">
      <%= image_tag(
            asset_url('webauthn-verified.svg'),
            height: 144,
            width: 144,
            alt: '',
          ) %>
    </div>
    <h2 class="h4 half-center margin-top-4">
      <%= @presenter.verified_header %>
    </h2>
    <p class="half-center">
      <%= @presenter.verified_info_text %>
    </p>
    <%= f.input(
          :remember_device,
          as: :boolean,
          label: t('forms.messages.remember_device'),
          wrapper_html: { class: 'margin-top-4' },
          input_html: {
            class: 'usa-checkbox__input--bordered',
            checked: @presenter.remember_device_box_checked?,
          },
        ) %>
    <%= submit_tag t('forms.buttons.continue'),
                   class: 'display-block usa-button usa-button--big usa-button--wide margin-y-4' %>
  </div>
<% end %>
<%= render 'shared/cancel', link: @presenter.cancel_link %>

<%== javascript_packs_tag_once 'webauthn-authenticate' %>
