<% title t('titles.doc_auth.verify') %>

<%= render PageHeadingComponent.new.with_content(t('in_person_proofing.headings.address')) %>

<p>
  <%= t('in_person_proofing.body.address.info_html') %>
  <%= new_window_link_to(t('in_person_proofing.body.address.learn_more'), MarketingSite.security_and_privacy_practices_url) %>
</p>

<div class="margin-top-4 margin-bottom-4">
  <%= validated_form_for(
        :doc_auth, url: url_for, method: 'PUT',
                   html: { autocomplete: 'off', class: 'margin-top-2' }
      ) do |f| %>
    <div class="margin-bottom-4">
      <%= f.input :address1,  label: t('idv.form.address1'), wrapper: false,
                              required: true, maxlength: 255, input_html: { aria: { invalid: false }, value: pii['address1'] } %>
      <span class='usa-error-message margin-top-1 display-if-invalid display-if-invalid--value-missing margin-bottom-1' role='alert'>
        <%= t('simple_form.required.text') %>
      </span>
    </div>
    <%= f.input :address2, label: t('idv.form.address2'), required: false, maxlength: 255,
                           input_html: { value: pii['address2'] } %>
    <div class="margin-bottom-4">
      <%= f.input :city,  label: t('idv.form.city'), required: true, maxlength: 255, wrapper: false,
                          input_html: { aria: { invalid: false }, class: 'usa-input', value: pii['city'] } %>
      <span class='usa-error-message margin-top-1 display-if-invalid display-if-invalid--value-missing margin-bottom-1' role='alert'>
        <%= t('simple_form.required.text') %>
      </span>
    </div>

    <%= f.input :state, collection: us_states_territories,
                        label: t('idv.form.state'), required: true,
                        selected: pii['state'] %>
    <div class="tablet:grid-col-6 margin-bottom-4">
      <%# using :tel for mobile numeric keypad %>
      <%= f.input :zipcode, as: :tel,
                            label: t('idv.form.zipcode'), required: true,
                            pattern: '(\d{5}([\-]\d{4})?)',
                            wrapper: false,
                            input_html: { aria: { invalid: false }, class: 'usa-input', value: pii['zipcode'] } %>
      <span class='usa-error-message margin-top-1 display-if-invalid display-if-invalid--value-missing margin-bottom-1' role='alert'>
        <%= t('simple_form.required.text') %>
      </span>

      <span class='usa-error-message margin-top-1 pattern-mismatch display-if-invalid display-if-invalid--pattern-mismatch margin-bottom-1' role='alert'>
        <%= t('idv.errors.pattern_mismatch.zipcode') %>
      </span>
    </div>
    <div class="margin-top-0">
      <fieldset class="margin-bottom-4 padding-0 border-0">
        <%= radio_button_tag(
              'otp_delivery_preference',
              :sms,
              false,
              disabled: VendorStatus.new.vendor_outage?(:sms),
              class: 'usa-radio__input',
            ) %>
        <label for="otp_delivery_preference_sms" class="usa-radio__label">
          <%= t('two_factor_authentication.otp_delivery_preference.sms') %>
        </label>

        <%= radio_button_tag(
              'otp_delivery_preference',
              :voice,
              false,
              disabled: VendorStatus.new.vendor_outage?(:voice),
              class: 'usa-radio__input',
            ) %>
        <label for="otp_delivery_preference_voice" class="usa-radio__label">
          <%= t('two_factor_authentication.otp_delivery_preference.voice') %>
        </label>
      </fieldset>

      <%= f.input(
            :error,
            as: :radio_buttons,
            label: 'Error Conditions',
            collection: [
              ['No error', ''],
              ['No certificate', 'certificate.none'],
              ['Bad certificate', 'certificate.bad'],
              ['Expired certificate', 'certificate.expired'],
              ['Revoked certificate', 'certificate.revoked'],
              ['Invalid certificate', 'certificate.invalid'],
              ['Unverified certificate', 'certificate.unverified'],
              ['Missing token', 'token.missing'],
              ['Invalid token', 'token.invalid'],
            ],
          ) %>

      <button type="submit" class="usa-button usa-button--big usa-button--wide margin-top-2">
        <%= t('forms.buttons.continue') %>
      </button>
    </div>
  <% end %>
</div>

<%= javascript_packs_tag_once('formatted-fields') %>
