<% title t('titles.doc_auth.verify') %>

<%= render PageHeadingComponent.new.with_content(t('in_person_proofing.headings.address')) %>

<p>
  <%= t('in_person_proofing.body.address.info_html') %>
  <%= new_window_link_to(t('in_person_proofing.body.address.learn_more'), MarketingSite.security_and_privacy_practices_url) %>
</p>

<div class="margin-top-4 margin-bottom-4">
  <%= validated_form_for(
        :doc_auth, url: url_for, method: 'PUT',
                   html: { autocomplete: 'off', class: 'margin-top-2' }
      ) do |f| %>
    <div class="margin-bottom-3">
      <%= render ValidatedFieldComponent.new(
        name: :address1,
        form: f,
        label: t('in_person_proofing.form.address.address1'),
        required: true,
        maxlength: 255,
        input_html: { aria: { invalid: false }, value: pii['address1'] }
      ) %>
    </div>
    <div class="margin-bottom-3">
      <%= render ValidatedFieldComponent.new(
        name: :address2,
        form: f,
        label: t('in_person_proofing.form.address.address2'),
        required: false,
        maxlength: 255,
        input_html: { value: pii['address2'] }
      ) %>
    </div>
    <div class="margin-bottom-3">
      <%= render ValidatedFieldComponent.new(
        name: :city,
        form: f,
        label: t('in_person_proofing.form.address.city'),
        required: true,
        maxlength: 255,
        input_html: { aria: { invalid: false }, class: 'usa-input', value: pii['city'] }
      ) %>
    </div>

    <%= render ValidatedFieldComponent.new(
      name: :state,
      form: f,
      collection: us_states_territories,
      label: t('in_person_proofing.form.address.state'),
      prompt: t('in_person_proofing.form.address.state_prompt'),
      required: true,
      selected: pii['state']
    ) %>

    <div class="tablet:grid-col-6 margin-bottom-3">
      <%# using :tel for mobile numeric keypad %>
      <%= f.input :zipcode, as: :tel,
                            label: t('in_person_proofing.form.address.zipcode'), required: true,
                            pattern: '(\d{5}([\-]\d{4})?)',
                            wrapper: false,
                            input_html: { aria: { invalid: false }, class: 'usa-input', value: pii['zipcode'] } %>
      <span class='usa-error-message margin-top-0 display-if-invalid display-if-invalid--value-missing margin-bottom-1' role='alert'>
        <%= t('simple_form.required.text') %>
      </span>

      <span class='usa-error-message margin-top-0 pattern-mismatch display-if-invalid display-if-invalid--pattern-mismatch margin-bottom-1' role='alert'>
        <%= t('idv.errors.pattern_mismatch.zipcode') %>
      </span>
    </div>


    <div class="margin-top-0">
      <%= render ValidatedFieldComponent.new(
            name: :same_address_as_id,
            form: f,
            as: :radio_buttons,
            wrapper: :borderless_uswds_radio_buttons,
            label: t('in_person_proofing.form.address.same_address'),
            # required: true,
            collection: [
              [t('in_person_proofing.form.address.same_address_choice_yes'), true],
              [t('in_person_proofing.form.address.same_address_choice_no'), false],
            ],
            input_html: { value: pii['same_address_as_id'] },
          ) %>
      </div>
    <button type="submit" class="usa-button usa-button--big usa-button--wide margin-top-1">
      <%= t('forms.buttons.continue') %>
    </button>
  <% end %>
</div>

<%= javascript_packs_tag_once('formatted-fields') %>
