<% title t('forms.backup_code.title') %>

<h5 class="margin-y-1 caps bold accent-blue">
  <%= t('in_person_proofing.step', step: 3) %>
</h5>

<br/>

<h1 class="h3 margin-y-0">
  <%= t('in_person_proofing.headings.enrollment_form') %>
</h1>
<p class="mt-tiny margin-bottom-4">
  <%= t('in_person_proofing.info.enrollment_form') %>
</p>

<div class="margin-bottom-6">
  <fieldset class="margin-0 padding-0 rounded-xl">
    <ul class="list-reset">
      <li class="px-12p margin-bottom-1 border-none margin-top-1 margin-2">
        <div class="inline-block h1 bold">
          <%= t('in_person_proofing.enrollment_form') %>
        </div>
        <div class="h5 margin-top-0 margin-bottom-0 padding-top-1 padding-bottom-2 fs-12p">
          <%= t('users.backup_code.generated_on_html',
                date: content_tag(:strong, I18n.l(Time.zone.today, format: '%B %d, %Y'))) %>
        </div>
        <div class="inline-block">
          <%= t('in_person_proofing.instructions.enrollment_form') %>
        </div>
        <br/>
        <br/>
        ROSSLYN POST OFFICE
        <br/>
        1101 WILSON BLVD STE 1 ARLINGTON, VA 22209-9998
      </li>
      <li class="margin-bottom-0 border-top">
        <%= render 'shared/alert', {
          type: 'warning',
          class: 'bold border-bottom',
          message: t('in_person_proofing.warning.enrollment_form'),
        } %>
        <table class="padding-left-6 padding-right-4 monospace">
          <tr>
            <td class="center">
              <%= image_tag(asset_url('idv/bar_code.png'), height: 140) do %>
                <br/>
                <br/>
              <% end %>
            </td>
          </tr>
        </table>
        <div class="center margin-top-1">
          <%= link_to t('forms.backup_code.download'), backup_code_download_path,
                        class: 'text-decoration-none ico btn-border ico-download' %>
          <%= link_to t('forms.backup_code.print'), '#',
                        data: { print: true },
                        class: 'ico ico-print btn-border margin-left-2 text-decoration-none' %>
        </div>
      </li>
    </ul>
  </fieldset>
</div>

<%= link_to t('forms.buttons.continue'), account_path, class: 'btn btn-primary btn-wide' %>

<br/>

<%= render 'idv/in_person/start_over_or_cancel' %>

<%= javascript_packs_tag_once 'clipboard' %>
