<% title t('in_person_proofing.titles.in_person_proofing') %>

<h5 class="my1 caps bold accent-blue">
  <%= t('in_person_proofing.step', step: 1) %>
</h5>

<br/>

<h1 class="h3 my0">
  <%= t('in_person_proofing.headings.zip_code') %>
</h1>

<%= validated_form_for(:in_person, url: url_for, method: 'PUT',
                       html: { autocomplete: 'off', role: 'form', class: 'mt2' }) do |f| %>
  <div class="clearfix mxn1">
    <div class="sm-col sm-col-6 px1 mt2">
      <%= f.input :zip_code,
                  label: t('in_person_proofing.forms.zip_code'), required: true,
                  pattern: '^\d{5}$',
                  input_html: { aria: { invalid: false }, class: 'zip_code', value: '' } %>
    </div>
  </div>
  <p>
    <%= flow_session[:error_message] %>
  </p>

  <div class="mt0">
    <button type="submit" class="btn btn-primary btn-wide sm-col-6 col-12">
      <%= t('forms.buttons.continue') %>
    </button>
  </div>
<% end %>

<%= render 'idv/in_person/start_over_or_cancel' %>
