<% title t('titles.doc_auth.verify') %>

<%= render PageHeadingComponent.new.with_content(t('in_person_proofing.headings.residential_address')) %>

<%= simple_form_for(
      :doc_auth, url: url_for, method: 'PUT',
                 html: { autocomplete: 'off' }
    ) do |f| %>
  <%= render ValidatedFieldComponent.new(
        form: f,
        input_html: { value: pii[:residential_address1] },
        label: t('in_person_proofing.form.residential_address.address1'),
        label_html: { class: 'usa-label' },
        maxlength: 255,
        name: :residential_address1,
        required: true,
      ) %>
  <%= render ValidatedFieldComponent.new(
        form: f,
        input_html: { value: pii[:residential_address2] },
        label: t('in_person_proofing.form.residential_address.address2'),
        label_html: { class: 'usa-label' },
        maxlength: 255,
        name: :residential_address2,
        required: false,
      ) %>
  <%= render ValidatedFieldComponent.new(
        form: f,
        input_html: { value: pii[:residential_city] },
        label: t('in_person_proofing.form.residential_address.city'),
        label_html: { class: 'usa-label' },
        maxlength: 255,
        name: :residential_city,
        required: true,
      ) %>
  <%= render ValidatedFieldComponent.new(
        collection: us_states_territories,
        form: f,
        label: t('in_person_proofing.form.residential_address.state'),
        label_html: { class: 'usa-label' },
        name: :residential_state,
        prompt: t('in_person_proofing.form.residential_address.state_prompt'),
        required: true,
        selected: pii[:residential_state],
      ) %>

<div class="tablet:grid-col-6">
  <%# using :tel for mobile numeric keypad %>
  <%= render ValidatedFieldComponent.new(
      as: :tel,
      error_messages: { patternMismatch: t('idv.errors.pattern_mismatch.zipcode') },
      form: f,
      input_html: { value: pii[:residential_zipcode], class: 'residential_zipcode' },
      label: t('idv.form.zipcode'),
      label_html: { class: 'usa-label' },
      name: :residential_zipcode,
      pattern: '\d{5}([\-]\d{4})?',
      required: true,
    ) %>
</div>

  <%= f.submit class: 'margin-top-1' do %>
    <%= t('forms.buttons.continue') %>
  <% end %>
<% end %>

<%= render 'idv/doc_auth/cancel', step: 'residential_address' %>