<% title t('titles.doc_auth.verify') %>

<% if updating_state_id %>
  <%= render PageHeadingComponent.new.with_content(t('in_person_proofing.headings.update_state_id')) %>
<% else %>
  <%= render PageHeadingComponent.new.with_content(t('in_person_proofing.headings.state_id')) %>
<% end %>

<p>
  <%= t('in_person_proofing.body.state_id.info_html') %>
</p>

<%= simple_form_for :doc_auth,
                    url: url_for,
                    method: 'put',
                    html: { autocomplete: 'off', class: 'margin-y-5' } do |f| %>

  <div class="margin-bottom-4">
    <%= render ValidatedFieldComponent.new(
          name: :first_name,
          form: f,
          input_html: { value: pii[:first_name] },
          label: t('in_person_proofing.form.state_id.first_name'),
          label_html: { class: 'usa-label' },
          maxlength: 255,
          required: true,
        ) %>
  </div>

  <div class="margin-bottom-4">
    <%= render ValidatedFieldComponent.new(
          name: :last_name,
          form: f,
          input_html: { value: pii[:last_name] },
          label: t('in_person_proofing.form.state_id.last_name'),
          label_html: { class: 'usa-label' },
          maxlength: 255,
          required: true,
        ) %>
  </div>

  <div class="margin-bottom-4">
  <%= render MemorableDateComponent.new(
        content_tag: 'memorable-date',
        name: :dob,
        day: parsed_dob&.day,
        month: parsed_dob&.month,
        year: parsed_dob&.year,
        required: true,
        min: Time.zone.today - 200.years,
        max: Time.zone.today,
        hint: t('in_person_proofing.form.state_id.dob_hint'),
        label: t('in_person_proofing.form.state_id.dob'),
        form: f,
        error_messages: {
          missing_month_day_year: t('in_person_proofing.form.state_id.memorable_date.errors.date_of_birth.missing_month_day_year'),
          range_overflow: t('in_person_proofing.form.state_id.memorable_date.errors.date_of_birth.range_overflow'),
        },
        range_errors: [
          {
            max: Time.zone.today - 13.years,
            message: t(
              'in_person_proofing.form.state_id.memorable_date.errors.date_of_birth.range_min_age',
              app_name: APP_NAME,
            ),
          },
        ],
      )
      %>
  </div>

  <div class="margin-bottom-4">
    <%= render ValidatedFieldComponent.new(
          name: :state_id_jurisdiction,
          collection: us_states_territories,
          form: f,
          hint: t('in_person_proofing.form.state_id.state_id_jurisdiction_hint'),
          label: t('in_person_proofing.form.state_id.state_id_jurisdiction'),
          label_html: { class: 'usa-label' },
          prompt: t('in_person_proofing.form.state_id.state_id_jurisdiction_prompt'),
          required: true,
          selected: pii[:state_id_jurisdiction],
        ) %>
  </div>

  <div class="tablet:grid-col-8 margin-bottom-5">
    <%= render ValidatedFieldComponent.new(
          name: :state_id_number,
          form: f,
          hint: t('in_person_proofing.form.state_id.state_id_number_hint'),
          input_html: { value: pii[:state_id_number] },
          label: t('in_person_proofing.form.state_id.state_id_number'),
          label_html: { class: 'usa-label' },
          maxlength: 255,
          required: true,
        ) %>
  </div>

  <%= f.submit do %>
    <% if updating_state_id %>
      <%= t('forms.buttons.submit.update') %>
    <% else %>
      <%= t('forms.buttons.continue') %>
    <% end %>
  <% end %>
<% end %>

<% if updating_state_id %>
  <%= render 'idv/shared/back', action: 'cancel_update_state_id' %>
<% else %>
  <%= render 'idv/doc_auth/cancel', step: 'state_id' %>
<% end %>
