<% title t('titles.doc_auth.verify') %>


<%= render PageHeadingComponent.new.with_content(t('in_person_proofing.headings.state_id')) %>

<p>
  <%= t('in_person_proofing.body.state_id.info_html') %>
</p>

<%= validated_form_for :doc_auth,
                       url: url_for,
                       method: 'put',
                       html: { autocomplete: 'off', class: 'margin-y-5' } do |f| %>

  <div class="margin-bottom-4">
    <%= render ValidatedFieldComponent.new(
          name: :first_name,
          form: f,
          label: t('in_person_proofing.form.state_id.first_name'),
          label_html: { class: 'usa-label' },
          maxlength: 255,
          required: true,
        ) %>
  </div>

  <div class="margin-bottom-4">
    <%= render ValidatedFieldComponent.new(
          name: :last_name,
          form: f,
          label: t('in_person_proofing.form.state_id.last_name'),
          label_html: { class: 'usa-label' },
          maxlength: 255,
          required: true,
        ) %>
  </div>

  <div class="margin-bottom-4">
    <%= render ValidatedFieldComponent.new(
          name: :dob,
          as: :date,
          form: f,
          hint: t('in_person_proofing.form.state_id.dob_hint'),
          html5: true,
          label: t('in_person_proofing.form.state_id.dob'),
          label_html: { class: 'usa-label' },
          maxlength: 255,
          required: true,
        ) %>
  </div>

  <div class="margin-bottom-4">
    <%= render ValidatedFieldComponent.new(
          name: :state_id_jurisdiction,
          collection: us_states_territories,
          form: f,
          hint: t('in_person_proofing.form.state_id.state_id_jurisdiction_hint'),
          label: t('in_person_proofing.form.state_id.state_id_jurisdiction'),
          label_html: { class: 'usa-label' },
          prompt: t('in_person_proofing.form.state_id.state_id_jurisdiction_prompt'),
          required: true,
        ) %>
  </div>

  <div class="tablet:grid-col-8 margin-bottom-5">
    <%= render ValidatedFieldComponent.new(
          name: :state_id_number,
          form: f,
          hint: t('in_person_proofing.form.state_id.state_id_number_hint'),
          label: t('in_person_proofing.form.state_id.state_id_number'),
          label_html: { class: 'usa-label' },
          maxlength: 255,
          required: true,
        ) %>
  </div>

  <%= f.button :button,
               t('doc_auth.buttons.continue'),
               type: :submit,
               class: 'usa-button--big usa-button--wide' %>
<% end %>
