<% title t('in_person_proofing.titles.in_person_proofing') %>

<h5 class="margin-y-1 caps bold accent-blue">
  <%= t('in_person_proofing.step', step: 2) %>
</h5>

<br/>

<h1 class="h3 margin-y-0">
  Verify your information
</h1>

<div class="margin-top-4 margin-bottom-2">
  <div class="right">
    <%= link_to(t('in_person_proofing.buttons.change_address'), idv_address_url) %>
  </div>
  <div>
    <%= t('in_person_proofing.forms.first_name') %>: Jane
  </div>
  <div>
    <%= t('in_person_proofing.forms.last_name') %>: Doe
  </div>
  <div>
    <%= t('in_person_proofing.forms.dob') %>: 11/1/1911
  </div>

  <hr/>

  <div class="right">
    <%= link_to(t('in_person_proofing.buttons.change_address'), idv_address_url) %>
  </div>
  <div>
    <%= t('in_person_proofing.forms.address1') %>: 1 Fake Street
  </div>
  <div>
  <%= t('in_person_proofing.forms.city') %>: Faketown
  </div>
  <div>
  <%= t('in_person_proofing.forms.state') %>: NY
  </div>
  <div>
    <%= t('in_person_proofing.forms.zip_code') %>: 11364
  </div>

  <hr/>

  <div class="right">
    <%= button_to(t('in_person_proofing.buttons.change_ssn'),
                  idv_doc_auth_step_path(step: :redo_ssn), method: :put, class: 'btn btn-link') %>
  </div>
  <%= t('in_person_proofing.forms.ssn') %>: 111-11-1111
  <div class="margin-top-6">
    <%= button_to(t('forms.buttons.continue'), url_for, method: :put,
                  class: 'btn btn-primary btn-wide sm-col-6 col-12') %>
  </div>
</div>

<%= render 'idv/in_person/start_over_or_cancel' %>
