<%#
locals:
  @step_indicator_steps - the correct Idv::Flows variable for this flow
  @pii - user's information
  @ssn - user's ssn
  @had_barcode_read_failure - show warning if there's a barcode read error
%>

<%= render 'idv/shared/step_indicator', current_step: :verify_info, steps: @step_indicator_steps %>

<div id="form-steps-wait-alert">
  <!-- Needed by form steps wait javascript -->
</div>

<% self.title = t('titles.idv.verify_info') %>

<%= render ADS::FormPageComponent.new(
      title: t('headings.verify'),
      subtitle: t('idv.messages.verify_info'),
    ) do |page| %>
  <% if @had_barcode_read_failure %>
    <% page.with_alert do %>
      <% barcode_warning_link = capture do %>
        <%= render ADS::LinkComponent.new(
              url: idv_hybrid_handoff_url(redo: true),
              'aria-label': t('doc_auth.headings.capture_scan_warning_link'),
            ).with_content(t('doc_auth.headings.capture_scan_warning_link')) %>
      <% end %>
      <%= render AlertComponent.new(type: :warning, dismissible: false) do %>
        <%= t(
              'doc_auth.headings.capture_scan_warning_html',
              link_html: barcode_warning_link,
            ) %>
      <% end %>
    <% end %>
  <% end %>

  <% page.with_body do %>
    <%= render CardComponent.new do %>
      <div class="ads-card__stack ads-card__stack--divided">
        <%= render 'idv/shared/verify_info/field',
                   label: t('idv.form.first_name'),
                   value: @pii[:first_name] %>
        <%= render 'idv/shared/verify_info/field',
                   label: t('idv.form.last_name'),
                   value: @pii[:last_name],
                   divider: true %>
        <%= render 'idv/shared/verify_info/field',
                   label: t('idv.form.dob'),
                   value: I18n.l(Date.parse(@pii[:dob]), format: I18n.t('time.formats.event_date')),
                   divider: true %>
        <%= render 'idv/shared/verify_info/field',
                   label: t('idv.form.id_number'),
                   value: @pii[:state_id_number],
                   divider: true %>
        <%= render 'idv/shared/verify_info/address',
                   pii: @pii,
                   url: idv_address_url,
                   divider: true %>
        <%= render 'idv/shared/verify_info/ssn',
                   ssn: @ssn,
                   url: idv_ssn_url,
                   divider: true %>
      </div>
    <% end %>
  <% end %>

  <% page.with_actions do %>
    <%= render ButtonComponent.new(
          url: idv_verify_info_path,
          method: :put,
          form: {
            data: {
              form_steps_wait: '',
              error_message: t('idv.failure.exceptions.internal_error'),
              alert_target: '#form-steps-wait-alert',
              wait_step_path: idv_verify_info_path,
              poll_interval_ms: IdentityConfig.store.poll_rate_for_verify_in_seconds * 1000,
            },
          },
        ).with_content(t('forms.buttons.continue')) %>
  <% end %>
<% end %>

<% javascript_packs_tag_once 'form-steps-wait' %>
