<% form_name = form_obj.class.name.underscore.to_s
   form_name_label = form_name + '[otp_make_default_number]'
   form_name_tag = form_name + '_otp_make_default_number' %>

<div class="margin-bottom-4">
  <fieldset class="margin-0 padding-0 border-0">
    <legend class="usa-label margin-bottom-1">
      <%= t('two_factor_authentication.otp_make_default_number.title') %>
    </legend>
    <p class="margin-top-0 margin-bottom-2" id="otp_make_default_number_instruction">
      <%= t('two_factor_authentication.otp_make_default_number.instruction') %>
    </p>
    <%= check_box_tag(
          form_name_label,
          :otp_make_default_number,
          form_obj.otp_make_default_number,
          class: 'usa-checkbox__input usa-checkbox__input--bordered',
        ) %>
    <label class="usa-checkbox__label" for="<%= form_name_tag %>">
      <%= t('two_factor_authentication.otp_make_default_number.label') %>
    </label>
  </fieldset>
</div>
