<div class="sm-col-8 js-intl-tel-code-select">
  <%= f.input :international_code,
              collection: international_phone_codes,
              include_blank: false,
              input_html: {
                class: 'international-code',
                data: { countries: supported_country_codes },
              } %>
</div>
<div class="sm-col-8 margin-bottom-4">
  <%= f.label :phone do %>
    <strong class="left">
      <%= t('two_factor_authentication.phone_label') %>
    </strong>
  <% end %>
  <div class="margin-bottom-1 usa-hint">
    <span><%= t('forms.example') %></span>
    <span id="ex-phone"></span>
  </div>
  <%= f.input :phone, as: :tel, label: false, required: true,
              input_html: { aria: { invalid: false }, class: 'phone col-8 margin-bottom-6' } %>
</div>
