<%= title t('forms.piv_cac_delete.confirm') %>

<%= image_tag(asset_url('status/warning.svg'), alt: t('titles.icons.warning.alt_text'), class: 'display-block margin-bottom-4 lg-icon') %>

<%= render PageHeadingComponent.new.with_content(t('forms.piv_cac_delete.confirm')) %>

<p>
  <%= t('forms.piv_cac_delete.caution', app_name: APP_NAME) %>
</p>

<%= form_tag(disable_piv_cac_url(id: params[:id]), method: :delete, class: 'margin-top-5') do %>
  <%= button_tag t('account.index.piv_cac_confirm_delete'), type: 'submit', class: 'usa-button usa-button--big usa-button--wide margin-bottom-2' %>
<% end %>
<%= link_to t('links.cancel'), account_path, class: 'usa-button usa-button--big usa-button--wide usa-button--outline' %>
