<div class="grid-row grid-gap grid-gap-2 padding-bottom-1 padding-top-1 border-bottom border-primary-light">
  <dl class='grid-col-fill margin-y-0'>
    <div class="padding-y-1">
      <h2 class="h4 margin-y-0"><%= t('headings.residential_address') %></h2>
    </div>
    <div>
      <dt class="display-inline"> <%= t('idv.form.address1') %>: </dt>
      <dd class="display-inline margin-left-0"> <%= @pii[:address1] %> </dd>
    </div>
    <div>
      <dt class="display-inline"> <%= t('idv.form.address2') %>: </dt>
      <dd class="display-inline margin-left-0"> <%= @pii[:address2].presence %> </dd>
    </div>
    <div>
      <dt class="display-inline"> <%= t('idv.form.city') %>: </dt>
      <dd class="display-inline margin-left-0"> <%= @pii[:city] %> </dd>
    </div>
    <div>
      <dt class="display-inline"> <%= t('idv.form.state') %>: </dt>
      <dd class="display-inline margin-left-0"> <%= @pii[:state] %> </dd>
    </div>
    <div>
      <dt class="display-inline"> <%= t('idv.form.zipcode') %>: </dt>
      <dd class="display-inline margin-left-0"> <%= @pii[:zipcode] %> </dd>
    </div>
  </dl>
  <div class='grid-auto'>
    <%= link_to(
          t('idv.buttons.change_label'),
          idv_in_person_address_url,
          'aria-label': t('idv.buttons.change_address_label'),
        ) %>
  </div>
</div>
