<%#
locals:
  @step_indicator_steps - the correct Idv::Flows variable for this flow
  @pii - user's information
  @ssn - user's ssn
  @had_barcode_read_failure - show warning if there's a barcode read error
%>

<% content_for(:pre_flash_content) do %>
  <%= render StepIndicatorComponent.new(
        steps: @step_indicator_steps,
        current_step: :verify_info,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      ) %>
<% end %>

<div id="form-steps-wait-alert">
  <!-- Needed by form steps wait javascript -->
</div>

<% self.title = t('titles.idv.verify_info') %>

<%= render PageHeadingComponent.new.with_content(t('headings.verify')) %>
<div class='margin-top-4 margin-bottom-2'>
  <% if !@pii[:state_id_number].nil? %>
    <%= render 'state_id_section', pii: @pii %>
  <% end %>
  <%= render 'address_section', pii: @pii %>
  <%= render 'ssn_section', ssn: @ssn %>
  <div class="margin-top-5">
    <%= render SpinnerButtonComponent.new(
          url: idv_in_person_verify_info_path,
          big: true,
          wide: true,
          action_message: t('idv.messages.verifying'),
          method: :put,
          form: {
            class: 'button_to',
            data: {
              form_steps_wait: '',
              error_message: t('idv.failure.exceptions.internal_error'),
              alert_target: '#form-steps-wait-alert',
              wait_step_path: idv_in_person_verify_info_path,
              poll_interval_ms: IdentityConfig.store.poll_rate_for_verify_in_seconds * 1000,
            },
          },
        ).with_content(t('forms.buttons.submit.default')) %>
  </div>
</div>

<% javascript_packs_tag_once 'form-steps-wait' %>
<%= render 'idv/doc_auth/cancel', step: 'verify' %>
