<%#
locals:
  @pii - user's information
  @ssn - user's ssn
  @presenter - An instance of Idv::InPerson::VerifyInfoPresenter
%>

<%= render 'idv/shared/step_indicator', current_step: :verify_info, steps: @presenter.step_indicator_steps %>

<div id="form-steps-wait-alert">
  <!-- Needed by form steps wait javascript -->
</div>

<% self.title = t('titles.idv.verify_info') %>

<%= render ADS::FormPageComponent.new(
      title: t('headings.verify'),
      subtitle: t('idv.messages.verify_info'),
    ) do |page| %>
  <% page.with_body do %>
    <%= render CardComponent.new do %>
      <div class="ads-card__stack ads-card__stack--divided">
        <%= render @presenter.identity_info_partial, pii: @pii %>
        <%= render 'idv/shared/verify_info/address',
                   pii: @pii,
                   url: idv_in_person_address_url,
                   divider: true,
                   click_observer_event: 'idv_in_person_proofing_verify_info_update_address_button_clicked' %>
        <%= render 'idv/shared/verify_info/ssn',
                   ssn: @ssn,
                   url: idv_in_person_ssn_url,
                   divider: true,
                   click_observer_event: 'idv_in_person_proofing_verify_info_update_ssn_button_clicked' %>
      </div>
    <% end %>
  <% end %>

  <% page.with_actions do %>
    <%= render ButtonComponent.new(
          url: idv_in_person_verify_info_path,
          method: :put,
          form: {
            data: {
              form_steps_wait: '',
              error_message: t('idv.failure.exceptions.internal_error'),
              alert_target: '#form-steps-wait-alert',
              wait_step_path: idv_in_person_verify_info_path,
              poll_interval_ms: IdentityConfig.store.poll_rate_for_verify_in_seconds * 1000,
            },
          },
        ).with_content(t('forms.buttons.continue')) %>
  <% end %>
<% end %>

<% javascript_packs_tag_once 'form-steps-wait' %>
