<% title t('account_reset.request.title') %>

<h1 class='margin-y-0'><%= t('account_reset.request.title') %></h1>

<p class='mt-tiny margin-bottom-0'>
  <%= t('account_reset.request.info').html_safe %>
</p>
<br/>

<h2 class='margin-y-0'><%= t('account_reset.request.delete_account') %></h2>
<p class='mt-tiny margin-bottom-0'><%= t('account_reset.request.delete_account_info').html_safe %></p>

<br/>

<p class='margin-y-2 text-bold'><%= t('account_reset.request.are_you_sure') %></p>
<%= button_to(
  root_url,
  method: :get,
  class: 'usa-button usa-button--big usa-button--wide margin-bottom-1 personal-key-continue',
  'data-toggle': 'modal',
) { t('account_reset.request.no_cancel') } %>
<%= button_to(
  account_reset_request_path,
  class: 'usa-button usa-button--unstyled',
) { t('account_reset.request.yes_continue') } %>

<br/>
<br/>
<br/>
<hr/>

<%= link_to t('forms.buttons.back'), root_url %>
