<% self.title = t('account_reset.request.delete_account') %>

<%= render ADS::FormPageComponent.new(title: t('account_reset.request.delete_account')) do |page| %>
  <% page.with_body do %>
    <% account_delete_link = capture do %>
      <%= render ADS::LinkComponent.new(
            url: MarketingSite.help_center_article_url(
              category: 'manage-your-account',
              article: 'delete-your-account',
            ),
            target: '_blank',
            rel: 'noopener',
          ) do %>
        <%= t('account_reset.request.account_delete_link') %>
      <% end %>
    <% end %>

    <div class="ads-copy">
      <p>
        <%= t(
              'account_reset.request.delete_request_details_html',
              account_delete_link: account_delete_link,
            ) %>
      </p>

      <p><%= t('account_reset.request.choose_to_continue') %></p>

      <ul class="ads-list">
        <li><%= t('account_reset.request.delete_email1_html') %></li>
        <li>
          <%= t(
                'account_reset.request.delete_email2_html',
                interval: @account_reset_deletion_period_interval,
              ) %>
        </li>
      </ul>
    </div>
  <% end %>

  <% page.with_actions do %>
    <%= form_with(
          scope: :account_reset,
          url: account_reset_request_path,
          method: :post,
          local: true,
          class: 'ads-form',
        ) do %>
      <%= render ButtonComponent.new(
            type: :submit,
            variant: :destructive,
            data: { disable_with: 'Confirming...' },
          ) do %>
        <%= t('account_reset.request.yes_continue') %>
      <% end %>
    <% end %>

    <%= render ButtonComponent.new(
          url: root_url,
          variant: :quaternary,
        ).with_content(t('account_reset.request.no_cancel2')) %>
  <% end %>
<% end %>
