
<% self.title = t('account_reset.request.delete_account') %>

<%= render PageHeadingComponent.new.with_content(t('account_reset.request.delete_account')) %>
<p><%= t(
         'account_reset.request.delete_request_details_html',
         account_delete_link: new_tab_link_to(
           t('account_reset.request.account_delete_link'),
           MarketingSite.help_center_article_url(
             category: 'manage-your-account',
             article: 'delete-your-account',
           ),
         ),
       ) %></p>

<p><%= t('account_reset.request.choose_to_continue') %></p>

<p><%= t('account_reset.request.delete_email1_html') %></p>
<p><%= t('account_reset.request.delete_email2_html', interval: @account_reset_deletion_period_interval) %></p>

<p><strong><%= t('account_reset.request.continue_deletion') %></strong></p>

<%= simple_form_for(
      :account_reset,
      url: account_reset_request_path,
      method: 'POST',
    ) do |f| %>
  <%= f.submit(t('account_reset.request.yes_continue'), class: 'margin-bottom-2') %>
<% end %>

<%= button_to(
      root_url,
      method: :get,
      class: 'usa-button usa-button--unstyled',
    ) { t('account_reset.request.no_cancel2') } %>
