<% title t('titles.registrations.new') %>

<%= render PageHeadingComponent.new.with_content(t('titles.rules_of_use')) %>

<p>
<%= t(
      'users.rules_of_use.overview_html',
      link: new_window_link_to(
        t('titles.rules_of_use'),
        MarketingSite.rules_of_use_url,
      ),
    ) %>
</p>

<%= t('users.rules_of_use.details_html', app_name: APP_NAME) %>
<%= simple_form_for(
      @rules_of_use_form,
      html: { autocomplete: 'off' },
      url: rules_of_use_path,
    ) do |f| %>
  <%= render ValidatedFieldComponent.new(
        form: f,
        name: :terms_accepted,
        as: :boolean,
        label: capture do %>
          <%= t('users.rules_of_use.check_box_to_accept', app_name: APP_NAME) %>
          <%= new_window_link_to(t('titles.rules_of_use'), MarketingSite.rules_of_use_url) %>
        <% end,
        required: true,
      ) %>

    <%= f.submit t('forms.buttons.continue'), class: 'margin-y-5' %>
<% end %>

<%= render 'shared/cancel', link: decorated_session.cancel_link_url %>
