<% title @presenter.title %>

<%= render(VendorOutageAlertComponent.new(vendors: [:sms, :voice])) %>

<%= render PageHeadingComponent.new.with_content(@presenter.heading) %>

<p>
  <%= @presenter.info %>
</p>

<%= simple_form_for(
      @two_factor_options_form,
      html: { autocomplete: 'off' },
      method: :post,
      url: login_two_factor_options_path,
    ) do |f| %>
  <div role="group" aria-label="<%= @presenter.heading %>">
    <% @presenter.options.each_with_index do |option, index| %>
      <div id="<%= "select_#{option.type}" %>" class="<%= option.html_class %>">
        <%= radio_button_tag(
              'two_factor_options_form[selection]',
              option.type,
              index == @presenter.first_enabled_option_index,
              disabled: option.disabled?,
              class: 'usa-radio__input usa-radio__input--tile',
            ) %>
        <%= label_tag(
              "two_factor_options_form_selection_#{option.type}",
              class: 'usa-radio__label',
            ) do %>
              <%= option.label %>
              <span class="usa-radio__label-description">
                <%= option.info %>
              </span>
            <% end %>
      </div>
    <% end %>
  </div>

  <%= f.submit t('forms.buttons.continue'), class: 'display-block margin-y-5' %>
<% end %>

<p>
  <%= @presenter.account_reset_or_cancel_link %>
</p>

<%= render 'shared/cancel', link: @presenter.cancel_link %>

<%= javascript_packs_tag_once 'webauthn-unhide' %>
