<% content_for(:pre_flash_content) do %>
  <%= render 'shared/step_indicator', {
        steps: Idv::Flows::DocAuthFlow::STEP_INDICATOR_STEPS,
        current_step: :verify_phone_or_address,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      } %>
<% end %>

<% title t('titles.idv.enter_security_code') %>

<h1 class="margin-y-0">
  <%= t('two_factor_authentication.header_text') %>
</h1>

<p>
  <%= @presenter.phone_number_message %>
</p>

<%= validated_form_for(:idv_otp_verification, method: :put, class: 'margin-top-4') do %>
  <div class="grid-row margin-bottom-5">
    <div class="grid-col-12 tablet:grid-col-6">
      <%= label_tag :code, t('forms.two_factor.code'), class: 'block bold' %>
      <div class="margin-bottom-5">
        <%= render(
              'shared/one_time_code_input',
              name: :code,
              value: @code,
              required: true,
              autofocus: true,
              numeric: false,
              class: 'col-12',
            ) %>
      </div>
      <%= submit_tag t('forms.buttons.submit.default'),
                     class: 'usa-button usa-button--big usa-button--full-width' %>
    </div>
  </div>
<% end %>

<%= button_to idv_resend_otp_path,
              method: :post,
              class: 'usa-button usa-button--outline ico ico-refresh' do %>
  <%= t('links.two_factor_authentication.get_another_code') %>
<% end %>

<p class="margin-top-6">
  <%= @presenter.update_phone_link %>
</p>

<%= render 'idv/doc_auth/start_over_or_cancel', step: 'phone_otp_verification' %>
