<% self.title = t('titles.idv.get_letter') %>

<%= render 'idv/shared/step_indicator', current_step: :verify_address %>

<%= render ADS::FormPageComponent.new(title: t('idv.gpo.request_another_letter.title')) do |page| %>
  <% page.with_body do %>
    <div class="ads-copy ads-copy--centered">
      <p><%= t('idv.gpo.request_another_letter.instructions_html') %></p>
      <p>
        <%= render ADS::LinkComponent.new(
              url: help_center_redirect_path(
                category: 'verify-your-identity',
                article: 'verify-your-address-by-mail',
                flow: :idv,
                step: :gpo_send_letter,
              ),
              target: '_blank',
              rel: 'noopener noreferrer',
            ) do %>
          <%= t('idv.gpo.request_another_letter.learn_more_link') %>
          <span class="ads-sr-only"><%= t('links.new_tab') %></span>
        <% end %>
      </p>
    </div>
  <% end %>

  <% page.with_actions do %>
    <%= render ButtonComponent.new(
          url: idv_resend_letter_path,
          method: :put,
        ).with_content(t('idv.gpo.request_another_letter.button')) %>

    <%= render ButtonComponent.new(
          url: idv_verify_by_mail_enter_code_url,
          variant: :quaternary,
        ).with_content(t('forms.buttons.back')) %>
  <% end %>
<% end %>
