<% self.title = @presenter.header_text %>

<% content_for(:pre_flash_content) do %>
  <%= render StepIndicatorComponent.new(
        steps: Idv::StepIndicatorConcern::STEP_INDICATOR_STEPS,
        current_step: :verify_id,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      ) %>
<% end %>
<%#   ============== Non Selfie Section ==========    %>
<% if !@selfie_required %>

  <%= render PageHeadingComponent.new do %>
    <%= t('doc_auth.headings.how_to_verify') %>
  <% end %>


  <div class="grid-row grid-gap grid-gap-2">
    <div class="grid-col-12 tablet:grid-col-auto">
      <%= image_tag(
            asset_url('idv/phone-icon.svg'),
            alt: t('image_description.camera_mobile_phone'),
            width: 88,
            height: 88,
          ) %>
    </div>
    <div class="grid-col-12 tablet:grid-col-fill">
      <h2 class="margin-y-105">
        <%= t('doc_auth.headings.upload_from_phone') %>
      </h2>
       <%= @presenter.hybrid_handoff_text %>
       <p class="margin-top-2">
              <%= new_tab_link_to(
                    t('doc_auth.info.verify_online_link_text'),
                    help_center_redirect_path(
                      category: 'verify-your-identity',
                      article: 'overview',
                      flow: :idv,
                      step: :how_to_verify,
                      location: 'troubleshooting_options',
                    ),
                  ) %>
            </p>
      <%= simple_form_for(
            idv_phone_form,
            as: :doc_auth,
            url: url_for(type: :mobile, combined: true),
            method: 'PUT',
            html: {
              id: 'form-to-submit-photos-through-mobile',
              aria: { label: t('forms.buttons.send_link') },
            },
          ) do |f| %>
        <%= render PhoneInputComponent.new(
              form: f,
              required: true,
              delivery_methods: [:sms],
              class: 'margin-bottom-4',
            ) %>
        <%= f.submit t('forms.buttons.send_link') %>
      <% end %>
    </div>
  </div>
<%#   ============== Selfie Section ==========    %>
<% else %>
  <div class="grid-row grid-gap grid-gap-2">
  <div class="grid-col-12 tablet:grid-col-auto">
    <%= image_tag(
          asset_url('idv/phone-icon.svg'),
          alt: t('image_description.camera_mobile_phone'),
          width: 88,
          height: 88,
        ) %>
  </div>
  <div class="grid-col-12 tablet:grid-col-fill">
    <%= render PageHeadingComponent.new do %>
      <%= t('doc_auth.headings.how_to_verify') %>
    <% end %>
    <%= @presenter.hybrid_handoff_text %>
    <%= simple_form_for(
          idv_phone_form,
          as: :doc_auth,
          url: url_for(type: :mobile, combined: true),
          method: 'PUT',
          html: {
            id: 'form-to-submit-photos-through-mobile',
            aria: { label: t('forms.buttons.send_link') },
          },
        ) do |f| %>
      <%= render PhoneInputComponent.new(
            form: f,
            required: true,
            delivery_methods: [:sms],
            class: 'margin-bottom-4',
          ) %>
      <%= f.submit t('forms.buttons.send_link') %>
    <% end %>
    <% if @direct_ipp_with_selfie_enabled %>
      <div class="margin-top-4 padding-top-2 border-top border-primary-light">
        <p class="margin-top-1">
          <%= t('doc_auth.info.hybrid_handoff_ipp_html') %>
        </p>
        <p class="margin-top-1 margin-bottom-0">
          <%= link_to t('in_person_proofing.headings.prepare'), idv_document_capture_path(step: :hybrid_handoff) %>
        </p>
      </div>
    <% end %>
    </div>
  </div>
<% end %>
  <hr class="margin-y-4" />
<div role="group" aria-labelledby="how-to-verify-info" class="grid-row">

  <div class="grid-col-12 tablet:grid-col-auto">
    <%= image_tag(
          asset_url(@presenter.post_office_asset_url),
          width: 88,
          height: 88,
          class: 'margin-right-1 margin-top-3',
          alt: @presenter.post_office_asset_alt_text,
        ) %>
  </div>
  
  <div class="grid-col-12 tablet:grid-col-fill">
    <%= simple_form_for(
          @idv_how_to_verify_form,
          html: {
            id: nil,
            class: 'margin-top-3',
            aria: { label: @presenter.post_office_submit },
          },
          method: :put,
          url: url_for(type: :mobile, combined: true),
        ) do |f|
    %>
      <%= f.hidden_field(
            :selection,
            value: Idv::HowToVerifyForm::IPP,
          ) %>
      <%= f.label(
            :selection_ipp,
          ) do %>
            <h2 class="margin-top-0"><%= @presenter.verify_at_post_office_text %></h2>
            <div>
              <p><%= @presenter.post_office_instruction %>
                 <%= @presenter.post_office_description %></p>
              <p class="margin-top-2">
                <%= new_tab_link_to(
                      t('doc_auth.info.verify_at_post_office_link_text'),
                      help_center_redirect_path(
                        category: 'verify-your-identity',
                        article: 'verify-your-identity-in-person',
                        flow: :idv,
                        step: :how_to_verify,
                        location: 'troubleshooting_options',
                      ),
                    ) %>
              </p>
            </div>
          <% end %>
      <%= f.submit t('forms.buttons.continue_ipp'), class: 'display-block margin-top-3 margin-bottom-5', outline: true %>
    <% end %>
  </div>
</div>
<% unless @upload_disabled %>
  <hr class="margin-y-4" />
  <div class="grid-row grid-gap grid-gap-2">
    <div class="grid-col-12 tablet:grid-col-auto">
      <%= image_tag(
            asset_url('idv/laptop-icon.svg'),
            alt: t('image_description.laptop'),
            width: 88,
            height: 88,
          ) %>
    </div>
    <div class="grid-col-12 tablet:grid-col-fill">
      <h2 class="margin-y-105">
        <%= t('doc_auth.headings.upload_from_computer') %>
      </h2>
      <%= t('doc_auth.info.upload_from_computer') %>&nbsp;
      <%= simple_form_for(
            :doc_auth,
            url: url_for(type: :desktop),
            method: 'PUT',
            class: 'margin-bottom-4',
            html: {
              id: 'form-to-submit-photos-through-desktop',
              aria: { label: t('forms.buttons.upload_photos') },
            },
          ) do |f| %>
        <%= f.submit t('forms.buttons.upload_photos'), outline: true %>
      <% end %>
    </div>
  </div>
<% end %>
<%= render 'idv/doc_auth/cancel', step: 'hybrid_handoff' %>
