<%#
locals:
  pii - user's information
  remote_identity_proofing - true if we're doing RIDP, false if we're doing IPP
  step_url - generator for step URLs
%>
<% title t('inherited_proofing.headings.verify_information') %>

<%= render PageHeadingComponent.new.with_content(t('inherited_proofing.headings.verify_information')) %>
<div class='margin-top-4 margin-bottom-2'>
  <div class="grid-row grid-gap grid-gap-2 padding-bottom-1">
    <dl class="grid-col-fill margin-bottom-0">
      <div>
        <dt class="display-inline"> <%= t('idv.form.first_name') %>: </dt>
        <dd class="display-inline margin-left-0"> <%= pii[:first_name] %> </dd>
      </div>
      <div>
        <dt class="display-inline"> <%= t('idv.form.last_name') %>: </dt>
        <dd class="display-inline margin-left-0"> <%= pii[:last_name] %> </dd>
      </div>
      <div>
        <dt class="display-inline"> <%= t('idv.form.dob') %>: </dt>
        <dd class="display-inline margin-left-0"> <%= pii[:dob] %> </dd>
      </div>
      <% if !remote_identity_proofing %>
        <div>
          <dt class="display-inline"> <%= t('idv.form.id_number') %>: </dt>
          <dd class="display-inline margin-left-0"> <%= pii[:state_id_number] %> </dd>
        </div>
      <% end %>
    </dl>
  </div>
  <div class="grid-row grid-gap grid-gap-2 padding-bottom-1 padding-top-1 border-y border-primary-light">
    <dl class='grid-col-fill margin-bottom-0'>
      <div>
        <dt class="display-inline"> <%= t('idv.form.address1') %>: </dt>
        <dd class="display-inline margin-left-0"> <%= pii[:address1] %> </dd>
      </div>
      <div>
        <dt class="display-inline"> <%= t('idv.form.city') %>: </dt>
        <dd class="display-inline margin-left-0"> <%= pii[:city] %> </dd>
      </div>
      <div>
        <dt class="display-inline"> <%= t('idv.form.state') %>: </dt>
        <dd class="display-inline margin-left-0"> <%= pii[:state] %> </dd>
      </div>
      <div>
        <dt class="display-inline"> <%= t('idv.form.zipcode') %>: </dt>
        <dd class="display-inline margin-left-0"> <%= pii[:zipcode] %> </dd>
      </div>
    </dl>
  </div>
  <div class="grid-row grid-gap grid-gap-2 padding-top-1">
    <div class='grid-col-fill'>
      <%= t('idv.form.ssn') %>:
      <%= render(
            'shared/masked_text',
            text: SsnFormatter.format(pii[:ssn]),
            masked_text: SsnFormatter.format_masked(pii[:ssn]),
            accessible_masked_text: t(
              'idv.accessible_labels.masked_ssn',
              first_number: pii[:ssn][0],
              last_number: pii[:ssn][-1],
            ),
            toggle_label: t('forms.ssn.show'),
          ) %>
    </div>
  </div>
</div>

<% javascript_packs_tag_once 'form-steps-wait' %>
