<% title t('doc_auth.headings.lets_go') %>

<%= render AlertComponent.new(
      type: :error,
      class: [
        'js-consent-form-alert',
        'margin-bottom-4',
        flow_session[:error_message].blank? && 'display-none',
      ].select(&:present?),
      message: flow_session[:error_message].presence || t('errors.doc_auth.consent_form'),
    ) %>

<%= render PageHeadingComponent.new.with_content(t('doc_auth.headings.lets_go')) %>
<p><%= t('doc_auth.info.lets_go') %></p>
<h2><%= t('doc_auth.headings.verify_identity') %></h2>
<p><%= t('doc_auth.info.verify_identity') %></p>
<h2><%= t('doc_auth.headings.secure_account') %></h2>
<p><%= t('doc_auth.info.secure_account') %></p>

<%= simple_form_for(
      :doc_auth,
      url: url_for,
      method: 'put',
      html: { autocomplete: 'off', class: 'margin-top-2 margin-bottom-5 js-consent-continue-form' },
    ) do |f| %>
  <%= render ValidatedFieldComponent.new(
        form: f,
        name: :ial2_consent_given,
        as: :boolean,
        label: capture do %>
          <%= t('doc_auth.instructions.consent', app_name: APP_NAME) %>
          <%= new_window_link_to(
                t('doc_auth.instructions.learn_more'),
                MarketingSite.security_and_privacy_practices_url,
              ) %>
        <% end,
        required: true,
      ) %>
  <%= f.submit t('doc_auth.buttons.continue'), class: 'margin-top-4' %>
<% end %>

<%= render 'idv/doc_auth/cancel', step: 'agreement' %>

<%= javascript_packs_tag_once('document-capture-welcome') %>
