<% title t('inherited_proofing.headings.welcome') %>

<%= render JavascriptRequiredComponent.new(
      header: t('idv.welcome.no_js_header'),
      intro: t('idv.welcome.no_js_intro', sp_name: decorated_session.sp_name || t('inherited_proofing.info.no_sp_name')),
    ) do %>
  <%= render PageHeadingComponent.new.with_content(t('inherited_proofing.headings.welcome')) %>
  <p>
    <%= t('inherited_proofing.info.welcome_html', sp_name: decorated_session.sp_name || t('inherited_proofing.info.no_sp_name')) %>
  </p>

  <%= t('inherited_proofing.instructions.welcome') %>
  <b>
    <%= t('inherited_proofing.instructions.verify_requirements') %>
  </b>
  <br/>
  <div>
    <br/>
    <%= t('inherited_proofing.instructions.verification_content') %>
  </div>

  <%= render(
        'shared/troubleshooting_options',
        heading_tag: :h3,
        heading: t('inherited_proofing.troubleshooting.headings.missing_required_items'),
        options: [
          {
            url: @presenter.learn_more_phone_or_mail_url,
            text: t('inherited_proofing.troubleshooting.options.learn_more_phone_or_mail'),
            new_tab: true,
          },
          {
            url: @presenter.get_help_url,
            text: t(
              'inherited_proofing.troubleshooting.options.get_help',
              sp_name: decorated_session.sp_name,
            ),
            new_tab: true,
          },
          decorated_session.sp_name && {
            url: idv_inherited_proofing_return_to_sp_path(location: 'missing_items'),
            text: t('idv.troubleshooting.options.get_help_at_sp', sp_name: decorated_session.sp_name),
            new_tab: true,
          },
        ].select(&:present?),
      ) %>
  <%= simple_form_for :inherited_proofing,
                      url: url_for,
                      method: 'put',
                      html: { autocomplete: 'off', class: 'margin-y-5' } do |f| %>
    <%= f.submit t('inherited_proofing.buttons.continue') %>
  <% end %>

  <h3><%= t('inherited_proofing.instructions.privacy') %></h3>
  <p>
    <%= t(
          'inherited_proofing.info.privacy_html',
          app_name: APP_NAME,
          link: new_window_link_to(
            t('inherited_proofing.instructions.learn_more'),
            MarketingSite.security_and_privacy_practices_url,
          ),
        ) %>
  </p>

  <%= render 'shared/cancel', link: idv_inherited_proofing_cancel_path(step: 'get_started') %>
<% end %>
