<% title t('titles.phone_setup') %>
<%= image_tag asset_url('2FA-voice.svg'), width: 200, class: 'mb2' %>

<div class="h5 caps bold my1 accent-blue"><%= t('sign_up.current_step', step: @presenter.step) %></div>
<h1 class="h3 my0">
  <%= t('titles.phone_setup') %>
</h1>
<p class="mt-tiny mb0">
  <%= t('two_factor_authentication.phone_info_html') %>
</p>
<p class="mt-tiny mb1">
  <%= t('two_factor_authentication.phone_fee_disclosure') %>
</p>

<%= render 'users/shared/phone_form',
    http_method: :patch,
    target_url: phone_setup_path,
    button: t('forms.buttons.send_security_code') %>

<div class="mt2 pt1 border-top">
  <%= link_to t('two_factor_authentication.choose_another_option'), two_factor_options_path %>

  <%= stylesheet_link_tag 'intl-tel-number/intlTelInput' %>
  <%= javascript_pack_tag 'intl-tel-input' %>
</div>
