<% title t('titles.phone_setup') %>

<%= render(VendorOutageAlertComponent.new(vendors: [:sms, :voice])) %>

<%= image_tag asset_url('2FA-voice.svg'), alt: '', width: 200, class: 'margin-bottom-2' %>

<%= render PageHeadingComponent.new.with_content(t('titles.phone_setup')) %>

<p>
  <%= t('two_factor_authentication.phone_info_html') %>
</p>
<p>
  <%= t('two_factor_authentication.phone_fee_disclosure') %>
  <% if IdentityConfig.store.voip_block %>
    <%= t('two_factor_authentication.two_factor_choice_options.phone_info_no_voip') %>
  <% end %>
</p>

<%= validated_form_for(
      @new_phone_form,
      html: { autocomplete: 'off', method: :patch },
      data: { international_phone_form: true },
      url: phone_setup_path,
    ) do |f| %>

  <%= render PhoneInputComponent.new(form: f, confirmed_phone: false, required: true, class: 'margin-bottom-4') %>

  <%= render 'users/shared/otp_delivery_preference_selection',
             form_obj: @new_phone_form %>

  <%= link_to t('two_factor_authentication.mobile_terms_of_service'),
              MarketingSite.messaging_practices_url,
              class: 'display-block margin-bottom-4' %>

  <% if TwoFactorAuthentication::PhonePolicy.new(current_user).enabled? %>
    <%= render 'users/shared/otp_make_default_number',
               form_obj: @new_phone_form %>
  <% end %>
  <%= f.submit t('forms.buttons.send_security_code') %>
<% end %>

<%= render 'shared/cancel_or_back_to_options' %>
