<% title t('titles.spam_protection') %>

<%= image_tag asset_url('2FA-voice.svg'), alt: '', width: 200, height: 113, class: 'margin-bottom-2' %>

<%= render PageHeadingComponent.new.with_content(t('titles.spam_protection')) %>

<p><%= t('forms.spam_protection.description') %></p>

<%= simple_form_for(@new_phone_form, url: request.url, method: :post) do |f| %>
  <%= f.input :phone, as: :hidden %>
  <%= f.input :international_code, as: :hidden %>
  <%= f.input :otp_delivery_preference, as: :hidden %>
  <%= f.input :otp_make_default_number, as: :hidden %>
  <%= f.input :recaptcha_version, as: :hidden, input_html: { value: 2 } %>
  <%= f.input :recaptcha_token, as: :hidden, input_html: { id: :recaptcha_token } %>
  <%= javascript_tag(nonce: true) do %>
    function onCaptchaResponse(token) {
      const input = document.getElementById('recaptcha_token');
      input.value = token;
      input.closest('form').submit();
    }
  <% end %>
  <div
    class="g-recaptcha"
    data-sitekey="<%= IdentityConfig.store.recaptcha_site_key_v2 %>"
    data-callback="onCaptchaResponse"
  ></div>
  <script src="https://www.google.com/recaptcha/api.js" async></script>
<% end %>

<%= render TroubleshootingOptionsComponent.new do |c| %>
  <% c.header { t('components.troubleshooting_options.default_heading') } %>
  <% if local_assigns[:two_factor_options_path].present? %>
    <% c.option(
         url: two_factor_options_path,
       ).with_content(t('two_factor_authentication.login_options_link_text')) %>
  <% end %>
  <% c.option(
       url: MarketingSite.help_center_article_url(
         category: 'get-started',
         article: 'authentication-options',
       ),
       new_tab: true,
     ).with_content(t('two_factor_authentication.phone_verification.troubleshooting.learn_more')) %>
<% end %>
