<% title t('titles.two_factor_setup') %>

<%= render(VendorOutageAlertComponent.new(vendors: [:sms, :voice], context: :voice, only_if_all: true)) %>

<% if @presenter.icon %>
  <%= image_tag(
        asset_url(@presenter.icon),
        class: 'margin-bottom-3',
        alt: @presenter.icon_alt_text,
      ) %>
<% end %>

<%= render PageHeadingComponent.new.with_content(@presenter.heading) %>

<p class="maxw-mobile-lg margin-bottom-0"><%= @presenter.intro %></p>

<%= render 'partials/multi_factor_authentication/setup_screen', url: two_factor_options_path %>
