<% title t('titles.two_factor_setup') %>

<%= render(VendorOutageAlertComponent.new(vendors: [:sms, :voice], context: :voice, only_if_all: true)) %>

<% if @presenter.icon %>
  <%= image_tag(
        asset_url(@presenter.icon),
        class: 'margin-bottom-3',
        alt: @presenter.icon_alt_text,
      ) %>
<% end %>

<h1 class="margin-y-0"><%= @presenter.heading %></h1>

<p class="mt-tiny"><%== @presenter.intro %></p>

<%= render(AlertComponent.new) { t('two_factor_authentication.lockout_information') } %>

<%= validated_form_for @two_factor_options_form,
                       html: { autocomplete: 'off' },
                       method: :patch,
                       url: two_factor_options_path do |f| %>
  <div class="margin-bottom-4">
    <fieldset class="margin-0 padding-0 border-0">
      <legend class="margin-bottom-2"><%= t('forms.two_factor_choice.legend') %>:</legend>
      <% @presenter.options.each do |option| %>
        <div id="<%= "select_#{option.type}" %>" class="<%= option.html_class %>">
          <%= radio_button_tag(
                'two_factor_options_form[selection]',
                option.type,
                false,
                disabled: option.disabled?,
                class: 'usa-radio__input usa-radio__input--tile',
              ) %>
          <%= label_tag(
                "two_factor_options_form_selection_#{option.type}",
                class: 'usa-radio__label',
              ) do %>
                <%= option.label %>
                <span class="usa-radio__label-description position-relative padding-bottom-4">
                  <%= option.info %>
                  <% if option.security_level && @presenter.show_security_level? %>
                    <span class="usa-tag pin-bottom pin-right <%= option.disabled? ? 'bg-base-light' : 'bg-info-dark' %>">
                      <%= option.security_level %>
                    </span>
                  <% end %>
                </span>
              <% end %>
        </div>
      <% end %>
    </fieldset>
  </div>

  <div>
    <%= f.button :submit, t('forms.buttons.continue'), class: 'usa-button--big usa-button--wide margin-bottom-1' %>
  </div>
<% end %>

<%= render 'shared/cancel', link: destroy_user_session_path %>

<%= javascript_packs_tag_once('webauthn-unhide-signup') %>
