<% title t('titles.two_factor_setup') %>

<%= render(VendorOutageAlertComponent.new(vendors: [:sms, :voice], context: :voice, only_if_all: true)) %>

<% if @presenter.icon %>
  <%= image_tag(
        asset_url(@presenter.icon),
        class: 'margin-bottom-3',
        alt: @presenter.icon_alt_text,
      ) %>
<% end %>

<%= render PageHeadingComponent.new.with_content(@presenter.heading) %>

<p class="margin-bottom-0"><%= @presenter.intro %></p> <!-- TBD -->

<%= simple_form_for @two_factor_options_form,
                    html: { autocomplete: 'off' },
                    method: :patch,
                    url: authentication_methods_setup_path do |f| %>
  <div class="margin-bottom-4">
    <fieldset class="margin-0 padding-0 border-0">
      <legend class="margin-bottom-2 usa-sr-only"><%= @presenter.intro %></legend>
      <% if IdentityConfig.store.select_multiple_mfa_options %>
        <%= hidden_field_tag 'two_factor_options_form[selection][]', nil %>
      <% end %>
      <% @presenter.options.each do |option| %>
        <div id="<%= "select_#{option.type}" %>" class="<%= option.html_class %>">
          <% if IdentityConfig.store.select_multiple_mfa_options %>
            <%= render partial: 'partials/multi_factor_authentication/mfa_selection',
                       locals: { form: f, option: option } %>
          <% else %>
            <%= radio_button_tag(
                  'two_factor_options_form[selection]',
                  option.type,
                  false,
                  disabled: option.disabled?,
                  class: 'usa-radio__input usa-radio__input--tile',
                ) %>
            <%= label_tag(
                  "two_factor_options_form_selection_#{option.type}",
                  class: 'usa-radio__label usa-radio__label--illustrated',
                ) do %>
                    <%= image_tag(asset_url("mfa-options/#{option.type}.svg"), alt: "#{option.label} icon", class: 'usa-radio__image') %>
                    <div class="usa-radio__label--text"><%= option.label %>
                      <span class="usa-radio__label-description">
                        <%= option.info %>
                      </span>
                    </div>
                  <% end %>
          <% end %>
        </div>
      <% end %>
    </fieldset>
  </div>

  <%= f.submit t('forms.buttons.continue'), class: 'margin-bottom-1' %>
<% end %>

<%= render 'shared/cancel', link: destroy_user_session_path %>

<%= javascript_packs_tag_once('webauthn-unhide') %>

