<%= render 'idv/shared/step_indicator', current_step: :verify_address %>

<% self.title = t('titles.idv.come_back_soon') %>

<%= render ADS::FormPageComponent.new(title: t('idv.titles.come_back_later')) do |page| %>
  <% page.with_body do %>
    <%= render ADS::StackComponent.new(gap: 24) do %>
      <div class="ads-copy">
        <p><%= t('idv.gpo.will_send_to', app_name: APP_NAME) %></p>
      </div>

      <%= render CardComponent.new(padding: :compact) do %>
        <div class="ads-card__stack">
          <p class="ads-card__description">
            <%= safe_join(@presenter.address_lines, tag.br) %>
          </p>
        </div>
      <% end %>

      <div class="ads-copy">
        <% if @presenter.show_sp_contact_instructions? %>
          <ul class="ads-list">
            <li><%= t('idv.messages.come_back_later') %></li>
            <li>
              <% sp_link_html = capture do %>
                <%= render ADS::LinkComponent.new(url: @presenter.button_destination) do %>
                  <%= @presenter.sp_name %>
                <% end %>
              <% end %>
              <%= t('idv.messages.contact_sp_html', sp_link_html:) %>
            </li>
          </ul>
        <% else %>
          <p><%= t('idv.messages.come_back_later') %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% page.with_actions do %>
    <%= render ButtonComponent.new(url: @presenter.button_destination, size: :lg).with_content(
          t('idv.cancel.actions.exit', app_name: APP_NAME),
        ) %>
  <% end %>
<% end %>
