<% self.title = t('titles.passwords.forgot') %>

<%= render ADS::FormPageComponent.new(
      title: t('headings.passwords.forgot'),
      subtitle: t('instructions.password.forgot'),
    ) do |page| %>
  <% page.with_body do %>
    <% sp_alert = decorated_sp_session.sp_alert('forgot_password') %>
    <% if sp_alert.present? %>
      <%= render AlertComponent.new(
            type: :neutral,
            message: sanitize(
              sp_alert,
              tags: %w[a b strong em br p ol ul li],
              attributes: %w[href target],
            ),
            dismissible: false,
          ) %>
    <% end %>

    <%= form_with(
          model: @password_reset_email_form,
          url: user_password_path,
          local: true,
          class: 'ads-form',
        ) do |f| %>
      <%= render InputComponent.new(
            form: f,
            attribute: :email,
            type: :email,
            label: t('account.index.email_short'),
            required: true,
            autocorrect: 'off',
            autocomplete: 'email',
            error_message: @password_reset_email_form.errors.full_messages_for(:email).first,
          ) %>
      <%= render ButtonComponent.new(
            type: :submit,
          ).with_content(t('forms.buttons.send_link')) %>
    <% end %>

    <div class="ads-copy ads-copy--centered">
      <p><%= t('forms.passwords.reset.having_trouble') %></p>
      <%= render ADS::LinkComponent.new(
            url: help_center_redirect_path(
              category: 'trouble-signing-in',
              article: 'forgot-your-password',
            ),
            target: '_blank',
            rel: 'noopener',
            class: 'ads-link--nowrap',
          ) do %>
        <%= t('forms.passwords.reset.how_to_reset') %>
      <% end %>
    </div>
  <% end %>
<% end %>
