<% title t('titles.passwords.forgot') %>
<% request_id = params[:request_id] || sp_session[:request_id] %>

<%= render 'shared/sp_alert' %>

<%= render PageHeadingComponent.new.with_content(t('headings.passwords.forgot')) %>

<p id="email-description">
  <%= t('instructions.password.forgot') %>
</p>

<%= simple_form_for(
      @password_reset_email_form,
      url: user_password_path,
      html: { autocomplete: 'off', method: :post },
    ) do |f| %>
  <%= render ValidatedFieldComponent.new(
        form: f,
        name: :email,
        label: t('account.index.email'),
        required: true,
        input_html: { autocorrect: 'off',
                      aria: { invalid: false, describedby: 'email-description' } }
      ) %>
  <%= f.input :request_id, as: :hidden, input_html: { value: request_id } %>
  <%= f.submit t('forms.buttons.continue'), class: 'display-block margin-y-5' %>
<% end %>

<%= render(PageFooterComponent.new) do %>
  <%= link_to t('links.cancel'), decorated_session.cancel_link_url %>
<% end %>
