<% self.title = t('doc_auth.headings.how_to_verify') %>

<%= render PageHeadingComponent.new.with_content(t('doc_auth.headings.how_to_verify')) %>
<p id='how-to-verify-info'><%= t('doc_auth.info.how_to_verify') %></p>

<%= simple_form_for(
      @idv_how_to_verify_form,
      html: { autocomplete: 'off' },
      method: :put,
      url: idv_how_to_verify_url,
    ) do |f|
%>
  <div role="group" aria-labelledby="how-to-verify-info">
    <%= f.hidden_field(
          :selection, :value => Idv::HowToVerifyForm::REMOTE,
        ) %>
    <%= f.label(
          :selection_remote,
        ) do %>
          <div class="grid-row border-bottom border-primary-light">
            <div classe="tablet:grid-col">
              <%= image_tag asset_url('idv/remote.svg'),
                            width: 88,
                            height: 88,
                            class: 'margin-right-1',
                            alt: t('image_description.laptop_and_phone')
              %>
            </div>
            <div class="tablet:grid-col">
              <h3 class="margin-top-0"><%= t('doc_auth.headings.verify_online') %></h3>
              <div>
                <p><%= t('doc_auth.info.verify_online_instruction') %></p>
                <p><%= t('doc_auth.info.verify_online_description') %></p>
              </div>
              <%= f.submit t('forms.buttons.continue_remote'), class: 'display-block margin-y-5' %>
            </div>
          </div>
        <% end %>
  </div>
<% end %>
<%= simple_form_for(
      @idv_how_to_verify_form,
      html: { autocomplete: 'off' },
      method: :put,
      url: idv_how_to_verify_url,
    ) do |f|
%>
  <div role="group" aria-labelledby="how-to-verify-info">
    <%= f.hidden_field(
          :selection, :value => Idv::HowToVerifyForm::IPP,
        ) %>
    <%= f.label(
          :selection_ipp,
        ) do %>
          <div class="grid-row">
            <div classe="tablet:grid-col">
              <%= image_tag asset_url('idv/in-person.svg'),
                            width: 88,
                            height: 88,
                            class: 'margin-right-1',
                            alt: t('image_description.post_office')
              %>
            </div>
            <div class="tablet:grid-col">
              <h3 class="margin-top-0"><%= t('doc_auth.headings.verify_at_post_office') %></h3>
              <div>
                <p><%= t('doc_auth.info.verify_at_post_office_instruction') %></p>
                <p><%= t('doc_auth.info.verify_at_post_office_description') %></p>
              </div>
              <%= f.submit t('forms.buttons.continue_ipp'), class: 'display-block margin-y-5', outline: true %>
            </div>
          </div>
        <% end %>
  </div>
<% end %>

<%= render(
      'shared/troubleshooting_options',
      heading_tag: :h3,
      heading: t('doc_auth.info.how_to_verify_troubleshooting_options_header'),
      options: [
        {
          url: MarketingSite.help_center_article_url(
            category: 'verify-your-identity',
            article: 'how-to-verify-your-identity',
          ),
          text: t('doc_auth.info.verify_online_link_text'),
          new_tab: true,
        },
        {
          url: MarketingSite.help_center_article_url(
            category: 'verify-your-identity',
            article: 'verify-your-identity-in-person',
          ),
          text: t('doc_auth.info.verify_at_post_office_link_text'),
          new_tab: true,
        },
      ],
    ) %>
