<% title t('doc_auth.headings.how_to_verify') %>

<%= render PageHeadingComponent.new.with_content(t('doc_auth.headings.how_to_verify')) %>
<p><%= t('doc_auth.info.how_to_verify') %></p>

<%= simple_form_for(
      @idv_how_to_verify_form,
      html: { autocomplete: 'off' },
      method: :put,
      url: idv_how_to_verify_url,
    ) do |f|
%>
  <div role="group" aria-label="<%= t('doc_auth.headings.how_to_verify') %>">
    <%= radio_button_tag(
          'idv_how_to_verify_form[selection]',
          HowToVerifyController::REMOTE,
          false,
          class: 'usa-radio__input usa-radio__input--tile',
        ) %>
    <%= label_tag(
          'idv_how_to_verify_form_selection_remote',
          class: 'usa-radio__label usa-radio__label--illustrated',
        ) do %>
          <%= image_tag asset_url('idv/remote.svg'),
                        class: 'usa-radio__image position-absolute left-2',
                        style: 'top: 50px; width: 88px',
                        alt: t('image_description.laptop')
          %>
          <div class="usa-radio__label--text margin-left-6">
            <span class="usa-tag text-light bg-primary-darker margin-bottom-2">
              <%= t('doc_auth.tips.most_common') %>
            </span>
            <p class="text-gray-70"><%= t('doc_auth.headings.verify_online') %></p>
            <span class="usa-radio__label-description">
              <%= t(
                    'doc_auth.info.verify_online_html',
                    help_url:
                      MarketingSite.help_center_article_url(
                        category: 'verify-your-identity',
                        article: 'how-to-verify-your-identity',
                      ),
                  ) %>
            </span>
          </div>
        <% end %>
    <%= radio_button_tag(
          'idv_how_to_verify_form[selection]',
          HowToVerifyController::IPP,
          false,
          class: 'usa-radio__input usa-radio__input--tile',
        ) %>
    <%= label_tag(
          'idv_how_to_verify_form_selection_ipp',
          class: 'usa-radio__label usa-radio__label--illustrated',
        ) do %>
          <%= image_tag asset_url('idv/in-person.svg'),
                        class: 'usa-radio__image position-absolute left-2',
                        style: 'top: 50px; width: 88px',
                        alt: t('image_description.post_office')
          %>
          <div class="usa-radio__label--text margin-left-6">
            <p class="text-gray-70"><%= t('doc_auth.headings.verify_at_post_office') %></p>
            <span class="usa-radio__label-description">
              <%= t(
                    'doc_auth.info.verify_at_post_office_html', help_url:
                MarketingSite.help_center_article_url(
                  category: 'verify-your-identity',
                  article: 'verify-your-identity-in-person',
                )
                  ) %>
            </span>
          </div>
        <% end %>
  </div>
  <%= f.submit t('forms.buttons.continue'), class: 'display-block margin-y-5' %>
<% end %>
