<div class="border-y border-primary-light bg-primary-lightest padding-y-3 text-center">
  <div class="bg-personal-key padding-top-4 margin-y-2">
    <div class="personal-key-block">
      <% code.split('-').each do |word| %>
        <% concat(content_tag(:strong, word, class: 'personal-key-block__code', data: { personal_key: '' })) %>
      <% end %>
    </div>
  </div>
  <p class="margin-bottom-105">
    <%= t(
          'users.personal_key.generated_on_html',
          date: content_tag(:strong, I18n.l(Time.zone.today, format: '%B %d, %Y')),
        ) %>
  </p>
  <% if show_download_buttons %>
    <%= render ClipboardButtonComponent.new(clipboard_text: code, unstyled: true) %>
    <%= render ClickObserverComponent.new(event_name: 'IdV: download personal key') do %>
      <%= render DownloadButtonComponent.new(
            file_data: code,
            file_name: 'personal_key.txt',
            unstyled: true,
            class: 'margin-x-2 display-inline-block',
          ).with_content(t('forms.personal_key.download')) %>
    <% end %>
    <%= render PrintButtonComponent.new(unstyled: true) %>
  <% end %>
</div>
