<% self.title = t('titles.verify_email') %>

<%= render PageHeadingComponent.new.with_content(t('headings.verify_email')) %>

<p><%= t('account_reset.confirm_request.instructions_start') %>
  <strong><%= email %></strong>
  <%= t('account_reset.confirm_request.instructions_end') %>
</p>

<div class="width-10">
  <hr class="margin-y-4 border-width-05 border-info">
</div>

<% if sms_phone %>
  <p><%= t('account_reset.confirm_request.security_note') %></p>
<% end %>

<p><%= t('account_reset.confirm_request.close_window') %></p>
