<div class="usa-accordion usa-accordion--bordered">
  <<%= options.fetch(:heading_level, 'div') %> class="usa-accordion__heading">
    <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="<%= target_id %>">
      <%= header_text %>
    </button>
  </<%= options.fetch(:heading_level, 'div') %>>
  <div id="<%= target_id %>" class="usa-accordion__container">
    <div class="usa-accordion__content usa-prose">
      <%= yield %>
    </div>
  </div>
</div>
