<header aria-label="banner">
  <%= render 'shared/no_pii_banner' if FeatureManagement.show_no_pii_banner? %>
  <section class="usa-banner" aria-label="<%= t('shared.banner.landmark_label') %>">
    <div class="usa-accordion">
      <div class="usa-banner__header">
        <div class="usa-banner__inner">
          <%= image_tag(
                asset_url('us-flag.png'),
                alt: t('image_description.us_flag'),
                size: '18x12',
                class: 'margin-right-1',
              ) %>
          <div class="grid-col-fill tablet:grid-col-auto">
            <p class="usa-banner__header-text">
              <%= FeatureManagement.show_demo_banner? ? t('shared.banner.fake_site') : t('shared.banner.official_site') %>
            </p>
            <p class="usa-banner__header-action" aria-hidden="true"><%= t('shared.banner.how') %></p>
          </div>
          <button class="usa-accordion__button usa-banner__button" aria-expanded="false" aria-controls="gov-banner">
            <span class="usa-banner__button-text"><%= t('shared.banner.how') %></span>
          </button>
        </div>
      </div>
      <div class="usa-banner__content usa-accordion__content" id="gov-banner">
        <%= javascript_tag(nonce: true) do %>
          document.getElementById('gov-banner').setAttribute('hidden', '');
        <% end %>
        <div class="grid-row grid-gap-lg">
          <div class="usa-banner__guidance tablet:grid-col-6">
            <%= image_tag(
                  asset_url('icon-dot-gov.svg'),
                  size: 40,
                  alt: 'Dot gov',
                  class: 'usa-banner__icon usa-media-block__img',
                ) %>
            <div class="usa-media-block__body">
              <p>
                <strong><%= t('shared.banner.gov_heading') %></strong>
                <br> <%= t('shared.banner.gov_description_html') %>
              </p>
            </div>
          </div>
          <div class="usa-banner__guidance tablet:grid-col-6">
            <%= image_tag(
                  asset_url('icon-https.svg'),
                  size: 40,
                  alt: 'Https',
                  class: 'usa-banner__icon usa-media-block__img',
                ) %>
            <div class="usa-media-block__body">
              <p>
                <strong><%= t('shared.banner.secure_heading') %></strong>
                <br> <%= t('shared.banner.secure_description_html', lock_icon: render('shared/banner-lock-icon')) %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="page-header<%= ' page-header--basic' if !content_for?(:header) %>">
    <% if content_for?(:header) %>
      <%= yield(:header) %>
    <% else %>
      <% if decorated_session.sp_name %>
        <%= render 'shared/nav_branded' %>
      <% else %>
        <%= render 'shared/nav_lite' %>
      <% end %>
    <% end %>
  </div>
</header>
