<% title presenter.title %>

<%= image_tag(asset_url(presenter.state_icon), alt: '', width: 54, class: 'display-block margin-bottom-4') %>

<% if presenter.header %>
  <%= render PageHeadingComponent.new.with_content(presenter.header) %>
<% end %>

<% Array(presenter.description).each do |description_p| %>
  <p><%= description_p %></p>
<% end %>

<%= render(
      'shared/troubleshooting_options',
      heading: t('components.troubleshooting_options.default_heading'),
      options: presenter.troubleshooting_options,
    ) %>

<% if presenter.js %>
  <%= backwards_compatible_javascript_tag presenter.js %>
<% end %>
