<footer class='footer bg-primary-lighter tablet:bg-primary-darker'>
  <div class="tablet:display-none border-bottom border-primary-light">
    <%= render LanguagePickerComponent.new %>
  </div>
  <div class="padding-y-1 padding-x-2 tablet:padding-x-0 tablet:padding-y-0">
    <div class="display-flex flex-align-center flex-justify-center">
      <div class="display-flex flex-auto">
        <div class="display-flex tablet:display-none">
          <%= new_window_link_to 'https://gsa.gov', { class: 'text-no-underline h6 margin-right-2 tablet:display-none',
                                                      'aria-label': t('shared.footer_lite.gsa') } do %>
            <%= image_tag asset_url('sp-logos/square-gsa-dark.svg'),
                          width: 20, alt: '' %>
          <% end %>
        </div>

        <div class="display-none tablet:display-flex usa-dark-background bg-primary-darker">
          <%= new_window_link_to 'https://gsa.gov', { class: 'text-no-underline h6 margin-right-2',
                                                      'aria-label': t('shared.footer_lite.gsa') } do %>
            <%= image_tag asset_url('sp-logos/square-gsa.svg'),
                          width: 20, class: 'float-left margin-right-1', alt: '' %>
            <span>
              <%= t('shared.footer_lite.gsa') %>
            </span>
          <% end %>
        </div>
      </div>
      <div class="display-flex flex-align-center flex-justify-center">
        <div class="display-none tablet:display-block margin-x-2 margin-y-05">
          <%= render LanguagePickerComponent.new %>
        </div>

        <div class="display-flex tablet:display-none">
          <%= new_window_link_to(
                t('links.help'), MarketingSite.help_url,
                class: 'h6 text-primary text-no-underline margin-right-2'
              ) %>
          <%= new_window_link_to(
                t('links.contact'), MarketingSite.contact_url,
                class: 'h6 text-primary text-no-underline margin-right-2'
              ) %>
          <%= new_window_link_to(
                t('links.privacy_policy'), MarketingSite.security_and_privacy_practices_url,
                class: 'h6 text-primary text-no-underline'
              ) %>
        </div>

        <div class="display-none tablet:display-flex usa-dark-background bg-primary-darker">
          <%= new_window_link_to(
                t('links.help'), MarketingSite.help_url,
                class: 'h6 text-no-underline margin-right-2'
              ) %>
          <%= new_window_link_to(
                t('links.contact'), MarketingSite.contact_url,
                class: 'h6 text-no-underline margin-right-2'
              ) %>
          <%= new_window_link_to(
                t('links.privacy_policy'), MarketingSite.security_and_privacy_practices_url,
                class: 'h6 text-no-underline'
              ) %>
        </div>
      </div>
    </div>
  </div>
</footer>
