<%
  maintenance_window = MaintenanceWindow.new(
    start: IdentityConfig.store.acuant_maintenance_window_start,
    finish: IdentityConfig.store.acuant_maintenance_window_finish,
    now: local_assigns[:now],
  )
%>
<% if maintenance_window.active? %>
  <%= render AlertComponent.new(type: :warning, class: 'margin-bottom-2', text_tag: 'div') do %>
    <p>
      <%= t('notices.maintenance.currently_under_maintenance_html',
            finish: l(maintenance_window.finish,
                      format: t('time.formats.event_timestamp_with_zone'))) %>
    </p>
    <p class="margin-bottom-0">
      <%= t('notices.maintenance.need_assistance') %>
      <%= link_to(t('notices.maintenance.contact_us'), MarketingSite.contact_url) %>
    </p>
  <% end %>
<% else %>
  <%= yield %>
<% end %>
