<div id="personal-key-confirm" class="display-none" tabindex='-1'>
  <%= render layout: '/shared/modal_layout', locals: { role: 'dialog' } do |label_id, description_id| %>
      <div class="padding-y-8 padding-x-2 tablet:padding-x-8 cntnr-skinny bg-white radius-lg iconic-modal-badge personal-key-badge">
      <h2 class="margin-top-0 margin-bottom-2" id="<%= label_id %>">
        <%= t('forms.personal_key.title') %>
      </h2>
      <p class="margin-bottom-4" id="<%= description_id %>">
        <%= t('forms.personal_key.instructions') %>
      </p>

      <%= simple_form_for('', url: update_path, id: 'confirm-key') do |f| %>
        <%= render 'shared/personal_key_input', code: code, form: f %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="grid-row grid-gap">
          <div class="grid-col-12 tablet:grid-col-6 margin-bottom-2 tablet:margin-bottom-0 tablet:display-none">
            <button type="submit" class="usa-button usa-button--big usa-button--full-width personal-key-confirm">
              <%= t('forms.buttons.continue') %>
            </button>
          </div>
          <div class="grid-col-12 tablet:grid-col-6">
            <button class="usa-button usa-button--big usa-button--full-width usa-button--outline" type="button" data-dismiss="personal-key-confirm">
              <%= t('forms.buttons.back') %>
            </button>
          </div>
          <div class="grid-col-12 tablet:grid-col-6 margin-bottom-2 tablet:margin-bottom-0 display-none tablet:display-block">
            <button type="submit" class="usa-button usa-button--big usa-button--full-width personal-key-confirm">
              <%= t('forms.buttons.continue') %>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
