<%= render PageHeadingComponent.new.with_content(t('forms.personal_key_partial.header')) %>
<div class="full-width-box margin-y-5">
  <%= render 'partials/personal_key/key', code: code %>
</div>

<br />

<div>
  <%= render AccordionComponent.new do |c| %>
    <% c.header { t('forms.personal_key_partial.explanation.header') } %>
    <% t('forms.personal_key_partial.explanation.text').each do |paragraph| %>
      <p><%= paragraph %></p>
    <% end %>
  <% end %>
</div>

<%= simple_form_for('') do |f| %>
  <% @acceptance_prompt = capture do %>
    <p>
      <b>
        <%= t('forms.personal_key_partial.acknowledgement.header') %>
      </b>
    </p>
    <p>
      <%= t('forms.personal_key_partial.acknowledgement.text') %>
      <ul>
        <% t('forms.personal_key_partial.acknowledgement.bullets').each do |bullet| %>
          <li><%= bullet %></li>
        <% end %>
      </ul>
    </p>
    <p>
      <%= t('forms.personal_key_partial.acknowledgement.instructions') %>
    </p>
  <% end %>

  <%= render ValidatedFieldComponent.new(
        form: f,
        name: :acknowledgment
        as: :boolean,
        label: @acceptance_prompt,
        label_html: { class: 'margin-y-0' },
        required: true,
      ) %>

  <%= button_to(
        t('forms.buttons.continue'),
        update_path,
        class: 'display-block usa-button usa-button--full-width usa-button--wide personal-key-continue margin-top-5',
        'data-toggle': FeatureManagement.idv_personal_key_confirmation_enabled? ? 'modal' : 'skip',
      ) %>
<% end %>

<%= render 'shared/personal_key_confirmation_modal', code: code, update_path: update_path %>
<%== javascript_packs_tag_once 'personal-key-page-controller' %>
