<h1 class="h3 my0"><%= t('headings.personal_key') %></h1>
<p class="mt-tiny mb4">
  <%= t('instructions.personal_key.info_html',
        accent: content_tag(:strong, t('instructions.personal_key.accent'))) %>
</p>
<div class="full-width-box">
  <%= render 'partials/personal_key/key', code: code %>
</div>
<br>
<div class="sm-col sm-col-4 center">
  <%= link_to t('forms.backup_code.download'), idv_download_personal_key_path,
              class: 'usa-button usa-button--outline' %>
</div>
<div class="sm-col sm-col-4 center">
  <%= link_to t('users.personal_key.print'), '#', data: {print: true},
              class: 'usa-button usa-button--outline' %>
</div>
<div class="sm-col sm-col-4 center">
  <%= link_to t('links.copy'), '#', data: {"clipboard-text": code},
              class: 'usa-button usa-button--outline clipboard' %>
</div>
<br>
<br>
<br>
<div class="sm-col sm-col-2 pr2">
  <%= image_tag(asset_url('alert/icon-lock-alert-important.svg'), alt: '', size: '80') %>
</div>
<div class="sm-col sm-col-10">
  <div class="bold mb0">
    <%= t('instructions.personal_key.email_title') %>
  </div>
  <p><%= t('instructions.personal_key.email_body') %></p>
</div>
<br>
<br>
<br>
<br>
<p>
  <%= button_to t('forms.buttons.continue'), update_path,
                class: 'btn btn-primary btn-wide mb1 personal-key-continue sm-col-6 col-12 mb2',
                'data-toggle': 'modal' %>
</p>
<%= render 'shared/personal_key_confirmation_modal', code: code, update_path: update_path %>
<%== javascript_packs_with_chunks_tag 'personal-key-page-controller', 'clipboard' %>
