<%= render PageHeadingComponent.new.with_content(t('headings.personal_key')) %>
<p>
  <%= t(
        'instructions.personal_key.info_html',
        accent: content_tag(:strong, t('instructions.personal_key.accent')),
      ) %>
</p>
<div class="full-width-box margin-y-5">
  <%= render 'partials/personal_key/key', code: code %>
</div>
<%= render ButtonComponent.new(
      action: ->(**tag_options, &block) do
        link_to(
          "data:text/plain;charset=utf-8,#{CGI.escape(code)}",
          download: 'personal_key.txt',
          **tag_options,
          &block
        )
      end,
      icon: :file_download,
      outline: true,
      class: 'margin-right-2 margin-bottom-2 tablet:margin-bottom-0',
    ).with_content(t('forms.backup_code.download')) %>
<%= render ButtonComponent.new(
      icon: :print,
      outline: true,
      type: :button,
      data: { print: '' },
      class: 'margin-right-2 margin-bottom-2 tablet:margin-bottom-0',
    ).with_content(t('users.personal_key.print')) %>
<%= render ClipboardButtonComponent.new(
      clipboard_text: code,
      outline: true,
      class: 'margin-bottom-2 tablet:margin-bottom-0',
    ) %>
<div class="margin-y-5 clearfix">
  <%= image_tag(
        asset_url('alert/icon-lock-alert-important.svg'),
        alt: '',
        size: '80',
        class: 'float-left margin-right-2',
      ) %>
  <p class="margin-bottom-0">
    <strong><%= t('instructions.personal_key.email_title') %></strong>
  </p>
  <p><%= t('instructions.personal_key.email_body') %></p>
</div>
<%= button_to(
      t('forms.buttons.continue'),
      update_path,
      class: 'display-block usa-button usa-button--big usa-button--wide personal-key-continue margin-top-5',
      'data-toggle': 'modal',
    ) %>
<%= render 'shared/personal_key_confirmation_modal', code: code, update_path: update_path %>
<%== javascript_packs_tag_once 'personal-key-page-controller' %>
