<%= render PageHeadingComponent.new.with_content(t('headings.personal_key')) %>
<div class="full-width-box margin-y-5">
  <%= render 'partials/personal_key/key', code: code %>
</div>

<br />

<%= render ButtonComponent.new(
      action: ->(**tag_options, &block) do
        link_to(
          "data:text/plain;charset=utf-8,#{CGI.escape(code)}",
          download: 'personal_key.txt',
          **tag_options,
          &block
        )
      end,
      icon: :file_download,
      outline: true,
      class: 'margin-right-2 margin-bottom-2 tablet:margin-bottom-0',
    ).with_content(t('forms.backup_code.download')) %>
<%= render PrintButtonComponent.new(
      icon: :print,
      outline: true,
      type: :button,
      class: 'margin-right-2 margin-bottom-2 tablet:margin-bottom-0',
    ) %>
<%= render ClipboardButtonComponent.new(
      clipboard_text: code,
      outline: true,
      class: 'margin-bottom-2 tablet:margin-bottom-0',
    ) %>

<div>
</div>

<br />

<div>
<%= t('instructions.personal_key.info') %>
<ul>
  <% t('instructions.personal_key.info_bullets').each do |bullet| %>
  <%=  "<li>#{bullet}</li>".html_safe %>
  <% end %>
</ul>
</div>
<%= button_to(
      t('forms.buttons.continue'),
      update_path,
      class: 'display-block usa-button usa-button--big usa-button--wide personal-key-continue margin-top-5',
      'data-toggle': FeatureManagement.idv_personal_key_confirmation_enabled? ? 'modal' : 'skip',
    ) %>
<%= render 'shared/personal_key_confirmation_modal', code: code, update_path: update_path %>
<%== javascript_packs_tag_once 'personal-key-page-controller' %>
