<%= render PageHeadingComponent.new.with_content(t('forms.personal_key_partial.header')) %>
<div class="full-width-box margin-y-5">
  <%= render 'partials/personal_key/key',
             code:,
             personal_key_generated_at:,
             show_save_buttons: true
    %>
</div>

<%= simple_form_for('', url: update_path) do |f| %>
  <p>
    <strong>
      <%= t('forms.personal_key_partial.acknowledgement.header') %>
    </strong>
  </p>

  <p>
    <%= t('forms.personal_key_partial.acknowledgement.text') %>
  </p>

  <p>
    <%= new_tab_link_to(
          t('forms.personal_key_partial.acknowledgement.help_link_text'),
          MarketingSite.help_center_article_url(
            category: 'manage-your-account',
            article: 'personal-key',
          ),
        ) %>
  </p>

  <%= render ClickObserverComponent.new(event_name: 'IdV: personal key acknowledgment toggled') do %>
    <%= render ValidatedFieldComponent.new(
          form: f,
          name: :acknowledgment,
          as: :boolean,
          label: t('forms.personal_key.required_checkbox'),
          label_html: { class: 'margin-bottom-105' },
          required: true,
        ) %>
  <% end %>

  <%= f.submit(t('forms.buttons.continue'), class: 'margin-top-3') %>
<% end %>
