<%= render PageHeadingComponent.new.with_content(t('forms.personal_key_partial.header')) %>
<div class="full-width-box margin-y-5">
  <%= render 'partials/personal_key/key', code: code, show_download_buttons: true %>
</div>

<%= render AccordionComponent.new do |c| %>
  <% c.header { t('forms.personal_key_partial.explanation.header') } %>
  <% t('forms.personal_key_partial.explanation.text').each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>
<% end %>

<%= simple_form_for('', url: update_path) do |f| %>
  <p>
    <strong>
      <%= t('forms.personal_key_partial.acknowledgement.header') %>
    </strong>
  </p>

  <p class="margin-bottom-0">
    <%= t('forms.personal_key_partial.acknowledgement.text') %>
  </p>

  <ul>
    <% t('forms.personal_key_partial.acknowledgement.bullets').each do |bullet| %>
      <li><%= bullet %></li>
    <% end %>
  </ul>

  <%= render ClickObserverComponent.new(event_name: 'IdV: personal key acknowledgment toggled') do %>
    <%= render ValidatedFieldComponent.new(
          form: f,
          name: :acknowledgment,
          as: :boolean,
          label: t('forms.personal_key.required_checkbox'),
          label_html: { class: 'margin-bottom-105' },
          required: true,
        ) %>
  <% end %>

  <%= f.submit(t('forms.buttons.continue'), full_width: true, class: 'margin-top-3') %>
<% end %>
