<div class="padding-x-4">
  <div class="h6">
    <%= t('idv.review.full_name') %>
  </div>

  <div class="h4 text-bold ico-absolute ico-absolute-success">
    <%= pii[:first_name] %> <%= pii[:last_name] %>
  </div>

  <div class="margin-top-4 h6">
    <%= t('idv.review.mailing_address') %>
  </div>

  <div class="h4 text-bold ico-absolute ico-absolute-success">
    <%= render 'shared/address', address: pii %>
  </div>

  <div class="margin-top-4 h6">
    <%= t('idv.review.dob') %>
  </div>

  <div class="h4 text-bold ico-absolute ico-absolute-success">
    <%= DateParser.parse_legacy(pii[:dob]).to_formatted_s(:long) %>
  </div>

  <div class="margin-top-4 h6">
    <%= t('idv.review.ssn') %>
  </div>

  <div class="h4 text-bold ico-absolute ico-absolute-success">
    <%= pii[:ssn] %>
  </div>

  <% if phone %>
    <div class="h6 margin-top-4">
      <%= t('idv.messages.phone.phone_of_record') %>
    </div>
    <div class="h4 text-bold ico-absolute ico-absolute-success">
      <%= PhoneFormatter.format(phone) %>
    </div>
  <% end %>
</div>
