<%#
yields: Step title (required).
locals:
* status: One of :complete, :pending, :current. If absent, the step is assumed to be incomplete.
%>
<%
title = yield.presence or raise "no block content given"
classes = ['step-indicator__step']
classes << 'step-indicator__step--current' if local_assigns[:status] == :current
classes << 'step-indicator__step--complete' if local_assigns[:status] == :complete
classes << 'step-indicator__step--pending' if local_assigns[:status] == :pending
%>

<%= tag.li(
  class: classes,
  aria: { current: local_assigns[:status] == :current ? 'step' : nil },
) do %>
  <span class="step-indicator__step-title">
    <%= title %>
  </span>
  <% if !local_assigns[:status] || local_assigns[:status] == :complete %>
    <span class="usa-sr-only">
      <%= t('step_indicator.completed') if local_assigns[:status] == :complete %>
      <%= t('step_indicator.not_completed') if !local_assigns[:status] %>
    </span>
  <% end %>
  <% if local_assigns[:status] == :pending %>
    <span class="step-indicator__step-subtitle">
      <%= t('step_indicator.pending') %>
    </span>
  <% end %>
<% end %>
