<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= render_javascript_pack_once_tags 'saml-post' %>
  </head>
  <body>
    <div class="grid-container tablet:padding-y-6">
      <div class="grid-row">
        <div class="tablet:grid-col-6 tablet:grid-offset-3">
          <%= render PageHeadingComponent.new.with_content(t('saml_idp.shared.saml_post_binding.heading')) %>

          <p>
            <%= t('saml_idp.shared.saml_post_binding.no_js') %>
          </p>

          <%= form_tag action_url, id: 'saml-post-binding' do %>
            <% form_params.each do |key, val| %>
              <%= hidden_field_tag(key, val) %>
            <% end %>
            <%= submit_tag t('forms.buttons.submit.default'), class: 'usa-button usa-button--wide usa-button--big' %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
