<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <%= javascript_tag(nonce: true) do %>
      document.documentElement.classList.replace('no-js', 'js');
    <% end %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= render_stylesheet_once_tags %>
  </head>
  <body>
    <div class="grid-container tablet:padding-y-6 no-js">
      <div class="grid-row">
        <div class="tablet:grid-col-6 tablet:grid-offset-3">
          <%= render PageHeadingComponent.new.with_content(t('saml_idp.shared.saml_post_binding.heading')) %>

          <p>
            <%= t('saml_idp.shared.saml_post_binding.no_js') %>
          </p>

          <%= simple_form_for('', url: action_url) do |f| %>
            <% form_params.each do |key, val| %>
              <%= hidden_field_tag(key, val) %>
            <% end %>
            <%= f.submit t('forms.buttons.submit.default'), data: { click_immediate: true } %>
          <% end %>
        </div>
      </div>
    </div>
    <%= render_javascript_pack_once_tags 'click-immediate' %>
  </body>
</html>
