<% if Figaro.env.acuant_sdk_document_capture_enabled == 'true' %>
  <% content_for :meta_tags do %>
    <meta
      name='acuant-sdk-initialization-endpoint'
      content='<%= Figaro.env.acuant_sdk_initialization_endpoint %>'
    >
    <meta
      name='acuant-sdk-initialization-creds'
      content='<%= Figaro.env.acuant_sdk_initialization_creds %>'
    >
  <% end %>

  <div id='acuant-sdk-upload-form' class='hidden'>
    <button id='acuant-sdk-capture' class='btn btn-primary'>
      <%= capture_button_label %>
    </button>
  </div>

  <div id='acuant-sdk-spinner' class='hidden'>
    <%= image_tag(
      asset_url('wait.gif'),
      srcset: asset_url('wait.gif'),
      height: 50,
      width: 50,
      alt: t('image_description.spinner')
    ) %>
  </div>

  <div id='acuant-sdk-continue-form' class='hidden'>
    <img id='acuant-sdk-preview'>
    <%= submit_tag t('forms.buttons.continue'), class: 'btn btn-primary btn-wide mt2' %>
  </div>

  <%= javascript_pack_tag 'acuant_document_capture' %>
<% end %>
