<% content_for :meta_tags do %>
  <%= tag :meta, name: 'acuant-sdk-initialization-endpoint', content: AppConfig.env.acuant_sdk_initialization_endpoint %>
  <%= tag :meta, name: 'acuant-sdk-initialization-creds', content: AppConfig.env.acuant_sdk_initialization_creds %>
<% end %>

<div id='acuant-sdk-upload-form' class='hidden'>
  <button id='acuant-sdk-capture' class='btn btn-primary'>
    <%= capture_button_label %>
  </button>
</div>

<div id='acuant-sdk-spinner' class='hidden'>
  <%= image_tag(
    asset_url('wait.gif'),
    srcset: asset_url('wait.gif'),
    height: 50,
    width: 50,
    alt: t('image_description.spinner')
  ) %>
</div>

<!-- This view is never displayed, but it needs to be present in the DOM for
the SDK to capture the feed from the camer -->
<video id="acuant-player" controls autoPlay playsInline class='hidden'></video>
<div id='acuant-sdk-capture-view' class='hidden'>
  <canvas id="acuant-video-canvas" style='width: 100%;'></canvas>
</div>

<div id='acuant-sdk-continue-form' class='hidden'>
  <img id='acuant-sdk-preview' class='mb2'>
  <%= submit_tag t('forms.buttons.continue'), class: 'block btn btn-primary btn-wide' %>
  <%= link_to(
    retry_capture_button_label,
    url_for,
    class: 'center btn btn-secondary btn-wide mt2',
  ) %>
</div>

<%= javascript_pack_tag 'acuant_selfie_capture' %>
