<% title t('titles.enter_2fa_code.one_time_code') %>

<%= render PageHeadingComponent.new.with_content(@presenter.header) %>

<p>
  <%= @presenter.phone_number_message %>
</p>

<% if @landline %>
  <%= render AlertComponent.new(type: :warning, text_tag: 'div') do %>
    Your number appears to be a landline and may not be able to receive text messages. <%= link_to('Go back', phone_setup_path(otp_delivery_preference: 'voice')) %> to change your phone number or delivery method.
  <% end %>
<% end %>

<%= simple_form_for('', method: :post) do |f| %>
  <% if @presenter.reauthn %>
    <%= render 'two_factor_authentication/totp_verification/reauthn' %>
  <% end %>
  <div class="grid-col-12 tablet:grid-col-6 margin-bottom-2">
    <%= label_tag :code, t('forms.two_factor.code'), class: 'display-block text-bold' %>
    <%= render(
          'shared/one_time_code_input',
          form: f,
          name: :code,
          value: @presenter.code_value,
          required: true,
          autofocus: true,
          numeric: true,
          maxlength: TwoFactorAuthenticatable::DIRECT_OTP_LENGTH,
        ) %>
  </div>
  <%= f.input(
        :remember_device,
        as: :boolean,
        label: t('forms.messages.remember_device'),
        input_html: {
          class: 'usa-checkbox__input--bordered',
          checked: @presenter.remember_device_box_checked?,
        },
      ) %>
  <%= f.submit t('forms.buttons.submit.default'), class: 'display-block margin-y-5' %>
  <%= hidden_field_tag 'otp_make_default_number',
                       @presenter.otp_make_default_number %>
  <%= render ButtonComponent.new(
        action: ->(**tag_options, &block) do
          link_to(
            otp_send_path(
              otp_delivery_selection_form: {
                otp_delivery_preference: @presenter.otp_delivery_preference,
                resend: true,
              },
            ),
            **tag_options,
            &block
          )
        end,
        outline: true,
        icon: :loop,
        class: 'margin-bottom-neg-1',
      ).with_content(t('links.two_factor_authentication.send_another_code')) %>
<% end %>

<% if @presenter.unconfirmed_phone? %>
  <div class="margin-top-5">
    <%= t('instructions.mfa.wrong_number') %><br>
    <%= link_to(t('forms.two_factor.try_again'), phone_setup_path) %>
  </div>
<% else %>
  <%= render 'shared/fallback_links', presenter: @presenter %>
<% end %>

<% if MfaPolicy.new(current_user).two_factor_enabled? %>
  <%= render 'shared/cancel', link: @presenter.cancel_link %>
<% else %>
  <%= render 'shared/cancel_or_back_to_options' %>
<% end %>
