<% self.title = t('titles.enter_2fa_code.one_time_code') %>

<% landline_alert = capture do %>
  <% if @landline_alert %>
    <%= render AlertComponent.new(type: :warning, dismissible: false) do %>
      <%= @presenter.landline_warning %>
    <% end %>
  <% end %>
<% end %>

<% fields = capture do %>
  <% if @presenter.reauthn %>
    <%= hidden_field_tag 'reauthn', 'true' %>
  <% end %>

  <div class="ads-checkbox">
    <%= check_box_tag(
          :remember_device,
          '1',
          @presenter.remember_device_box_checked?,
          class: 'ads-checkbox__input',
        ) %>
    <%= label_tag(
          :remember_device,
          t('forms.messages.remember_device'),
          class: 'ads-checkbox__label',
        ) %>
  </div>

  <%= hidden_field_tag(
        'otp_make_default_number',
        @presenter.otp_make_default_number,
      ) %>
<% end %>

<% extra_actions = capture do %>
  <% if @presenter.unconfirmed_phone? %>
    <%= render ButtonComponent.new(
          url: phone_setup_path,
          variant: :quaternary,
        ).with_content(
          t('two_factor_authentication.phone_verification.troubleshooting.change_number'),
        ) %>
  <% else %>
    <%= render ButtonComponent.new(
          url: login_two_factor_options_path,
          variant: :quaternary,
        ).with_content(t('two_factor_authentication.login_options_link_text')) %>
  <% end %>

  <% unless MfaPolicy.new(current_user).two_factor_enabled? %>
    <%= render ButtonComponent.new(
          url: authentication_methods_setup_path,
          variant: :quaternary,
        ).with_content(t('two_factor_authentication.choose_another_option')) %>
  <% end %>
<% end %>

<%= render 'shared/otp_verification',
           subtitle: strip_tags(@presenter.phone_number_message),
           form_url: login_otp_path(
             otp_delivery_preference: @presenter.otp_delivery_preference,
           ),
           code_value: @presenter.code_value,
           otp: { transport: @presenter.otp_delivery_preference },
           landline_alert:,
           fields:,
           resend_url: otp_send_path(
             otp_delivery_selection_form: {
               otp_delivery_preference: @presenter.otp_delivery_preference,
               resend: true,
             },
           ),
           extra_actions: %>
