<% title t('titles.enter_2fa_code') %>

<h1 class="margin-y-0">
  <%= @presenter.header %>
</h1>

<p>
  <%= @presenter.phone_number_message %>
</p>

<%= form_tag(:login_otp, method: :post, class: 'margin-top-4') do %>
  <% if @presenter.reauthn %>
    <%= render 'two_factor_authentication/totp_verification/reauthn' %>
  <% end %>
  <div class="grid-row margin-bottom-5">
    <div class="grid-col-12 tablet:grid-col-6">
      <%= label_tag :code, t('forms.two_factor.code'), class: 'block bold' %>
      <div class="row margin-bottom-5">
        <%= render(
          'shared/one_time_code_input',
          name: :code,
          value: @presenter.code_value,
          required: true,
          autofocus: true,
          numeric: false,
        ) %>
      </div>
      <%= submit_tag t('forms.buttons.submit.default'),
                     class: 'usa-button usa-button--big usa-button--full-width' %>
    </div>
  </div>
  <%= hidden_field_tag 'otp_make_default_number',
                       @presenter.otp_make_default_number %>
  <div class="flex flex-row flex-align-center flex-wrap">
    <%= link_to(t('links.two_factor_authentication.get_another_code'),
                otp_send_path(otp_delivery_selection_form: {
                  otp_delivery_preference: @presenter.otp_delivery_preference,
                  resend: true
                }),
                class: 'usa-button usa-button--outline ico ico-refresh flex-no-shrink margin-right-205',
                form_class: 'inline-block') %>

    <span class="text-no-wrap flex-no-shrink flex flex-row flex-align-center">
      <%= hidden_field_tag 'remember_device', false,
                           id: 'remember_device_preference' %>
      <%= check_box_tag 'remember_device', true,
                        @presenter.remember_device_box_checked?,
                        class: 'margin-y-2 margin-left-2 margin-right-1 margin-left-0' %>
      <%= label_tag 'remember_device',
                    t('forms.messages.remember_device'),
                    class: 'text-primary margin-bottom-0' %>
    </span>
  </div>
<% end %>

<% if @presenter.update_phone_link.present? %>
  <br />
  <%= @presenter.update_phone_link %>
<% else %>
  <%= render 'shared/fallback_links', presenter: @presenter %>
<% end %>

<% if MfaPolicy.new(current_user).two_factor_enabled? %>
  <%= render 'shared/cancel', link: @presenter.cancel_link %>
<% else %>
  <%= render 'shared/cancel_or_back_to_options' %>
<% end %>
