<%= render 'idv/shared/step_indicator', current_step: :verify_phone %>

<div id="form-steps-wait-alert">
</div>

<% self.title = t('titles.idv.phone') %>

<%= render ADS::FormPageComponent.new(
      title: t('titles.idv.phone'),
      subtitle: t('idv.messages.phone.description'),
    ) do |page| %>
  <% page.with_alert do %>
    <%= tag.div(
          id: 'phone-already-submitted-alert',
          hidden: true,
          data: { failed_phone_numbers: @idv_form.failed_phone_numbers },
        ) do %>
      <%= render AlertComponent.new(type: :warning, dismissible: true) do %>
        <%= t('idv.messages.phone.failed_number.alert_text') %>
        <% if gpo_letter_available %>
          <% gpo_verify_link = capture do %>
            <%= render ADS::LinkComponent.new(
                  url: idv_request_letter_path,
                ).with_content(t('idv.messages.phone.failed_number.gpo_verify_link')) %>
          <% end %>
          <%= t(
                'idv.messages.phone.failed_number.gpo_alert_html',
                link_html: gpo_verify_link,
              ) %>
        <% else %>
          <%= t('idv.messages.phone.failed_number.try_again_html') %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% page.with_body do %>
    <%= render ADS::StackComponent.new(gap: 24) do %>
      <%= render(VendorOutageAlertComponent.new(vendors: [:sms, :voice], context: :idv)) %>

      <%= simple_form_for(
            @idv_form,
            url: idv_phone_path,
            data: {
              form_steps_wait: '',
              error_message: t('idv.failure.exceptions.internal_error'),
              alert_target: '#form-steps-wait-alert',
              wait_step_path: idv_phone_path,
              poll_interval_ms: IdentityConfig.store.poll_rate_for_verify_in_seconds * 1000,
            },
            html: { class: 'ads-form ads-form--align-stretch' },
            method: :put,
          ) do |f| %>
        <%= render ADS::StackComponent.new(gap: 32, align: :stretch) do %>
          <%= render InputComponent.new(
                form: f,
                attribute: :phone,
                label: t('two_factor_authentication.phone_label'),
                type: :tel,
                country_selector: true,
                allowed_countries: @idv_form.allowed_countries,
                required: true,
              ) %>

          <fieldset class="ads-fieldset">
            <div class="ads-radio-group">
              <div class="ads-radio">
                <%= f.radio_button(
                      :otp_delivery_preference,
                      :sms,
                      checked: !OutageStatus.new.vendor_outage?(:sms),
                      disabled: OutageStatus.new.vendor_outage?(:sms),
                      class: 'ads-radio__input ads-sr-only',
                    ) %>
                <%= f.label(
                      :otp_delivery_preference_sms,
                      t('two_factor_authentication.otp_delivery_preference.sms'),
                      class: 'ads-radio__label',
                    ) %>
              </div>

              <div class="ads-radio">
                <%= f.radio_button(
                      :otp_delivery_preference,
                      :voice,
                      disabled: OutageStatus.new.vendor_outage?(:voice),
                      class: 'ads-radio__input ads-sr-only',
                    ) %>
                <%= f.label(
                      :otp_delivery_preference_voice,
                      t('two_factor_authentication.otp_delivery_preference.voice'),
                      class: 'ads-radio__label',
                    ) %>
              </div>
            </div>
          </fieldset>

          <%= render ADS::StackComponent.new(kind: :actions, gap: 12, align: :stretch) do %>
            <%= render ButtonComponent.new(
                  type: :submit,
                  size: :lg,
                ).with_content(t('forms.buttons.send_one_time_code')) %>

            <% if gpo_letter_available %>
              <%= render ButtonComponent.new(
                    url: idv_request_letter_path,
                    variant: :quaternary,
                    size: :lg,
                  ).with_content(t('idv.buttons.phone.no_us_phone_number')) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% javascript_packs_tag_once 'form-steps-wait', 'idv-phone-alert' %>
