<% content_for(:pre_flash_content) do %>
  <%= render 'shared/step_indicator', {
        steps: step_indicator_steps,
        current_step: :verify_phone_or_address,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      } %>
<% end %>

<div id="form-steps-wait-alert">
  <%= render AlertComponent.new(
        type: :success,
        class: 'margin-bottom-4',
        message: I18n.t('doc_auth.forms.doc_success'),
      ) %>
</div>

<% title t('titles.idv.phone') %>

<%= render PageHeadingComponent.new.with_content(t('idv.titles.session.phone')) %>

<p>
  <%= t('idv.messages.phone.description') %>
</p>

<p class="margin-bottom-1">
  <%= t('idv.messages.phone.alert_html') %>
</p>

<ul>
  <% t('idv.messages.phone.rules').each do |msg| %>
    <li>
      <%= msg %>
    </li>
  <% end %>
</ul>

<p>
  <%= t('idv.messages.phone.final_note_html') %>
</p>

<%= simple_form_for(
      @idv_form,
      url: idv_phone_path,
      data: {
        form_steps_wait: '',
        error_message: t('idv.failure.exceptions.internal_error'),
        alert_target: '#form-steps-wait-alert',
        wait_step_path: idv_phone_path,
        poll_interval_ms: IdentityConfig.store.poll_rate_for_verify_in_seconds * 1000,
      },
      html: {
        autocomplete: 'off',
        method: :put,
      },
    ) do |f| %>
  <%= render PhoneInputComponent.new(
        form: f,
        allowed_countries: ['US'],
        required: true,
        class: 'margin-bottom-4',
      ) %>
  <div class="margin-y-5">
    <%= render SpinnerButtonComponent.new(
          action_message: t('idv.messages.verifying'),
          type: :submit,
          big: true,
          wide: true,
        ).with_content(t('forms.buttons.continue')) %>
  </div>
<% end %>

<%= render(
      'shared/troubleshooting_options',
      heading: t('components.troubleshooting_options.default_heading'),
      options: [
        {
          url: help_center_redirect_url(
            category: 'verify-your-identity',
            article: 'phone-number-and-phone-plan-in-your-name',
            flow: :idv,
            step: :phone,
          ),
          text: t('idv.troubleshooting.options.learn_more_verify_by_phone'),
          new_tab: true,
        },
        gpo_letter_available && {
          url: idv_gpo_path,
          text: t('idv.troubleshooting.options.verify_by_mail'),
        },
      ].select(&:present?),
    ) %>

<%= render 'idv/doc_auth/cancel', step: 'phone' %>

<% javascript_packs_tag_once 'form-steps-wait' %>
