<%= render 'idv/shared/step_indicator', {
  steps: Idv::Flows::DocAuthFlow::STEP_INDICATOR_STEPS,
  current_step: :verify_phone_or_address
} %>

<div id="form-steps-wait-alert">
  <%= render 'shared/alert', {
    type: 'success',
    class: 'margin-bottom-4',
    message: I18n.t('doc_auth.forms.doc_success'),
  } %>
</div>

<% title t('idv.titles.phone') %>

<h1 class="h3 margin-y-0">
  <%= t('idv.titles.session.phone') %>
</h1>

<div class="padding-y-1 margin-0">
  <%= t('idv.messages.phone.description') %>
</div>

<div class="margin-top-2">
  <%= t('idv.messages.phone.alert_html') %>
</div>

<ul class="padding-y-1 margin-0">
  <% t('idv.messages.phone.rules').each do |msg| %>
    <li>
      <%= msg %>
    </li>
  <% end %>
</ul>

<div class="margin-top-2">
  <%= t('idv.messages.phone.final_note_html') %>
  <br/>
  <br/>
</div>

<%= validated_form_for(@idv_form,
                       url: idv_phone_path,
                       data: {
                         form_steps_wait: '',
                         error_message: t('idv.failure.exceptions.internal_error'),
                         alert_target: '#form-steps-wait-alert',
                         wait_step_path: idv_phone_path,
                         poll_interval_ms: AppConfig.env.poll_rate_for_verify_in_seconds.to_i * 1000,
                       },
                       html: {
                         autocomplete: 'off',
                         method: :put,
                         role: 'form',
                         class: 'margin-top-2',
                       }) do |f| %>
 <%= f.label :phone, label: t('idv.form.phone'), class: 'bold' %>
 <%= f.input :phone, required: true, input_html: { aria: { invalid: false }, class: 'sm-col-8' }, label: false,
   wrapper_html: { class: 'margin-right-2' } %>

  <% if FeatureManagement.enable_gpo_verification? %>
    <%= render 'idv/phone/verification_options' %>
  <% end %>

  <%= render 'shared/spinner-button',
             action_message: t('doc_auth.info.verifying'),
             class: 'margin-top-4' do %>
    <%= f.button :submit, t('forms.buttons.continue'), class: 'usa-button--big usa-button--wide' %>
  <% end %>
<% end %>

<div class="margin-top-2 padding-top-1 border-top">
  <%= link_to t('links.cancel'), idv_cancel_path, class: 'h5' %>
</div>

<% javascript_packs_tag_once 'form-steps-wait' %>
