<% content_for(:pre_flash_content) do %>
  <%= render 'shared/step_indicator', {
    steps: Idv::Flows::DocAuthFlow::STEP_INDICATOR_STEPS,
    current_step: :verify_phone_or_address,
    locale_scope: 'idv',
    class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
  } %>
<% end %>

<div id="form-steps-wait-alert">
  <%= render AlertComponent.new(
        type: :success,
        class: 'margin-bottom-4',
        message: I18n.t('doc_auth.forms.doc_success'),
      ) %>
</div>

<% title t('titles.idv.phone') %>

<h1 class="margin-y-0">
  <%= t('idv.titles.session.phone') %>
</h1>

<div class="padding-y-1 margin-0">
  <%= t('idv.messages.phone.description') %>
</div>

<div class="margin-top-2">
  <%= t('idv.messages.phone.alert_html') %>
</div>

<ul class="padding-y-1 margin-0">
  <% t('idv.messages.phone.rules').each do |msg| %>
    <li>
      <%= msg %>
    </li>
  <% end %>
</ul>

<div class="margin-top-2">
  <%= t('idv.messages.phone.final_note_html') %>
  <br/>
  <br/>
</div>

<%= validated_form_for(@idv_form,
                       url: idv_phone_path,
                       data: {
                         form_steps_wait: '',
                         error_message: t('idv.failure.exceptions.internal_error'),
                         alert_target: '#form-steps-wait-alert',
                         wait_step_path: idv_phone_path,
                         poll_interval_ms: IdentityConfig.store.poll_rate_for_verify_in_seconds * 1000,
                       },
                       html: {
                         autocomplete: 'off',
                         method: :put,
                         class: 'margin-top-2',
                       }) do |f| %>
  <%= f.input :phone, required: true,
              input_html: { aria: { invalid: false },
              class: 'sm-col-8' },
              label: t('idv.form.phone'),
              wrapper: false,
              label_html: { class: 'bold' } %>
  <span class='usa-error-message margin-top-2 display-if-invalid display-if-invalid--value-missing margin-bottom-1' role='alert'>
    <%= t('simple_form.required.text') %>
  </span>
  <div class="margin-y-5">
    <%= render('shared/spinner_button', action_message: t('doc_auth.info.verifying')) do %>
      <%= f.button :submit, t('forms.buttons.continue'), class: 'usa-button--big usa-button--wide' %>
    <% end %>
  </div>
<% end %>

<%= render(
      'shared/troubleshooting_options',
      heading: t('idv.troubleshooting.headings.having_trouble'),
      options: [
        {
          url: MarketingSite.help_idv_verify_by_phone_url,
          text: t('idv.troubleshooting.options.learn_more_verify_by_phone'),
          new_tab: true,
        },
        gpo_letter_available && {
          url: idv_gpo_path,
          text: t('idv.troubleshooting.options.verify_by_mail'),
        },
      ].select(&:present?),
    ) %>

<%= render 'idv/doc_auth/start_over_or_cancel', step: 'phone' %>

<% javascript_packs_tag_once 'form-steps-wait' %>
