<div class="grid-row grid-cap margin-top-2 flex-align-stretch">
  <div class="tablet:grid-col">
    <%= form_for(
          DocAuth::Mock::Socure.instance,
          as: 'fixture',
          url: test_mock_socure_document_capture_url,
          method: :post,
        ) do |form| %>
      <%= form.button(
            'Continue',
            formaction: test_mock_socure_document_capture_continue_url,
            class: 'usa-button margin-bottom-4 width-full',
          )
      %>
      <br />

      <fieldset class="usa-fieldset border padding-1" >
        <h4 class="margin-left-1">Scenario</h4>
        <%= form.collection_select(
              :selected_fixture,
              DocAuth::Mock::Socure.instance.fixtures,
              :name,
              :pretty_name,
              {
                selected: DocAuth::Mock::Socure.instance.selected_fixture,
                prompt: 'Select a fixture',
              },
              {
                class: 'margin-left-2',
              },
            )
        %>
        <br />

        <h4 class="margin-left-1">Decision</h4>
        <%= form.collection_radio_buttons(
              :decision,
              DocAuth::Mock::Socure::VERDICTS,
              :id,
              :text,
              selected: DocAuth::Mock::Socure.instance.decision,
            ) do |button|
        %>
          <div class="display-inline-block">
            <%= button.label do
                  "#{button.radio_button(class: 'margin-left-2')} #{button.text}".html_safe
                end
            %>
          </div>
        <% end %>
        <br />

        <h4 class="margin-left-1">Reason Codes</h4>
        <%= form.collection_check_boxes(
              :reason_codes,
              DocAuth::Mock::Socure::ERRORS,
              :id,
              :text,
            ) do |b|
        %>
          <div class="display-inline-block">
            <%= b.check_box(class: 'margin-left-2') %> <%= b.label %>
          </div>
        <% end %>
        <br />

        <%= form.button 'Update JSON', class: 'usa-button margin-top-2 margin-bottom-1' %>
      <% end %>

      <% if DocAuth::Mock::Socure.instance.selected_fixture_body %>
        <pre class="bg-accent-cool-lighter"><%= JSON.pretty_generate(DocAuth::Mock::Socure.instance.selected_fixture_body) %></pre>
      <% end %>
    </fieldset>
  </div>
</div>
