<%= simple_form_for('', url: create_verify_personal_key_path, method: 'post') do |f| %>
  <div class="padding-top-6 padding-x-1 tablet:padding-x-8 key-badge border border-dashed border-secondary rounded-xl">
    <h3 class="margin-top-0 margin-bottom-2">
      <%= t('forms.personal_key.title') %>
    </h3>
    <p class="margin-bottom-4">
      <%= t('forms.personal_key.instructions') %>
    </p>

    <%= render 'shared/personal_key_input', code: '', form: f %>
  </div>

  <div class="margin-top-4">
    <%= button_tag t('forms.buttons.continue'), type: 'submit', class: 'usa-button usa-button--wide' %>
  </div>
<% end %>

<div class="margin-top-2">
  <%= t('forms.personal_key.alternative') %>
  <%= button_to(
        reactivate_account_path, method: :put,
                                 class: 'usa-button usa-button--unstyled', form_class: 'display-inline-block padding-left-1'
      ) { t('links.reverify') } %>
</div>

<%= render 'shared/cancel', link: account_path %>
