<% self.title = t('forms.personal_key.title') %>

<%= simple_form_for('', url: create_verify_personal_key_path, method: 'post', html: { class: 'margin-top-8' }) do |f| %>
  <div class="padding-top-6 padding-bottom-1 padding-x-1 tablet:padding-x-4 position-relative border border-secondary rounded-xl">
    <%= render AlertIconComponent.new(
          icon_name: :personal_key,
          class: 'alert-icon--centered-top',
        ) %>

    <%= render PageHeadingComponent.new.with_content(t('forms.personal_key.title')) %>

    <p class="margin-bottom-4">
      <%= t('forms.personal_key.instructions') %>
    </p>

    <%= render 'shared/personal_key_input', code: '', form: f %>
  </div>

  <%= f.submit t('forms.buttons.continue'), class: 'display-block margin-y-5' %>
<% end %>

<%= t('forms.personal_key.alternative') %>
<%= render ButtonComponent.new(
      action: ->(**tag_options, &block) do
        button_to(reactivate_account_path, method: :put, **tag_options, &block)
      end,
      unstyled: true,
    ).with_content(t('links.reverify')) %>

<%= render 'shared/cancel', link: account_path %>
