<% title t('titles.edit_info.email_language') %>

<%= render PageHeadingComponent.new.with_content(t('account.email_language.edit_title')) %>

<p class="margin-bottom-4">
  <%= t(
        'account.email_language.languages_list',
        app_name: APP_NAME,
        list: I18n.available_locales.
          map { |locale| t("account.email_language.name.#{locale}") }.
          to_sentence(last_word_connector: " #{t('account.email_language.sentence_connector')} "),
      ) %>
</p>

<%= simple_form_for(current_user, url: account_email_language_path, method: 'PATCH') do |f| %>
  <%= render partial: 'shared/email_languages',
             locals: { f: f, hint: false, selection: current_user.email_language } %>
  <%= f.submit t('forms.buttons.submit.default'), class: 'grid-col-8 tablet:grid-col-6' %>
<% end %>
