<h2><%= t('account.email_language.edit_title') %></h2>

<p class="margin-bottom-4">
  <%= t('account.email_language.languages_list',
        app_name: APP_NAME,
        list: I18n.available_locales.
          map { |locale| t("account.email_language.name.#{locale}") }.
          to_sentence(last_word_connector: " #{t('account.email_language.sentence_connector')} ")) %>
</p>

<p><%= t('account.email_language.please_select') %></p>

<%= validated_form_for(current_user, url: account_email_language_path, method: 'PATCH') do |f| %>

  <%= render partial: 'shared/email_languages',
             locals: {
               selection: current_user.email_language,
               f: f
             } %>
  <%= f.button :submit, t('forms.buttons.submit.default'), class: 'btn-wide col-6' %>
<% end %>
