<% content_for(:header) do %>
  <%= render 'accounts/nav_auth', enable_mobile_nav: false, greeting: @presenter.header_personalization %>
<% end %>

<% self.title = t('titles.account') %>

<%= render PageHeadingComponent.new.with_content(t('headings.account.activity')) %>

<div class="margin-bottom-4 card profile-info-box">
  <div class="border-bottom border-primary-light">
    <h2 class="margin-top-0">
      <%= @device.nice_name %>
    </h2>

    <% @events.each do |event| %>
      <%= render 'accounts/event_item', event: %>
    <% end %>
  </div>

  <div class="margin-top-2">
    <%= link_to t('forms.buttons.back'), account_path %>
  </div>
</div>

