<% content_for(:nav) do %>
  <%= render 'accounts/nav_auth', enable_mobile_nav: false, greeting: @view_model.header_personalization %>
<% end %>

<% title t('titles.account') %>

<h1 class="mt0">
  <%= t('headings.account.activity') %>
</h1>

<div class="mb3 card profile-info-box">
  <div class="border-bottom border-light-blue">
    <h2 class="mt0">
      <%= @device.device_name %>
    </h2>

    <% @events.each do |event| %>
      <%= render event.event_partial, event: event %>
    <% end %>
  </div>

  <div class="mt2">
    <%= link_to t('forms.buttons.back'), account_path %>
  </div>
</div>

