<% content_for(:nav) do %>
  <%= render 'accounts/nav_auth', enable_mobile_nav: false, greeting: @view_model.header_personalization %>
<% end %>

<% title t('titles.account') %>

<h1 class="margin-top-0">
  <%= t('headings.account.activity') %>
</h1>

<div class="margin-bottom-4 card profile-info-box">
  <div class="border-bottom border-primary-light">
    <h2 class="margin-top-0">
      <%= @device.nice_name %>
    </h2>

    <% @events.each do |event| %>
      <%= render 'accounts/event_item', event: event %>
    <% end %>
  </div>

  <div class="margin-top-2">
    <%= link_to t('forms.buttons.back'), account_path %>
  </div>
</div>

