<%= render(
      'idv/shared/error',
      type: :warning,
      title: t('idv.errors.technical_difficulties'),
      heading: t('idv.errors.technical_difficulties'),
      current_step: :verify_id,
    ) do %>
  <p>
    <%= t('idv.errors.try_again_later') %>
  </p>
  <p>
    <%= t('idv.failure.warning.attempts_html', count: @remaining_submit_attempts) %>
  </p>

  <div class="margin-y-5">
    <%= render ButtonComponent.new(
          url: idv_socure_document_capture_path,
          big: true,
          wide: true,
        ).with_content(t('idv.failure.button.warning')) %>
  </div>

  <% if @idv_in_person_url %>
    <hr>

    <h2><%= t('in_person_proofing.headings.cta') %></h2>

    <p>
      <%= t('in_person_proofing.body.cta.prompt_detail') %>
    </p>

    <div class="margin-y-5">
      <%= render ButtonComponent.new(
            url: @idv_in_person_url,
            big: true,
            wide: true,
            outline: true,
          ).with_content(t('in_person_proofing.body.cta.button')) %>
    </div>
    <% end %>
<% end %>
<%= render('idv/doc_auth/cancel', step: 'socure') %>
