<h1 class="h3 my0">
  <%= t('account_reset.pending.header') %>
</h1>

<p><%= t('misc.in').capitalize %>
  <strong><%= @pending_presenter.time_remaining_until_granted %></strong>,
  <%= t('account_reset.pending.delete_and_recreate') %></p>

<p><%= t('misc.command.click') %>
  <%= link_to t('misc.here'), account_reset_pending_cancel_path %>
  <%= t('account_reset.pending.cancel') %></p>
