<% title @presenter.title %>

<h1 class='margin-y-0'><%= t('titles.piv_cac_login.add') %></h1>
<p class='mt-tiny margin-bottom-4'><%= t('headings.piv_cac_login.add') %></p>

<%= form_tag(submit_new_piv_cac_url) do %>
<ul class='list-reset'>
  <li class='padding-top-0 padding-bottom-1'>
    <div class='inline-block margin-right-2 margin-top-1 text-top circle-number bg-primary text-white'>
      1
    </div>
    <label class="font-sans-lg margin-right-1 display-inline-block margin-bottom-1 text-bold" for="nickname">
      <%= t('instructions.mfa.piv_cac.step_1') %>
    </label>
    <div class='margin-left-6 margin-bottom-1'>
      <%= t('instructions.mfa.piv_cac.step_1_info') %>
    </div>
    <div class='margin-left-6 margin-bottom-4'>
      <input type="text" name="name" id="nickname" value="" required="required" aria-invalid="false" class="block col-12 field monospace" size="16" maxlength="20" />
    </div>
    <hr>
  </li>
  <li class='padding-top-1 padding-bottom-1'>
    <div class='inline-block margin-right-2 margin-top-1 text-top circle-number bg-primary text-white'>
      2
    </div>
    <div class='margin-right-1 inline-block margin-bottom-2'>
      <div class="font-sans-lg display-inline-block text-bold">
        <%= t('instructions.mfa.piv_cac.step_2') %>
      </div>
    </div>
    <hr>
  </li>
  <li class='padding-top-1 padding-bottom-1'>
    <div class='inline-block margin-right-2 margin-top-1 text-top circle-number bg-primary text-white'>
      3
    </div>
    <div class='margin-right-1 inline-block'>
      <div class="font-sans-lg display-inline-block text-bold">
        <%= t('instructions.mfa.piv_cac.step_3') %>
      </div>
    </div>
    <div class='margin-left-6 margin-bottom-1'>
      <div class="margin-bottom-4">
        <%= t('instructions.mfa.piv_cac.step_3_info_html') %>
      </div>
      <input type="submit" name="commit" value="<%= t('forms.piv_cac_setup.submit') %>" class="usa-button usa-button--wide usa-button--big" data-disable-with="Add PIV/CAC card" />
    </div>
  </li>
</ul>
<% end %>


<%= render 'shared/cancel_or_back_to_options' %>
