<% self.title = t('titles.exit_login') %>

<%= render AlertIconComponent.new(icon_name: :warning, class: 'margin-bottom-4') %>

<%= render PageHeadingComponent.new.with_content(t('headings.cancellations.login_exit_prompt')) %>

<p>
  <%= t('account.login_exit.header') %>
</p>

<ul class="usa-list">
  <li><%= t('account.login_exit.bullet1', app_name: APP_NAME) %></li>
  <li>
    <%= t(
          'account.login_exit.bullet2_html',
          link_html: link_to(
            t('account.login_exit.account_page'),
            account_path,
          ),
        ) %>
  </li>
</ul>

<div class="grid-row">
  <div class="grid-col-6">
    <%= link_to(
          sign_up_completed_path,
          method: :get,
          class: 'usa-button usa-button--wide usa-button--big margin-bottom-2 margin-top-3',
        ) do %>
      <%= t('account.login_exit.keep_going') %>
    <% end %>

    <%= link_to(
          @redirect_url,
          class: 'usa-button usa-button--wide usa-button--outline usa-button--big',
        ) do %>
      <%= t('account.login_exit.exit') %>
    <% end %>
  </div>
</div>
