<article class="ads-duplicate-profiles__account">
  <header class="ads-duplicate-profiles__account-header">
    <h3 class="ads-duplicate-profiles__account-title">
      <% if dupe_profile[:current_account] %>
        <%= dupe_profile[:email] %>
      <% else %>
        <%= render(
              'shared/masked_text',
              text: dupe_profile[:email],
              masked_text: dupe_profile[:masked_email],
              accessible_masked_text: dupe_profile[:email],
            ) %>
      <% end %>
    </h3>

    <%= render BadgeComponent.new(
          icon: dupe_profile[:current_account] ? :check_circle : :info,
        ).with_content(
          dupe_profile[:current_account] ?
            t('duplicate_profiles_detected.signed_in') :
            t('duplicate_profiles_detected.duplicate'),
        ) %>
  </header>

  <dl class="ads-duplicate-profiles__details">
    <div class="ads-duplicate-profiles__detail">
      <dt><%= t('duplicate_profiles_detected.created', default: 'Created') %></dt>
      <dd><%= render TimeComponent.new(time: dupe_profile[:created_at]) %></dd>
    </div>

    <div class="ads-duplicate-profiles__detail">
      <dt><%= t('duplicate_profiles_detected.last_login', default: 'Last login') %></dt>
      <dd>
        <% if dupe_profile[:last_sign_in] %>
          <%= render TimeComponent.new(time: dupe_profile[:last_sign_in]) %>
        <% else %>
          <%= t('duplicate_profiles_detected.never_logged_in') %>
          <%= ' ' %>
          <%= sp_name %>
        <% end %>
      </dd>
    </div>

    <div class="ads-duplicate-profiles__detail">
      <dt>
        <%= t(
              'duplicate_profiles_detected.connected_accounts',
              default: 'Connected agencies',
            ) %>
      </dt>
      <dd><%= dupe_profile[:connected_accts] %></dd>
    </div>
  </dl>
</article>
