<% self.title = @dupe_profiles_detected_presenter.heading %>

<%= render StatusPageComponent.new(status: :warning) do |c| %>
  <% c.with_header { @dupe_profiles_detected_presenter.heading } %>

  <p><%= t('duplicate_profiles_detected.intro', app_name: APP_NAME) %></p>

  <p><%= t('duplicate_profiles_detected.intro2', app_name: APP_NAME) %></p>

  <%= render ProcessListComponent.new(class: 'margin-y-3') do |c| %>
    <%= c.with_item(heading: t('duplicate_profiles_detected.select_an_account.heading')) do %>
      <p> <%= t('duplicate_profiles_detected.select_an_account.details') %> </p>
    <% end %>
    <%= c.with_item(heading: t('duplicate_profiles_detected.delete_duplicates.heading')) do %>
      <p><%= t(
               'duplicate_profiles_detected.delete_duplicates.details_html',
               link_html: new_tab_link_to(
                 t('duplicate_profiles_detected.delete_duplicates.link_html'),
                 MarketingSite.help_center_article_url(
                   category: 'manage-your-account',
                   article: 'delete-your-account',
                 ),
               ),
             ) %></p>
    <% end %>
    <%= c.with_item(heading: t('duplicate_profiles_detected.sign_back_in.heading', app_name: APP_NAME)) do %>
      <p><%= t(
               'duplicate_profiles_detected.sign_back_in.details',
               app_name: APP_NAME,
             ) %></p>
    <% end %>
  <% end %>

  <h3><%= t('duplicate_profiles_detected.accounts_list.heading') %> </h3>

  <div class="cardborder-primary-light">
    <ul class="add-list-reset border-bottom border-primary-light">
      <li>
        <% @dupe_profiles_detected_presenter.associated_profiles.each do |dupe_profile| %>
            <%= render('duplicate_profiles_detected/account_information', dupe_profile: dupe_profile) %>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="margin-top-2">
    <%= link_to(t('duplicate_profile_detected.dont_recognize_account'), '/') %>
  </div>

  <div class="margin-top-4 grid-col-4">
    <%= new_tab_link_to(t('duplicate_profile_detected.get_help'), '/', class: 'usa-button usa-button--full-width usa-button--big') %>
  </div>

  <div class="margin-top-2 grid-col-4">
    <%= render ButtonComponent.new(
          url: logout_path,
          outline: true,
          method: :delete,
          class: 'usa-button usa-button--outline usa-button--full-width usa-button--big',
        ).with_content(t('duplicate_profile_detected.sign_out')) %>
  </div>
<% end %>
  

