<% title t('titles.visitors.index') %>

<h1 class='margin-y-0'>
  <%= t('headings.passwords.confirm') %>
</h1>

<%= validated_form_for(current_user,
                       as: :user,
                       url: capture_password_url,
                       method: :post,
                       html: { autocomplete: 'off', role: 'form' }) do |f| %>
  <%= f.input :password, label: t('account.index.password'), required: true,
              input_html: { aria: { invalid: false }, class: 'password-toggle' } %>
  <div>
    <%= f.button :submit, t('forms.buttons.submit.default'), class: 'usa-button--big usa-button--wide margin-bottom-4' %>
  </div>
<% end %>

<div class='clearfix padding-top-1 border-top'>
  <div class='sm-col-right margin-x-neg-1'>
    <%= link_to t('links.passwords.forgot'), new_user_password_url, class: 'padding-x-1' %>
  </div>
</div>
