<% self.title = t('two_factor_authentication.piv_cac_mismatch.title') %>

<%= render PageHeadingComponent.new.with_content(t('two_factor_authentication.piv_cac_mismatch.title')) %>

<% if @has_other_authentication_methods %>
  <p><%= t('two_factor_authentication.piv_cac_mismatch.instructions') %></p>

  <%= render ButtonComponent.new(
        url: login_two_factor_piv_cac_mismatch_url,
        method: :post,
        params: { add_piv_cac_after_2fa: 'true' },
        big: true,
        wide: true,
        class: 'display-block margin-top-5',
      ).with_content(t('two_factor_authentication.piv_cac_mismatch.cta')) %>

  <% if !@piv_cac_required %>
    <%= render ButtonComponent.new(
          url: login_two_factor_piv_cac_mismatch_url,
          method: :post,
          unstyled: true,
          class: 'display-block margin-top-2',
        ).with_content(t('two_factor_authentication.piv_cac_mismatch.skip')) %>
  <% end %>
<% else %>
  <p><%= t('two_factor_authentication.piv_cac_mismatch.instructions_no_other_method', app_name: APP_NAME) %></p>

  <%= render ButtonComponent.new(
        url: account_reset_recovery_options_url,
        big: true,
        wide: true,
        class: 'display-inline-block margin-top-3',
      ).with_content(t('two_factor_authentication.piv_cac_mismatch.delete_account')) %>
<% end %>

<%= render PageFooterComponent.new do %>
  <%= link_to t('links.cancel'), sign_out_url %>
<% end %>
