<% self.title = t('two_factor_authentication.opt_in.title') %>

<%= render AlertIconComponent.new(icon_name: :error, class: 'margin-bottom-2') %>

<%= render PageHeadingComponent.new.with_content(t('two_factor_authentication.opt_in.title')) %>

<p>
  <%= t(
        'two_factor_authentication.opt_in.opted_out_last_30d_html',
        phone_number_html: content_tag(:strong, @phone_configuration.masked_phone),
      ) %>
</p>

<p><%= t('two_factor_authentication.opt_in.wait_30d_opt_in') %></p>

<%= render 'two_factor_authentication/troubleshooting_options', presenter: @presenter %>

<%= render PageFooterComponent.new do %>
  <%= link_to cancel_link_text, @cancel_url %>
<% end %>
