<% self.title = t('two_factor_authentication.opt_in.title') %>

<%= render ADS::FormPageComponent.new(title: t('two_factor_authentication.opt_in.title')) do |page| %>
  <% page.with_body do %>
    <%= render ADS::StackComponent.new(gap: 24) do %>
      <div class="ads-copy">
        <p>
          <%= t(
                'two_factor_authentication.opt_in.opted_out_last_30d_html',
                phone_number_html: tag.span(@phone_configuration.masked_phone, class: 'ads-nowrap'),
              ) %>
        </p>

        <p><%= t('two_factor_authentication.opt_in.wait_30d_opt_in') %></p>
      </div>

      <%= render 'two_factor_authentication/troubleshooting_options', presenter: @presenter %>
    <% end %>
  <% end %>

  <% page.with_actions do %>
    <%= render ADS::LinkComponent.new(url: @cancel_url) do %>
      <%= cancel_link_text %>
    <% end %>
  <% end %>
<% end %>
