<%= image_tag(asset_url('alert/fail-x.svg'), alt: '', width: 54, class: 'margin-bottom-2') %>

<%= render PageHeadingComponent.new.with_content(t('two_factor_authentication.opt_in.title')) %>

<p>
  <%= t(
        'two_factor_authentication.opt_in.opted_out_last_30d_html',
        phone_number: content_tag(:strong, @phone_configuration&.masked_phone),
      ) %>
</p>

<p><%= t('two_factor_authentication.opt_in.wait_30d_opt_in') %></p>

<% if @has_other_auth_methods %>
  <h2 class="margin-top-6"><%= t('two_factor_authentication.opt_in.cant_use_phone') %></h2>

  <%= link_to t('two_factor_authentication.login_options_link_text'),
              login_two_factor_options_path %>
<% end %>

<%= render(
      'shared/troubleshooting_options',
      heading_tag: :h3,
      heading: t('two_factor_authentication.opt_in.immediate_assistance'),
      options: [
        decorated_session.sp_name && {
          url: return_to_sp_cancel_path(location: 'sms_resubscribe_error'),
          text: t('idv.troubleshooting.options.get_help_at_sp', sp_name: decorated_session.sp_name),
        },
        {
          url: MarketingSite.contact_url,
          text: t('links.contact_support', app_name: APP_NAME),
        },
      ].select(&:present?),
    ) %>

<%= render 'shared/cancel', link: sign_out_path %>
