<%= image_tag asset_url('status/warning.svg'),
              alt: t('image_description.warning'),
              class: 'margin-bottom-2 lg-icon' %>

<%= render PageHeadingComponent.new.with_content(t('two_factor_authentication.opt_in.title')) %>

<p>
  <%= t(
        'two_factor_authentication.opt_in.opted_out_html',
        phone_number: content_tag(:strong, @phone_configuration.masked_phone),
      ) %>
</p>

<%= link_to t('two_factor_authentication.mobile_terms_of_service'),
            MarketingSite.messaging_practices_url,
            class: 'margin-top-2' %>

<%= button_to t('forms.buttons.send_security_code'),
              login_two_factor_sms_opt_in_path(opt_out_uuid: @phone_number_opt_out),
              class: 'usa-button usa-button--wide usa-button--big',
              form_class: 'margin-y-5' %>

<% if @other_mfa_options_url %>
  <h2 class="margin-top-5"><%= t('two_factor_authentication.opt_in.cant_use_phone') %></h2>

  <%= link_to t('two_factor_authentication.login_options_link_text'),
              @other_mfa_options_url %>
<% end %>

<%= render PageFooterComponent.new do %>
  <%= link_to cancel_link_text, @cancel_url %>
<% end %>
