<% self.title = t('titles.backup_codes') %>

<%= render PageHeadingComponent.new.with_content(t('titles.backup_codes')) %>

<p>
  <%= t('two_factor_authentication.backup_codes.warning_html') %>
</p>

<p>
  <%= t('two_factor_authentication.backup_codes.instructions', app_name: APP_NAME) %>
</p>


<%= render ButtonComponent.new(
      action: ->(**tag_options, &block) { link_to(authentication_methods_setup_path, **tag_options, &block) },
      big: true,
      full_width: false,
      class: 'margin-y-205',
    ).with_content(t('mfa.add')) %>



<%= render PageFooterComponent.new do %>
  <%= link_to t('forms.buttons.continue'), sign_up_completed_path %>
<% end %>

