<% title t('forms.backup_code.confirm_delete') %>

<%= image_tag(asset_url('status/warning.svg'), alt: t('titles.icons.warning.alt_text'), width: 88, class: 'display-block margin-bottom-4') %>

<%= render PageHeadingComponent.new.with_content(t('forms.backup_code.confirm_delete')) %>

<p>
  <%= t('forms.backup_code.caution_delete') %>
</p>

<%= form_tag(backup_code_delete_path, method: :delete, class: 'margin-top-5') do %>
  <%= button_tag t('account.index.backup_code_confirm_delete'), type: 'submit',
                                                                class: 'usa-button usa-button--big usa-button--wide margin-bottom-2' %>
<% end %>

<%= link_to t('links.cancel'), account_path,
            class: 'usa-button usa-button--big usa-button--wide usa-button--outline' %>
