<% title t('forms.backup_code.confirm_delete') %>

<%= image_tag(asset_url('alert/warning-lg.svg'), alt: '', width: 54) %>

<h1 class="margin-bottom-1 margin-top-4 margin-y-0">
  <%= t('forms.backup_code.confirm_delete') %>
</h1>

<div class="col-2 margin-bottom-2">
  <hr class="margin-top-4 margin-bottom-2 border-width-05 border-yellow"></hr>
</div>

<p class="margin-bottom-6">
  <%= t('forms.backup_code.caution_delete') %>
</p>

<%= form_tag(backup_code_delete_path, method: :delete) do %>
  <%= button_tag t('account.index.backup_code_confirm_delete'), type: 'submit',
                                                                class: 'usa-button usa-button--big usa-button--wide margin-bottom-2' %>
<% end %>

<%= link_to t('links.cancel'), account_path,
            class: 'usa-button usa-button--big usa-button--wide usa-button--outline' %>
