<% title t('titles.backup_codes') %>

<%= render PageHeadingComponent.new.with_content(t('titles.backup_codes')) %>

<p class='margin-top-1 margin-bottom-4'>
  <%= t('two_factor_authentication.backup_codes.warning_html') %>
</p>

<p class='margin-top-1 margin-bottom-4'>
  <%= t('two_factor_authentication.backup_codes.instructions') %>
</p>

<%= button_to(
      account_path,
      method: :get,
      class: 'usa-button usa-button--wide usa-button--big margin-bottom-3',
    ) do %>
  <%= t('two_factor_authentication.backup_codes.saved_backup_codes') %>
<% end %>

<%= button_to(
      account_path,
      method: :get,
      class: 'usa-button usa-button--wide usa-button--big margin-bottom-3',
    ) do %>
  <%= t('two_factor_authentication.backup_codes.new_backup_codes') %>
<% end %>

<%= link_to t('mfa.additional_mfa_required.heading'), backup_code_regenerate_path %>
