<% title t('forms.backup_code.title') %>

<%= render PageHeadingComponent.new.with_content(t('forms.backup_code.subtitle')) %>

<p>
  <%= t(
        'users.backup_code.generated_on_html',
        date: content_tag(:strong, I18n.l(Time.zone.today, format: '%B %d, %Y')),
      ) %>
</p>

<p>
  <%= t('forms.backup_code.subinfo_html') %>
</p>

<div class="margin-top-4 margin-bottom-5">
  <div class="grid-row">
    <% [@codes.first(@codes.length / 2), @codes.last(@codes.length / 2)].each do |section| %>
      <div class="grid-col-12 tablet:grid-col-6">
        <% section.each do |code| %>
          <div class="margin-bottom-2">
            <code class="text-bold h2">
              <%= RandomPhrase.format(code, separator: '-') %>
            </code>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="margin-top-1">
    <% if desktop_device? %>
      <%= render DownloadButtonComponent.new(
            file_data: @codes.join("\n"),
            file_name: 'backup_codes.txt',
            outline: true,
          ) %>
    <% end %>
    <%= render PrintButtonComponent.new(
          icon: :print,
          outline: true,
          type: :button,
          class: 'margin-top-2 tablet:margin-top-0 tablet:margin-left-2',
        ) %>
    <%= render ClipboardButtonComponent.new(
          clipboard_text: @codes.join(' '),
          outline: true,
          class: 'margin-top-2 tablet:margin-top-0 tablet:margin-left-2',
        ) %>
  </div>
</div>

<%= form_tag(backup_code_continue_path, method: :patch) do %>
  <%= button_tag t('forms.buttons.continue'), type: 'submit', class: 'usa-button usa-button--big usa-button--wide' %>
<% end %>
<%= javascript_packs_tag_once 'backup-code-analytics' %>
