<% self.title = t('forms.backup_code_regenerate.confirm') %>

<%= render AlertIconComponent.new(icon_name: :warning, class: 'display-block margin-bottom-4') %>

<%= render PageHeadingComponent.new.with_content(t('forms.backup_code_regenerate.confirm')) %>

<p>
  <%= t('forms.backup_code_regenerate.caution') %>
</p>

<%= form_tag(backup_code_setup_path, method: :get, class: 'margin-top-5') do %>
  <%= button_tag t('account.index.backup_code_confirm_regenerate'), type: 'submit',
                                                                    class: 'usa-button usa-button--big usa-button--wide margin-bottom-2' %>
<% end %>

<%= link_to t('links.cancel'), account_path,
            class: 'usa-button usa-button--big usa-button--wide usa-button--outline' %>
