<% self.title = t('forms.backup_code.title') %>

<%= render PageHeadingComponent.new.with_content(t('forms.backup_code.title')) %>

<p>
  <%= t('forms.backup_code.subinfo_html', app_name: APP_NAME) %>
</p>

<div class="margin-y-4">
  <div class="grid-row">
    <% [@codes.first(@codes.length / 2), @codes.last(@codes.length / 2)].each do |section| %>
      <div class="grid-col-12 tablet:grid-col-6">
        <% section.each do |code| %>
          <div class="margin-bottom-2">
            <code class="text-bold h2 bg-base-lightest">
              <%= RandomPhrase.format(code, separator: '-') %>
            </code>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render AlertComponent.new(type: :warning, class: 'margin-bottom-4') do %>
    <%= t('forms.backup_code.caution_codes') %>
  <% end %>

  <div class="margin-top-1">
    <%= render ClickObserverComponent.new(event_name: 'Multi-Factor Authentication: download backup code') do %>
      <%= render DownloadButtonComponent.new(
            file_data: @codes.join("\n"),
            file_name: 'backup_codes.txt',
            outline: true,
          ) %>
    <% end %>
    <%= render PrintButtonComponent.new(
          icon: :print,
          outline: true,
          type: :button,
          class: 'margin-top-2 tablet:margin-top-0 tablet:margin-left-2',
        ) %>
    <%= render ClipboardButtonComponent.new(
          clipboard_text: @codes.join(' '),
          outline: true,
          class: 'margin-top-2 tablet:margin-top-0 tablet:margin-left-2',
        ) %>
  </div>
</div>

<%= simple_form_for(:backup_code_accepted_form, url: backup_code_continue_path, method: :patch) do |f| %>
  <%= render ValidatedFieldComponent.new(
        form: f,
        name: :backup_code_notice_accepted,
        as: :boolean,
        label: t('forms.backup_code.saved'),
        required: true,
      ) %>
  <%= f.submit t('forms.buttons.continue'), class: 'margin-top-2' %>
<% end %>

<% if in_multi_mfa_selection_flow? %>
  <%= render PageFooterComponent.new do %>

    <%= form_tag(backup_code_delete_path, method: :delete) do %>

      <%= button_tag t('two_factor_authentication.choose_another_option'), type: 'submit', class: 'usa-button usa-button--unstyled' %>

    <% end %>
  <% end %>
<% end %>
