<h1 class="margin-y-0 margin-top-0"><%= @presenter.title %></h1>
<p class="mt-tiny margin-bottom-4"><%== @presenter.description %></p>

<% if @presenter.other_option_display %>
  <%= form_tag(backup_code_setup_path, method: :patch) do %>
    <div class="clearfix margin-x-neg-1">
      <div class="col col-12 sm-col-8 padding-x-1">
        <%= button_tag t('forms.buttons.continue'), type: 'submit', class: 'usa-button usa-button--big usa-button--wide' %>
      </div>
    </div>
  <% end %>
<% end %>
<br>
<div class="margin-top-2 padding-top-1 border-top border-primary-light">
  <% if MfaPolicy.new(current_user).two_factor_enabled? %>
    <%= link_to t('links.cancel'), account_path %>
  <% else %>
    <%= link_to @presenter.other_option_title, two_factor_options_path %>
  <% end %>
</div>
