<% title t('titles.idv.get_letter') %>

<% content_for(:pre_flash_content) do %>
  <%= render StepIndicatorComponent.new(
        steps: step_indicator_steps,
        current_step: @step_indicator_current_step,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      ) %>
<% end %>

<% if @presenter.resend_requested? %>
  <%= render PageHeadingComponent.new.with_content(@presenter.title) %>
  <p>
    <%= t('idv.gpo.request_another_letter.instructions_html') %>
  </p>
  <p>
    <%= new_tab_link_to(
          t('idv.gpo.request_another_letter.learn_more_link'),
          help_center_redirect_url(
            category: 'verify-your-identity',
            article: 'verify-your-address-by-mail',
            flow: :idv,
            step: :gpo_send_letter,
          ),
        ) %>
  </p>
<% else %>
  <%= render AlertComponent.new(message: t('idv.messages.gpo.info_alert'), class: 'margin-bottom-4') %>
  <%= render PageHeadingComponent.new.with_content(@presenter.title) %>
  <p>
    <%= t('idv.messages.gpo.timeframe_html') %>
    <br />
    <%= new_tab_link_to(
          t('idv.messages.gpo.learn_more_verify_by_mail'),
          help_center_redirect_url(
            category: 'verify-your-identity',
            article: 'verify-your-address-by-mail',
            flow: :idv,
            step: :gpo_send_letter,
          ),
        )
    %>
  </p>
  <p>
    <%= t('idv.messages.gpo.address_on_file_html') %>
  </p>

  <p>
    <%= @applicant[:address1] %>
    <br />
    <% if @applicant[:address2] %>
      <%= @applicant[:address2] %>
      <br />
    <% end %>
    <%= @applicant[:city] %>, <%= @applicant[:state] %> <%= @applicant[:zipcode] %>
    <br />
  </p>

  <p>
    <%= start_over_link = link_to(
          t('idv.messages.gpo.start_over_link_text'),
          idv_cancel_path(step: local_assigns[:step]),
        )
        t(
          'idv.messages.gpo.start_over_html',
          start_over_link: start_over_link,
        )
    %>
  </p>
  
<% end %>

<div class="margin-y-5">
  <%= button_to @presenter.button,
                idv_request_letter_path,
                method: 'put',
                class: 'usa-button usa-button--big usa-button--wide' %>
</div>

<%= render @presenter.back_or_cancel_partial, @presenter.back_or_cancel_parameters %>
