<b>
  <%= t('doc_auth.tips.header_text') %>
</b>
<ul>
  <li><%= t('doc_auth.tips.text1') %></li>
  <li><%= t('doc_auth.tips.text2') %></li>
  <li><%= t('doc_auth.tips.text3') %></li>
  <li><%= t('doc_auth.tips.text4') %></li>
  <li><%= t('doc_auth.tips.text5') %></li>
  <li><%= t('doc_auth.tips.text6') %></li>
  <li><%= t('doc_auth.tips.text7') %></li>
</ul>
