<% title t('titles.doc_auth.get_started') %>

<%= render 'shared/alert', {
  type: 'error',
  class: [
    'js-consent-form-alert',
    'margin-bottom-4',
    flow_session[:error_message].blank? && 'display-none',
  ].select(&:present?),
  message: flow_session[:error_message].presence || t('errors.doc_auth.consent_form'),
} %>

<h1><%= t('doc_auth.headings.lets_go') %></h1>
<p><%= t('doc_auth.info.lets_go') %></p>
<h2><%= t('doc_auth.headings.verify_identity') %></h2>
<p><%= t('doc_auth.info.verify_identity') %></p>
<h2><%= t('doc_auth.headings.secure_account') %></h2>
<p><%= t('doc_auth.info.secure_account') %></p>

<%= validated_form_for :doc_auth,
                       url: url_for,
                       method: 'put',
                       html: { autocomplete: 'off', class: 'margin-top-2 js-consent-continue-form' } do |f| %>
  <div class="margin-bottom-4">
    <%= check_box_tag(
          :ial2_consent_given,
          true,
          false,
          class: 'usa-checkbox__input',
          required: true,
          aria: {invalid: false}
        ) %>
    <label class="usa-checkbox__label" for="ial2_consent_given">
      <%= t('doc_auth.instructions.consent') %>
      <%= new_window_link_to t('doc_auth.instructions.learn_more'), MarketingSite.security_and_privacy_practices_url %>
    </label>

    <div class="usa-error-message display-if-invalid display-if-invalid--value-missing" role="alert">
      <%= t('forms.validation.required_checkbox') %>
    </div>
  </div>
  <%= f.button :button, t('doc_auth.buttons.continue'), type: :submit,
               class: 'usa-button--big usa-button--wide' %>
<% end %>

<%= render 'idv/doc_auth/start_over_or_cancel', step: 'agreement' %>

<%= javascript_packs_tag_once('ial2-consent-button', 'document-capture-welcome') %>
