<% if Figaro.env.acuant_sdk_document_capture_enabled == 'true' %>
  <% content_for :meta_tags do %>
    <meta
      name="acuant-sdk-initialization-endpoint"
      content="<%= Figaro.env.acuant_sdk_initialization_endpoint %>"
    >
    <meta
      name="acuant-sdk-initialization-creds"
      content="<%= Figaro.env.acuant_sdk_initialization_creds %>"
    >
  <% end %>
  <div id="document-capture-form"></div>
  <%= javascript_pack_tag 'document-capture' %>
<% end %>
<div>
<% title t('doc_auth.titles.doc_auth') %>

<%= render 'idv/doc_auth/error_messages', flow_session: flow_session %>

<%= simple_form_for(
  :doc_auth,
  url: url_for,
  method: 'PUT',
  html: { autocomplete: 'off', role: 'form', class: 'mt2' }
) do |f| %>
  <%# ---- Front Image ----- %>
  <%= render 'idv/doc_auth/front_of_state_id_image' %>

  <h1 class='h3 my0'>
    <%= t('doc_auth.headings.upload_front') %>
  </h1>

  <%= accordion('totp-info', t('doc_auth.tips.title_html'),
    wrapper_css: 'my2 col-12 fs-16p') do %>
    <%= render 'idv/doc_auth/tips_and_sample' %>
    <div class='center'>
      <%= image_tag(asset_url('state-id-sample-front.jpg'), height: 338, width: 450) %>
    </div>
  <% end %>

  <%= f.input :front_image_data_url, as: :hidden %>
  <%= render 'idv/doc_auth/notices', flow_session: flow_session %>
  <%= f.input :front_image, label: false, as: :file, required: true, wrapper_class: 'mt3 sm-col-8' %>
  <div class='my2' id='front_target'></div>


  <%# ---- Back Image ----- %>
  <%= render 'idv/doc_auth/back_of_state_id_image' %>

  <h1 class='h3 my0'>
    <%= t('doc_auth.headings.upload_back') %>
  </h1>

  <%= accordion('totp-info', t('doc_auth.tips.title_html'),
    wrapper_css: 'my2 col-12 fs-16p') do %>
    <%= render 'idv/doc_auth/tips_and_sample' %>
    <div class='center'>
      <%= image_tag(asset_url('state-id-sample-back.jpg'), height: 338, width: 450) %>
    </div>
  <% end %>

  <%= f.input :back_image_data_url, as: :hidden %>
  <%= render 'idv/doc_auth/notices', flow_session: flow_session %>
  <%= f.input :back_image, label: false, as: :file, required: true, wrapper_class: 'mt3 sm-col-8' %>
  <div class='my2' id='back_target'></div>

  <%# ---- Selfie ----- %>


  <%# ---- Selfie ----- %>

  <div class='mt3'>
    <%= render 'idv/doc_auth/submit_with_spinner' %>
  </div>
<% end %>

<p class='mt3 mb0'><%= t('doc_auth.info.upload_image') %></p>

<%= render 'idv/doc_auth/start_over_or_cancel' %>
<%= javascript_pack_tag 'image-preview' %>
</div>
