<% title t('doc_auth.titles.doc_auth') %>

<%= render 'idv/doc_auth/error_messages', flow_session: flow_session %>

<%= render 'idv/doc_auth/front_of_state_id_image' %>

<h1 class='h3 my0'>
  <label for='doc_auth_image'><%= t('doc_auth.headings.upload_front') %></label>
</h1>

<%= accordion('totp-info', t('doc_auth.tips.title_html')) do %>
  <%= render 'idv/doc_auth/tips_and_sample' %>
  <div class='center'>
    <%= image_tag(asset_url('state-id-sample-front.jpg'), height: 338, width: 450) %>
  </div>
<% end %>

<%= validated_form_for(
  :doc_auth,
  url: url_for,
  method: 'PUT',
  html: { autocomplete: 'off', role: 'form', class: 'mt2' }
) do |f| %>
  <%= f.input :image_data_url, as: :hidden %>
  <%= render 'idv/doc_auth/notices', flow_session: flow_session %>
  <%= f.input :image, label: false, as: :file, required: true, input_html: { aria: { invalid: false } }, wrapper_class: 'mt3 sm-col-8' %>
  <div class='mt3'>
    <%= render 'idv/doc_auth/submit_with_spinner' %>
  </div>
<% end %>

<p class='mt3 mb0'><%= t('doc_auth.info.upload_image') %></p>

<%= render 'idv/doc_auth/start_over_or_cancel' %>
