<% title t('titles.doc_auth.link_sent') %>

<!-- Hide meta refresh if we are polling -->
<% if @meta_refresh && !FeatureManagement.doc_capture_polling_enabled? %>
  <%= content_for(:meta_refresh) { @meta_refresh.to_s } %>
<% end %>
<% if flow_session[:error_message] %>
  <%= render AlertComponent.new(
        type: :error,
        class: 'margin-bottom-4',
        message: flow_session[:error_message],
      ) %>
<% end %>
<%= render PageHeadingComponent.new.with_content(t('doc_auth.headings.text_message')) %>

<div class="grid-row">
  <div class="grid-col-12 tablet:grid-col-3">
    <%= image_tag asset_url('idv/phone.png'), alt: t('image_description.camera_mobile_phone') %>
  </div>
  <div class="grid-col-12 tablet:grid-col-9">
    <p><%= t('doc_auth.info.link_sent') %></p>
    <%= render AlertComponent.new(type: :warning) do %>
      <strong class="display-block"><%= t('doc_auth.info.keep_window_open') %></strong>
      <% if FeatureManagement.doc_capture_polling_enabled? %>
        <%= t('doc_auth.info.link_sent_complete_polling') %>
      <% else %>
        <%= t('doc_auth.info.link_sent_complete_no_polling') %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="margin-top-4 margin-bottom-0">
  <%= button_to(
        url_for,
        method: :put,
        class: 'usa-button usa-button--big usa-button--wide',
        form_class: 'link-sent-continue-button-form',
      ) { t('forms.buttons.continue') } %>
</div>

<% if FeatureManagement.doc_capture_polling_enabled? %>
  <%= content_tag 'script', '', data: { status_endpoint: idv_capture_doc_status_url } %>
  <%= javascript_packs_tag_once 'doc-capture-polling' %>
<% end %>

<%= render 'idv/doc_auth/back', action: 'cancel_link_sent', class: 'link-sent-back-link' %>
