<% title t('titles.doc_auth.verify') %>

<!-- Hide meta refresh if we are polling -->
<% if @meta_refresh && !FeatureManagement.doc_capture_polling_enabled? %>
  <%= content_for(:meta_refresh) { "#{@meta_refresh}" } %>
<% end %>
<% if flow_session[:error_message] %>
  <%= render 'shared/alert', {
    type: 'error',
    message: flow_session[:error_message],
  } %>
<% end %>
<h1 class='h3 my0'><%= t('doc_auth.headings.text_message') %></h1>

<br />

<div class='clearfix mxn1'>
  <div class='sm-col sm-col-3 px1'>
    <%= image_tag asset_url('idv/phone.png'), alt: t('image_description.camera_mobile_phone') %>
  </div>
  <div class='sm-col sm-col-9 px1 h2 mb2 mt0 my0'>
    <p><%= t('doc_auth.info.link_sent').first %></p>
    <p id='doc_capture_continue_instructions' class='mb0'>
      <%= t('doc_auth.info.link_sent').last %>
    </p>
  </div>
</div>

<div class='mt2 mb0'>
    <%=
      button_to(
        t('forms.buttons.continue'),
        url_for,
        method: :put,
        class: 'btn btn-primary btn-wide sm-col-6 col-12',
        form_class: 'doc_capture_continue_button_form'
      )
    %>
</div>

<%= render 'idv/doc_auth/start_over_or_cancel' %>

<% if FeatureManagement.doc_capture_polling_enabled? %>
  <%= javascript_packs_with_chunks_tag 'doc_capture_polling' %>
<% end %>
