<% title t('doc_auth.titles.doc_auth') %>

<%= render 'idv/doc_auth/error_messages', flow_session: flow_session %>

<%= render 'idv/doc_auth/back_of_state_id_image' %>

<h1 class='h3 mb0'>
  <%= t('doc_auth.headings.take_pic_back') %>
</h1>

<h5 class='mt0'>
  <%= t('doc_auth.instructions.take_pic') %>
</h5>

<ul>
  <li><%= t('doc_auth.instructions.take_pic1') %></li>
  <li><%= t('doc_auth.instructions.take_pic2') %></li>
  <li><%= t('doc_auth.instructions.take_pic3') %></li>
  <li><%= t('doc_auth.instructions.take_pic4') %></li>
</ul>

<%= validated_form_for(
  :doc_auth,
  url: url_for,
  method: 'PUT',
  html: { autocomplete: 'off', role: 'form', class: 'mt2' }
) do |f| %>
  <%= f.input :image_data_url, as: :hidden %>
  <%= render 'idv/doc_auth/notices', flow_session: flow_session %>
  <div id='acuant-fallback-image-form'>
    <button class='btn btn-secondary mt3' id='take_picture'>
      <%= t('doc_auth.buttons.take_picture') %>
    </button>
    <%= f.input :image, label: false, as: :file, required: true, input_html: { aria: { invalid: true } }, wrapper_class: 'hidden' %>
    <div class='my2' id='target'></div>
    <div class='mt3'>
      <%= render 'idv/doc_auth/submit_with_spinner' %>
    </div>
  </div>
  <div class='my3'>
    <%= render(
      'idv/acuant_sdk_document_capture_form',
      capture_button_label: t('doc_auth.buttons.take_picture'),
      retry_capture_button_label: t('doc_auth.buttons.take_picture_retry'),
    ) %>
  </div>
<% end %>

<%= render 'idv/doc_auth/start_over_or_cancel' %>
<%= javascript_pack_tag 'image-preview' %>
