<% title t('doc_auth.errors.no_camera.title') %>

<%= render StatusPageComponent.new(type: :warning) do |c| %>
  <% c.header { t('doc_auth.errors.no_camera.heading') } %>

  <p>
    <% if liveness_checking_enabled? %>
      <%= t('doc_auth.info.upload_liveness_enabled') %>
    <% else %>
      <%= t('doc_auth.info.upload') %>
    <% end %>
  </p>

  <p class="text-bold">
    <%= t('doc_auth.errors.no_camera.explanation', app_name: APP_NAME) %>
  </p>

  <%= render 'idv/doc_auth/start_over_or_cancel', step: 'no_camera' %>
<% end %>
