<% title t('doc_auth.errors.no_camera.title') %>

<%= image_tag(asset_url('alert/warning-lg.svg'), width: 54, alt: '') %>

<h1 class="margin-bottom-1 margin-top-4 margin-y-0">
  <%= t('doc_auth.errors.no_camera.heading') %>
</h1>

<p>
  <% if liveness_checking_enabled? %>
    <%= t('doc_auth.info.upload_liveness_enabled') %>
  <% else %>
    <%= t('doc_auth.info.upload') %>
  <% end %>
</p>

<p class="text-bold">
  <%= t('doc_auth.errors.no_camera.explanation') %>
</p>

<%= render 'idv/doc_auth/start_over_or_cancel' %>
