<% if flow_session[:error_message] %>
  <%= render 'shared/alert', {
    type: 'error',
    class: 'margin-bottom-4',
    message: flow_session[:error_message],
  } %>
<% end %>

<h1 class='margin-y-0'><%= t('recover.overview.heading') %></h1>
<p class='mt-tiny margin-bottom-4'><%= t('recover.overview.description') %></p>
<h2 class='margin-bottom-2'><%= t('recover.instructions.heading') %></h2>

<ul class='list-reset'>
  <li class='padding-top-2 padding-bottom-1'>
    <div class='inline-block margin-right-2 margin-top-1 text-top circle circle-number bg-blue white'>
      1
    </div>
    <div class='margin-right-1 inline-block'>
      <div class='h1 inline-block bold'>
        <%= t('recover.instructions.bullet1') %>
      </div>
      <br/>
      <div>
        <%= t('recover.instructions.text1') %>
      </div>
    </div>
  </li>
  <li class='padding-top-2 padding-bottom-1'>
    <div class='inline-block margin-right-2 margin-top-1 text-top circle circle-number bg-blue white'>
      2
    </div>
    <div class='margin-right-1 inline-block'>
      <div class='h1 inline-block bold'>
        <%= t('recover.instructions.bullet2') %>
      </div>
      <br/>
      <div>
        <%= t('recover.instructions.text2') %>
      </div>
    </div>
  </li>
  <li class='padding-top-2 padding-bottom-1'>
    <div class='inline-block margin-right-2 margin-top-1 text-top circle circle-number bg-blue white'>
      3
    </div>
    <div class='margin-right-1 inline-block'>
      <div class='h1 inline-block bold'>
        <%= t('recover.instructions.bullet3') %>
      </div>
      <br/>
      <div>
        <%= t('recover.instructions.text3') %>
      </div>
    </div>
  </li>
</ul>

<%= validated_form_for :doc_auth,
                       url: url_for,
                       method: 'put',
                       html: { autocomplete: 'off', role: 'form', class: 'margin-top-2' } do |f| %>
  <br/>
  <label class="margin-top-neg-1 margin-bottom-4" for="ial2_consent_given">
    <div class="checkbox">
      <%= check_box_tag :ial2_consent_given, true, false %>
      <span class="indicator"></span>
      <%= t('recover.instructions.consent') %>
      <%= new_window_link_to(t('recover.instructions.learn_more'),
                             MarketingSite.security_and_privacy_practices_url) %>
    </div>
  </label>
  <%= f.button :submit, t('recover.buttons.continue'), class: 'usa-button--big usa-button--wide' %>
<% end %>

<br/>

<div class='margin-top-2 padding-top-1 border-top'>
  <%= link_to(t('links.cancel'), idv_cancel_path, class: 'h5') %>
</div>

<%= javascript_packs_tag_once 'clipboard', 'ial2-consent-button' %>
