<% title t('titles.doc_auth.verify') %>

<%= image_tag(asset_url('alert/success.svg'), width: 60) %>

<h1 class='h1 mb2 mt3 my0'>
  <%= t('recover.reverify.email_confirmed') %>
</h1>
<hr/>
<h1 class='h1 mb1 mt3 my0'>
  <%= t('recover.reverify.reverify') %>
</h1>
<%= t('recover.reverify.instructions') %>
<br/>
<br/>
<%= validated_form_for(
  '',
  url: url_for,
  method: :put,
  html: { autocomplete: 'off', role: 'form', class: 'mt2' }
) do |f| %>
  <% f.simple_fields_for :doc_auth do %>
    <button type='submit' class='btn btn-primary btn-wide sm-col-6 col-12'>
      <%= t('forms.buttons.continue') %>
    </button>
  <% end %>
<% end %>
<div class='mt2 pt1 border-top'>
  <%= link_to t('links.cancel'), idv_cancel_path, class: 'h5' %>
</div>
