<% title t('titles.doc_auth.take_photo') %>

<% if flow_session[:error_message] %>
  <%= render AlertComponent.new(
        type: :error,
        class: 'margin-bottom-4',
        message: flow_session[:error_message],
      ) %>
<% end %>

<%= render PageHeadingComponent.new.with_content(t('doc_auth.headings.take_picture')) %>

<p><%= t('doc_auth.info.take_picture') %></p>

<p class="margin-y-4"><strong><%= t('doc_auth.info.camera_required') %></strong></p>

<p><%= t('doc_auth.instructions.send_sms') %></p>
<%= simple_form_for(
      :doc_auth,
      url: url_for,
      method: 'PUT',
      html: { autocomplete: 'off' },
    ) do |f| %>
  <%= render PhoneInputComponent.new(
        form: f,
        required: true,
        delivery_methods: [:sms],
        class: 'margin-bottom-4',
      ) %>
  <%= f.submit t('forms.buttons.continue'), class: 'margin-top-4' %>
<% end %>
<%= render 'idv/shared/back', action: 'cancel_send_link' %>
