<% title t('titles.doc_auth.take_photo') %>

<% if flow_session[:error_message] %>
  <%= render 'shared/alert', {
    type: 'error',
    class: 'margin-bottom-4',
    message: flow_session[:error_message],
  } %>
<% end %>

<h1>
  <%= t('doc_auth.headings.take_picture') %>
</h1>

<p class='mt-tiny margin-bottom-4'><%= t('doc_auth.info.take_picture') %></p>

<p class='mt-tiny margin-bottom-4'><strong><%= t('doc_auth.info.camera_required') %></strong></p>

<p class='mt-tiny margin-bottom-4'><%= t('doc_auth.instructions.send_sms') %></p>

<%= validated_form_for(:doc_auth, url: url_for, method: 'PUT',
        html: { autocomplete: 'off', class: 'margin-top-2' }) do |f| %>
  <div class='clearfix margin-x-neg-1'>
    <div class='sm-col sm-col-8 padding-x-1 margin-right-2'>
      <!-- using :phone for mobile numeric keypad -->
      <%= f.input(
        :phone,
        required: true,
        label: t('idv.form.phone'),
        input_html: { aria: { invalid: false }, class: 'sm-col-8 usa-input' },
        wrapper: false,
      ) %>
  
      <span class='usa-error-message margin-top-1 display-if-invalid display-if-invalid--value-missing' role='alert'>
        <%= t('simple_form.required.text') %>
      </span>
    </div>
  </div>
  <div class='margin-top-2'>
    <button type='submit' class='usa-button usa-button--big usa-button--wide'>
      <%= t('forms.buttons.continue') %>
    </button>
  </div>
<% end %>
<%= render 'idv/doc_auth/back', action: 'cancel_send_link' %>
