<% title t('titles.doc_auth.take_photo') %>

<% if flow_session[:error_message] %>
  <%= render AlertComponent.new(
        type: :error,
        class: 'margin-bottom-4',
        message: flow_session[:error_message],
      ) %>
<% end %>

<h1>
  <%= t('doc_auth.headings.take_picture') %>
</h1>

<p><%= t('doc_auth.info.take_picture') %></p>

<p class="margin-y-4"><strong><%= t('doc_auth.info.camera_required') %></strong></p>

<p><%= t('doc_auth.instructions.send_sms') %></p>
<%= validated_form_for(
      :doc_auth,
      url: url_for,
      method: 'PUT',
      html: { autocomplete: 'off', class: 'margin-top-4' },
    ) do |f| %>
  <%= render PhoneInputComponent.new(form: f, required: true) %>
  <div class="usa-error-message margin-bottom-4 display-none" role="alert"></div>
  <button class="margin-top-1 usa-button usa-button--big usa-button--wide">
    <%= t('forms.buttons.continue') %>
  </button>
<% end %>
<%= render 'idv/doc_auth/back', action: 'cancel_send_link' %>
