<% title t('doc_auth.titles.doc_auth') %>

<%= render 'shared/alert', {
  type: 'success',
  class: 'margin-bottom-4 margin-top-2 tablet:margin-top-0'
} do %>
  <%= t('doc_auth.headings.capture_complete') %>
<% end %>

<h1 class='h3 my0'>
  <%= t('doc_auth.headings.ssn') %>
</h1>

<%= validated_form_for(
  :doc_auth,
  url: url_for,
  method: :put,
  html: { autocomplete: 'off', role: 'form', class: 'mt2' }
) do |f| %>
  <div class='clearfix mxn1'>
    <div class='sm-col sm-col-8 px1 mt2'>
      <%= f.input(
        :ssn,
        as: :password,
        label: t('idv.form.ssn_label_html'),
        required: true,
        pattern: '^\d{3}-?\d{2}-?\d{4}$',
        maxlength: 9,
        input_html: { aria: { invalid: false }, class: 'ssn ssn-toggle', value: '' }
      ) %>
    </div>
  </div>

  <p><%= flow_session[:error_message] %></p>

  <div class='mt0'>
    <button type='submit' class='btn btn-primary btn-wide sm-col-6 col-12'>
      <%= t('forms.buttons.continue') %>
    </button>
  </div>
<% end %>
<%= render 'idv/doc_auth/start_over_or_cancel' %>
