<% title t('doc_auth.titles.doc_auth') %>

<h1 class='h3 mt0 mb1'>
  <% if liveness_checking_enabled? %>
    <%= t('doc_auth.headings.upload_liveness_enabled') %>
  <% else %>
    <%= t('doc_auth.headings.upload') %>
  <% end %>
</h1>

<% if liveness_checking_enabled? %>
  <p>
    <%= t('doc_auth.info.upload_liveness_enabled') %>
  </p>
<% else %>
  <p>
    <%= t('doc_auth.info.upload') %>
  </p>
<% end %>

<p>
  <%= t('doc_auth.info.upload_no_image_storage') %>
</p>

<p>
  <%= t('doc_auth.info.id_worn_html') %>
</p>

<% if decorated_session.sp_name %>
  <p>
    <%= t(
      'doc_auth.info.no_other_id_help_bold_html',
      failure_to_proof_url: decorated_session.failure_to_proof_url,
      sp_name: decorated_session.sp_name,
    ) %>
  </p>
<% end %>

<% if Figaro.env.cac_proofing_enabled == 'true' && desktop_device? %>
  <p>
    <strong><%= t('doc_auth.info.use_cac') %></strong>
    <%= link_to(t('doc_auth.info.use_cac_link'), idv_cac_step_path(step: :choose_method)) %>
  </p>
<% end %>

<hr class="margin-y-4" />

<div class='clearfix'>
  <div class='sm-col sm-col-3'>
    <%= image_tag(
      asset_url('idv/phone.png'),
      alt: t('image_description.camera_mobile_phone'),
      width: 80,
    ) %>
  </div>
  <div id="recommended-tag"
       class='usa-tag caps text-ink bg-primary-lighter margin-top-1 display-inline-block <%= 'hidden' if liveness_checking_enabled? %>'>
    <%= t('doc_auth.info.tag') %>
  </div>
  <div class='sm-col sm-col-9'>
    <div class='bold h1 margin-y-105'>
      <% if liveness_checking_enabled? %>
        <%= t('doc_auth.headings.upload_from_phone_liveness_enabled') %>
      <% else %>
        <%= t('doc_auth.headings.upload_from_phone') %>
      <% end %>
    </div>
    <%= t('doc_auth.info.upload_from_phone') %>
    <br/>
    <%= validated_form_for(
      :doc_auth,
      url: url_for(type: :mobile),
      method: 'PUT',
      html: { autocomplete: 'off', role: 'form', class: 'mt2' },
    ) do %>
      <button type='submit' class='btn btn-primary margin-top-05'>
        <%= t('doc_auth.buttons.use_phone') %>
      </button>
    <% end %>
  </div>
</div>

<hr class="margin-y-4" />

<div class='clearfix'>
  <div id="upload-comp-liveness-off"
    class='sm-col sm-col-12 <%= 'hidden' if liveness_checking_enabled? %>'>
    <%= t('doc_auth.info.upload_from_computer') %>&nbsp;
    <%= validated_form_for(
      :doc_auth,
      url: url_for(type: :desktop),
      method: 'PUT',
      html: { autocomplete: 'off', role: 'form', class: 'inline' }
    ) do %>
      <button type='submit' class='btn-link'>
        <%= t('doc_auth.info.upload_computer_link') %>
      </button>
    <% end %>
  </div>
  <div id="upload-comp-liveness"
       class='sm-col sm-col-12 <%= 'hidden' unless liveness_checking_enabled? %>'>
    <strong><%= t('doc_auth.info.upload_from_computer') %></strong>
    <%= t('doc_auth.info.upload_from_computer_not_allowed') %>
  </div>
</div>

<%= render 'idv/doc_auth/start_over_or_cancel' %>
<%= javascript_pack_tag 'upload-step' %>
