<% title t('titles.doc_auth.upload') %>

<%= render 'idv/doc_auth/error_messages', flow_session: flow_session %>

<h1 class='margin-top-0 margin-bottom-1'>
  <% if liveness_checking_enabled? %>
    <%= t('doc_auth.headings.upload_liveness_enabled') %>
  <% else %>
    <%= t('doc_auth.headings.upload') %>
  <% end %>
</h1>

<% if liveness_checking_enabled? %>
  <p>
    <%= t('doc_auth.info.upload_liveness_enabled') %>
  </p>
<% else %>
  <p>
    <%= t('doc_auth.info.upload') %>
  </p>
<% end %>

<p>
  <%= t('doc_auth.info.upload_no_image_storage') %>
</p>

<hr class="margin-y-4" />

<div class='clearfix'>
  <div class='sm-col sm-col-3'>
    <%= image_tag(
      asset_url('idv/phone.png'),
      alt: t('image_description.camera_mobile_phone'),
      width: 80,
    ) %>
  </div>
  <div id="recommended-tag"
       class='usa-tag caps text-ink bg-primary-lighter margin-top-1 display-inline-block <%= 'hidden' if liveness_checking_enabled? %>'>
    <%= t('doc_auth.info.tag') %>
  </div>
  <div class='sm-col sm-col-9'>
    <div class='bold h1 margin-y-105'>
      <% if liveness_checking_enabled? %>
        <%= t('doc_auth.headings.upload_from_phone_liveness_enabled') %>
      <% else %>
        <%= t('doc_auth.headings.upload_from_phone') %>
      <% end %>
    </div>
    <%= t('doc_auth.info.upload_from_phone') %>
    <br/>
    <%= validated_form_for(
      :doc_auth,
      url: url_for(type: :mobile),
      method: 'PUT',
      html: { autocomplete: 'off', class: 'margin-top-2' },
    ) do %>
      <button type="submit" class="usa-button usa-button--big margin-top-05">
        <%= t('doc_auth.buttons.use_phone') %>
      </button>
    <% end %>
  </div>
</div>

<hr class="margin-y-4" />

<div class='clearfix'>
  <div id="upload-comp-liveness-off"
    class='sm-col sm-col-12 <%= 'hidden' if liveness_checking_enabled? %>'>
    <%= t('doc_auth.info.upload_from_computer') %>&nbsp;
    <%= validated_form_for(
      :doc_auth,
      url: url_for(type: :desktop),
      method: 'PUT',
      html: { autocomplete: 'off', class: 'inline' }
    ) do %>
      <button type="submit" class="usa-button usa-button--unstyled">
        <%= t('doc_auth.info.upload_computer_link') %>
      </button>
    <% end %>
  </div>
  <div id="upload-comp-liveness"
       class='sm-col sm-col-12 <%= 'hidden' unless liveness_checking_enabled? %>'>
    <strong><%= t('doc_auth.info.upload_from_computer') %></strong>
    <%= t('doc_auth.info.upload_from_computer_not_allowed', app_name: APP_NAME) %>
  </div>
</div>

<%= render 'idv/doc_auth/start_over_or_cancel', step: 'upload' %>
<%= javascript_packs_tag_once 'upload-step' %>
