<% title t('doc_auth.titles.doc_auth') %>

<h1 class='h3 mt0 mb1'><%= t('doc_auth.headings.upload') %></h1>
<%= t('doc_auth.info.upload') %>

<div class='mt2 mb3'>
  <%= link_to t('idv.messages.jurisdiction.no_id'), idv_jurisdiction_errors_no_id_path %>
</div>

<% if Figaro.env.cac_proofing_enabled == 'true' && desktop_device? %>
  <div class='mt2 mb3'>
    <%= t(
      'doc_auth.info.use_cac_html',
      link: link_to(
        t('doc_auth.info.use_cac_link'),
        idv_cac_step_path(step: :choose_method),
      ),
    ) %>
  </div>
<% end %>

<hr/>

<div class='clearfix mt3 mb3'>
  <div class='sm-col sm-col-3'>
    <%= image_tag(
      asset_url('idv/phone.png'),
      alt: t('image_description.camera_mobile_phone'),
      width: 80,
    ) %>
  </div>
  <div class='usa-tag caps text-ink bg-primary-lighter margin-top-1 display-inline-block'>
    <%= t('doc_auth.info.tag') %>
  </div>
  <div class='sm-col sm-col-9'>
    <div class='bold h1 margin-y-105'>
      <%= t('doc_auth.headings.upload_from_phone') %>
    </div>
    <%= t('doc_auth.info.upload_from_phone') %>
    <br/>
    <%= simple_form_for(
      :doc_auth,
      url: url_for(type: :mobile),
      method: 'PUT',
      html: { autocomplete: 'off', role: 'form', class: 'mt2' },
    ) do %>
      <button type='submit' class='btn btn-primary margin-top-05'>
        <%= t('doc_auth.buttons.use_phone') %>
      </button>
    <% end %>
  </div>
</div>

<hr/>

<div class='clearfix mt3 mb3'>
  <div class='sm-col sm-col-12'>
    <%= t('doc_auth.info.upload_from_computer') %>&nbsp;
    <%= simple_form_for(
      :doc_auth,
      url: url_for(type: :desktop),
      method: 'PUT',
      html: { autocomplete: 'off', role: 'form', class: 'inline' }
    ) do %>
      <button type='submit' class='btn-link'>
        <%= t('doc_auth.info.upload_computer_link') %>
      </button>
    <% end %>
  </div>
</div>

<%= render 'idv/doc_auth/start_over_or_cancel' %>
<%= javascript_pack_tag 'image-preview' %>
