<% title t('doc_auth.headings.welcome') %>

<%= render(VendorOutageAlertComponent.new(vendors: [:sms, :voice], only_if_all: true, context: :idv)) %>

<%= render 'shared/maintenance_window_alert' do %>
  <%= render JavascriptRequiredComponent.new(
        header: t('idv.welcome.no_js_header'),
        intro: t('idv.welcome.no_js_intro', sp_name: decorated_session.sp_name || t('doc_auth.info.no_sp_name')),
      ) do %>
  <%= render PageHeadingComponent.new.with_content(t('doc_auth.headings.welcome')) %>
    <p>
      <%= t('doc_auth.info.welcome_html', sp_name: decorated_session.sp_name || t('doc_auth.info.no_sp_name')) %>
    </p>
    <h2><%= t('doc_auth.instructions.welcome') %></h2>

    <%= render ProcessListComponent.new(heading_level: :h3, class: 'margin-y-3') do |c| %>
      <%= c.item(heading: t('doc_auth.instructions.bullet1')) %>
      <% if liveness_checking_enabled? %>
        <%= c.item(heading: t('doc_auth.instructions.bullet1a')) do %>
          <p><%= t('doc_auth.instructions.text1a') %></p>
        <% end %>
      <% end %>
      <%= c.item(heading: t('doc_auth.instructions.bullet2')) do %>
        <p><%= t('doc_auth.instructions.text2') %></p>
      <% end %>
      <%= c.item(heading: t('doc_auth.instructions.bullet3')) do %>
        <p><%= t('doc_auth.instructions.text3') %></p>
      <% end %>
    <% end %>

    <%= validated_form_for :doc_auth,
                           url: url_for,
                           method: 'put',
                           html: { autocomplete: 'off', class: 'margin-y-5 js-consent-continue-form' } do |f| %>
      <%= f.submit t('doc_auth.buttons.continue') %>
    <% end %>

    <%= render(
          'shared/troubleshooting_options',
          heading_tag: :h3,
          heading: t('idv.troubleshooting.headings.missing_required_items'),
          options: [
            {
              url: help_center_redirect_path(
                category: 'verify-your-identity',
                article: 'accepted-state-issued-identification',
                flow: :idv,
                step: :welcome,
                location: 'missing_items',
              ),
              text: t('idv.troubleshooting.options.supported_documents'),
              new_tab: true,
            },
            {
              url: help_center_redirect_path(
                category: 'verify-your-identity',
                article: 'phone-number-and-phone-plan-in-your-name',
                flow: :idv,
                step: :welcome,
                location: 'missing_items',
              ),
              text: t('idv.troubleshooting.options.learn_more_address_verification_options'),
              new_tab: true,
            },
            decorated_session.sp_name && {
              url: idv_doc_auth_return_to_sp_path(location: 'missing_items'),
              text: t('idv.troubleshooting.options.get_help_at_sp', sp_name: decorated_session.sp_name),
              new_tab: true,
            },
          ].select(&:present?),
        ) %>

    <h3><%= t('doc_auth.instructions.privacy') %></h3>
    <p>
      <%= t(
            'doc_auth.info.privacy_html',
            app_name: APP_NAME,
            link: new_window_link_to(
              t('doc_auth.instructions.learn_more'),
              MarketingSite.security_and_privacy_practices_url,
            ),
          ) %>
    </p>

    <% if user_fully_authenticated? %>
      <%= render 'shared/cancel', link: idv_cancel_path(step: 'welcome') %>
    <% else %>
      <div class='margin-top-2 padding-top-2 border-top border-primary-light'>
        <%= link_to(t('two_factor_authentication.choose_another_option'), authentication_methods_setup_path) %>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= javascript_packs_tag_once('document-capture-welcome') %>
