<% title t('doc_auth.headings.welcome') %>

<%= render(VendorOutageAlertComponent.new(vendors: [:sms, :voice], only_if_all: true, context: :idv)) %>

<% step = 0 %>

<%= render 'shared/maintenance_window_alert' do %>
  <h1><%= t('doc_auth.headings.welcome') %></h1>
  <p class='mt-tiny margin-bottom-0'>
    <%= t('doc_auth.info.welcome_html', sp_name: decorated_session.sp_name || t('doc_auth.info.no_sp_name')) %>
  </p>
  <h2 class='margin-bottom-0'><%= t('doc_auth.instructions.welcome') %></h2>

  <ul class='list-reset'>
    <li class='padding-top-2 padding-bottom-1'>
      <div class='inline-block margin-right-2 text-top circle-number bg-primary text-white'>
        <%= step += 1 %>
      </div>
      <div class='margin-right-1 inline-block'>
        <div class='h2 inline-block bold'>
          <%= t('doc_auth.instructions.bullet1') %>
        </div>
        <br/>
        <div class="margin-top-1">
          <%= t('doc_auth.instructions.text1') %>
        </div>
      </div>
    </li>
    <% if liveness_checking_enabled? %>
      <li class='padding-top-2 padding-bottom-1'>
        <div class='inline-block margin-right-2 text-top circle-number bg-primary text-white'>
          <%= step += 1 %>
        </div>
        <div class='margin-right-1 inline-block'>
          <div class='h2 inline-block bold'>
            <%= t('doc_auth.instructions.bullet1a') %>
          </div>
          <br/>
          <div class="margin-top-1">
            <%= t('doc_auth.instructions.text1a') %>
          </div>
        </div>
      </li>
    <% end %>
    <li class='padding-top-2 padding-bottom-1'>
      <div class="grid-row">
        <div class='inline-block margin-right-2 text-top circle-number bg-primary text-white'>
          <%= step += 1 %>
        </div>
        <div class='grid-col-10'>
          <div class='h2 inline-block bold'>
            <%= t('doc_auth.instructions.bullet2') %>
          </div>
          <br/>
          <div class="margin-top-1">
            <%= t('doc_auth.instructions.text2') %>
          </div>
        </div>
      </div>
    </li>
    <li class='padding-top-2'>
      <div class="grid-row">
        <div class='grid-col-2 margin-right-2 text-top circle-number bg-primary text-white'>
          <%= step += 1 %>
        </div>
        <div class='grid-col-10'>
          <div class='h2 inline-block bold'>
            <%= t('doc_auth.instructions.bullet3') %>
          </div>
          <br/>
          <div class="margin-top-1">
            <%= t('doc_auth.instructions.text3') %>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <%= validated_form_for :doc_auth,
                         url: url_for,
                         method: 'put',
                         html: { autocomplete: 'off', class: 'margin-y-5 js-consent-continue-form' } do |f| %>
    <%= f.button :button,
                 t('doc_auth.buttons.continue'),
                 type: :submit,
                 class: 'usa-button--big usa-button--wide' %>
  <% end %>

  <%= render(
        'shared/troubleshooting_options',
        heading_tag: :h3,
        heading: t('idv.troubleshooting.headings.missing_required_items'),
        options: [
          {
            url: MarketingSite.help_idv_supported_documents_url,
            text: t('idv.troubleshooting.options.supported_documents'),
            new_tab: true,
          },
          {
            url: MarketingSite.help_idv_verify_by_phone_url,
            text: t('idv.troubleshooting.options.learn_more_address_verification_options'),
            new_tab: true,
          },
          decorated_session.sp_name && {
            url: idv_doc_auth_return_to_sp_path(location: 'missing_items'),
            text: t('idv.troubleshooting.options.get_help_at_sp', sp_name: decorated_session.sp_name),
            new_tab: true,
          },
        ].select(&:present?),
      ) %>

  <h3><%= t('doc_auth.instructions.privacy') %></h3>
  <p class="padding-bottom-2">
    <%= t(
          'doc_auth.info.privacy_html',
          app_name: APP_NAME,
          link: new_window_link_to(
            t('doc_auth.instructions.learn_more'),
            MarketingSite.security_and_privacy_practices_url,
          ),
        ) %>
  </p>

  <% if user_fully_authenticated? %>
    <%= render 'shared/cancel', link: idv_cancel_path(step: 'welcome') %>
  <% else %>
    <div class='margin-top-2 padding-top-1 border-top border-primary-light'>
      <%= link_to(t('two_factor_authentication.choose_another_option'), two_factor_options_path) %>
    </div>
  <% end %>

<% end %>

<%= javascript_packs_tag_once('document-capture-welcome') %>
