<% self.title = t('titles.piv_cac_setup.upsell') %>

<%= render AlertIconComponent.new(icon_name: :info_question) %>

<%= render PageHeadingComponent.new.with_content(t('titles.piv_cac_setup.upsell')) %>

<p>
  <%= t('two_factor_authentication.piv_cac_upsell.info', email_type: @email_type) %>
</p>

<%= render ButtonComponent.new(
            action: ->(**tag_options, &block) do
              button_to(
                login_add_piv_for_user_path,
                **tag_options,
                &block
              )
            end,
            big: true,
            class: 'margin-bottom-2',
          ).with_content(t('two_factor_authentication.piv_cac_upsell.add_piv')) %>

<% if MfaPolicy.new(current_user).two_factor_enabled? %>
  <%= link_to t('links.cancel'), account_path %>
<% else %>
  <%= render ButtonComponent.new(
            action: ->(**tag_options, &block) do
              button_to(
                login_add_piv_for_user_path,
                **tag_options,
                &block
              )
            end,
            big: true,
            class: 'margin-bottom-2',
          ).with_content(t('two_factor_authentication.piv_cac_upsell.choose_other_method')) %>
<% end %>

