<%= title t('titles.add_info.phone') %>

<h1 class="h3 my0">
  <%= t('headings.add_info.phone') %>
</h1>
<p class="mt-tiny mb0">
  <%= t('two_factor_authentication.phone_info_html') %>
</p>
<p class="mt-tiny mb1">
  <%= t('two_factor_authentication.phone_fee_disclosure') %>
</p>

<%= render 'users/shared/phone_form',
    http_method: :post,
    target_url: add_phone_path,
    button: t('forms.buttons.continue') %>

<%= render 'shared/cancel', link: account_path %>

<%= stylesheet_link_tag 'intl-tel-number/intlTelInput' %>
<%= javascript_pack_tag 'intl-tel-input' %>
