<%= title t('titles.add_info.phone') %>

<%= render(VendorOutageAlertComponent.new(vendors: [:sms, :voice])) %>

<%= render PageHeadingComponent.new.with_content(t('headings.add_info.phone')) %>

<p>
  <%= t('two_factor_authentication.phone_info_html') %>
</p>
<p>
  <%= t('two_factor_authentication.phone_fee_disclosure') %>
  <% if IdentityConfig.store.voip_block %>
    <%= t('two_factor_authentication.two_factor_choice_options.phone_info_no_voip') %>
  <% end %>
</p>

<%= simple_form_for(
      @new_phone_form,
      html: { autocomplete: 'off', method: :post },
      data: { international_phone_form: true },
      url: add_phone_path,
    ) do |f| %>

  <%= render PhoneInputComponent.new(form: f, confirmed_phone: false, required: true, class: 'margin-bottom-4') %>

  <%= render 'users/shared/otp_delivery_preference_selection',
             form_obj: @new_phone_form %>
  <% if TwoFactorAuthentication::PhonePolicy.new(current_user).enabled? %>
    <%= render 'users/shared/otp_make_default_number',
               form_obj: @new_phone_form %>
  <% end %>
  <%= f.submit t('forms.buttons.continue') %>
<% end %>

<%= render 'shared/cancel', link: account_path %>
