<% self.title = 'Enter PIV/CAC Test Information' %>

<%= render PageHeadingComponent.new.with_content('Enter PIV/CAC Test Information') %>

<p>
  Either enter a subject for a certificate or select an error to simulate a PIV/CAC response.
</p>

<%= simple_form_for('') do |f| %>
  <%= hidden_field_tag(:redirect_uri, @referrer) %>
  <%= f.input(:subject, label: 'Certificate Subject') %>
  <%= f.input(
        :error,
        as: :radio_buttons,
        label: 'Error Conditions',
        collection: [
          ['No error', ''],
          ['No certificate', 'certificate.none'],
          ['Bad certificate', 'certificate.bad'],
          ['Expired certificate', 'certificate.expired'],
          ['Revoked certificate', 'certificate.revoked'],
          ['Invalid certificate', 'certificate.invalid'],
          ['Unverified certificate', 'certificate.unverified'],
          ['Missing token', 'token.missing'],
          ['Invalid token', 'token.invalid'],
        ],
      ) %>
  <%= f.submit('Proceed', class: 'display-block margin-y-5 usa-button usa-button--big usa-button--wide') %>
<% end %>

<%= render 'shared/cancel', link: @referrer %>
