<% title t('titles.confirmations.show') %>

<%= render PageHeadingComponent.new.with_content(t('forms.confirmation.show_hdr')) %>

<p class="margin-top-2 margin-bottom-0" id="password-description">
  <%= t('instructions.password.info.lead', min_length: Devise.password_length.first) %>
</p>
<%= validated_form_for(
      @password_form,
      url: sign_up_create_password_path,
      method: :post,
      html: { autocomplete: 'off' },
    ) do |f| %>
  <%= render PasswordToggleComponent.new(
        form: f,
        label: t('forms.password'),
        required: true,
        input_html: { aria: { describedby: 'password-description' } },
      ) %>
  <%= render 'devise/shared/password_strength', forbidden_passwords: @forbidden_passwords %>
  <%= hidden_field_tag :confirmation_token, @confirmation_token, id: 'confirmation_token' %>
  <%= f.input :request_id, as: :hidden, input_html: { value: params[:request_id] || request_id } %>
  <%= f.button :submit, t('forms.buttons.continue'), class: 'usa-button--big usa-button--wide margin-bottom-5' %>
<% end %>

<%= render 'shared/password_accordion' %>

<%= render 'shared/cancel', link: destroy_user_session_path %>

<%= javascript_packs_tag_once 'pw-strength' %>
