<%= link_to backup_code_regenerate_path do %>
  <span class='hide'>
    <%= t('forms.backup_code.title') %>
  </span>
  <%= t('forms.backup_code.regenerate') %>
<% end %>
<% if MfaPolicy.new(current_user).more_than_two_factors_enabled? %>
  &nbsp;|&nbsp;<%= link_to backup_code_delete_path do %>
    <%= t('forms.buttons.delete') %>
  <% end %>
<% end %>
