<% content_for(:pre_flash_content) do %>
  <%= render 'shared/step_indicator', {
        steps: @step_indicator_steps,
        current_step: :get_a_letter,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      } %>
<% end %>

<% title t('titles.idv.come_back_soon') %>

<%= image_tag(
      asset_url('come-back.svg'),
      size: '140', class: 'display-block margin-x-auto margin-bottom-2',
      alt: ''
    ) %>

<%= render PageHeadingComponent.new(class: 'text-center').with_content(t('idv.titles.come_back_later')) %>

<div class="padding-4 text-center border rounded-xl">
  <p>
    <%= t('idv.messages.come_back_later', app_name: APP_NAME) %>
    <% if decorated_session.sp_name.present? %>
      <%= t('idv.messages.come_back_later_sp_html', sp: decorated_session.sp_name) %>
    <% else %>
      <%= t('idv.messages.come_back_later_no_sp_html', app_name: APP_NAME) %>
    <% end %>
  </p>
  <% if decorated_session.sp_name.present? %>
    <%= link_to(
          t('idv.buttons.continue_plain'),
          return_to_sp_cancel_path(location: :come_back_later),
          class: 'usa-button usa-button--big usa-button--wide',
        ) %>
  <% else %>
    <%= link_to(
          t('idv.buttons.continue_plain'),
          account_path,
          class: 'usa-button usa-button--big usa-button--wide',
        ) %>
  <% end %>
</div>
