<% content_for(:pre_flash_content) do %>
  <%= render 'shared/step_indicator', {
        steps: Idv::Flows::DocAuthFlow::STEP_INDICATOR_STEPS.map do |step|
          step[:name] == :secure_account ? step.merge(status: :complete) : step
        end,
        current_step: :verify_phone_or_address,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      } %>
<% end %>

<% title t('titles.idv.come_back_soon') %>

<%= image_tag(
      asset_url('come-back.svg'),
      size: '140', class: 'block margin-x-auto',
      alt: ''
    ) %>
<h2 class="center">
  <%= t('idv.titles.come_back_later') %>
</h2>

<div class="margin-top-2 padding-4 col-12 center border-box border rounded-xl">
  <p>
    <%= t('idv.messages.come_back_later', app_name: APP_NAME) %>
    <% if decorated_session.sp_name.present? %>
      <%= t('idv.messages.come_back_later_sp_html', sp: decorated_session.sp_name) %>
    <% else %>
      <%= t('idv.messages.come_back_later_no_sp_html', app_name: APP_NAME) %>
    <% end %>
  </p>
  <div class="center">
    <% if decorated_session.sp_name.present? %>
      <%= link_to(
            t('idv.buttons.continue_plain'),
            return_to_sp_cancel_path,
            class: 'usa-button usa-button--big usa-button--wide',
          ) %>
    <% else %>
      <%= link_to(
            t('idv.buttons.continue_plain'),
            account_path,
            class: 'usa-button usa-button--big usa-button--wide',
          ) %>
    <% end %>
  </div>
</div>
