<% self.title = t('security_check_failed.title') %>

<%= render ADS::FormPageComponent.new(
      title: t('security_check_failed.title'),
    ) do |page| %>
  <% page.with_body do %>
    <% piv_cac_link_html = capture do %>
      <%= render ADS::LinkComponent.new(url: login_piv_cac_url) do %>
        <%= t('security_check_failed.info_p2_link') %>
      <% end %>
    <% end %>

    <%= render ADS::StackComponent.new do %>
      <%= render AlertComponent.new(type: :warning, dismissible: false) do %>
        <%= t('security_check_failed.details') %>
        <%= render ADS::LinkComponent.new(
              url: help_center_redirect_path(
                category: 'trouble-signing-in',
                article: 'security-check-failed',
              ),
              target: '_blank',
              rel: 'noopener',
            ) do %>
          <%= t('security_check_failed.learn_more', app_name: APP_NAME) %>
        <% end %>
      <% end %>

      <%= render CardComponent.new(padding: :compact) do %>
        <p class="ads-card__value">
          <%= t('security_check_failed.info_p1', app_name: APP_NAME) %>
        </p>
      <% end %>

      <%= render CardComponent.new(padding: :compact) do %>
        <p class="ads-card__value">
          <%= t('security_check_failed.info_p2_html', link_html: piv_cac_link_html) %>
        </p>
      <% end %>

      <%= render CardComponent.new(padding: :compact) do %>
        <p class="ads-card__value">
          <%= t('security_check_failed.info_p3') %>
        </p>
      <% end %>
    <% end %>
  <% end %>

  <% page.with_actions do %>
    <%= render ADS::StackComponent.new(kind: :links, align: :center) do %>
      <%= render ADS::LinkComponent.new(
            url: contact_redirect_url,
            target: '_blank',
            rel: 'noopener',
          ) do %>
        <%= t('security_check_failed.contact', app_name: APP_NAME) %>
      <% end %>

      <%= render ADS::LinkComponent.new(url: root_url) do %>
        <%= t('forms.buttons.back') %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
