<%= title t('titles.revoke_consent') %>

<h1 class="h3 margin-y-0">
  <%= t('titles.revoke_consent') %>
</h1>

<p class="margin-top-4">
  <%= t('account.revoke_consent.longer_description_html',
        service_provider: content_tag(:b, @service_provider.friendly_name)) %>
</p>

<%= button_to(
      t('forms.buttons.continue'),
      service_provider_revoke_url(@service_provider.id),
      method: 'delete',
      class: 'btn btn-primary margin-top-4') %>

<div class="margin-top-4 border-top">
  <div class="margin-top-1">
    <%= link_to(t('links.cancel'), account_url) %>
  </div>
</div>
