<%= render ModalComponent.new(class: 'reactivate-account-modal') do |c| %>
  <div class="padding-6 cntnr-xxskinny bg-white rounded-xxl">
    <div class="display-flex flex-align-center flex-justify-center">
        <%= render AlertIconComponent.new(icon_name: :warning) %>
    </div>
    <h2 class="margin-y-2 fs-20p text-normal text-center" id="<%= c.label_id %>">
      <%= t('instructions.account.reactivate.modal.heading') %>
    </h2>
    <hr class="margin-bottom-4 border-width-05" />
    <div class="margin-bottom-8" id="<%= c.description_id %>">
      <%= t('instructions.account.reactivate.modal.copy') %>
    </div>
    <%= form_tag reactivate_account_path, method: :put do %>
      <%= button_tag t('forms.buttons.continue'), type: 'submit',
                                                  class: 'usa-button usa-button--big usa-button--full-width margin-bottom-2',
                                                  name: :personal_key %>
    <% end %>

    <%= c.dismiss_button(big: true, full_width: true, outline: true) { t('links.cancel') } %>
  </div>
<% end %>
<%= javascript_packs_tag_once 'reactivate-account-modal' %>
