<% self.title = t('titles.reactivate_account') %>

<%= render ADS::FormPageComponent.new(
      title: t('headings.account.reactivate'),
      subtitle: t('instructions.account.reactivate.intro'),
    ) do |page| %>
  <% page.with_body do %>
    <div class="no-js">
      <%= render AlertComponent.new(
            type: :warning,
            message: t('instructions.account.reactivate.modal.copy'),
            dismissible: false,
          ) %>
    </div>

    <%= render CardComponent.new do %>
      <div class="ads-card__stack">
        <p class="ads-card__label"><%= t('instructions.account.reactivate.begin') %></p>
        <p class="ads-card__title"><%= t('instructions.account.reactivate.with_key') %></p>
        <p class="ads-card__value"><%= t('instructions.account.reactivate.explanation') %></p>

        <figure class="ads-card__value" aria-label="<%= t('users.personal_key.accessible_labels.preview') %>">
          <%= render 'partials/personal_key/key',
                     code: 'XXXX-XXXX-XXXX-XXXX',
                     code_example: true,
                     personal_key_generated_at: @personal_key_generated_at,
                     show_save_buttons: false
          %>
        </figure>
      </div>
    <% end %>
  <% end %>

  <% page.with_actions do %>
    <%= render ButtonComponent.new(url: verify_personal_key_path) do %>
      <%= t('links.account.reactivate.with_key') %>
    <% end %>

    <%= form_tag reactivate_account_path, method: :put, class: 'ads-form' do %>
      <%= render ButtonComponent.new(
            type: :submit,
            variant: :secondary,
            id: 'no-key-reactivate',
            data: { ads_modal_open: true },
            aria: { controls: 'reactivate-account-modal' },
          ) do %>
        <%= t('links.account.reactivate.without_key') %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= render 'reactivate_account/modal' %>
