<% title t('titles.reactivate_account') %>

<div class="no-js">
  <%= render AlertComponent.new(
        type: :warning,
        class: 'margin-bottom-4',
      ) do %>
    <div class="bold">
      <%= t('instructions.account.reactivate.modal.copy') %>
    </div>
  <% end %>
</div>

<h1 class="margin-top-0 margin-bottom-2">
  <%= t('headings.account.reactivate') %>
</h1>

<p class="margin-bottom-6">
  <%= t('instructions.account.reactivate.intro') %>
</p>

<h2 class="h4 padding-bottom-1 border-bottom border-primary-light">
  <%= t('instructions.account.reactivate.begin') %>
</h2>

<h3 class="fs-20p sans-serif margin-top-6">
  <%= t('instructions.account.reactivate.with_key') %>
</h3>

<p class="margin-bottom-0">
  <%= t('instructions.account.reactivate.explanation') %>
</p>

<div class="scale-down">
  <%= render 'partials/personal_key/key', code: 'XXXX-XXXX-XXXX-XXXX' %>
</div>

<div class="block-center center col-10">
  <div class="col-12 margin-bottom-2">
    <%= link_to t('links.account.reactivate.with_key'), verify_personal_key_path,
                class: 'usa-button usa-button--big usa-button--full-width' %>
  </div>

  <%= form_tag reactivate_account_path, method: :put, class: 'col-12' do %>
    <%= button_tag t('links.account.reactivate.without_key'), type: 'submit',
      class: 'usa-button usa-button--big usa-button--outline usa-button--full-width', id: 'no-key-reactivate' %>
  <% end %>
</div>

<%= render 'reactivate_account/modal' %>
