<% title t('titles.reactivate_account') %>

<div class="no-js">
  <%= render AlertComponent.new(
        type: :warning,
        class: 'margin-bottom-4',
      ) do %>
    <div class="text-bold">
      <%= t('instructions.account.reactivate.modal.copy') %>
    </div>
  <% end %>
</div>

<%= render PageHeadingComponent.new.with_content(t('headings.account.reactivate')) %>

<p class="margin-bottom-6">
  <%= t('instructions.account.reactivate.intro') %>
</p>

<h2 class="h4 padding-bottom-1 border-bottom border-primary-light">
  <%= t('instructions.account.reactivate.begin') %>
</h2>

<h3 class="fs-20p margin-top-6">
  <%= t('instructions.account.reactivate.with_key') %>
</h3>

<p class="margin-bottom-0">
  <%= t('instructions.account.reactivate.explanation') %>
</p>

<div class="scale-down">
  <%= render 'partials/personal_key/key', code: 'XXXX-XXXX-XXXX-XXXX', show_save_buttons: false %>
</div>

<div class="grid-row">
  <div class="tablet:grid-col-10 tablet:grid-offset-1">
    <%= link_to t('links.account.reactivate.with_key'), verify_personal_key_path,
                class: 'usa-button usa-button--big usa-button--full-width margin-bottom-2' %>

    <%= form_tag reactivate_account_path, method: :put do %>
      <%= button_tag t('links.account.reactivate.without_key'),
                     type: 'submit',
                     class: 'usa-button usa-button--big usa-button--outline usa-button--full-width',
                     id: 'no-key-reactivate' %>
    <% end %>
  </div>
</div>

<%= render 'reactivate_account/modal' %>
