
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= t('titles.openid_connect.authorization') %> | <%= APP_NAME %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= render_stylesheet_once_tags %>
    <meta content="0;url=<%= @oidc_redirect_uri %>" http-equiv="refresh" />
  </head>
  <body>
    <div class="grid-container tablet:padding-y-6">
      <div class="grid-row">
        <div class="tablet:grid-col-6 tablet:grid-offset-3">
          <%= render PageHeadingComponent.new.with_content("Redirecting you back to #{@sp_name}") %>

          <%= link_to(t('account.index.continue_to_service_provider', service_provider: @sp_name), @oidc_redirect_uri) %>
        </div>
      </div>
    </div>
  </body>
</html>
