<%#
- @tables: an array of tables, expects first "row" to be an options hash
%>
<% @tables.each do |table| %>
  <% options, header, *rows = table %>

  <h2><%= options[:title] %></h2>

  <table class="usa-table">
    <thead>
      <tr>
        <% header.each do |head| %>
          <th scope="col"><%= head %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% rows.each do |row| %>
        <tr>
          <% row.each do |cell| %>
            <td <%= cell.is_a?(Numeric) ? 'class=table-number' : nil %> >
              <% if cell.is_a?(Float) && options[:float_as_percent] %>
                <%= (cell * 100).round(2) %>%
              <% else %>
                <%= cell %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
