<%#
- @message: text to put in the beginning of the email
- @reports: an array of EmailableReport
%>
<header class="usa-header">
  <%= image_tag(
        asset_url('email/logo.png'),
        alt: APP_NAME,
        width: 155,
        height: 21,
      ) %>
</header>
<hr class="height-05 margin-bottom-4 border-transparent bg-secondary">
<% [*@message].each do |message| %>
  <p><%= message %></p>
<% end %>
<% @reports.each do |report| %>
  <% header, *rows = report.table %>
  <%# Allow nil title if a subtitle is set %>
  <% if report.title && report.title != report.subtitle %>
    <h2 class="report-title"><%= report.title %></h2>
  <% end %>
  <% if report.subtitle %>
    <h3 class="report-subtitle"><%= report.subtitle %></h3>
  <% end %>

  <table class="usa-table">
    <thead>
      <tr>
        <% header.each do |head| %>
          <th scope="col"><%= head %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% rows.each do |row| %>
        <tr>
          <% row.each do |cell| %>
            <td <%= cell.is_a?(Numeric) ? 'class=table-number' : nil %> >
              <% if cell.is_a?(Float) && report.float_as_percent? && cell.finite? %>
                <%= number_to_percentage(cell * 100, precision: report.precision || 2) %>
              <% else %>
                <%= number_with_delimiter(cell) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<hr class="height-05 margin-top-4 border-transparent bg-secondary">
