<% self.title = t('titles.doc_auth.verify') %>
<% content_for(:pre_flash_content) do %>
  <%= render StepIndicatorComponent.new(
        steps: Idv::StepIndicatorConcern::STEP_INDICATOR_STEPS,
        current_step: :verify_id,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      ) %>
<% end %>

<div class="text-center margin-bottom-4">
  <%= image_tag asset_url('idv/interstitial_icons.svg'), width: 207, height: 88, alt: '', class: 'display-block margin-x-auto' %>
</div>

<%= render PageHeadingComponent.new do %>
  <% if @passport_requested %>
    <%= t('doc_auth.headings.passport_capture') %>
  <% else %>
    <%= t('doc_auth.headings.document_capture') %>
  <% end %>
<% end %>

<% if @passport_requested %>
  <% if @selfie_check_required %>
    <p>
      <%= t('doc_auth.info_socure_passport_ial2', app_name: APP_NAME) %>
    </p>
  <% else %>
    <p>
      <%= t('doc_auth.info_socure_passport', app_name: APP_NAME) %>
    </p>
  <% end %>
<% else %>
  <p>
    <%= t('doc_auth.info.socure_basic_idv', app_name: APP_NAME) %>
  </p>
<% end %>

<p>
  <%= t('doc_auth.info.socure_ial2_idv_finish', app_name: APP_NAME) %>
</p>

<%= link_to t('forms.buttons.continue'), @url, class: 'usa-button usa-button--big usa-button--wide margin-top-4 margin-bottom-4' %>
<%= render 'idv/doc_auth/cancel', step: 'verify_id' %>