<% self.title = t('titles.doc_auth.verify') %>
<%= render 'idv/shared/step_indicator',
           current_step: :verify_id,
           steps: Idv::StepIndicatorConcern::STEP_INDICATOR_STEPS %>

<% heading = if @passport_requested
               t('doc_auth.headings.passport_capture')
             else
               t('doc_auth.headings.document_capture')
             end %>

<%= render ADS::FormPageComponent.new(
      title: heading,
      class_name: 'ads-idv-support ads-idv-support--document-capture',
    ) do |page| %>
  <% page.with_body do %>
    <div class="ads-copy">
      <% if @passport_requested %>
        <% if @selfie_check_required %>
          <p>
            <%= t('doc_auth.info.socure_passport_ial2', app_name: APP_NAME) %>
          </p>
        <% else %>
          <p>
            <%= t('doc_auth.info.socure_passport', app_name: APP_NAME) %>
          </p>
        <% end %>
      <% else %>
        <p>
          <%= t('doc_auth.info.socure_basic_idv', app_name: APP_NAME) %>
        </p>
      <% end %>

      <p>
        <% if @passport_requested %>
          <%= t('doc_auth.info.socure_ial2_idv_finish_passport', app_name: APP_NAME) %>
        <% else %>
          <%= t('doc_auth.info.socure_ial2_idv_finish', app_name: APP_NAME) %>
        <% end %>
      </p>
    </div>
  <% end %>

  <% page.with_actions do %>
    <%= render ButtonComponent.new(url: @url, size: :lg) do %>
      <%= t('forms.buttons.continue') %>
    <% end %>

    <%= render ButtonComponent.new(
          url: idv_cancel_path(step: 'verify_id'),
          variant: :quaternary,
        ) do %>
      <%= cancel_link_text %>
    <% end %>
  <% end %>
<% end %>
