<% self.title = t('titles.doc_auth.verify') %>
<% content_for(:pre_flash_content) do %>
  <%= render StepIndicatorComponent.new(
        steps: Idv::StepIndicatorConcern::STEP_INDICATOR_STEPS,
        current_step: :verify_id,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      ) %>
<% end %>

<%= render PageHeadingComponent.new do %>
  <%= t('doc_auth.headings.document_capture') %>
<% end %>

<div class="text-center margin-bottom-4">
  <%= image_tag asset_url('idv/interstitial_icon_one.svg'), width: 88, height: 88, alt: '', class: 'margin-right-2' %>
  <%= image_tag asset_url('idv/interstitial_icon_two.svg'), width: 88, height: 88, alt: '' %>
</div>

<% if @hybrid_flow && decorated_sp_session.sp_name.present? %>
  <p>
    <%= t('doc_auth.info.socure_hybrid_flow', app_name: APP_NAME, sp_name: decorated_sp_session.sp_name) %>
  </p>
<% end %>

<% if @selfie_check_required %>
  <p>
    <%= t('doc_auth.info.socure_ial2_idv', app_name: APP_NAME) %>
  </p>
  <p>
    <%= t('doc_auth.info.socure_ial2_idv_finish', app_name: APP_NAME) %>
  </p>
<% else %>
  <p>
    <%= t('doc_auth.info.socure_basic_idv', app_name: APP_NAME) %>
  </p>
  <p>
    <%= t('doc_auth.info.socure_basic_idv_finish', app_name: APP_NAME) %>
  </p>
<% end %>

<%= link_to t('forms.buttons.continue'), @url, class: 'usa-button usa-button--big usa-button--wide' %>
<%= render 'idv/doc_auth/cancel', step: 'verify_id' %>
