<% title t('titles.doc_auth.doc_capture') %>
<% content_for :meta_tags do %>
  <%= tag :meta, name: 'acuant-sdk-initialization-endpoint', content: IdentityConfig.store.acuant_sdk_initialization_endpoint %>
  <%= tag :meta, name: 'acuant-sdk-initialization-creds', content: IdentityConfig.store.acuant_sdk_initialization_creds %>
<% end %>
<% SecureHeaders.append_content_security_policy_directives(
  request,
  connect_src: [
    front_image_upload_url,
    back_image_upload_url,
    selfie_image_upload_url
  ].
    compact.
    map { |url| URI(url).tap { |uri| uri.query = nil }.to_s }
)

   session_id = flow_session[:document_capture_session_uuid]
%>
<%= tag.div id: 'document-capture-form', data: {
  app_name: APP_NAME,
  liveness_required: liveness_checking_enabled?.presence,
  mock_client: (DocAuthRouter.doc_auth_vendor(discriminator: session_id) == 'mock').presence,
  document_capture_session_uuid: flow_session[:document_capture_session_uuid],
  endpoint: FeatureManagement.document_capture_async_uploads_enabled? ?
    send(@step_url, step: :verify_document) :
    api_verify_images_url,
  status_endpoint: FeatureManagement.document_capture_async_uploads_enabled? ?
    send(@step_url, step: :verify_document_status) :
    nil,
  glare_threshold: IdentityConfig.store.doc_auth_client_glare_threshold,
  sharpness_threshold: IdentityConfig.store.doc_auth_client_sharpness_threshold,
  status_poll_interval_ms: IdentityConfig.store.poll_rate_for_verify_in_seconds * 1000,
  sp_name: sp_name,
  flow_path: flow_path,
  failure_to_proof_url: failure_to_proof_url,
  front_image_upload_url: front_image_upload_url,
  back_image_upload_url: back_image_upload_url,
  selfie_image_upload_url: selfie_image_upload_url,
  keep_alive_endpoint: sessions_keepalive_url,
} %>
<div class="no-js">
  <%= render 'idv/doc_auth/error_messages', flow_session: flow_session %>

  <h1 class="margin-y-0">
    <% if liveness_checking_enabled? %>
      <%= t('doc_auth.headings.document_capture_heading_with_selfie_html') %>
    <% else %>
      <%= t('doc_auth.headings.document_capture_heading_html') %>
    <% end %>
  </h1>

  <%= validated_form_for(
    :doc_auth,
    url: url_for,
    method: 'PUT',
    html: { autocomplete: 'off', class: 'margin-top-2 js-document-capture-form' }
  ) do |f| %>
    <%# ---- Front Image ----- %>

    <p><%= t('doc_auth.info.document_capture_intro_acknowledgment') %></p>

    <p class="margin-top-2 margin-bottom-0"><%= t('doc_auth.tips.document_capture_header_text') %></p>

    <ul>
      <li><%= t('doc_auth.tips.document_capture_id_text1') %></li>
      <li><%= t('doc_auth.tips.document_capture_id_text2') %></li>
      <li><%= t('doc_auth.tips.document_capture_id_text3') %></li>
      <li><%= t('doc_auth.tips.document_capture_id_text4') %></li>
    </ul>

    <%= f.input(
      :document_capture_session_uuid,
      as: :hidden,
      input_html: { value: flow_session[:document_capture_session_uuid] },
    ) %>

    <div class="front-image margin-top-2">
      <p>
        <strong>
          <%= t('doc_auth.headings.document_capture_front') %><br/>
        </strong>
        <%= t('doc_auth.tips.document_capture_hint') %>
      </p>

      <%= f.input :front_image, label: false, as: :file, required: true, aria: { invalid: false } %>
    </div>

    <%# ---- Back Image ----- %>

    <div class="back-image margin-top-4">
      <p>
        <strong>
          <%= t('doc_auth.headings.document_capture_back') %><br/>
        </strong>
        <%= t('doc_auth.tips.document_capture_hint') %>
      </p>

      <%= f.input :back_image, label: false, as: :file, required: true, aria: { invalid: false } %>
    </div>

    <%# ---- Selfie ----- %>
    <% if liveness_checking_enabled? %>
      <hr class="margin-top-4 margin-bottom-4"/>
      <div class="selfie">
        <p><%= t('doc_auth.instructions.document_capture_selfie_instructions') %></p>

        <p class="margin-top-2 margin-bottom-0"><%= t('doc_auth.tips.document_capture_header_text') %></p>
        <ul>
          <li><%= t('doc_auth.tips.document_capture_selfie_text1') %></li>
          <li><%= t('doc_auth.tips.document_capture_selfie_text2') %></li>
          <li><%= t('doc_auth.tips.document_capture_selfie_text3') %></li>
        </ul>

        <p class='margin-top-4'>
          <strong>
            <%= t('doc_auth.headings.document_capture_selfie') %><br/>
          </strong>
          <%= t('doc_auth.tips.document_capture_hint') %>
        </p>

        <%= f.input :selfie_image, label: false, as: :file, required: true, aria: { invalid: false } %>
      </div>
    <% end %>

    <%# ---- Submit ----- %>

    <div class='margin-top-6 margin-bottom-6'>
      <button type="submit" class="usa-button usa-button--big usa-button--wide">
        <%= t('forms.buttons.continue') %>
      </button>
      <div class="clearfix"></div>
    </div>
  <% end %> <%# end validated_form_for %>

  <p class='margin-top-4 margin-bottom-0'><%= t('doc_auth.info.document_capture_upload_image') %></p>
</div>

<%= render(
      'idv/doc_auth/start_over_or_cancel',
      step: 'document_capture',
      hide_start_over: flow_path == 'hybrid',
    ) %>

<%= nonced_javascript_tag do %>
  <% asset_keys = [
    'close-white-alt.svg',
    'id-card.svg',
    'spinner.gif',
    'spinner@2x.gif'
  ] %>
  window.LoginGov = window.LoginGov || {};
  window.LoginGov.assets = <%= raw asset_keys.map { |key| [key, asset_path(key)] }.to_h.to_json %>;
<% end %>
<%= javascript_packs_tag_once 'document-capture' %>
<%= stylesheet_packs_with_chunks_tag 'document-capture' %>
