<%#
yields: Page instruction content.
locals:
* type: `:warning` or `:error`. Defaults to `:error`.
* heading: Primary page heading text. Also used as page title if title is not given.
* title: Optional custom page title, defaulting to the heading.
* action: Optional hash of `text`, `url` of a primary action link.
* options: Array of troubleshooting options.
%>
<%
type = local_assigns.fetch(:type, :error)
options = local_assigns.fetch(:options, [])
if type == :error
  image_src = 'alert/fail-x.svg'
  troubleshooting_heading = t('idv.troubleshooting.headings.need_assistance')
else
  image_src = 'alert/warning-lg.svg'
  troubleshooting_heading = t('idv.troubleshooting.headings.having_trouble')
end
%>
<% title local_assigns.fetch(:title, heading) %>
<%= image_tag(image_src, width: 54, alt: '', class: 'display-block') %>

<h1 class="margin-top-4 margin-bottom-2"><%= heading %></h1>

<%= yield %>

<% if local_assigns[:action] %>
  <div class="margin-top-4">
    <%= tag.a href: action[:url], class: 'usa-button usa-button--big usa-button--wide' do %>
      <%= action[:text] %>
    <% end %>
  </div>
<% end %>

<%= render(
  'shared/troubleshooting_options',
  heading: troubleshooting_heading,
  options: options,
  class: 'margin-top-5',
) %>
