<%#
yields: Page instruction content.
locals:
* type: `:warning` or `:error`. Defaults to `:error`.
* heading: Primary page heading text. Also used as page title if title is not given.
* title: Optional custom page title, defaulting to the heading.
* action: Optional hash of `text`, `url`, optional `method` of a primary action link.
* action_secondary: Optional hash of `text`, `url`, optional `method` of a secondary action link.
* options: Array of troubleshooting options.
%>
<% if local_assigns.fetch(:type, :error) == :error
     image_src = 'status/error.svg'
     troubleshooting_heading = t('idv.troubleshooting.headings.need_assistance')
     alt = t('errors.alt.error')
   else
     image_src = 'status/warning.svg'
     troubleshooting_heading = t('components.troubleshooting_options.default_heading')
     alt = t('errors.alt.warning')
   end %>
<% title local_assigns.fetch(:title, heading) %>
<%= image_tag(image_src, width: 54, alt: alt, class: 'display-block margin-bottom-4') %>

<%= render PageHeadingComponent.new.with_content(heading) %>

<%= yield %>

<% if local_assigns[:action] %>
  <div class="margin-top-5">
    <%= button_or_link_to(
          action[:text],
          action[:url],
          class: 'usa-button usa-button--big usa-button--wide',
          method: action[:method],
        ) %>
  </div>

  <% if local_assigns[:action_secondary] %>
    <div class="margin-top-2">
      <%= button_or_link_to(
            action_secondary[:text],
            action_secondary[:url],
            class: 'usa-button usa-button--big usa-button--wide usa-button--outline',
            method: action_secondary[:method],
          ) %>
    </div>
  <% end %>
<% end %>

<%= render(
      'shared/troubleshooting_options',
      heading: troubleshooting_heading,
      options: local_assigns.fetch(:options, []),
      class: 'margin-top-5',
    ) %>
