<%#
Renders a page asking the user to enter their SSN or update their SSN if they had previously entered it.

locals:
* success_alert_enabled: whether or not to display a "We've successfully verified your ID" success alert
* updating_ssn: true if the user is updating their SSN instead of providing it for the first time. This
                will render a different page heading and different navigation buttons in the page footer
%>
<% title t('titles.doc_auth.ssn') %>

<% if success_alert_enabled %>
  <%= render AlertComponent.new(
        type: :success,
        class: 'margin-bottom-4',
      ) do %>
    <%= t('doc_auth.headings.capture_complete') %>
  <% end %>
<% end %>

<% if updating_ssn %>
  <%= render PageHeadingComponent.new.with_content(t('doc_auth.headings.ssn_update')) %>
<% else %>
  <%= render PageHeadingComponent.new.with_content(t('doc_auth.headings.ssn')) %>
<% end %>

<p>
  <%= t('doc_auth.info.ssn') %>
  <%= new_window_link_to(t('doc_auth.instructions.learn_more'), MarketingSite.security_and_privacy_practices_url) %>
</p>

<% if IdentityConfig.store.proofer_mock_fallback %>
  <div class="usa-alert usa-alert--info margin-bottom-4" role="status">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <%= t('doc_auth.instructions.test_ssn') %>
      </p>
    </div>
  </div>
<% end %>

<%= simple_form_for(
      :doc_auth,
      url: url_for,
      method: :put,
      html: { autocomplete: 'off' },
    ) do |f| %>
  <div class="tablet:grid-col-8">
    <%= render 'shared/ssn_field', f: f %>
  </div>

  <p><%= flow_session[:error_message] %></p>

  <button type="submit" class="display-block margin-y-5 usa-button usa-button--big usa-button--wide">
    <% if updating_ssn %>
      <%= t('forms.buttons.submit.update') %>
    <% else %>
      <%= t('forms.buttons.continue') %>
    <% end %>
  </button>
<% end %>

<% if updating_ssn %>
  <%= render 'idv/doc_auth/back', action: 'cancel_update_ssn' %>
<% else %>
  <%= render 'idv/doc_auth/cancel', step: 'ssn' %>
<% end %>
