<%#
yields: Page instruction content.
locals:
* heading: Page title and primary page heading text.
* action: Optional hash of `text`, `url` of a primary action link.
* extra_options: Optional array of additional troubleshooting options to prepend.
%>
<% title heading %>
<%= image_tag('alert/warning-lg.svg', width: 54, alt: '', class: 'display-block') %>

<h1 class="margin-top-4 margin-bottom-2"><%= heading %></h1>

<%= yield %>

<% if local_assigns[:action] %>
  <div class="margin-top-4">
    <%= tag.a href: action[:url], class: 'usa-button usa-button--big usa-button--wide' do %>
      <%= action[:text] %>
    <% end %>
  </div>
<% end %>

<%= render(
  'shared/troubleshooting_options',
  heading: t('idv.troubleshooting.headings.having_trouble'),
  options: [
    *local_assigns[:extra_options],
    decorated_session.sp_name && {
      url: return_to_sp_failure_to_proof_path,
      text: t('idv.troubleshooting.options.get_help_at_sp', sp_name: decorated_session.sp_name),
    }
  ].compact,
  class: 'padding-top-1',
) %>
