<% self.title = t('doc_auth.headings.choose_id_type') %>

<%= render 'idv/shared/step_indicator', current_step: presenter.current_step, steps: presenter.step_indicator_steps %>

<%= render ADS::FormPageComponent.new(
      title: t('doc_auth.headings.choose_id_type'),
      subtitle: presenter.choose_id_type_info_text,
    ) do |page| %>
  <% page.with_alert do %>
    <%= render AlertComponent.new(type: :warning) do %>
      <%= t(
            'doc_auth.hybrid_flow_warning.explanation_html',
            app_name: APP_NAME,
            service_provider_name: decorated_sp_session.sp_name,
          ) %>
    <% end %>
  <% end %>

  <% page.with_body do %>
    <%= render ADS::StackComponent.new(gap: 12) do %>
      <% if presenter.hybrid_flow? &&
            FeatureManagement.proofing_device_hybrid_profiling_collecting_enabled? %>
        <%= render partial: 'shared/threat_metrix_profiling',
                   locals: {
                     threatmetrix_session_id:,
                     threatmetrix_javascript_urls:,
                     threatmetrix_iframe_url:,
                   } %>
      <% end %>

      <% if disable_passports %>
        <%= render AlertComponent.new(type: :error) do %>
          <%= t('doc_auth.info.dos_passport_api_down_message') %>
        <% end %>
      <% end %>

      <% [
           [t('doc_auth.forms.id_type_preference.drivers_license'), :state_id_card, false],
           [t('doc_auth.forms.id_type_preference.passport'), :passport, disable_passports],
         ].each do |label, value, disabled| %>
        <%= render CardComponent.new(
              url: form_submit_url,
              method: :put,
              params: { doc_auth: { choose_id_type_preference: value } },
              id: "doc_auth_choose_id_type_preference_#{value}",
              disabled: disabled,
              'aria-disabled': disabled,
            ) do |card| %>
          <% unless disabled %>
            <% card.with_trailing do %>
              <%= render IconComponent.new(icon: :chevron_right, size: 20) %>
            <% end %>
          <% end %>
          <p class="ads-card__title"><%= label %></p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% page.with_actions do %>
    <%= render ButtonComponent.new(
          url: idv_cancel_path(step: 'choose_id_type'),
          variant: :quaternary,
        ).with_content(cancel_link_text) %>
  <% end %>
<% end %>
