<%= simple_form_for(
      :idv_form,
      url: idv_gpo_path,
      method: 'POST',
      html: { autocomplete: 'off' },
    ) do |f| %>
  <%= render ValidatedFieldComponent.new(
        form: f,
        name: :address1,
        label: t('idv.form.address1'),
        required: true,
        maxlength: 255,
      ) %>
  <%= render ValidatedFieldComponent.new(
        form: f,
        name: :address2,
        label: t('idv.form.address2'),
        required: false,
        maxlength: 255,
      ) %>
  <%= render ValidatedFieldComponent.new(
        form: f,
        name: :city,
        label: t('idv.form.city'),
        required: true,
        maxlength: 255,
      ) %>
  <%= render ValidatedFieldComponent.new(
        form: f,
        name: :state,
        collection: us_states_territories,
        label: t('idv.form.state'),
        required: true,
      ) %>
  <div class="tablet:grid-col-6">
    <%# using :tel for mobile numeric keypad %>
    <%= render ValidatedFieldComponent.new(
          form: f,
          name: :zipcode,
          as: :tel,
          label: t('idv.form.zipcode'),
          required: true,
          pattern: '(\d{5}([\-]\d{4})?)',
          input_html: { class: 'zipcode' },
          error_messages: {
            patternMismatch: t('idv.errors.pattern_mismatch.zipcode'),
          },
        ) %>
  </div>
  <%= render ButtonComponent.new(big: true, wide: true, class: 'display-block margin-y-5') do %>
    <%= t('idv.buttons.mail.resend') %>
  <% end %>
<% end %>

<%= javascript_packs_tag_once('formatted-fields') %>
