<% title t('titles.idv.get_letter') %>

<% content_for(:pre_flash_content) do %>
  <%= render 'shared/step_indicator', {
        steps: step_indicator_steps,
        current_step: @step_indicator_current_step,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      } %>
<% end %>

<%= render PageHeadingComponent.new.with_content(@presenter.title) %>

<p>
  <%= t('idv.messages.gpo.address_on_file_html') %>
  <%= t('idv.messages.gpo.timeframe_html') %>
</p>

<div class="margin-top-6 margin-bottom-5">
  <%= button_to @presenter.button,
                idv_gpo_path,
                method: 'put',
                class: 'usa-button usa-button--big usa-button--wide' %>
</div>

<%= render(
      'shared/troubleshooting_options',
      heading: t('components.troubleshooting_options.default_heading'),
      options: [
        {
          url: help_center_redirect_url(
            category: 'verify-your-identity',
            article: 'verify-your-address-by-mail',
            flow: :idv,
            step: :gpo_send_letter,
          ),
          text: t('idv.troubleshooting.options.learn_more_verify_by_mail'),
          new_tab: true,
        },
      ],
    ) %>

<%= render 'idv/shared/back', fallback_path: @presenter.fallback_back_path %>
