<% title t('titles.idv.get_letter') %>

<% content_for(:pre_flash_content) do %>
  <%= render 'shared/step_indicator', {
        steps: Idv::Flows::DocAuthFlow::STEP_INDICATOR_STEPS,
        current_step: :verify_phone_or_address,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      } %>
<% end %>

<div class="margin-top-neg-2">
  <%= image_tag asset_url('check-email.svg'), alt: '', width: 24, class: 'left-0 right-0 ico-heading' %>
  <h1 class="margin-top-2 margin-left-1 ico-heading"><%= @presenter.title %></h1>
</div>

<p>
  <%= @presenter.byline %>
  <%= t('idv.messages.gpo.timeframe') %>
</p>

<div class="margin-top-6 margin-bottom-5">
  <% if @presenter.gpo_mail_bounced? %>
    <%= render 'idv/gpo/new_address', presenter: @presenter %>
  <% else %>
    <%= render 'idv/gpo/address_on_file', presenter: @presenter %>
  <% end %>
</div>

<%= render(
      'shared/troubleshooting_options',
      heading: t('idv.troubleshooting.headings.having_trouble'),
      options: [
        {
          url: help_center_redirect_url(
            category: 'verify-your-identity',
            article: 'verify-your-address-by-mail',
            flow: :idv,
            step: :gpo_send_letter,
          ),
          text: t('idv.troubleshooting.options.learn_more_verify_by_mail'),
          new_tab: true,
        },
      ],
    ) %>

<%= render 'idv/doc_auth/back', fallback_path: @presenter.fallback_back_path %>
