<p class="grid-row grid-gutter">
  <%= image_tag(
        asset_url('get-started/ID.svg'),
        size: '40', alt: t('idv.index.id.state_issue'), class: 'margin-top-05 grid-col-auto',
      ) %>
  <span class="grid-col-fill padding-left-2">
    <%= t('idv.index.id.need_html') %>
  </span>
</p>

<%= render AccordionComponent.new(class: 'margin-y-2') do |c| %>
  <% c.header { t('devise.registrations.start.accordion') } %>
  <p class="grid-row grid-gutter">
    <%= image_tag(
          asset_url('get-started/email-password.svg'),
          size: '40', alt: t('devise.registrations.start.bullet_1_img'), class: 'margin-top-05 grid-col-auto',
        ) %>
    <span class="grid-col-fill padding-left-2">
      <%= t('devise.registrations.start.bullet_1_html') %>
    </span>
  </p>
  <p class="grid-row grid-gutter">
    <%= image_tag(
          asset_url('get-started/2FA.svg'),
          size: '40', alt: t('devise.registrations.start.bullet_2_img'), class: 'margin-top-05 grid-col-auto',
        ) %>
    <span class="grid-col-fill padding-left-2">
      <%= t('devise.registrations.start.bullet_2_html') %>
    </span>
  </p>
  <p class="grid-row grid-gutter">
    <%= image_tag(
          asset_url('get-started/personal-details.svg'),
          size: '40', alt: t('devise.registrations.start.bullet_3_img'), class: 'margin-top-05 grid-col-auto',
        ) %>
    <span class="grid-col-fill padding-left-2">
      <%= t('devise.registrations.start.bullet_3_html') %>
    </span>
  </p>
  <p class="grid-row grid-gutter">
    <%= image_tag(
          asset_url('get-started/personal-details.svg'),
          size: '40', alt: t('devise.registrations.start.bullet_3_img'), class: 'margin-top-05 grid-col-auto',
        ) %>
    <span class="grid-col-fill padding-left-2">
      <%= t('devise.registrations.start.bullet_4_html') %>
    </span>
  </p>
  <p class="grid-row grid-gutter">
    <%= image_tag(
          asset_url('get-started/financial.svg'),
          size: '40', alt: t('devise.registrations.start.bullet_5_img'), class: 'margin-top-05 grid-col-auto',
        ) %>
    <span class="grid-col-fill padding-left-2">
      <%= t('devise.registrations.start.bullet_5_html') %>
    </span>
  </p>
  <p class="grid-row grid-gutter">
    <%= render AlertIconComponent.new(
          icon_name: :personal_key,
          size: '40', alt: t('devise.registrations.start.bullet_6_img'), class: 'margin-top-05 grid-col-auto'
        ) %>
    <span class="grid-col-fill padding-left-2">
      <%= t('devise.registrations.start.bullet_6_html') %>
    </span>
  </p>
  <p>
    <%= new_window_link_to t('devise.registrations.start.learn_more'), MarketingSite.help_url %>
  </p>
<% end %>
