<p class="clearfix">
  <%= image_tag(
        asset_url('get-started/ID.svg'),
        size: '40', alt: '', class: 'mt-tiny col col-1',
      ) %>
  <span class="col col-11 padding-left-2">
    <%= t('idv.index.id.need_html') %>
  </span>
</p>

<div class="margin-top-2">
  <%= render AccordionComponent.new do |c| %>
    <% c.header { t('devise.registrations.start.accordion') } %>
    <p class="clearfix">
      <%= image_tag(
            asset_url('get-started/email-password.svg'),
            size: '40', alt: '', class: 'mt-tiny col col-1',
          ) %>
      <span class="col col-11 padding-left-2">
        <%= t('devise.registrations.start.bullet_1_html') %>
      </span>
    </p>
    <p class="clearfix">
      <%= image_tag(
            asset_url('get-started/2FA.svg'), size: '40', alt: '',
                                              class: 'mt-tiny col col-1'
          ) %>
      <span class="col col-11 padding-left-2">
        <%= t('devise.registrations.start.bullet_2_html') %>
      </span>
    </p>
    <p class="clearfix">
      <%= image_tag(
            asset_url('get-started/personal-details.svg'),
            size: '40', alt: '', class: 'mt-tiny col col-1',
          ) %>
      <span class="col col-11 padding-left-2">
        <%= t('devise.registrations.start.bullet_3_html') %>
      </span>
    </p>
    <p class="clearfix">
      <%= image_tag(
            asset_url('get-started/personal-details.svg'),
            size: '40', alt: '', class: 'mt-tiny col col-1',
          ) %>
      <span class="col col-11 padding-left-2">
        <%= t('devise.registrations.start.bullet_4_html') %>
      </span>
    </p>
    <p class="clearfix">
      <%= image_tag(
            asset_url('get-started/financial.svg'),
            size: '40', alt: '', class: 'mt-tiny col col-1',
          ) %>
      <span class="col col-11 padding-left-2">
        <%= t('devise.registrations.start.bullet_5_html') %>
      </span>
    </p>
    <p class="clearfix">
      <%= image_tag(asset_url('p-key.svg'), size: '40', alt: '', class: 'mt-tiny col col-1') %>
      <span class="col col-11 padding-left-2">
        <%= t('devise.registrations.start.bullet_6_html') %>
      </span>
    </p>
    <p class="margin-bottom-4">
      <%= new_window_link_to t('devise.registrations.start.learn_more'),
                             MarketingSite.help_url %>
    </p>
  <% end %>
</div>
