<% title t('titles.registrations.new') %>

<%= render 'shared/sp_alert' %>

<div class='email-invalid-alert usa-alert margin-bottom-2 usa-alert--error hide' hidden='true'>
  <div class='usa-alert__body'>
    <p class='usa-alert__text'>
      <%= t('sign_up.email.invalid_email_alert_head') %>
    </p>
  </div>
</div>

<h1 class='h3 my0'><%= t('headings.registrations.enter_email') %></h1>

<div class='mb4'>
  <%= validated_form_for(@register_user_email_form,
      html: { autocomplete: 'off', role: 'form' },
      url: sign_up_register_path) do |f| %>
    <%= f.input :email, label: t('forms.registration.labels.email'), required: true, input_html: { aria: { invalid: false } } %>

    <span class='email-invalid-alert-inline usa-error-message margin-top-neg-3 margin-bottom-3 hide' role='alert' hidden='true'>
      <%= t('sign_up.email.invalid_email_alert_inline') %>
    </span>

    <fieldset class="usa-fieldset">
      <legend class="sans-serif margin-bottom-1">
        <%= t('forms.registration.labels.email_language') %>
      </legend>

      <p class="margin-bottom-4">
        <%= t('account.email_language.languages_list',
              app_name: APP_NAME,
              list: I18n.available_locales.
                map { |locale| t("account.email_language.name.#{locale}") }.
                to_sentence(last_word_connector: " #{t('account.email_language.sentence_connector')} ")) %>
      </p>

      <%= render partial: 'shared/email_languages',
                 locals: { f: f, selection: @register_user_email_form.email_language } %>
    </fieldset>

    <%= f.input :request_id, as: :hidden, input_html: { value: params[:request_id] || request_id } %>
    <%= render 'shared/recaptcha' %>
    <%= f.button :submit, t('forms.buttons.submit.default'), class: 'btn-wide grid-col-8 mobile-lg:grid-col-6' %>
  <% end %>
</div>

<%= render 'shared/cancel', link: decorated_session.cancel_link_url %>

<p class='mt2'>
   <%= new_window_link_to(t('notices.privacy.security_and_privacy_practices'),
                          MarketingSite.security_and_privacy_practices_url) %>
</p>

<p>
   <%= new_window_link_to(t('notices.privacy.privacy_act_statement'),
                          MarketingSite.privacy_act_statement_url) %>
</p>

<%= javascript_pack_tag 'email-validation' %>
