<% title t('titles.registrations.new') %>

<%= render 'shared/sp_alert' %>

<h1 class='margin-y-0'><%= t('titles.registrations.new') %></h1>

<%= simple_form_for(
      @register_user_email_form,
      html: { autocomplete: 'off' },
      url: sign_up_register_path,
    ) do |f| %>
  <%= render ValidatedFieldComponent.new(
        form: f,
        name: :email,
        as: :email,
        label: t('forms.registration.labels.email'),
        required: true,
        input_html: { autocorrect: 'off' },
      ) %>

  <fieldset class="usa-fieldset">
    <legend class="margin-bottom-1">
      <%= t('forms.registration.labels.email_language') %>
    </legend>

    <p class="margin-bottom-4">
      <%= t(
            'account.email_language.languages_list',
            app_name: APP_NAME,
            list: I18n.available_locales.
              map { |locale| t("account.email_language.name.#{locale}") }.
              to_sentence(last_word_connector: " #{t('account.email_language.sentence_connector')} "),
          ) %>
    </p>

    <%= render partial: 'shared/email_languages',
               locals: { f: f, selection: @register_user_email_form.email_language } %>
  </fieldset>

  <%= render ValidatedFieldComponent.new(
        form: f,
        name: :terms_accepted,
        as: :boolean,
        label: capture do %>
          <%= t('sign_up.terms', app_name: APP_NAME) %>
          <%= new_window_link_to(t('titles.rules_of_use'), MarketingSite.rules_of_use_url) %>
        <% end,
        required: true,
      ) %>

  <%= f.input :request_id, as: :hidden, input_html: { value: params[:request_id] || request_id } %>
  <%= f.button(
        :button,
        t('forms.buttons.submit.default'),
        type: :submit,
        class: 'usa-button usa-button--big usa-button--wide margin-y-5',
      ) %>
<% end %>

<%= render 'shared/cancel', link: decorated_session.cancel_link_url %>

<p class='margin-top-2'>
  <%= new_window_link_to(
        t('notices.privacy.security_and_privacy_practices'),
        MarketingSite.security_and_privacy_practices_url,
      ) %>
</p>

<p>
  <%= new_window_link_to(
        t('notices.privacy.privacy_act_statement'),
        MarketingSite.privacy_act_statement_url,
      ) %>
</p>
