<% title t('titles.registrations.new') %>

<%= render 'shared/sp_alert' %>

<%= render PageHeadingComponent.new.with_content(t('titles.registrations.new')) %>

<%= simple_form_for(
      @register_user_email_form,
      html: { autocomplete: 'off' },
      url: sign_up_register_path,
    ) do |f| %>
  <%= render ValidatedFieldComponent.new(
        form: f,
        name: :email,
        as: :email,
        label: t('forms.registration.labels.email'),
        required: true,
        input_html: { autocorrect: 'off' },
      ) %>

  <%= render partial: 'shared/email_languages',
             locals: { f: f, selection: @register_user_email_form.email_language } %>

  <%= render ValidatedFieldComponent.new(
        form: f,
        name: :terms_accepted,
        as: :boolean,
        label: capture do %>
          <%= t('sign_up.terms', app_name: APP_NAME) %>
          <%= new_window_link_to(t('titles.rules_of_use'), MarketingSite.rules_of_use_url) %>
        <% end,
        label_html: { class: 'margin-y-0' },
        required: true,
      ) %>

  <%= f.input :request_id, as: :hidden, input_html: { value: params[:request_id] || request_id } %>
  <%= f.submit t('forms.buttons.submit.default'), class: 'display-block margin-y-5' %>
<% end %>

<%= render 'shared/cancel', link: decorated_session.cancel_link_url %>

<p class='margin-top-2'>
  <%= new_window_link_to(
        t('notices.privacy.security_and_privacy_practices'),
        MarketingSite.security_and_privacy_practices_url,
      ) %>
</p>

<p>
  <%= new_window_link_to(
        t('notices.privacy.privacy_act_statement'),
        MarketingSite.privacy_act_statement_url,
      ) %>
</p>
