<% title t('idv.titles.review') %>

<h1>
  <%= t('idv.titles.session.review') %>
</h1>

<p>
  <%= t('idv.messages.sessions.review_message') %>
</p>

<%= validated_form_for(current_user, url: update_verify_password_path,
                       html: { autocomplete: 'off', method: :put }) do |f| %>
  <%= f.input :password, label: t('idv.form.password'), required: true,
              input_html: { aria: { invalid: false }, class: 'password-toggle' } %>
  <%= f.button :submit, t('forms.buttons.continue'), class: 'usa-button--big usa-button--wide' %>
<% end %>

<div class='margin-top-6'>
  <%= render AccordionComponent.new do |c| %>
    <% c.header { t('idv.messages.review.intro') } %>
    <%= render 'shared/pii_review', pii: @decrypted_pii, phone: @decrypted_pii[:phone] %>
  <% end %>
</div>
