<% self.title = @title %>

<%= render 'idv/shared/step_indicator', current_step: step_indicator_step %>

<%= render ADS::FormPageComponent.new(title: @heading) do |page| %>
  <% page.with_body do %>
    <%= render ADS::StackComponent.new(gap: 24) do %>
      <div class="ads-copy ads-copy--centered">
        <p><%= t('idv.messages.enter_password.message', app_name: APP_NAME) %></p>
      </div>

      <%= simple_form_for(
            current_user,
            url: idv_enter_password_path,
            method: :put,
            html: { class: 'ads-form ads-form--align-stretch' },
          ) do |f| %>
        <%= render ADS::StackComponent.new(gap: 32, align: :stretch) do %>
          <%= render InputComponent.new(
                form: f,
                attribute: :password,
                label: t('idv.form.password'),
                type: :password,
                required: true,
                autocomplete: 'current-password',
              ) %>

          <% if @verify_by_mail %>
            <%= render AlertComponent.new(
                  type: :warning,
                  dismissible: false,
                  id: 'by-mail-password-warning',
                ) do
                  t('idv.messages.enter_password.by_mail_password_reminder_html')
                end %>
          <% end %>

          <%= render ADS::StackComponent.new(kind: :actions, gap: 8, align: :stretch) do %>
            <%= render ButtonComponent.new(
                  type: :submit,
                ).with_content(t('forms.buttons.continue')) %>

            <%= render ButtonComponent.new(
                  url: idv_forgot_password_url,
                  variant: :quaternary,
                ).with_content(t('idv.forgot_password.link_text')) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
