<div class="mtn2">
  <%= image_tag asset_url('check-email.svg'), width: 24, class: 'left-0 right-0 ico-heading' %>
  <h1 class="mt2 ml1 h3 ico-heading"><%= @presenter.title %></h1>
</div>

<p>
  <%= @presenter.byline %>
  <strong><%= t('idv.messages.usps.success') %></strong>
</p>

<div class="mt4 mb3">
  <% if @presenter.usps_mail_bounced? %>
    <%= render 'idv/usps/new_address', presenter: @presenter %>
  <% else %>
    <%= render 'idv/usps/address_on_file', presenter: @presenter %>
  <% end %>
</div>

<div class='mt1 pt1 border-top'>
  <%= button_to(t('idv.messages.clear_and_start_over'), idv_session_path, method: :delete, class: 'btn btn-link mb1') %>
  <%= link_to(t('links.cancel'), @presenter.cancel_path, class: 'h5') %>
</div>
