<%= render ModalComponent.new(class: 'session-timeout-modal') do |c| %>
  <div class="display-flex flex-align-center flex-justify-center">
    <%= render AlertIconComponent.new(icon_name: :info_question) %>
  </div>
  <h2 class="margin-y-2 fs-20p text-normal text-center" id="<%= c.label_id %>">
    <%= t('headings.session_timeout_warning') %>
  </h2>
  <hr class="margin-bottom-4 border-info border-width-05" />
  <div class="margin-bottom-6">
    <p>
      <%= modal_presenter.message %>
    </p>
    <p class="usa-sr-only" id="<%= c.description_id %>" role="timer" aria-live="polite" aria-atomic="true">
      <%= modal_presenter.sr_message %>
    </p>
  </div>
  <%= button_tag modal_presenter.continue,
                 id: 'session-keepalive-btn',
                 class: 'usa-button usa-button--big usa-button--full-width margin-bottom-2' %>
  <%= link_to modal_presenter.sign_out,
              destroy_user_session_path,
              class: 'usa-button usa-button--big usa-button--full-width usa-button--outline' %>
<% end %>
