<%= render ModalComponent.new(class: 'session-timeout-modal', dismissible: false) do |modal| %>
  <% modal.with_title do %>
    <%= t('headings.session_timeout_warning') %>
  <% end %>

  <% modal.with_description do %>
    <p class="ads-sr-only" role="timer" aria-live="polite" aria-atomic="true">
      <%= t(
            # i18n-tasks-use t('notices.timeout_warning.signed_in.live_region_message_html')
            # i18n-tasks-use t('notices.timeout_warning.partially_signed_in.live_region_message_html')
            'live_region_message_html',
            scope: modal_presenter.translation_scope,
            time_left_in_session_html: render(
              CountdownComponent.new(
                expiration: Time.zone.now,
                update_interval: 30.seconds,
                start_immediately: false,
              ),
            ),
          ) %>
    </p>
    <p>
      <%= t(
            # i18n-tasks-use t('notices.timeout_warning.signed_in.message_html')
            # i18n-tasks-use t('notices.timeout_warning.partially_signed_in.message_html')
            'message_html',
            scope: modal_presenter.translation_scope,
            time_left_in_session_html: render(
              CountdownComponent.new(
                expiration: Time.zone.now,
                start_immediately: false,
              ),
            ),
          ) %>
    </p>
  <% end %>

  <% modal.with_footer do %>
    <%= render ButtonComponent.new(
          url: new_user_session_url(timeout: :session, request_id: sp_session[:request_id]),
          id: 'session-keepalive-btn',
        ).with_content(
          # i18n-tasks-use t('notices.timeout_warning.signed_in.continue')
          # i18n-tasks-use t('notices.timeout_warning.partially_signed_in.continue')
          t('continue', scope: modal_presenter.translation_scope),
        ) %>
    <%= render ButtonComponent.new(
          url: logout_path,
          method: :delete,
          variant: :secondary,
        ).with_content(
          # i18n-tasks-use t('notices.timeout_warning.signed_in.sign_out')
          # i18n-tasks-use t('notices.timeout_warning.partially_signed_in.sign_out')
          t('sign_out', scope: modal_presenter.translation_scope),
        ) %>
  <% end %>
<% end %>
