<% title t('titles.visitors.index') %>

<%= render 'shared/maintenance_window_alert' %>

<% if decorated_session.sp_name %>
  <div class='text-center'>
    <%= image_tag(asset_url('user-access.svg'), width: '280', alt: '') %>

    <%= render decorated_session.registration_heading %>
  </div>
<% else %>
  <%= render PageHeadingComponent.new.with_content(decorated_session.new_session_heading) %>
<% end %>
<%= render 'shared/sp_alert' %>

<%= validated_form_for(
      resource,
      as: resource_name,
      url: session_path(resource_name),
      html: { autocomplete: 'off' },
    ) do |f|
%>
  <%= f.input :email,
              label: t('account.index.email'),
              required: true,
              input_html: { class: 'margin-bottom-6',
                            autocorrect: 'off',
                            aria: { invalid: false } } %>
  <%= render PasswordToggleComponent.new(form: f, required: true) %>
  <%= f.input :request_id, as: :hidden, input_html: { value: @request_id } %>
  <div class='margin-bottom-4'>
    <%= submit_tag t('links.next'), class: 'usa-button usa-button--primary usa-button--full-width margin-bottom-2' %>
    <%= link_to(
          t('links.create_account'),
          sign_up_email_url(request_id: @request_id),
          class: 'text-no-underline usa-button usa-button--outline usa-button--full-width',
        ) %>
  </div>
<% end %>
<% if @ial && desktop_device? %>
  <div class='margin-x-neg-1 margin-y-4'>
    <%= link_to(
          t('account.login.piv_cac'),
          login_piv_cac_url,
          class: 'padding-x-1',
        ) %>
  </div>
<% end %>

<% if ial2_requested? %>
  <%= render 'sign_up/registrations/required_pii_accordion' %>
<% end %>

<%= render PageFooterComponent.new do %>
  <% if decorated_session.sp_name %>
    <div class="margin-y-1">
      <%= render 'devise/sessions/return_to_service_provider' %>
    </div>
  <% end %>

  <div class="margin-y-1">
    <%= link_to(
          t('links.passwords.forgot'),
          new_user_password_url(request_id: @request_id),
        ) %>
  </div>

  <p class="margin-y-1">
    <%= new_window_link_to(
          t('notices.privacy.security_and_privacy_practices'),
          MarketingSite.security_and_privacy_practices_url,
        ) %>
  </p>

  <p class="margin-y-1">
    <%= new_window_link_to(
          t('notices.privacy.privacy_act_statement'),
          MarketingSite.privacy_act_statement_url,
        ) %>
  </p>
<% end %>
