<% self.title = t('titles.sign_in') %>

<% page_subtitle = if decorated_sp_session.sp_name
                     safe_join(
                       [
                         tag.span(decorated_sp_session.sp_name, class: 'ads-nowrap'),
                         ' ',
                         t('headings.create_account_with_sp.sp_text', app_name: APP_NAME),
                       ],
                     )
                   end %>

<%= render ADS::FormPageComponent.new(
      title: t('titles.sign_in'),
      subtitle: page_subtitle,
      divider: true,
    ) do |page| %>
  <% page.with_body do %>
    <%= render ADS::StackComponent.new(kind: :form, gap: 12, align: :stretch) do %>
      <%= render 'shared/sp_alert', section: 'sign_in' %>

      <% if @issuer_forced_reauthentication %>
        <div class="ads-copy">
          <p>
            <%= t(
                  'account.login.forced_reauthentication_notice_html',
                  sp_name: decorated_sp_session.sp_name,
                ) %>
          </p>
        </div>
      <% end %>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render ADS::StackComponent.new(kind: :form, gap: 32, align: :stretch) do %>
          <%= render ADS::StackComponent.new(kind: :form, gap: 12, align: :stretch) do %>
            <%= render InputComponent.new(
                  form: f,
                  attribute: :email,
                  label: t('account.index.email_short'),
                  type: :email,
                  required: true,
                  autocorrect: 'off',
                  autocomplete: 'email',
                  error_message: resource.errors.full_messages_for(:email).first,
                ) %>
            <%= render InputComponent.new(
                  form: f,
                  attribute: :password,
                  label: t('forms.password'),
                  type: :password,
                  required: true,
                  autocomplete: 'current-password',
                  error_message: resource.errors.full_messages_for(:password).first,
                  error_messages: {
                    valueMissing: t('components.input.errors.password_current'),
                  },
                ) %>
            <%= hidden_field_tag(
                  :platform_authenticator_available,
                  id: 'platform_authenticator_available',
                ) %>
          <% end %>

          <%= render ADS::StackComponent.new(kind: :actions, gap: 8, align: :stretch) do %>
            <% if FeatureManagement.sign_in_recaptcha_enabled? || IdentityConfig.store.recaptcha_mock_validator %>
              <%= render CaptchaSubmitButtonComponent.new(
                    form: f,
                    action: SignInRecaptchaForm::RECAPTCHA_ACTION,
                  ).with_content(t('forms.buttons.continue')) %>
            <% else %>
              <%= render ButtonComponent.new(
                    type: :submit,
                  ).with_content(t('forms.buttons.continue')) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <%= render ButtonComponent.new(
            url: new_user_password_url,
            variant: :quaternary,
          ).with_content(t('account.login.forgot_password')) %>
    <% end %>
  <% end %>

  <% page.with_actions do %>
    <%= render ADS::StackComponent.new(kind: :links, align: :center) do %>
      <%= render ADS::LinkComponent.new(url: sign_up_email_path) do %>
        <%= t('links.create_account') %>
      <% end %>

      <% if desktop_device? %>
        <%= render ADS::LinkComponent.new(url: login_piv_cac_url) do %>
          <%= t('account.login.piv_cac') %>
        <% end %>
      <% end %>

      <% if decorated_sp_session.sp_name %>
        <%= render ButtonComponent.new(
              url: return_to_sp_cancel_path(step: :authentication),
              variant: :quaternary,
            ).with_content(t('links.back_to_sp', sp: decorated_sp_session.sp_name)) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= javascript_packs_tag_once('platform-authenticator-available', preload_links_header: false) %>
<% if IdentityConfig.store.participate_in_dap %>
  <!-- <%= t('notices.dap_participation') %> -->
  <%= javascript_packs_tag_once(
        'digital-analytics-program',
        url_params: { agency: 'GSA', subagency: 'TTS' },
        defer: true,
        id: '_fed_an_ua_tag',
        preload_links_header: false,
      ) %>
<% end %>
