<% if decorated_session.sp_name %>
  <div class='center'>
    <%= image_tag(asset_url('user-access.svg'), width: '280', alt: '') %>

    <%= render decorated_session.registration_heading %>
  </div>
<% else %>
  <h1 class='h3 my0'>
    <%= decorated_session.new_session_heading %>
  </h1>
<% end %>

<div class='alert sm-left-align'>
  <div class='mt2 center'>
    <%= t('interstitial.currently_logged_in') %>
    <strong>
      <%= ' ' + current_user.email + '.' %>
    </strong>
  </div>

  <div class='mt3 center'>
    <%= t('interstitial.click_continue_html') %>
  </div>

  <div class='mt3 center'>
    <%= button_to(t('interstitial.continue'),
                  sign_up_completed_path,
                  class: 'btn btn-primary btn-wide') %>
  </div>

  <br/>
</div>

<div class='mt4 center'>
  <div class='mt2 center'>
    <%= t('interstitial.not_you') %>
    <%= t('interstitial.sign_in') %>
    <%= t('interstitial.different_email') %>
  </div>
  <div class='mt3 center'>
    <%= button_to(t('interstitial.sign_in'),
          reset_interstitial_path,
          class: 'btn btn-primary btn-wide',
          method: :put) %>
  </div>
</div>

<br/>

<div class='border-top'/>

<div class='mt3'>
  <%= link_to t('notices.terms_of_service.link'), MarketingSite.privacy_url, target: '_blank' %>
</div>
