<% title t('titles.confirmations.delete') %>

<h1 class='margin-y-0'>
  <%= @presenter.confirm_delete_message %>
</h1>

<br/>

<h5 class='margin-top-0'>
  <%= t('email_addresses.delete.warning') %>
</h5>
<ul>
  <li><%= t('email_addresses.delete.bullet1', app_name: APP_NAME) %></li>
  <li><%= t('email_addresses.delete.bullet2') %></li>
</ul>

<br/>

<%= button_to t('forms.email.buttons.delete'), delete_email_url(id: params[:id]),
              class: 'usa-button usa-button--big usa-button--danger usa-button--wide',
              method: :delete %>

<%= render 'shared/cancel', link: account_path %>
