<% title t('titles.registrations.new') %>

<%= render 'shared/sp_alert' %>

<%= render PageHeadingComponent.new.with_content(t('headings.add_email')) %>

<div class="margin-bottom-6">
  <%= simple_form_for(
        @add_user_email_form,
        html: { autocomplete: 'off' },
        url: add_email_path,
      ) do |f| %>
    <%= render ValidatedFieldComponent.new(
          form: f,
          name: :email,
          label: t('forms.registration.labels.email'),
          required: true,
        ) %>
    <%= f.submit t('forms.buttons.submit.default') %>
  <% end %>
</div>

<%= render 'shared/cancel', link: decorated_session.cancel_link_url %>

<p class="margin-top-2">
  <%= new_window_link_to t('notices.privacy.security_and_privacy_practices'),
                         MarketingSite.security_and_privacy_practices_url %>
</p>

<p>
  <%= new_window_link_to t('notices.privacy.privacy_act_statement'),
                         MarketingSite.privacy_act_statement_url %>
</p>
