<% title t('titles.registrations.new') %>

<%= render 'shared/sp_alert' %>

<h1 class="h3 my0">
  <%= t('headings.add_email') %>
</h1>

<div class="mb4">
  <%= validated_form_for(@add_user_email_form,
          html: { autocomplete: 'off', role: 'form' },
          url: add_email_path) do |f| %>
    <%= f.input :email, label: t('forms.registration.labels.email'), required: true %>
    <%= f.button :submit, t('forms.buttons.submit.default'), class: 'btn-wide' %>
  <% end %>
</div>

<%= render 'shared/cancel', link: decorated_session.cancel_link_url %>

<p class="mt2">
  <%= render('shared/link_new_window', text: t('notices.privacy.security_and_privacy_practices'),
    href: MarketingSite.security_and_privacy_practices_url
  ) %>
</p>

<p>
  <%= render('shared/link_new_window', text: t('notices.privacy.privacy_act_statement'),
    href: MarketingSite.privacy_act_statement_url
  ) %>
</p>
