<% title t('titles.verify_email') %>

<% if @resend_confirmation %>
  <%= render 'shared/alert', {
    type: 'success',
    class: 'margin-bottom-4',
    message: t('notices.resend_confirmation_email.success'),
  } %>
<% end %>

<div class="margin-top-neg-2">
  <%= image_tag asset_url('check-email.svg'), alt: '', width: 24, class: 'left-0 right-0 ico-heading' %>
  <h1 class="margin-top-2 margin-left-1 ico-heading"><%= t('headings.verify_email') %></h1>
</div>

<p><%= t('notices.signed_up_and_confirmed.first_paragraph_start') %>
   <strong><%= email %></strong>
   <%= t('notices.signed_up_and_confirmed.first_paragraph_end') %>
</p>

<div class="width-10">
  <hr class="margin-y-4 border-width-05 border-info">
</div>

<%= t('notices.signed_up_and_confirmed.no_email_sent_explanation_start') %>
<%= button_to(add_email_resend_path, method: :post, class: 'usa-button usa-button--unstyled', form_class: 'inline-block padding-left-1') { t('links.resend') } %>

<p><% link = link_to(t('notices.use_diff_email.link'), add_email_path) %></p>

<p><%= t('notices.use_diff_email.text_html', link: link) %></p>
<p><%= t('devise.registrations.close_window') %></p>

<% if FeatureManagement.enable_load_testing_mode? %>
  <%= link_to('CONFIRM NOW',
    sign_up_create_email_confirmation_url(confirmation_token: EmailAddress.find_with_email(email).confirmation_token),
    id: 'confirm-now') %>
<% end %>

<%= link_to t('idv.messages.return_to_profile', app_name: APP_NAME), profile_path %>
