<% title t('titles.passwords.confirm') %>

<%= render PageHeadingComponent.new.with_content(t('headings.passwords.confirm')) %>

<p>
  <%# for follow up: translate factor_to_change (LG-5701) %>
  <%= user_session[:no_factor_message] ||
        t('help_text.change_factor', factor: user_session[:factor_to_change]) %>
</p>

<%= validated_form_for(
      current_user,
      url: reauthn_user_password_path,
      html: { autocomplete: 'off', method: 'post', class: 'margin-top-6' },
    ) do |f| %>
  <%= render PasswordToggleComponent.new(form: f, required: true) %>
  <%= f.button :submit, t('forms.buttons.continue'), class: 'display-block margin-y-5 usa-button--big usa-button--wide' %>
<% end %>
<%= render 'shared/cancel', link: account_path %>
