<% title t('titles.passwords.confirm') %>

<h1 class='margin-y-0'>
  <%= t('headings.passwords.confirm') %>
</h1>
<p class='mt-tiny margin-bottom-0'>
  <%= user_session[:no_factor_message] ||
        t('help_text.change_factor', factor: user_session[:factor_to_change]) %>
</p>
<%= validated_form_for(
      current_user,
      url: reauthn_user_password_path,
      html: { autocomplete: 'off', method: 'post' },
    ) do |f| %>
  <%= f.input :password, required: true, input_html: { aria: { invalid: false }, class: 'password-toggle' } %>
  <%= f.button :submit, t('forms.buttons.continue'), class: 'usa-button--big usa-button--wide margin-top-2' %>
<% end %>
<%= render 'shared/cancel', link: account_path %>
