<% title t('titles.mfa_setup.suggest_second_mfa') %>

<% if @content.first_mfa_method.present? %>
  <%= render AlertComponent.new(type: :success, class: 'margin-bottom-4') do %>
    <%= t(
          'notices.mfa_setup.first_added',
          method: t(
            @content.first_mfa_method,
            scope: [:two_factor_authentication, :two_factor_choice_options],
          ).downcase,
        ) %>
  <% end %>
<% end %>

<%= image_tag asset_url('user-signup-ial1.svg'), width: 107, height: 119, alt: '', class: 'margin-bottom-4' %>

<%= render PageHeadingComponent.new.with_content(@content.heading) %>

<p class='margin-top-1 margin-bottom-4'>
  <%= @content.info %>
</p>

<div class="col-12">
  <%= link_to(
        second_mfa_setup_path,
        class: 'usa-button usa-button--wide usa-button--big margin-bottom-3',
      ) { @content.button } %>
</div>

<%= button_to(
      auth_method_confirmation_skip_path,
      method: :post,
      class: 'usa-button usa-button--unstyled',
    ) do %>
  <%= t('mfa.skip') %>
<% end %>
