<% title @presenter.title %>

<%= image_tag asset_url('user-signup-ial1.svg'), width: 107, height: 119, alt: '', class: 'margin-bottom-4' %>

<%= render PageHeadingComponent.new.with_content(@presenter.title) %>

<p class='margin-top-1 margin-bottom-4'><%= @presenter.info %></p>

<div class="col-12">
  <%= link_to(
        @presenter.next_path,
        class: 'usa-button usa-button--wide usa-button--big margin-bottom-3',
      ) { t('multi_factor_authentication.add') } %>
</div>

<%= button_to(
      auth_method_confirmation_skip_path,
      method: :post,
      class: 'usa-button usa-button--unstyled',
    ) do %>
  <%= t('multi_factor_authentication.skip') %>
<% end %>