<% title t('forms.webauthn_delete.confirm') %>
<%= image_tag(asset_url('alert/warning-lg.svg'), alt: '', width: 54) %>

<h1 class="margin-bottom-1 margin-top-4 margin-y-0"><%= t('forms.webauthn_delete.confirm') %></h1>

<div class="col-2">
  <hr class="margin-top-4 margin-bottom-2 border-width-05 border-yellow" />
</div>
<br />
<p><%= t('forms.webauthn_delete.caution', app_name: APP_NAME) %></p>
<br />
<br />
<%= button_to(webauthn_setup_path(id: params[:id]), method: :delete, class: 'usa-button usa-button--big usa-button--wide margin-bottom-2') { t('account.index.webauthn_confirm_delete') } %>
<%= link_to t('links.cancel'),
    account_two_factor_authentication_path,
    class: 'usa-button usa-button--big usa-button--wide usa-button--outline' %>
