<% if @webauthn.platform_authenticator %>
  <% title t('forms.webauthn_platform_delete.confirm') %>
<% else %>
  <% title t('forms.webauthn_delete.confirm') %>
<% end %>

<%= image_tag(asset_url('status/warning.svg'), alt: t('titles.icons.warning.alt_text'), width: 54, class: 'display-block margin-bottom-4') %>

<%= render PageHeadingComponent.new do %>
  <% if @webauthn.platform_authenticator %>
    <%= t('forms.webauthn_platform_delete.confirm') %>
  <% else %>
    <%= t('forms.webauthn_delete.confirm') %>
  <% end %>
<% end %>

<% if @webauthn.platform_authenticator %>
  <p><%= t('forms.webauthn_platform_delete.caution', app_name: APP_NAME) %></p>
<% else %>
  <p><%= t('forms.webauthn_delete.caution', app_name: APP_NAME) %></p>
<% end %>

<%= button_to(webauthn_setup_path(id: params[:id]), method: :delete, class: 'usa-button usa-button--big usa-button--wide margin-top-5 margin-bottom-2') do %>
  <% if @webauthn.platform_authenticator %>
    <%= t('account.index.webauthn_platform_confirm_delete') %>
  <% else %>
    <%= t('account.index.webauthn_confirm_delete') %>
  <% end %>
<% end %>

<%= link_to t('links.cancel'),
            account_two_factor_authentication_path,
            class: 'usa-button usa-button--big usa-button--wide usa-button--outline' %>
