<% self.title = @presenter.page_title %>

<%= simple_form_for(
      '',
      url: webauthn_setup_path(
        platform: @platform_authenticator.presence,
        auto_trigger: @auto_trigger.presence,
        passkey_upsell: @passkey_upsell.presence,
      ),
      method: :patch,
      html: {
        id: 'webauthn-form',
        data: { auto_trigger: @auto_trigger || nil },
      },
    ) do |f| %>
  <%= hidden_field_tag :user_id, current_user.id, id: 'user_id' %>
  <%= hidden_field_tag :user_email, current_user.last_sign_in_email_address.email, id: 'user_email' %>
  <%= hidden_field_tag :user_challenge, user_session[:webauthn_challenge].to_json, id: 'user_challenge' %>
  <%= hidden_field_tag :exclude_credentials, @exclude_credentials&.join(','), id: 'exclude_credentials' %>
  <%= hidden_field_tag :webauthn_id, '', id: 'webauthn_id' %>
  <%= hidden_field_tag :attestation_object, '', id: 'attestation_object' %>
  <%= hidden_field_tag :client_data_json, '', id: 'client_data_json' %>
  <%= hidden_field_tag :authenticator_data_value, '', id: 'authenticator_data_value' %>
  <%= hidden_field_tag :transports, '', id: 'transports' %>
  <%= hidden_field_tag :platform_authenticator, @platform_authenticator, id: 'platform_authenticator' %>

  <%= render ADS::FormPageComponent.new(title: @presenter.heading) do |page| %>
    <% page.with_body do %>
      <%= render ADS::StackComponent.new(kind: :form, gap: 16, align: :stretch) do %>
        <% if @need_to_set_up_additional_mfa %>
          <%= render AlertComponent.new(type: :neutral, text_tag: :div) do %>
            <%= t('forms.webauthn_platform_setup.info_text') %>
          <% end %>
        <% end %>

        <% if @platform_authenticator %>
          <div class="ads-copy">
            <%= @presenter.intro_html %>
          </div>
        <% else %>
          <%= render CardComponent.new(padding: :compact) do %>
            <div class="ads-card__stack--divided">
              <p class="ads-card__title">1. <%= t('forms.webauthn_setup.step_1') %></p>
              <%= render InputComponent.new(
                    form: f,
                    attribute: :name,
                    label: t('forms.webauthn_setup.nickname'),
                    required: true,
                    id: 'nickname',
                    maxlength: 20,
                    autocomplete: 'off',
                    error_messages: {
                      valueMissing: t('components.input.errors.nickname'),
                    },
                  ) %>
            </div>
          <% end %>

          <%= render CardComponent.new(padding: :compact) do %>
            <div class="ads-card__stack--divided">
              <p class="ads-card__title">2. <%= t('forms.webauthn_setup.step_2') %></p>
              <%= render AnimatedMediaComponent.new(
                    image: 'security-key-insert-desktop.gif',
                    alt: t('forms.webauthn_setup.step_2_image_alt'),
                    width: 864,
                    height: 400,
                    class: 'ads-card__media ads-animated-media--desktop',
                  ) %>
              <%= render AnimatedMediaComponent.new(
                    image: 'security-key-insert-mobile.gif',
                    alt: t('forms.webauthn_setup.step_2_image_mobile_alt'),
                    width: 432,
                    height: 200,
                    class: 'ads-card__media ads-animated-media--mobile',
                  ) %>
            </div>
          <% end %>

          <%= render CardComponent.new(padding: :compact) do %>
            <div class="ads-card__stack--divided">
              <p class="ads-card__title">3. <%= t('forms.webauthn_setup.step_3') %></p>
              <p class="ads-card__description"><%= t('forms.webauthn_setup.step_3a') %></p>
            </div>
          <% end %>
        <% end %>

        <div class="ads-checkbox">
          <%= hidden_field_tag :remember_device, '0', id: nil %>
          <%= check_box_tag(
                :remember_device,
                '1',
                @presenter.remember_device_box_checked?,
                class: 'ads-checkbox__input',
              ) %>
          <%= label_tag(
                :remember_device,
                t('forms.messages.remember_device'),
                class: 'ads-checkbox__label',
              ) %>
        </div>
      <% end %>
    <% end %>

    <% page.with_actions do %>
      <%= render ADS::StackComponent.new(kind: :actions, gap: 8, align: :stretch) do %>
        <%= render ButtonComponent.new(
              type: :submit,
            ).with_content(@presenter.button_text) %>

        <% if MfaPolicy.new(current_user).two_factor_enabled? && !in_multi_mfa_selection_flow? %>
          <%= render ButtonComponent.new(
                url: account_path,
                variant: :quaternary,
              ).with_content(t('links.cancel')) %>
        <% else %>
          <%= render ButtonComponent.new(
                url: authentication_methods_setup_path,
                variant: :quaternary,
              ).with_content(t('forms.webauthn_setup.use_different_method')) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if @account_creation_threatmetrix[:threatmetrix_session_id].present? %>
  <%= render(
        partial: 'shared/threat_metrix_profiling',
        locals: @account_creation_threatmetrix,
      ) %>
<% end %>

<%= javascript_packs_tag_once 'webauthn-setup' %>
