<% self.title = @presenter.page_title %>

<%= image_tag asset_url(@presenter.image_path), alt: '', width: '90', class: 'margin-left-1 margin-bottom-2' %>

<%= render PageHeadingComponent.new.with_content(@presenter.heading) %>

<% if @need_to_set_up_additional_mfa %>
  <%= render AlertComponent.new(type: :info, class: 'margin-bottom-4') do %>
    <%= t('forms.webauthn_platform_setup.info_text') %>
  <% end %>
<% end %>

<%= @presenter.intro_html %>

<%= simple_form_for(
      '',
      url: webauthn_setup_path(platform: @platform_authenticator.presence),
      method: :patch,
      html: {
        class: 'margin-top-4 margin-bottom-1',
        id: 'webauthn_form',
      },
    ) do |f| %>
  <%= hidden_field_tag :user_id, current_user.id, id: 'user_id' %>
  <%= hidden_field_tag :user_email, current_user.confirmed_email_addresses.first.email, id: 'user_email' %>
  <%= hidden_field_tag :user_challenge, user_session[:webauthn_challenge].to_json, id: 'user_challenge' %>
  <%= hidden_field_tag :exclude_credentials, @exclude_credentials&.join(','), id: 'exclude_credentials' %>
  <%= hidden_field_tag :webauthn_id, '', id: 'webauthn_id' %>
  <%= hidden_field_tag :attestation_object, '', id: 'attestation_object' %>
  <%= hidden_field_tag :client_data_json, '', id: 'client_data_json' %>
  <%= hidden_field_tag :authenticator_data_value, '', id: 'authenticator_data_value' %>
  <%= hidden_field_tag :transports, '', id: 'transports' %>

  <%= hidden_field_tag :platform_authenticator, @platform_authenticator, id: 'platform_authenticator' %>
  <% if @platform_authenticator %>
    <%= hidden_field_tag 'name', @presenter.device_nickname, id: 'nickname' %>
  <% else %>
      <%= render ValidatedFieldComponent.new(
            form: f,
            name: :name,
            required: true,
            label: @presenter.nickname_label,
            hint: @presenter.device_nickname_hint,
            input_html: {
              id: 'nickname',
              class: 'font-family-mono',
              size: 16,
              maxlength: 20,
              value: @presenter.device_nickname,
            },
          ) %>
  <% end %> 
  <div class="margin-y-4 text-center" id="spinner" hidden>
    <%= image_tag(
          asset_url('loading-badge.gif'),
          height: 144,
          width: 144,
          alt: '',
        ) %>
    <strong class="display-block margin-top-2">
      <%= t('forms.webauthn_setup.saving') %>
    </strong>
  </div>
  <%= f.input(
        :remember_device,
        as: :boolean,
        label: t('forms.messages.remember_device'),
        input_html: {
          class: 'usa-checkbox__input--bordered',
          checked: @presenter.remember_device_box_checked?,
        },
      ) %>
  <%= render SubmitButtonComponent.new(class: 'display-block margin-y-5').with_content(@presenter.button_text) %>
<% end %>

<%= render 'shared/cancel_or_back_to_options' %>

<%= javascript_packs_tag_once 'webauthn-setup' %>
