<% title t('titles.totp_setup.new') %>

<%= image_tag asset_url(@presenter.image_path), alt: '', width: '90', class: 'margin-left-1 margin-bottom-2' %>

<%= render PageHeadingComponent.new.with_content(@presenter.heading) %>

<p>
  <%= @presenter.intro %>
</p>

<%= simple_form_for(
      '',
      url: webauthn_setup_path,
      method: :patch,
      html: {
        class: 'margin-top-4 margin-bottom-1',
        id: 'webauthn_form',
      },
    ) do |f| %>
  <%= hidden_field_tag :user_id, current_user.id, id: 'user_id' %>
  <%= hidden_field_tag :user_email, current_user.email, id: 'user_email' %>
  <%= hidden_field_tag :user_challenge, user_session[:webauthn_challenge].to_json, id: 'user_challenge' %>
  <%= hidden_field_tag :exclude_credentials, @exclude_credentials&.join(','), id: 'exclude_credentials' %>
  <%= hidden_field_tag :webauthn_id, '', id: 'webauthn_id' %>
  <%= hidden_field_tag :webauthn_public_key, '', id: 'webauthn_public_key' %>
  <%= hidden_field_tag :attestation_object, '', id: 'attestation_object' %>
  <%= hidden_field_tag :client_data_json, '', id: 'client_data_json' %>
  <%= hidden_field_tag :platform_authenticator, @platform_authenticator, id: 'platform_authenticator' %>
  <%= label_tag 'code', @presenter.nickname_label, class: 'display-block text-bold', for: 'nickname' %>
  <%= text_field_tag(
        :name,
        '',
        required: true,
        aria: { invalid: false },
        id: 'nickname',
        class: 'display-block width-full field font-family-mono',
        size: 16,
        maxlength: 20,
      ) %>
  <%= f.input(
        :remember_device,
        as: :boolean,
        label: t('forms.messages.remember_device'),
        wrapper_html: { class: 'margin-top-4' },
        input_html: {
          class: 'usa-checkbox__input--bordered',
          checked: @presenter.remember_device_box_checked?,
        },
      ) %>
  <%= submit_tag t('forms.buttons.submit.default'), id: 'submit-button', class: 'display-none' %>
<% end %>
<%= button_tag(
      @presenter.button_text,
      class: 'display-block usa-button usa-button--big usa-button--wide margin-y-5',
      id: 'continue-button',
    ) %>

<div class="spinner display-none margin-y-4" id='spinner'>
  <div class='text-center'>
    <%= image_tag(
          asset_url('spinner.gif'),
          srcset: asset_url('spinner@2x.gif'),
          height: 144,
          width: 144,
          alt: '',
        ) %>
  </div>
  <h2 class='h4 half-center'><%= @presenter.setup_heading %></h2>
  <p class='half-center'><%= @presenter.setup_instructions %></p>
</div>

<%= render 'shared/cancel_or_back_to_options' %>

<%= javascript_packs_tag_once 'webauthn-setup' %>
