<div class="margin-bottom-4">
  <fieldset class="margin-0 padding-0 border-none">
    <legend class="margin-bottom-1 h4 serif bold">
      <%= t('two_factor_authentication.otp_delivery_preference.title') %>
    </legend>
    <p class="margin-top-0 margin-bottom-2" id="otp_delivery_preference_instruction">
      <%= t('two_factor_authentication.otp_delivery_preference.instruction') %>
    </p>
    <label
      class="btn-border col-12 sm-col-5 tablet:margin-right-2 margin-bottom-2 tablet:margin-bottom-0"
      for='edit_phone_form_delivery_preference_sms'
    >
      <div class="radio">
        <%= radio_button_tag 'edit_phone_form[delivery_preference]',
          :sms, @edit_phone_form.delivery_preference_sms?,
          class: :otp_delivery_preference_sms %>
        <span class="indicator"></span>
        <%= t('two_factor_authentication.otp_delivery_preference.sms') %>
      </div>
    </label>
    <label
      class="btn-border col-12 sm-col-5 margin-bottom-0"
      for='edit_phone_form_delivery_preference_voice'
    >
      <div class="radio">
        <%= radio_button_tag 'edit_phone_form[delivery_preference]',
            :voice, @edit_phone_form.delivery_preference_voice?,
            class: :otp_delivery_preference_voice %>
        <span class="indicator"></span>
        <%= t('two_factor_authentication.otp_delivery_preference.voice') %>
      </div>
    </label>
  </fieldset>
</div>
