<fieldset class="ads-fieldset" aria-describedby="otp_delivery_preference_instruction">
  <legend class="ads-fieldset__legend">
    <%= t('two_factor_authentication.otp_delivery_preference.title') %>
  </legend>
  <p class="ads-fieldset__hint" id="otp_delivery_preference_instruction">
    <%= t('two_factor_authentication.otp_delivery_preference.instruction') %>
  </p>

  <div class="ads-radio-group">
    <div class="ads-radio">
      <%= radio_button_tag(
            'edit_phone_form[delivery_preference]',
            :sms,
            @edit_phone_form.delivery_preference_sms?,
            class: 'ads-radio__input ads-sr-only',
          ) %>
      <%= label_tag(
            'edit_phone_form_delivery_preference_sms',
            t('two_factor_authentication.otp_delivery_preference.sms'),
            class: 'ads-radio__label',
          ) %>
    </div>

    <div class="ads-radio">
      <%= radio_button_tag(
            'edit_phone_form[delivery_preference]',
            :voice,
            @edit_phone_form.delivery_preference_voice?,
            class: 'ads-radio__input ads-sr-only',
          ) %>
      <%= label_tag(
            'edit_phone_form_delivery_preference_voice',
            t('two_factor_authentication.otp_delivery_preference.voice'),
            class: 'ads-radio__label',
          ) %>
    </div>
  </div>
</fieldset>
