<fieldset class="ads-fieldset" aria-describedby="otp_make_default_number_instruction">
  <legend class="ads-fieldset__legend">
    <% if @edit_phone_form.one_phone_configured? %>
      <%= t('two_factor_authentication.otp_make_default_number.one_number_title') %>
    <% else %>
      <%= t('two_factor_authentication.otp_make_default_number.title') %>
    <% end %>
  </legend>
  <p class="ads-fieldset__hint" id="otp_make_default_number_instruction">
    <% if @edit_phone_form.one_phone_configured? %>
      <%= t('two_factor_authentication.otp_make_default_number.one_number_instruction') %>
    <% else %>
      <%= t('two_factor_authentication.otp_make_default_number.instruction') %>
    <% end %>
  </p>

  <div class="ads-checkbox">
    <%= check_box_tag(
          'edit_phone_form[make_default_number]',
          :otp_make_default_number,
          @edit_phone_form.default_phone_configuration?,
          class: 'usa-checkbox__input usa-checkbox__input--bordered',
          disabled: @edit_phone_form.one_phone_configured?,
        ) %>
    <%= label_tag(
          'edit_phone_form_make_default_number',
          t('two_factor_authentication.otp_make_default_number.label'),
          class: 'ads-checkbox__label',
        ) %>
  </div>
</fieldset>
