<% title t('titles.edit_info.phone') %>
<%= render PageHeadingComponent.new.with_content(t('headings.edit_info.phone')) %>

<%= validated_form_for(
      @edit_phone_form,
      html: { autocomplete: 'off', method: :put },
      url: manage_phone_path(id: @phone_configuration.id),
    ) do |f| %>

  <div class="margin-bottom-1 h4">
    <%= t('two_factor_authentication.phone_label') %>:&nbsp;
    <strong><%= @edit_phone_form.masked_phone %></strong>
  </div><br/>

  <%= render 'delivery_preference_selection' %>
  <%= render 'make_default_number' %>

  <%= f.submit t('forms.buttons.submit.confirm_change') %>
<% end %>

<%= render 'remove_phone' %>

<%= render 'shared/cancel', link: account_path %>
