<% title @title %>

<% content_for(:pre_flash_content) do %>
  <%= render StepIndicatorComponent.new(
        steps: Idv::StepIndicatorConcern::STEP_INDICATOR_STEPS,
        current_step: :verify_id,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      ) %>
<% end %>

<%= render PageHeadingComponent.new.with_content(@title) %>
  
<div class="margin-top-4">
  <%= link_to(
      t('doc_auth.buttons.have_phone'),
      idv_hybrid_handoff_path,
      class: 'usa-button usa-button--wide usa-button--big',
    ) %>
</div>

<p class="margin-top-2">

  <%= link_to(
        t('doc_auth.phone_question.do_not_have'),
        idv_document_capture_url(camera_phone: false),
      ) %>
</p>

<%= render 'idv/doc_auth/cancel', step: 'phone_question' %>
