<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <title><%= t('headings.redirecting') %> | <%= APP_NAME %></title>
    <%= javascript_tag(nonce: true) do %>
      document.documentElement.classList.replace('no-js', 'js');
    <% end %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', nopush: false %>
    <%= render_stylesheet_once_tags %>
  </head>
  <body class="ads-protocol-redirect-page">
    <main id="main-content" class="ads-protocol-redirect">
      <%= render ADS::FormPageComponent.new(
            title: t('.heading'),
            class_name: 'ads-protocol-redirect__content',
          ) do |page| %>
        <% page.with_body do %>
          <div class="ads-copy ads-copy--centered">
            <p>
              <%= t('.no_js') %>
            </p>
          </div>
        <% end %>

        <% page.with_actions do %>
          <%= simple_form_for(
                '',
                url: action_url,
                html: { class: 'ads-form ads-form--align-stretch' },
              ) do %>
            <%= hidden_field_tag(type, message) %>
            <% if params.key?(:RelayState) %>
              <%= hidden_field_tag('RelayState', params[:RelayState]) %>
            <% end %>
            <%= render ButtonComponent.new(
                  type: :submit,
                  data: { click_immediate: '' },
                ).with_content(t('forms.buttons.submit.default')) %>
          <% end %>
        <% end %>
      <% end %>
    </main>
    <%= render_javascript_pack_once_tags 'click-immediate' %>
  </body>
</html>
