<%= render ADS::FormPageComponent.new(title: t('idv.gpo.title')) do |page| %>
  <% if !@can_request_another_letter %>
    <% page.with_alert do %>
      <%= render AlertComponent.new(type: :warning, dismissible: false) do %>
        <%= t(
              'idv.gpo.alert_rate_limit_warning_html',
              date_letter_was_sent: I18n.l(
                @last_date_letter_was_sent,
                format: :event_date,
              ),
            ) %>
      <% end %>
    <% end %>
  <% end %>

  <% page.with_body do %>
    <%= render ADS::StackComponent.new(gap: 24) do %>
      <div class="ads-copy">
        <p><%= t('idv.gpo.intro') %></p>
      </div>

      <%= render 'form' %>

      <hr class="ads-divider">

      <%= render CardComponent.new(padding: :compact) do %>
        <div class="ads-card__stack">
          <p class="ads-card__title"><%= t('idv.gpo.address_accordion.body') %></p>
          <p class="ads-card__description"><%= render 'shared/address', address: @gpo_verify_form.pii %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% page.with_actions do %>
    <% if @can_request_another_letter %>
      <%= render ADS::LinkComponent.new(url: idv_resend_letter_path) do %>
        <%= t('idv.messages.gpo.resend') %>
      <% end %>
    <% end %>

    <%= render ButtonComponent.new(
          url: account_path,
          variant: :quaternary,
        ).with_content(t('idv.gpo.return_to_profile')) %>
  <% end %>
<% end %>
