<% self.title = t('account_reset.delete_account.title') %>

<%= render ADS::FormPageComponent.new(title: t('account_reset.delete_account.title')) do |page| %>
  <% page.with_body do %>
    <div class="ads-copy">
      <p><%= t('account_reset.delete_account.info', app_name: APP_NAME) %></p>
    </div>
  <% end %>

  <% page.with_actions do %>
    <%= render ButtonComponent.new(
          url: account_reset_delete_account_path,
          method: :delete,
          variant: :destructive,
        ).with_content(t('account_reset.request.yes_continue')) %>

    <% if IdentityConfig.store.update_cancel_account_reset_path %>
      <%= render ButtonComponent.new(
            url: account_reset_delete_account_cancel_path,
            method: :post,
            variant: :quaternary,
          ).with_content(t('account_reset.request.no_cancel2')) %>
    <% else %>
      <%= render ButtonComponent.new(
            url: root_url,
            variant: :quaternary,
          ).with_content(t('account_reset.request.no_cancel2')) %>
    <% end %>
  <% end %>
<% end %>
