<% title t('account_reset.delete_account.title') %>

<h1 class='margin-y-0'>
  <%= t('account_reset.delete_account.title') %>
</h1>
<p class='mt-tiny margin-bottom-0'>
  <%= t('account_reset.delete_account.info', app_name: APP_NAME) %>
</p>
<br/>
<h4 class='margin-y-2'>
  <%= t('account_reset.delete_account.are_you_sure') %>
</h4>

<%= button_to(
  root_url,
  method: :get,
  class: 'usa-button usa-button--big usa-button--wide margin-bottom-1 personal-key-continue',
  'data-toggle': 'modal'
) { t('account_reset.request.no_cancel') } %>
<%= button_to(
  account_reset_delete_account_path,
  method: :delete,
  class: 'usa-button usa-button--unstyled'
) { t('account_reset.request.yes_continue') } %>
