<% self.title = t('titles.sign_up.confirmation') %>

<% if decorated_sp_session.sp_name %>
  <%= render 'sign_up/registrations/sp_registration_heading' %>
<% else %>
  <%= render PageHeadingComponent.new.with_content(decorated_sp_session.new_session_heading) %>
<% end %>

<div class="text-bold margin-top-4 margin-bottom-1">
  <%= t('user_authorization_confirmation.currently_logged_in') %>
</div>
<%= render IconListComponent.new(icon: :check_circle, color: :success, class: 'border-bottom border-primary-light') do |c| %>
  <% c.with_item(class: 'padding-y-2 border-top border-primary-light') do %>
    <span class="text-bold padding-right-2">
      <%= t('help_text.requested_attributes.email') %>
    </span>
    <%= @email %>
  <% end %>
<% end %>

<div class="margin-top-4 text-center">
  <%= render ButtonComponent.new(
        action: ->(**tag_options, &block) do
          button_to(user_authorization_confirmation_path, method: :post, **tag_options, &block)
        end,
        big: true,
        wide: true,
      ).with_content(t('user_authorization_confirmation.continue')) %>
  <div class="margin-y-4">
    <%= t('user_authorization_confirmation.or') %>
  </div>
  <%= render ButtonComponent.new(
        action: ->(**tag_options, &block) do
          button_to(reset_user_authorization_path, method: :delete, **tag_options, &block)
        end,
        big: true,
        wide: true,
      ).with_content(t('user_authorization_confirmation.sign_in')) %>
</div>
