<% self.title = t('titles.sign_up.confirmation') %>

<%= render ADS::FormPageComponent.new(
      title: decorated_sp_session.new_session_heading,
      subtitle: t('user_authorization_confirmation.currently_logged_in'),
    ) do |page| %>
  <% page.with_body do %>
    <%= render CardComponent.new(padding: :compact) do %>
      <div class="ads-card__stack">
        <p class="ads-card__label">
          <%= t('help_text.requested_attributes.email') %>
        </p>
        <p class="ads-card__value"><%= @email %></p>
      </div>
    <% end %>
  <% end %>

  <% page.with_actions do %>
    <%= render ButtonComponent.new(
          url: user_authorization_confirmation_path,
          method: :post,
        ).with_content(t('user_authorization_confirmation.continue')) %>

    <%= render ButtonComponent.new(
          url: reset_user_authorization_path,
          method: :delete,
          variant: :secondary,
        ).with_content(t('user_authorization_confirmation.sign_in')) %>
  <% end %>
<% end %>
