<% self.title = t('titles.edit_info.password') %>

<% if @update_password_presenter.required_password_change? %>
  <%= render AlertComponent.new(
        type: :warning,
        class: 'margin-bottom-4',
      ) do
        t('users.password_compromised.warning', app_name: APP_NAME)
      end
  %>
<% end %>

<%= render PageHeadingComponent.new.with_content(t('headings.edit_info.password')) %>

<p id="password-description">
  <%= t('instructions.password.info.lead_html', min_length: Devise.password_length.first) %>
</p>

<%= simple_form_for(@update_user_password_form, url: manage_password_path, method: :patch) do |f| %>
  <%= f.error_notification %>
  <%= render PasswordConfirmationComponent.new(
        form: f,
        password_label: t('forms.passwords.edit.labels.password'),
        forbidden_passwords: @update_password_presenter.forbidden_passwords,
        field_options: {
          input_html: { aria: { describedby: 'password-strength password-description' } },
        },
      ) %>
  <%= f.submit @update_password_presenter.submit_text, class: 'display-block margin-top-5 margin-bottom-4' %>
<% end %>

<%= render 'shared/password_accordion' %>

<% unless @update_password_presenter.required_password_change? %>
  <%= render 'shared/cancel', link: account_path %>
<% end %>
