<% title t('titles.edit_info.password') %>

<%= render PageHeadingComponent.new.with_content(t('headings.edit_info.password')) %>

<p id="password-description">
  <%= t('instructions.password.info.lead', min_length: Devise.password_length.first) %>
</p>

<%= validated_form_for(
      @update_user_password_form, url: manage_password_path,
                                  html: { autocomplete: 'off', method: :patch }
    ) do |f| %>
  <%= f.error_notification %>
  <%= render PasswordToggleComponent.new(
        form: f,
        name: :password,
        label: t('forms.passwords.edit.labels.password'),
        required: true,
        input_html: { aria: { describedby: 'password-description' } },
      ) %>
  <%= render 'devise/shared/password_strength', forbidden_passwords: @forbidden_passwords %>
  <%= f.button :submit, t('forms.buttons.submit.update'), class: 'usa-button--big usa-button--wide margin-top-2 margin-bottom-4' %>
<% end %>

<%= render 'shared/password_accordion' %>

<%= render 'shared/cancel', link: account_path %>

<%= javascript_packs_tag_once 'pw-strength' %>
