<% title t('account.personal_key.get_new') %>

<h1 class="margin-top-0"><%= t('account.personal_key.get_new') %></h1>

<p>
  <%= t('account.personal_key.get_new_description') %>
</p>

<%= button_to(
      create_new_personal_key_path,
      method: 'post',
      class: 'usa-button usa-button--wide usa-button--big margin-top-4',
    ) do %>
  <%= t('forms.buttons.continue') %>
<% end %>

<%= render 'shared/cancel', link: account_path %>
