<% self.title = t('titles.doc_auth.doc_capture') %>
<% if @url.present? %>
  <%= render 'idv/shared/doc_capture_interstitial' %>
<% else %>
  <% if @reference_id.present? %>
    <p>ReferenceId: <%= @reference_id %></p>
  <% end %>
  <% if @msg.present? %>
    <p>ErrorMessage: <%= @msg %></p>
  <% end %>
  <p>Socure is not working</p>
  <p>Document Request <%= @document_request.inspect %></p>
  <p>Document Response <%= @document_response %></p>
<% end %>
