<% title t("idv.failure.sessions.heading") %>

<%= image_tag('alert/warning-lg.svg', alt: '', width: 54) %>

<h1 class="h3 mb1 mt3 my0"><%= t("idv.failure.sessions.heading") %></h1>

<p><%= t("idv.failure.sessions.warning") %></p>

<%= render 'idv/shared/back_to_sp_link' %>

<div class='mt3'>
  <%= link_to t("idv.failure.button.warning"), idv_doc_auth_path %>
</div>

<%= render 'idv/doc_auth/in_person_proofing_option' %>
