<% title t("idv.failure.sessions.heading") %>

<%= image_tag('alert/fail-x.svg', width: 54) %>

<h1 class="margin-bottom-1 margin-top-4 margin-y-0"><%= t("idv.failure.sessions.heading") %></h1>

<p><%= t("idv.failure.sessions.fail_html") %></p>

<div class="col-2">
  <hr class="margin-top-4 margin-bottom-2 bw4 rounded border-red" />
</div>

<h2 class="h4 margin-bottom-2 margin-top-4 margin-y-0">
  <%= t('headings.lock_failure') %>
</h2>

<hr>

<p>
  <%= t('idv.failure.errors.text_html',
    link: link_to(t('idv.failure.errors.link'), MarketingSite.contact_url)) %>
</p>

<%= render 'idv/shared/back_to_sp_link' %>
