<% self.title = t('titles.failure.information_not_verified') %>

<% timeout = distance_of_time_in_words(
     Time.zone.now,
     [@expires_at, Time.zone.now].compact.max,
     except: :seconds,
   ) %>

<%= render ADS::FormPageComponent.new(title: t('idv.failure.sessions.heading')) do |page| %>
  <% page.with_body do %>
    <div class="ads-copy">
      <p><%= t('idv.failure.sessions.fail_html', timeout:) %></p>
    </div>
  <% end %>

  <% page.with_actions do %>
    <%= render ButtonComponent.new(
          url: return_to_sp_failure_to_proof_path(
            step: 'verify_id',
            location: 'failure',
          ),
          variant: :secondary,
        ) do %>
      <% if @sp_name %>
        <%= t('idv.failure.exit.with_sp', app_name: APP_NAME, sp_name: @sp_name) %>
      <% else %>
        <%= t('idv.failure.exit.without_sp') %>
      <% end %>
    <% end %>

    <%= render ADS::LinkComponent.new(
          url: contact_redirect_url,
          target: '_blank',
          rel: 'noopener noreferrer',
        ) do %>
      <%= t('idv.troubleshooting.options.contact_support', app_name: APP_NAME) %>
      <span class="ads-sr-only"><%= t('links.new_tab') %></span>
    <% end %>
  <% end %>
<% end %>
