<% self.title = t('titles.failure.information_not_verified') %>

<%= render 'idv/shared/step_indicator', current_step: :verify_info %>

<%= render ADS::FormPageComponent.new(title: t('idv.warning.state_id.heading')) do |page| %>
  <% page.with_body do %>
    <div class="ads-copy ads-copy--centered">
      <p><%= t('idv.warning.state_id.explanation') %></p>
    </div>
  <% end %>

  <% page.with_actions do %>
    <%= render ADS::StackComponent.new(kind: :actions, gap: 8, align: :stretch) do %>
      <%= render ButtonComponent.new(url: @try_again_path, size: :lg).with_content(
            t('idv.warning.state_id.try_again_button'),
          ) %>

      <%= render ButtonComponent.new(
            url: return_to_sp_failure_to_proof_url(
              step: 'verify_info',
              location: 'state_id_warning',
            ),
            variant: :quaternary,
          ).with_content(t('idv.warning.state_id.cancel_button', app_name: APP_NAME)) %>
    <% end %>
  <% end %>
<% end %>
