<% title t('titles.failure.information_not_verified') %>

<%= render StatusPageComponent.new(status: :warning) do |c| %>
  <% c.with_header { t('idv.warning.sessions.heading') } %>

  <p><%= t('idv.failure.sessions.warning') %></p>
  <p><%= t('idv.warning.attempts_html', count: @remaining_attempts) %></p>

  <% c.with_action_button(
       action: ->(**tag_options, &block) { link_to(@try_again_path, **tag_options, &block) },
       class: 'margin-bottom-2',
     ) { t('idv.forgot_password.try_again') } %>
<% end %>

<%= render PageFooterComponent.new do %>
  <%= link_to t('links.cancel'), idv_cancel_path %>
<% end %>
