<% title t('titles.enter_2fa_code') %>

<h1 class="margin-top-0">
  <%= @presenter.header %>
</h1>

<%= validated_form_for('', method: :post, html: { class: 'margin-bottom-5' }) do |f| %>
  <% if @presenter.reauthn %>
    <%= render 'two_factor_authentication/totp_verification/reauthn' %>
  <% end %>
  <%= label_tag :code, t('forms.two_factor.code'), class: 'block bold' %>
  <div class="col-12 sm-col-5 margin-bottom-1 tablet:margin-bottom-0 sm-mr-20p inline-block">
    <%= render(
          'shared/one_time_code_input',
          transport: nil,
          name: :code,
          value: @code,
          required: true,
          autofocus: true,
          class: 'col-12',
        ) %>
  </div>
  <%= f.input(
        :remember_device,
        as: :boolean,
        label: t('forms.messages.remember_device'),
        wrapper_html: { class: 'margin-top-2' },
        input_html: {
          class: 'usa-checkbox__input--bordered',
          checked: @presenter.remember_device_box_checked?,
        },
      ) %>
  <%= submit_tag(
        t('forms.buttons.submit.default'),
        class: 'usa-button usa-button--wide usa-button--big margin-top-5',
      ) %>
<% end %>

<%= render 'shared/fallback_links', presenter: @presenter %>
<%= render 'shared/cancel', link: @presenter.cancel_link %>
