<% self.title = t('titles.enter_2fa_code.security_code') %>

<%= render ADS::FormPageComponent.new(
      title: @presenter.header,
      subtitle: t(
        'instructions.mfa.authenticator.confirm_code_html',
        app_name_html: APP_NAME,
      ),
    ) do |page| %>
  <% page.with_body do %>
    <%= form_with(
          url: login_two_factor_authenticator_path,
          method: :post,
          local: true,
          class: 'ads-form',
        ) do |f| %>
      <%= render ADS::StackComponent.new(kind: :form, gap: 32, align: :stretch) do %>
        <%= render ADS::StackComponent.new(kind: :form, gap: 16, align: :stretch) do %>
          <% if @presenter.reauthn %>
            <%= hidden_field_tag 'reauthn', 'true' %>
          <% end %>

          <%= render InputOtpComponent.new(
                form: f,
                value: @code,
                autofocus: true,
                transport: nil,
                length: TwoFactorAuthenticatable::OTP_LENGTH,
                hint: false,
              ) %>

          <div class="ads-checkbox">
            <%= check_box_tag(
                  :remember_device,
                  '1',
                  @presenter.remember_device_box_checked?,
                  class: 'ads-checkbox__input',
                ) %>
            <%= label_tag(
                  :remember_device,
                  t('forms.messages.remember_device'),
                  class: 'ads-checkbox__label',
                ) %>
          </div>
        <% end %>

        <%= render ADS::StackComponent.new(kind: :actions, gap: 8, align: :stretch) do %>
          <%= render ButtonComponent.new(
                type: :submit,
              ).with_content(t('forms.buttons.continue')) %>

          <%= render ButtonComponent.new(
                url: login_two_factor_options_path,
                variant: :quaternary,
              ).with_content(t('two_factor_authentication.login_options_link_text')) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
