<% self.title = @multiple_accounts_detected_presenter.heading %>

<%= render StatusPageComponent.new(status: :warning) do |c| %>
  <% c.with_header { @multiple_accounts_detected_presenter.heading } %>

  <p><%= @multiple_accounts_detected_presenter.intro %></p>

  <div class="cardborder-primary-light">
  <ul class="add-list-reset border-bottom border-primary-light">
      <% @multiple_accounts_detected_presenter.other_accounts_detected.each do |dupe_account| %>
        <li>
          <div class="padding-1 border-top border-left border-right border-primary-light">
            <p> <%= render(
                      'shared/masked_text',
                      text: dupe_account[:email],
                      masked_text: dupe_account[:masked_email],
                      accessible_masked_text: dupe_account[:email],
                    ) %></p> 
            <p> <%= t(
                      'multiple_accounts_detected.created_at_html',
                      timestamp_html: render(TimeComponent.new(time: dupe_account[:created_at])),
                    ) %>
            </p>
            <p> <%= t(
                      'multiple_accounts_detected.last_sign_in_at_html',
                      timestamp_html: render(TimeComponent.new(time: dupe_account[:last_sign_in])),
                    ) %>
            </p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="margin-top-4 grid-col-5">
    <%= render ButtonComponent.new(
          url: multiple_accounts_detected_recognize_accounts_url,
          method: :post,
        ).with_content(@multiple_accounts_detected_presenter.recognize_all_accounts) %>
  </div>

  <div class="margin-top-3 grid-col-5">
    <%= render ButtonComponent.new(
          url: multiple_accounts_detected_do_not_recognize_url,
          outline: true,
          method: :post,
        ).with_content(@multiple_accounts_detected_presenter.has_unknown_accounts) %>
  </div>
  
<% end %>

