<% self.title = t('titles.select_email') %>

<%= render ADS::FormPageComponent.new(
      title: t('titles.select_email'),
      subtitle: t(
        'help_text.select_preferred_email_html',
        sp: @identity.display_name,
        sp_html: tag.span(@identity.display_name, class: 'ads-nowrap'),
      ),
    ) do |page| %>
  <% page.with_body do %>
    <%= form_with(
          model: @select_email_form,
          url: connected_services_selected_email_path(identity_id: @identity.id),
          method: :patch,
          local: true,
          class: 'ads-form ads-form--gap-16 ads-form--align-stretch',
        ) do |f| %>
      <fieldset class="ads-fieldset">
        <legend class="ads-sr-only"><%= t('titles.select_email') %></legend>
        <div class="ads-radio-group">
          <% current_user.confirmed_email_addresses.each do |email| %>
            <% field_id = "select_email_form_selected_email_id_#{email.id}" %>
            <div class="ads-radio">
              <%= f.radio_button(
                    :selected_email_id,
                    email.id,
                    id: field_id,
                    checked: email.id == @email_id,
                    required: true,
                    class: 'ads-radio__input ads-sr-only',
                  ) %>
              <%= label_tag(field_id, class: 'ads-radio__label') do %>
                <%= email.email %>
              <% end %>
            </div>
          <% end %>
        </div>
      </fieldset>

      <%= render ButtonComponent.new(size: :lg, type: :submit) do %>
        <%= t('account.dashboard.modals.select_email.primary') %>
      <% end %>
    <% end %>
  <% end %>

  <% page.with_actions do %>
    <% if @can_add_email %>
      <%= render ButtonComponent.new(
            url: add_email_path(in_select_email_flow: true),
            variant: :secondary,
          ).with_content(t('account.dashboard.modals.select_email.add_email')) %>
    <% end %>

    <%= render ADS::LinkComponent.new(url: account_connected_services_path) do %>
      <%= t('forms.buttons.back') %>
    <% end %>
  <% end %>
<% end %>
