<% self.title = t('security_check_failed.title') %>

<%= render AlertIconComponent.new(icon_name: :warning, class: 'display-block margin-bottom-4') %>
<%= render PageHeadingComponent.new.with_content(t('security_check_failed.title')) %>
<p>
  <%= t('security_check_failed.details_html') %>
  <%= new_tab_link_to(
        t('security_check_failed.learn_more'),
        help_center_redirect_path(
          category: 'trouble-signing-in',
          article: 'security-check-failed',
        ),
      ) %>
</p>

<ul class="usa-list margin-top-0">
  <li><%=  t('security_check_failed.info_p1') %></li>
  <li><%= link_to(
        t('security_check_failed.info_p2_link'),
        login_piv_cac_url
      ) + " "+ t('security_check_failed.info_p2_part2') %></li> 
  <li><%=  t('security_check_failed.info_p3') %></li> 
</ul>

<%= render 'two_factor_authentication/troubleshooting_options', presenter: @presenter %>

<%= render 'shared/cancel', link: root_url %>