<%= title t('titles.forget_all_devices') %>

<h1 class="h3 my0">
  <%= t('titles.forget_all_devices') %>
</h1>

<p class="mt3">
  <%= t('account.forget_all_devices.longer_description') %>
</p>

<%= button_to(t('account.forget_all_devices.confirm'), forget_all_devices_path, method: 'delete', class: 'btn btn-primary mt3') %>

<div class="mt3 border-top">
  <div class="mt1">
    <%= link_to(t('links.cancel'), account_path) %>
  </div>
</div>
