<% title t('titles.idv.review') %>

<% content_for(:pre_flash_content) do %>
  <%= render StepIndicatorComponent.new(
        steps: step_indicator_steps,
        current_step: step_indicator_step,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      ) %>
<% end %>

<%= render PageHeadingComponent.new.with_content(t('idv.titles.session.review', app_name: APP_NAME)) %>

<p>
  <%= t('idv.messages.review.message', app_name: APP_NAME) %>
</p>

<%= simple_form_for(
      current_user,
      url: idv_review_path,
      html: { autocomplete: 'off', method: :put, class: 'margin-top-4' },
    ) do |f| %>
  <%= render PasswordToggleComponent.new(
        form: f,
        field_options: {
          label: t('idv.form.password'),
          required: true,
          input_html: {
            autocomplete: 'current-password',
          },
        },
      ) %>
  <div class="text-right margin-top-neg-4">
    <%= link_to(t('idv.forgot_password.link_text'), idv_forgot_password_url, class: 'margin-left-1') %>
  </div>

  <%= f.submit t('forms.buttons.continue'), class: 'margin-top-5' %>
<% end %>

<%= render 'idv/doc_auth/cancel', step: 'review' %>
