<%= render 'idv/shared/step_indicator', {
  steps: Idv::Flows::DocAuthFlow::STEP_INDICATOR_STEPS,
  current_step: :secure_account,
} %>

<% title t('idv.titles.review') %>

<h1 class="h3">
  <%= t('idv.titles.session.review') %>
</h1>

<p>
  <%= t('idv.messages.sessions.review_message') %>
</p>

<%= new_window_link_to(t('idv.messages.sessions.read_more_encrypt'),
                       MarketingSite.security_url)%>

<%= validated_form_for(current_user, url: idv_review_path,
                       html: { autocomplete: 'off', method: :put, role: 'form' }) do |f| %>
  <%= f.input :password, label: t('idv.form.password'), required: true,
              input_html: { aria: { invalid: false }, class: 'password-toggle' } %>
  <div class="right-align margin-top-neg-2 margin-bottom-6">
    <%= t('idv.forgot_password.link_html',
          link: link_to(t('idv.forgot_password.link_text'), idv_forgot_password_url, class: 'margin-left-1')) %>

  </div>
  <%= accordion('review-verified-info', t('idv.messages.review.intro')) do %>
    <%= render 'shared/pii_review', pii: @applicant,
               phone: PhoneFormatter.format(@applicant[:phone]) %>
  <% end %>

  <%= f.button :submit, t('forms.buttons.continue'), class: 'usa-button--big usa-button--wide' %>
<% end %>

<div class="margin-top-6 margin-top-2 padding-top-1 border-top">
  <%= link_to t('links.cancel'), idv_cancel_path, class: 'h5' %>
</div>
