<% title t('titles.idv.review') %>

<% content_for(:pre_flash_content) do %>
  <%= render 'shared/step_indicator', {
        steps: @step_indicator_steps,
        current_step: :secure_account,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      } %>
<% end %>

<h1>
  <%= t('idv.titles.session.review', app_name: APP_NAME) %>
</h1>

<p>
  <%= t('idv.messages.sessions.review_message', app_name: APP_NAME) %>
</p>

<%= new_window_link_to(
      t('idv.messages.sessions.read_more_encrypt', app_name: APP_NAME),
      MarketingSite.security_url,
    ) %>

<%= validated_form_for(
      current_user, url: idv_review_path,
                    html: { autocomplete: 'off', method: :put }
    ) do |f| %>
 
  <div class="margin-bottom-4">
    <%= f.input :password, label: t('idv.form.password'), required: true,
                           input_html: { aria: { invalid: false }, class: 'password-toggle' }, wrapper: false %>
    <span class='usa-error-message margin-top-2 display-if-invalid display-if-invalid--value-missing margin-bottom-1' role='alert'>
      <%= t('simple_form.required.text') %>
    </span>
  </div>
  <div class="right-align margin-top-neg-2 margin-bottom-6">
    <%= t(
          'idv.forgot_password.link_html',
          link: link_to(t('idv.forgot_password.link_text'), idv_forgot_password_url, class: 'margin-left-1'),
        ) %>

  </div>
  <%= render AccordionComponent.new do |c| %>
    <% c.header { t('idv.messages.review.intro') } %>
    <%= render 'shared/pii_review', pii: @applicant,
                                    phone: PhoneFormatter.format(@applicant[:phone]) %>
  <% end %>

  <%= f.button(
        :submit,
        t('forms.buttons.continue'),
        class: 'usa-button--big usa-button--wide margin-top-4',
      ) %>
<% end %>

<%= render 'idv/doc_auth/start_over_or_cancel', step: 'review' %>
