<% title t('titles.idv.review') %>

<% content_for(:pre_flash_content) do %>
  <%= render 'shared/step_indicator', {
        steps: @step_indicator_steps,
        current_step: :secure_account,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      } %>
<% end %>

<%= render PageHeadingComponent.new.with_content(t('idv.titles.session.review', app_name: APP_NAME)) %>

<p>
  <%= t('idv.messages.sessions.review_message', app_name: APP_NAME) %>
</p>

<%= new_window_link_to(
      t('idv.messages.sessions.read_more_encrypt', app_name: APP_NAME),
      MarketingSite.security_url,
    ) %>

<%= simple_form_for(
      current_user,
      url: idv_review_path,
      html: { autocomplete: 'off', method: :put, class: 'margin-top-6' },
    ) do |f| %>
  <%= render PasswordToggleComponent.new(
        form: f,
        label: t('idv.form.password'),
        required: true,
        wrapper_html: { class: 'margin-bottom-0' },
      ) %>
  <div class="text-right margin-top-2 margin-bottom-4">
    <%= t(
          'idv.forgot_password.link_html',
          link: link_to(t('idv.forgot_password.link_text'), idv_forgot_password_url, class: 'margin-left-1'),
        ) %>
  </div>
  <%= render AccordionComponent.new do |c| %>
    <% c.header { t('idv.messages.review.intro') } %>
    <%= render 'shared/pii_review', pii: @applicant,
                                    phone: PhoneFormatter.format(@applicant[:phone]) %>
  <% end %>

  <%= f.button(
        :submit,
        t('forms.buttons.continue'),
        class: 'usa-button--big usa-button--wide margin-top-5',
      ) %>
<% end %>

<%= render 'idv/doc_auth/start_over_or_cancel', step: 'review' %>
