<% self.title = t('headings.cancellations.prompt') %>

<%= render ADS::FormPageComponent.new(
      title: t('headings.cancellations.prompt'),
    ) do |page| %>
  <% page.with_body do %>
    <div class="ads-copy">
      <p><%= t('sign_up.cancel.warning_header') %></p>

      <ul class="ads-list">
        <% [
             t('users.delete.bullet_1', app_name: APP_NAME),
             t('users.delete.bullet_2_basic'),
             t('users.delete.bullet_3', app_name: APP_NAME),
             t('users.delete.bullet_4', app_name: APP_NAME),
           ].each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% page.with_actions do %>
    <%= render ButtonComponent.new(
          url: sign_up_destroy_path,
          method: :delete,
          variant: :destructive,
        ).with_content(t('forms.buttons.cancel')) %>

    <%= render ButtonComponent.new(
          url: @presenter.go_back_path,
          variant: :secondary,
        ).with_content(t('links.go_back')) %>
  <% end %>
<% end %>
