<%= render 'shared/failure', presenter: @presenter %>

<p class='margin-bottom-1 text-bold'>
  <%= t('sign_up.cancel.warning_header') %>
</p>

<ul class='usa-list--unstyled <%= @presenter.state_color %>-dots'>
  <% @presenter.cancellation_warnings.each do |warning| %>
    <li><%= warning %></li>
  <% end %>
</ul>

<div class='margin-top-4'>
  <%= button_to t('forms.buttons.cancel'), destroy_user_path,
                method: :delete, class: 'usa-button usa-button--big usa-button--wide' %>
</div>

<div class='margin-top-2'>
  <%= link_to t('links.go_back'), @presenter.go_back_path,
              class: 'usa-button usa-button--big usa-button--wide usa-button--outline' %>
</div>
