<% content_for(:pre_flash_content) do %>
  <%= render StepIndicatorComponent.new(
        steps: Idv::Flows::DocAuthFlow::STEP_INDICATOR_STEPS,
        current_step: :verify_info,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      ) %>
<% end %>

<% title t('titles.doc_auth.address') %>

<%= render PageHeadingComponent.new.with_content(t('doc_auth.headings.address')) %>

<%= simple_form_for(
      :idv_form,
      url: idv_address_path,
      method: 'POST',
      html: { autocomplete: 'off', class: 'margin-top-5' },
    ) do |f| %>
  <%= render ValidatedFieldComponent.new(
        form: f,
        name: :address1,
        label: t('idv.form.address1'),
        required: true,
        maxlength: 255,
        input_html: { value: @pii['address1'] },
      ) %>
  <%= render ValidatedFieldComponent.new(
        form: f,
        name: :address2,
        label: t('idv.form.address2_optional'),
        required: false,
        maxlength: 255,
        input_html: { value: @pii['address2'] },
      ) %>
  <%= render ValidatedFieldComponent.new(
        form: f,
        name: :city,
        label: t('idv.form.city'),
        required: true,
        maxlength: 255,
        input_html: { value: @pii['city'] },
      ) %>
  <%= render ValidatedFieldComponent.new(
        form: f,
        name: :state,
        collection: us_states_territories,
        label: t('idv.form.state'),
        required: true,
        selected: @pii['state'],
      ) %>
  <div class="tablet:grid-col-6">
    <%# using :tel for mobile numeric keypad %>
    <%= render ValidatedFieldComponent.new(
          form: f,
          name: :zipcode,
          as: :tel,
          label: t('idv.form.zipcode'),
          required: true,
          pattern: '(\d{5}([\-]\d{4})?)',
          input_html: { value: @pii['zipcode'], class: 'zipcode' },
          error_messages: {
            patternMismatch: t('idv.errors.pattern_mismatch.zipcode'),
          },
        ) %>
  </div>
  <%= f.submit t('forms.buttons.submit.update'), class: 'display-block margin-y-5' %>
<% end %>

<%= render 'idv/shared/back', step: 'verify' %>
<%= javascript_packs_tag_once('formatted-fields') %>
