<% icons = {
     webauthn_platform: :fingerprint,
     auth_app: :qr,
     phone: :chat,
     webauthn: :key,
     backup_code: :download_backup,
     piv_cac: :id,
   } %>
<% description = option.mfa_configuration_description %>
<% show_recommended = option.type == :webauthn_platform && !option.disabled? %>
<% title = if option.type == :webauthn_platform
             t('two_factor_authentication.two_factor_choice_options.webauthn_platform_setup')
           else
             option.label
           end %>

<%= render CardComponent.new(
      button: true,
      type: :submit,
      name: 'two_factor_options_form[selection][]',
      value: option.type,
      id: "two_factor_options_form_selection_#{option.type}",
      disabled: option.disabled?,
      'aria-disabled': option.disabled?,
    ) do |card| %>
  <% unless option.disabled? %>
    <% card.with_trailing do %>
      <%= render IconComponent.new(icon: :chevron_right, size: 20) %>
    <% end %>
  <% end %>
  <% if show_recommended %>
    <span class="ads-card__badge"><%= t('two_factor_authentication.recommended') %></span>
  <% end %>
  <% if description.present? %>
    <span class="ads-card__badge ads-card__badge--success"><%= description %></span>
  <% end %>
  <%= render IconComponent.new(icon: icons.fetch(option.type), size: 24) %>
  <div class="ads-card__stack">
    <p class="ads-card__title"><%= title %></p>
    <% unless option.disabled? %>
      <p class="ads-card__description"><%= option.info %></p>
    <% end %>
  </div>
<% end %>
