<%= title t('titles.forget_all_browsers') %>

<h1 class="margin-y-0">
  <%= t('titles.forget_all_browsers') %>
</h1>

<p class="margin-top-4">
  <%= t('account.forget_all_browsers.longer_description') %>
</p>

<%= button_to(t('forms.buttons.confirm'), forget_all_browsers_path, method: 'delete', class: 'usa-button usa-button--wide usa-button--big margin-top-4') %>

<div class="margin-top-4 border-top">
  <div class="margin-top-1">
    <%= link_to(t('links.cancel'), account_path) %>
  </div>
</div>
