<% if @presenter.outage_message_enabled? %>
  <table class="mailer-info-card" width="100%" cellpadding="0" cellspacing="0" border="0" role="presentation">
    <tr>
      <td class="mailer-info-card__cell">
        <%= render 'shared/outage_alert', date: @presenter.formatted_outage_expected_update_date, email_date: @presenter.formatted_outage_emailed_by_date %>
      </td>
    </tr>
  </table>
<% end %>

<% if @presenter.enhanced_ipp? %>
  <p class="mailer-text mailer-text--spaced" align="center">
    <span class="app-tag">
      <%= t('in_person_proofing.body.barcode.eipp_tag') %>
    </span>
  </p>
<% end %>

<table class="mailer-barcode-card" width="100%" cellpadding="0" cellspacing="0" border="0" role="presentation">
  <tr>
    <td class="mailer-barcode-card__code">
      <%= render BarcodeComponent.new(
            barcode_data: @presenter.enrollment_code,
            barcode_image_url: @presenter.barcode_image_url,
            label: nil,
            label_formatter: Idv::InPerson::EnrollmentCodeFormatter.method(:format),
          ) %>
    </td>
  </tr>
  <tr>
    <td class="mailer-barcode-card__footer" bgcolor="#f3f3f3">
      <p class="mailer-barcode-card__deadline"><%= t('in_person_proofing.body.barcode.deadline', deadline: @presenter.formatted_due_date, sp_name: @presenter.sp_name) %></p>
    </td>
  </tr>
</table>

<% if @presenter.location_search_skipped? %>
  <%= render 'shared/location_search_skipped_email_notice' %>
<% end %>

<% if @presenter.enhanced_ipp? %>
  <section class="mailer-section">
    <h2 class="mailer-section__title"><%= t('in_person_proofing.headings.barcode_what_to_bring') %></h2>
    <p class="mailer-text mailer-section__intro"><%= t('in_person_proofing.body.barcode.eipp_what_to_bring') %></p>

    <h3 class="mailer-section__title"><%= t('in_person_proofing.process.eipp_bring_id.heading') %></h3>
    <table class="margin-bottom-3" width="100%" cellpadding="0" cellspacing="0" border="0" role="presentation">
      <tr>
        <td class="mailer-process-image-cell" align="left" valign="top">
          <%= image_tag(
                asset_url('email/real-id.png'),
                width: 110,
                height: 80,
                alt: t('in_person_proofing.process.eipp_bring_id.image_alt_text'),
                role: 'img',
              ) %>
        </td>
        <td class="mailer-process-gap-cell">&nbsp;</td>
        <td valign="top">
          <p class="mailer-text mailer-text--emphasized margin-bottom-0"><%= t('in_person_proofing.process.eipp_bring_id_with_current_address.heading') %></p>
          <p class="mailer-text margin-bottom-0"><%= t('in_person_proofing.process.eipp_bring_id.info') %></p>
        </td>
      </tr>
    </table>

    <table class="margin-bottom-3" width="100%" cellpadding="0" cellspacing="0" border="0" role="presentation">
      <tr>
        <td class="mailer-process-image-cell" align="left" valign="top">
          <%= image_tag(
                asset_url('email/real-id-and-fair-evidence-documents.png'),
                width: 110,
                height: 107,
                alt: t('in_person_proofing.process.real_id_and_supporting_docs.image_alt_text'),
                role: 'img',
              ) %>
        </td>
        <td class="mailer-process-gap-cell">&nbsp;</td>
        <td valign="top">
          <p class="mailer-text mailer-text--emphasized margin-bottom-0"><%= t('in_person_proofing.process.real_id_and_supporting_docs.heading') %></p>
          <p class="mailer-text margin-bottom-0"><%= t('in_person_proofing.process.real_id_and_supporting_docs.info') %></p>
          <ul class="mailer-section__list">
            <% t('in_person_proofing.process.eipp_state_id_supporting_docs.info_list').each do |doc| %>
              <li><%= doc %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    </table>

    <h3 class="mailer-section__title"><%= t('in_person_proofing.process.eipp_bring_id_plus_documents.heading') %></h3>
    <p class="mailer-text mailer-section__intro"><%= t('in_person_proofing.process.eipp_bring_id_plus_documents.info') %></p>

    <table class="margin-bottom-3" width="100%" cellpadding="0" cellspacing="0" border="0" role="presentation">
      <tr>
        <td class="mailer-process-image-cell" align="left" valign="top">
          <%= image_tag(
                asset_url('email/state-id-and-passport.png'),
                width: 110,
                height: 129,
                alt: t('in_person_proofing.process.eipp_state_id_passport.image_alt_text'),
                role: 'img',
              ) %>
        </td>
        <td class="mailer-process-gap-cell">&nbsp;</td>
        <td valign="top">
          <p class="mailer-text mailer-text--emphasized margin-bottom-0"><%= t('in_person_proofing.process.eipp_state_id_passport.heading') %></p>
          <p class="mailer-text"><%= t('in_person_proofing.process.eipp_state_id_passport.info') %></p>
        </td>
      </tr>
    </table>

    <table class="margin-bottom-3" width="100%" cellpadding="0" cellspacing="0" border="0" role="presentation">
      <tr>
        <td class="mailer-process-image-cell" align="left" valign="top">
          <%= image_tag(
                asset_url('email/state-id-and-military-id.png'),
                width: 110,
                height: 93,
                alt: t('in_person_proofing.process.eipp_state_id_military_id.image_alt_text'),
                role: 'img',
              ) %>
        </td>
        <td class="mailer-process-gap-cell">&nbsp;</td>
        <td valign="top">
          <p class="mailer-text mailer-text--emphasized margin-bottom-0"><%= t('in_person_proofing.process.eipp_state_id_military_id.heading') %></p>
          <p class="mailer-text"><%= t('in_person_proofing.process.eipp_state_id_military_id.info') %></p>
        </td>
      </tr>
    </table>

    <table class="margin-bottom-2" width="100%" cellpadding="0" cellspacing="0" border="0" role="presentation">
      <tr>
        <td class="mailer-process-image-cell" align="left" valign="top">
          <%= image_tag(
                asset_url('email/state-id-and-fair-evidence-documents.png'),
                width: 110,
                height: 107,
                alt: t('in_person_proofing.process.eipp_state_id_supporting_docs.image_alt_text'),
                role: 'img',
              ) %>
        </td>
        <td class="mailer-process-gap-cell">&nbsp;</td>
        <td valign="top">
          <p class="mailer-text mailer-text--emphasized margin-bottom-0"><%= t('in_person_proofing.process.eipp_state_id_supporting_docs.heading') %></p>
          <p class="mailer-text margin-bottom-0"><%= t('in_person_proofing.process.eipp_state_id_supporting_docs.info') %></p>
          <ul class="mailer-section__list">
            <% t('in_person_proofing.process.eipp_state_id_supporting_docs.info_list').each do |doc| %>
              <li><%= doc %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    </table>

    <p class="mailer-text margin-top-3 margin-bottom-0">
      <%= t('in_person_proofing.body.barcode.questions') %>
      <%= mailer_link_to(
            t('in_person_proofing.body.barcode.learn_more'),
            MarketingSite.help_center_article_url(
              category: 'verify-your-identity',
              article: 'verify-your-identity-in-person',
            ),
          ) %>
    </p>
  </section>
<% end %>

<% unless @presenter.location_search_skipped? %>
  <section class="mailer-section">
    <h2 class="mailer-section__title"><%= t('in_person_proofing.body.location.heading') %></h2>
    <p class="mailer-text mailer-section__intro">
      <% if @presenter.selected_location_details.present? %>
        <%= t('in_person_proofing.email.location_intro_with_selection') %>
      <% else %>
        <%= t('in_person_proofing.body.location.info') %>
      <% end %>
    </p>

    <% if @presenter.selected_location_details.present? %>
      <table class="mailer-location-card" width="100%" cellpadding="0" cellspacing="0" border="0" role="presentation">
        <tr>
          <td class="mailer-location-card__cell">
            <p class="mailer-location-card__name"><%= @presenter.selected_location_details['name'] %></p>
            <p class="mailer-location-card__address">
              <%= @presenter.selected_location_details['street_address'] %><br>
              <%= @presenter.selected_location_details['formatted_city_state_zip'] %>
            </p>
            <p class="mailer-location-card__hours">
              <span class="mailer-location-card__hours-label"><%= t('in_person_proofing.body.barcode.hours_heading') %></span><br>
              <%= t('in_person_proofing.body.location.retail_hours_weekday') %> <%= @presenter.selected_location_hours(:weekday) %><br>
              <%= t('date.day_names')[6] %>: <%= @presenter.selected_location_hours(:saturday) %><br>
              <%= t('date.day_names')[7] %>: <%= @presenter.selected_location_hours(:sunday) %>
            </p>
          </td>
        </tr>
      </table>
    <% end %>
  </section>
<% end %>

<section class="mailer-section">
  <h2 class="mailer-section__title">
    <%= t('in_person_proofing.body.barcode.what_to_expect') %>
  </h2>
  <ol class="mailer-section__list">
    <li><%= t('in_person_proofing.email.step_tell_associate', app_name: APP_NAME) %></li>
    <li><%= t('in_person_proofing.email.step_show_barcode') %></li>
    <li>
      <% if @presenter.enhanced_ipp? || @presenter.enrolled_with_passport_book? %>
        <%= @presenter.state_id_info %>
      <% else %>
        <%= t('in_person_proofing.email.step_show_state_id') %>
      <% end %>
    </li>
  </ol>

  <% if !@presenter.enhanced_ipp? %>
    <p class="mailer-text margin-bottom-0">
      <%= t('in_person_proofing.body.barcode.questions') %>
      <%= mailer_link_to(
            t('in_person_proofing.body.barcode.learn_more'),
            MarketingSite.help_center_article_url(
              category: 'verify-your-identity',
              article: 'verify-your-identity-in-person',
            ),
          ) %>
    </p>
  <% end %>
</section>

<% unless @presenter.location_search_skipped? || @presenter.enhanced_ipp? %>
  <section class="mailer-section">
    <h2 class="mailer-section__title"><%= t('in_person_proofing.body.location.change_location_heading') %></h2>
    <p class="mailer-text margin-bottom-0">
      <%= mailer_html(
            'in_person_proofing.body.location.change_location_info_html',
            find_other_locations_link_html: mailer_link_to(
              t('in_person_proofing.body.location.change_location_find_other_locations'),
              help_center_redirect_url(
                category: 'verify-your-identity',
                article: 'verify-your-identity-in-person/find-a-participating-post-office',
              ),
            ),
          ) %>
    </p>
  </section>
<% end %>

<section class="mailer-section mailer-section--flush-bottom">
  <h2 class="mailer-section__title"><%= t('in_person_proofing.body.expect.heading') %></h2>
  <p class="mailer-text margin-bottom-0">
    <%= t('in_person_proofing.body.expect.info_email') %>
  </p>
</section>