<% if @presenter.outage_message_enabled? %>
<table class="warning-alert margin-y-4">
  <tr>
    <td width="16">
      <%= image_tag('email/warning.png', width: 16, height: 16, alt: '') %>
    </td>
    <td>
      <%= render 'shared/outage_alert', date: @presenter.formatted_outage_expected_update_date, email_date: @presenter.formatted_outage_emailed_by_date %>
    </td>
  </tr>
</table>
  <h1>
    <%= t('in_person_proofing.headings.barcode') %>
  </h1>
<% end %>
<div class="text-center">
  <%= render 'idv/shared/mini_logo', filename: 'logo.png' %>
  <%= render BarcodeComponent.new(
        barcode_data: @presenter.enrollment_code,
        barcode_image_url: @presenter.barcode_image_url,
        label: nil,
        label_formatter: Idv::InPerson::EnrollmentCodeFormatter.method(:format),
      ) %>
</div>

<table class="info-alert margin-y-4">
  <tr>
    <td width="16">
      <%= image_tag('email/info.png', width: 16, height: 16, alt: '') %>
    </td>
    <td>
      <p class="margin-bottom-1"><strong><%= t('in_person_proofing.body.barcode.deadline', deadline: @presenter.formatted_due_date) %></strong></p>
      <p class="margin-bottom-0"><%= t('in_person_proofing.body.barcode.deadline_restart') %></p>
    </td>
  </tr>
</table>

<div class="border-1px border-primary-light radius-lg padding-4 margin-bottom-4">
  <h2 class="margin-top-0 margin-bottom-2 font-heading-lg text-bold">
    <%= t('in_person_proofing.body.barcode.what_to_expect') %>
  </h2>
  <table class="process-list">
    <tr>
      <td><div class="process-list__circle">1</div></td>
      <td>
        <h3 class="font-heading-md text-bold"><%= t('in_person_proofing.process.what_to_do.heading') %></h3>
        <p><%= t('in_person_proofing.process.what_to_do.info', app_name: APP_NAME) %></p>

      </td>
    </tr>
    <tr>
      <td><div class="process-list__circle">2</div></td>
      <td>
        <h3 class="font-heading-md text-bold"><%= t('in_person_proofing.process.barcode.heading', app_name: APP_NAME) %></h3>
        <p class="margin-bottom-105"><%= t('in_person_proofing.process.barcode.info') %></p>
     </td>
    </tr>
    <tr>
      <td><div class="process-list__circle">3</div></td>
      <td>
        <h3 class="font-heading-md text-bold"><%= t('in_person_proofing.process.state_id.heading') %></h3>
        <p class="margin-bottom-105"><%= t('in_person_proofing.process.state_id.info') %></p>
      </td>
    </tr>
  </table>
  <p class="margin-bottom-0">
    <%= t('in_person_proofing.body.barcode.questions') %>
    <%= link_to(
          t('in_person_proofing.body.barcode.learn_more'),
          MarketingSite.help_center_article_url(
            category: 'verify-your-identity',
            article: 'verify-your-identity-in-person',
          ),
        ) %>
  </p>
</div>

<h2 class="font-heading-lg text-bold margin-top-2"><%= t('in_person_proofing.body.location.heading') %></h2>
<p class="margin-bottom-0">
  <%= t('in_person_proofing.body.location.info') %>
  <% if @presenter.selected_location_details.present? %>
    <%= t('in_person_proofing.body.location.selection') %>
  <% end %>
</p>

<% if @presenter.selected_location_details.present? %>
  <div class="margin-y-4">
    <h2 class="font-sans-md margin-bottom-1 text-normal text-bold"><%= @presenter.selected_location_details['name'] %></h2>
    <div class="margin-bottom-1">
      <%= @presenter.selected_location_details['street_address'] %><br>
      <%= @presenter.selected_location_details['formatted_city_state_zip'] %>
    </div>
    <div><strong><%= t('in_person_proofing.body.barcode.retail_hours') %></strong></div>
    <div class="margin-bottom-2">
      <%= t('date.range', from: t('date.day_names')[1], to: t('date.day_names')[5]) %>: <%= @presenter.selected_location_hours(:weekday) %><br>
      <%= t('date.day_names')[6] %>: <%= @presenter.selected_location_hours(:saturday) %><br>
      <%= t('date.day_names')[7] %>: <%= @presenter.selected_location_hours(:sunday) %>
    </div>
  </div>
<% end %>

<h2 class="font-heading-lg text-bold margin-bottom-2"><%= t('in_person_proofing.body.expect.heading') %></h2>
<p class="margin-bottom-0"><%= t('in_person_proofing.body.expect.info') %></p>
