<%= render StepIndicatorComponent.new(
      steps: step_indicator_steps,
      current_step: :getting_started,
      locale_scope: 'idv',
      class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
    ) %>

<%= render StatusPageComponent.new(status: :warning) do |c| %>
  <% c.with_header { t('vendor_outage.alerts.pinpoint.idv.header') } %>
  <p>
    <%= t('vendor_outage.alerts.pinpoint.idv.message_html', app_name: APP_NAME, sp_name: current_sp&.friendly_name || APP_NAME) %>
  </p>
  <span><%= t('vendor_outage.alerts.pinpoint.idv.options_prompt') %></span>
  <ul class="margin-bottom-5">
    <% t('vendor_outage.alerts.pinpoint.idv.options_html', status_page_url: StatusPage.base_url).each do | option | %>
      <li>
        <%= option %>
      </li>
    <% end %>
  </ul>
  <% c.with_action_button(
       action: ->(**tag_options, &block) do
         link_to(idv_url, **tag_options, &block)
       end,
       big: true,
       wide: true,
       class: 'usa-button',
     ).with_content(t('doc_auth.buttons.continue')) %>
  <% c.with_action_button(
       action: ->(**tag_options, &block) do
         link_to(exit_url, **tag_options, &block)
       end,
       big: true,
       wide: true,
       outline: true,
       class: 'usa-button',
     ).with_content(t('links.exit_login', app_name: APP_NAME)) %>
  <% c.with_troubleshooting_options do |tc| %>
    <% tc.with_header { t('components.troubleshooting_options.default_heading') } %>
    <% tc.with_option(
         url: StatusPage.base_url,
         new_tab: true,
       ).with_content(t('vendor_outage.get_updates_on_status_page')) %>
    <% if decorated_session.sp_name %>
      <% tc.with_option(
           url: current_sp.return_to_sp_url,
           new_tab: true,
         ).with_content(
           t('idv.troubleshooting.options.get_help_at_sp', sp_name: decorated_session.sp_name),
         ) %>
    <% end %>
  <% end %>
<% end %>
