<% content_for(:pre_flash_content) do %>
  <%= render StepIndicatorComponent.new(
        steps: Idv::StepIndicatorConcern::STEP_INDICATOR_STEPS_IPP,
        current_step: :find_a_post_office,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      ) %>
<% end %>

<h1><%= t('in_person_proofing.headings.po_search.location') %></h1>
<p><%= t('in_person_proofing.body.location.po_search.po_search_about') %></p>

<%= simple_form_for(
  'address',
  url: url_for,
  method: 'post',
  html: { class: 'margin-y-5' })  do |f| %>

  <div class="margin-bottom-4">
    <%= render ValidatedFieldComponent.new(
          name: :street_address,
          form: f,
          label: t('in_person_proofing.body.location.po_search.address_label'),
          label_html: { class: 'usa-label' },
          input_html: { value: address['street_address'] },
          maxlength: 255,
          required: true,
          pattern: "[A-Za-z0-9\-' .\/#]*"
        ) %>
  </div>

  <div class="margin-bottom-4">
    <%= render ValidatedFieldComponent.new(
          name: :city,
          form: f,
          label: t('in_person_proofing.body.location.po_search.city_label'),
          label_html: { class: 'usa-label' },
          input_html: { value: address['city'] },
          maxlength: 50,
          required: true,
          pattern: '.*\S.*$'
        ) %>
  </div>

  <div class="margin-bottom-4">
    <%= render ValidatedFieldComponent.new(
          name: :state,
          collection: @presenter.states,
          form: f,
          label: t('in_person_proofing.body.location.po_search.state_label'),
          label_html: { class: 'usa-label' },
          input_html: { class: 'address-state-selector' },
          prompt: t('in_person_proofing.form.address.state_prompt'),
          required: true,
          selected: address['state'],
        ) %>
  </div>

  <div class="margin-bottom-4">
    <%= render ValidatedFieldComponent.new(
          name: :zip_code,
          form: f,
          label: t('in_person_proofing.body.location.po_search.zipcode_label'),
          label_html: { class: 'usa-label' },
          input_html: { value: address['zip_code'] },
          maxlength: 5,
          minlength: 5,
          pattern: '^\d{5}$',
          required: true,
        ) %>
  </div>
  <%= f.submit method: :post do %>
    <%= t('in_person_proofing.body.location.po_search.search_button') %>
  <% end %>
<% end %>
