<% self.title = t('in_person_proofing.headings.prepare') %>
<%= render 'address_form', address: @search_values %>
<h3>
  <%= t('in_person_proofing.body.location.po_search.results_description',
    address: "#{@search_values['street_address']}, #{@search_values['city']}, #{@search_values['state']} #{@search_values['zip_code']}",
    count: @post_offices.size
  ) %>
</h3>
<p>
  <%= t('in_person_proofing.body.location.po_search.results_instructions') %>
</p>
<ul class='usa-collection'>
  <% @post_offices.each do |post_office| %>
    <li class="location-collection-item">
      <div class="usa-collection__body">
        <div class="grid-row">
          <div class="grid-col-fill">
            <h3 class="usa-collection__heading">
              <%= t('in_person_proofing.body.location.distance', count: post_office[:distance]) %>
            </h3>
            <div><%= post_office[:address] %></div>
            <div>
              <%= "#{post_office[:city]}, #{post_office[:state]}, #{post_office[:zip_code_5]}-#{post_office[:zip_code_4]}" %>
            </div>
            <h4><%= t('in_person_proofing.body.location.retail_hours_heading') %></h4>
            <div>
              <%= "#{t('in_person_proofing.body.location.retail_hours_weekday')} #{post_office[:weekday_hours]}"%>
            </div>
            <div>
              <%= "#{t('in_person_proofing.body.location.retail_hours_sat')} #{post_office[:saturday_hours]}"%>
            </div>
            <div>
              <%= "#{t('in_person_proofing.body.location.retail_hours_sun')} #{post_office[:sunday_hours]}"%>
            </div>
          </div>
          <div className="grid-col-auto">
          <%= simple_form_for(
            'post_office',
            url: url_for,
            method: 'put',
            html: { class: 'margin-y-5' })  do |f| %>
             <%= f.hidden_field :street_address, value: post_office['address'] %>
             <%= f.hidden_field :city, value: post_office['city'] %>
             <%= f.hidden_field :state, value: post_office['state'] %>
             <%= f.hidden_field :zip_code_5, value: post_office['zip_code_5'] %>
             <%= f.hidden_field :zip_code_4, value: post_office['zip_code_4'] %>
             <%= f.hidden_field :saturday_hours, value: post_office['saturday_hours'] %>
             <%= f.hidden_field :sunday_hours, value: post_office['sunday_hours'] %>
             <%= f.hidden_field :weekday_hours, value: post_office['weekday_hours'] %>
             <%= f.hidden_field :name, value: post_office['name'] %>
                <%= render SpinnerButtonComponent.new(
                  url: url_for,
                  big: false,
                  wide: false,
                  action_message: t('idv.messages.verifying'),
                  method: :put,
                  form: {
                    class: 'display-none tablet:display-inline-block',
                    data: {
                      form_steps_wait: '',
                      error_message: t('idv.failure.exceptions.internal_error'),
                      alert_target: '#form-steps-wait-alert',
                      wait_step_path: url_for,
                      poll_interval_ms: IdentityConfig.store.poll_rate_for_verify_in_seconds * 1000,
                    },
                  },
                ).with_content(t('in_person_proofing.body.location.location_button')) %>
          <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
