<% title t('titles.doc_auth.piv_cac') %>

<%= validated_form_for(:cac, url: url_for, method: 'PUT',
                       html: { autocomplete: 'off', method: :put, role: 'form' }) do |f| %>

  <h5 class="margin-y-1 caps bold accent-blue"><%= t('cac_proofing.step', step: 1) %></h5>
  <h1 class="h3 margin-y-0"><%= t('cac_proofing.headings.present_cac') %></h1>
  <p class="mt-tiny margin-bottom-4"><%= t('cac_proofing.info.present_cac') %></p>
  <div>
    <%= link_to t('forms.buttons.cac'), idv_cac_pki_redirect_url, class:"btn btn-primary" %>
  </div>
<% end %>

<%= render 'idv/cac/start_over_or_cancel' %>
