<%= render(
      'idv/shared/error',
      title: t('titles.failure.phone_verification'),
      heading: t('idv.failure.phone.rate_limited.heading'),
      current_step: :verify_phone_or_address,
      options: [
        {
          url: MarketingSite.contact_url,
          text: t('idv.troubleshooting.options.contact_support', app_name: APP_NAME),
          new_tab: true,
        },
      ].select(&:present?),
    ) do %>
      <p>
        <%= t('idv.failure.phone.rate_limited.body') %>
      </p>
      <%= t('idv.failure.phone.rate_limited.options_header') %>
      <ul>
        <% if @gpo_letter_available %>
          <li><%= t('idv.failure.phone.rate_limited.option_verify_by_mail_html') %></li>
        <% end %>
        <li>
          <%= t(
                'idv.failure.phone.rate_limited.option_try_again_later_html',
                time_left: distance_of_time_in_words(
                  Time.zone.now,
                  [@expires_at, Time.zone.now].compact.max,
                  except: :seconds,
                ),
              ) %>
        </li>
      </ul>

      <% if @gpo_letter_available %>
        <div class="margin-y-5">
          <%= render ButtonComponent.new(
                action: ->(**tag_options, &block) { link_to idv_request_letter_path, **tag_options, &block },
                big: true,
                wide: true,
              ).with_content(t('idv.failure.phone.rate_limited.gpo.button')) %>
        </div>
      <% end %>
    <% end %>
    <%= render PageFooterComponent.new do %>
      <%= link_to(t('links.cancel'), idv_cancel_path) %>
    <% end %>

