<% title t("idv.failure.phone.heading") %>

<%= image_tag('alert/fail-x.svg', width: 54) %>

<h1 class="h3 margin-bottom-1 margin-top-4 margin-y-0"><%= t("idv.failure.phone.heading") %></h1>

<p><%= t("idv.failure.phone.fail_html") %></p>

<div class="col-2">
  <hr class="margin-top-4 margin-bottom-2 bw4 rounded border-red" />
</div>

<h2 class="h4 margin-bottom-2 margin-top-4 margin-y-0">
  <%= t('headings.lock_failure') %>
</h2>

<hr>

<% if FeatureManagement.enable_usps_verification? %>
  <p>
    <%= t('idv.form.no_alternate_phone_html',
      link: link_to(t('idv.form.activate_by_mail'), idv_usps_path)) %>
  </p>
<% end %>

<p>
  <%= t('idv.failure.errors.text_html',
    link: link_to(t('idv.failure.errors.link'), MarketingSite.contact_url)) %>
</p>

<%= render 'idv/shared/back_to_sp_link' %>

<%= render 'idv/doc_auth/in_person_proofing_option' %>
