<% title t("idv.failure.phone.heading") %>

<%= image_tag('alert/warning-lg.svg', width: 54) %>

<h1 class="h3 mb1 mt3 my0"><%= t("idv.failure.phone.heading") %></h1>

<p><%= t("idv.failure.phone.warning") %></p>

<hr>

<p>
  <%= t('idv.form.no_alternate_phone_html',
    link: link_to(t('idv.form.activate_by_mail'), idv_usps_path)) %>
</p>

<p><%= raw t('idv.failure.attempts_html', count: @remaining_step_attempts) %></p>

<% if decorated_session.sp_name %>
  <hr>
    <div class="mb2 mt2">
      <div class="right">
        <%= link_to image_tag(asset_url('carat-right.svg'), size: '10'),
            decorated_session.failure_to_proof_url, class: 'bold block btn-link text-decoration-none' %>
      </div>
      <%= link_to t('idv.failure.help.get_help_html', sp_name: decorated_session.sp_name),
          decorated_session.failure_to_proof_url, class: 'block btn-link text-decoration-none' %>
    </div>
  <hr/>
<% end %>

<div class='mt3'>
  <%= link_to t("idv.failure.button.warning"), idv_phone_path %>
</div>

<%= render 'idv/doc_auth/in_person_proofing_option' %>
