<% title t('headings.cancellations.confirmation') %>

<%= image_tag(asset_url('alert/fail-x.svg'), width: 54) %>

<h1 class="h3 margin-bottom-1 margin-top-4 margin-y-0">
  <%= t('headings.cancellations.confirmation') %>
</h1>

<hr>

<ul class='list-reset red-dots'>
  <li><%= t('idv.cancel.warnings.warning_2') %></li>
  <li><%= t('idv.cancel.warnings.warning_3', app: APP_NAME) %></li>
  <li><%= t('idv.cancel.warnings.warning_4') %></li>
  <li><%= t('idv.cancel.warnings.warning_5') %></li>
</ul>

<% if decorated_session.sp_name %>
  <div class='margin-top-2'>
    <%= link_to "‹ #{t('links.back_to_sp', sp: decorated_session.sp_name)}",
      return_to_sp_failure_to_proof_path %>
  </div>
<% else %>
  <div class='margin-top-2'>
    <%= link_to "‹ #{t('links.back_to_sp', sp: t('links.my_account'))}", account_url %>
  </div>
<% end %>
