<% title t('titles.idv.cancellation_prompt') %>

<%= render StatusPageComponent.new(status: :warning) do |c| %>
  <% if @hybrid_session %>
    <% c.header { t('idv.cancel.headings.prompt.hybrid') } %>

    <p><%= t('idv.cancel.description.hybrid') %></p>

    <% c.action_button(
         action: ->(**tag_options, &block) do
           button_to(idv_cancel_path(step: params[:step], location: 'cancel'), **tag_options, &block)
         end,
         method: :delete,
       ).with_content(t('forms.buttons.cancel')) %>
    <% c.action_button(
         action: ->(**tag_options, &block) do
           button_to(idv_cancel_path(step: params[:step]), **tag_options, &block)
         end,
         method: :put,
         outline: true,
       ).with_content(t('links.go_back')) %>
  <% else %>
    <% c.header { t('idv.cancel.headings.prompt.standard') } %>

    <h2 class="margin-top-4 margin-bottom-2"><%= t('idv.cancel.headings.start_over') %></h2>

    <p><%= t('idv.cancel.description.start_over') %></p>

    <div class="margin-top-4">
      <%= render ButtonComponent.new(
            action: ->(**tag_options, &block) do
              button_to(idv_session_path(step: params[:step]), **tag_options, &block)
            end,
            method: :delete,
            big: true,
            wide: true,
          ).with_content(t('idv.cancel.actions.start_over')) %>
      <div class="margin-top-2">
        <%= render ButtonComponent.new(
              action: ->(**tag_options, &block) do
                button_to(idv_cancel_path(step: params[:step]), **tag_options, &block)
              end,
              method: :put,
              big: true,
              wide: true,
              outline: true,
            ).with_content(t('idv.cancel.actions.keep_going')) %>
      </div>
    </div>

    <hr class="margin-y-5" />

    <h2 class="margin-top-4 margin-bottom-2"><%= @presenter.exit_heading %></h2>

    <% @presenter.exit_description.each do |p_content| %>
      <p><%= p_content %></p>
    <% end %>

    <div class="margin-top-4">
      <%= render SpinnerButtonComponent.new(
            action: ->(**tag_options, &block) do
              button_to(idv_cancel_path(step: params[:step], location: 'cancel'), **tag_options, &block)
            end,
            method: :delete,
            big: true,
            wide: true,
            outline: true,
            form: { data: { form_steps_wait: '' } },
          ).with_content(@presenter.exit_action_text) %>
    </div>
  <% end %>
<% end %>

<% javascript_packs_tag_once 'form-steps-wait' %>
