<% self.title = t('titles.idv.cancellation_prompt') %>

<%= render ADS::FormPageComponent.new(
      title: @hybrid_session ? t('idv.cancel.headings.prompt.hybrid') : t('idv.cancel.headings.prompt.standard'),
    ) do |page| %>
  <% if @hybrid_session %>
    <% page.with_body do %>
      <div class="ads-copy">
        <p><%= t('idv.cancel.description.hybrid') %></p>
      </div>
    <% end %>

    <% page.with_actions do %>
      <%= render ButtonComponent.new(
            url: idv_cancel_path(step: params[:step], location: 'cancel'),
            method: :delete,
            variant: :destructive,
          ).with_content(t('forms.buttons.cancel')) %>

      <%= render ButtonComponent.new(
            url: idv_cancel_path(step: params[:step]),
            method: :put,
            variant: :secondary,
          ).with_content(t('links.go_back')) %>
    <% end %>
  <% else %>
    <% page.with_body do %>
      <p class="ads-copy ads-copy--centered"><%= t('idv.cancel.description.start_over') %></p>
    <% end %>

    <% page.with_actions do %>
      <%= render ButtonComponent.new(
            url: idv_session_path(step: params[:step]),
            method: :delete,
            variant: :destructive,
            form: { 'aria-label': t('idv.cancel.actions.start_over') },
          ).with_content(t('idv.cancel.actions.start_over')) %>

      <%= render ButtonComponent.new(
            url: idv_cancel_path(step: params[:step]),
            method: :put,
            variant: :secondary,
            form: { 'aria-label': t('idv.cancel.actions.keep_going') },
          ).with_content(t('idv.cancel.actions.keep_going')) %>
    <% end %>
  <% end %>
<% end %>
