<%= render(
      layout: 'idv/shared/error',
      locals: {
        type: :warning,
        title: t('titles.idv.cancellation_prompt'),
        heading: @hybrid_session ?
          t('idv.cancel.headings.prompt.hybrid') :
          t('headings.cancellations.prompt'),
        action: {
          text: t('forms.buttons.cancel'),
          url: idv_cancel_path(step: params[:step], location: 'cancel'),
          method: :delete,
        },
        action_secondary: {
          text: t('links.go_back'),
          url: idv_cancel_path(step: params[:step], cancel: true),
          method: :put,
        },
      },
    ) do %>
      <% if @hybrid_session %>
        <p><%= t('idv.cancel.warnings.hybrid') %></p>
      <% else %>
        <p class="margin-bottom-1 text-bold"><%= t('sign_up.cancel.warning_header') %></p>
        <ul class="usa-list">
          <li><%= t('idv.cancel.warnings.warning_1') %></li>
          <li><%= t('idv.cancel.warnings.warning_2') %></li>
          <li><%= t('idv.cancel.warnings.warning_3', app_name: APP_NAME) %></li>
          <li><%= t('idv.cancel.warnings.warning_4', app_name: APP_NAME) %></li>
          <li><%= t('idv.cancel.warnings.warning_5') %></li>
        </ul>
      <% end %>
    <% end %>
