<% self.title = t('idv.cancel.headings.prompt.standard') %>

<%= render 'idv/shared/step_indicator', current_step: @step_indicator_step %>

<%= render ADS::FormPageComponent.new(title: t('idv.cancel.headings.prompt.standard')) do |page| %>
  <% page.with_body do %>
    <div class="ads-copy">
      <p><%= t('idv.cancel.description.gpo.start_over') %></p>
      <ul class="ads-list">
        <% t('idv.cancel.description.gpo.warnings').each do |warning_text| %>
          <li><%= warning_text %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% page.with_actions do %>
    <%= render ButtonComponent.new(
          url: idv_session_path(step: :gpo_verify),
          method: :delete,
        ).with_content(t('idv.buttons.continue_plain')) %>

    <%= render ButtonComponent.new(
          url: go_back_path || idv_verify_by_mail_enter_code_path,
          variant: :quaternary,
        ).with_content(t('forms.buttons.back')) %>
  <% end %>
<% end %>
