<%= title t('mfa.additional_mfa_required.heading') %>

<%= render PageHeadingComponent.new.with_content(t('mfa.additional_mfa_required.heading')) %>

<p class="maxw-mobile-lg margin-bottom-0"><%= @presenter.intro %></p>

<%= simple_form_for @two_factor_options_form,
                    html: { autocomplete: 'off' },
                    method: :patch,
                    url: second_mfa_setup_path do |f| %>
  <div class="margin-bottom-4">
    <fieldset class="margin-0 padding-0 border-0">
      <legend class="margin-bottom-2 usa-sr-only"><%= @presenter.intro %></legend>
      <%= hidden_field_tag 'two_factor_options_form[selection][]', nil %>
      <% @presenter.options.each do |option| %>
        <div id="<%= "select_#{option.type}" %>" class="<%= option.html_class %>">
        <%= render partial: 'partials/multi_factor_authentication/mfa_selection',
                   locals: { form: f, option: option } %>
        </div>
      <% end %>
    </fieldset>
  </div>

  <%= f.submit t('forms.buttons.continue'), class: 'margin-bottom-1' %>
<% end %>

<%= render PageFooterComponent.new do %>
  <%= link_to t('mfa.skip'), @after_setup_path, method: :get %>
<% end %>

<%= javascript_packs_tag_once('webauthn-unhide') %>
