<%= title t('mfa.additional_mfa_required.heading') %>

<%= render PageHeadingComponent.new.with_content(t('mfa.additional_mfa_required.heading')) %>

<p class="maxw-mobile-lg margin-bottom-0"><%= @presenter.intro %></p>

<h2 class="margin-top-2 margin-bottom-1">
  <%= t('headings.account.two_factor') %>
</h2>

<ul class="usa-icon-list">
  <% @presenter.options.each do |option| %>
    <% if option.mfa_configuration_count > 0 %>
      <%= render partial: 'partials/multi_factor_authentication/selected_mfa_option', locals: { option: option } %>
    <% end %>
  <% end %>
</ul>
<%= simple_form_for @two_factor_options_form,
                    html: { autocomplete: 'off' },
                    method: :patch,
                    url: second_mfa_setup_path do |f| %>
  <div class="margin-bottom-4">
    <fieldset class="margin-0 padding-0 border-0">
      <legend class="margin-bottom-2 usa-sr-only"><%= @presenter.intro %></legend>
      <% @presenter.options.each do |option| %>
        <%= render(option) do %>
          <%= render partial: 'partials/multi_factor_authentication/mfa_selection',
                     locals: { option: option } %>
        <% end %>
      <% end %>
    </fieldset>
  </div>

  <%= f.submit t('forms.buttons.continue'), class: 'margin-bottom-1' %>
<% end %>

<% if @presenter.show_skip_additional_mfa_link? %>
  <%= render PageFooterComponent.new do %>
    <%= link_to t('mfa.skip'), @after_setup_path, method: :get %>
  <% end %>
<% end %>
