<%= extends_layout :base, body_class: local_assigns.fetch(:body_class, 'site') do %>
  <%= link_to t('shared.skip_link'), '#main-content', class: 'ads-skip-link' %>

  <%= render ADS::PageShellComponent.new(
        width: local_assigns.fetch(:page_width, :form),
        density: local_assigns[:page_density],
        align: local_assigns[:page_align],
        surface: local_assigns[:page_surface],
        main_tag: local_assigns[:user_main_tag] == false ? :div : :main,
        hide_chrome: local_assigns.fetch(:hide_page_chrome, false) ||
          content_for?(:hide_page_chrome),
        hide_footer: local_assigns.fetch(:hide_page_footer, false) ||
          content_for?(:hide_page_footer),
      ) do |shell| %>
    <% shell.with_body do %>
      <%= yield(:pre_flash_content) if content_for?(:pre_flash_content) %>
      <% unless content_for?(:skip_layout_flash) %>
        <% flash_component = FlashComponent.new(flash: flash) %>
        <% if flash_component.alerts? %>
          <div class="ads-auth-page__flash">
            <%= render flash_component %>
          </div>
        <% elsif flash_component.render? %>
          <%= render flash_component %>
        <% end %>
      <% end %>
      <%= yield %>
    <% end %>
  <% end %>

  <% if current_user %>
    <%= render partial: 'session_timeout/ping',
               locals: {
                 warning: session_timeout_warning,
                 start: session_timeout_start,
                 frequency: session_timeout_frequency,
                 modal: session_modal,
               } %>
  <% elsif !@skip_session_expiration %>
    <%= render partial: 'session_timeout/expire_session',
               locals: {
                 session_timeout_in: Devise.timeout_in,
                 warning: session_timeout_warning,
                 modal: session_modal,
               } %>
  <% end %>

  <%= javascript_packs_tag_once('application') %>
<% end %>
