<!DOCTYPE html>
<html class="no-js" lang="<%= I18n.locale %>">

<head>
  <meta charset="utf-8" />
  <meta content="<%= APP_NAME %>" name="description" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="none" name="msapplication-config" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="telephone=no" name="format-detection" />

  <% if content_for?(:meta_refresh) %>
  <meta content="<%= yield(:meta_refresh) %>" http-equiv="refresh" />
  <% end %>

  <% if session_with_trust? || FeatureManagement.disallow_all_web_crawlers? %>
  <meta content="noindex,nofollow" name="robots" />
  <% end %>

  <%= yield(:meta_tags) if content_for?(:meta_tags) %>

  <title>
    <%= APP_NAME %><%= raw(" - #{yield(:title)}") if content_for?(:title) %>
  </title>

  <%= preload_link_tag font_url('identity-style-guide/dist/assets/fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2') %>
  <%= preload_link_tag font_url('identity-style-guide/dist/assets/fonts/source-sans-pro/sourcesanspro-bold-webfont.woff2') %>
  <%= preload_link_tag font_url('identity-style-guide/dist/assets/fonts/merriweather/Latin-Merriweather-Bold.woff2') %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!--[if IE 8]>
  <%= javascript_include_tag_without_preload 'es5-shim.min' %>
  <![endif]-->
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'i18n-strings.' + I18n.locale.to_s %>
  <%= csrf_meta_tags %>

  <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
  <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
  <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
  <link href="/manifest.json" rel="manifest" />
  <link color="#e21c3d" href="/safari-pinned-tab.svg" rel="mask-icon" />
  <meta content="#ffffff" name="theme-color" />

  <!--[if lt IE 9]>
  <%= javascript_include_tag_without_preload 'html5shiv' %>
  <%= javascript_include_tag_without_preload 'respond.min' %>
  <![endif]-->

  <% if Identity::Hostdata.settings.newrelic_browser_key.present? && Identity::Hostdata.settings.newrelic_browser_app_id.present? %>
  <%= render 'shared/newrelic/browser_instrumentation' %>
  <% end %>
</head>

<body class="site <%= yield(:background_cls) %>">
  <div class="usa-overlay"></div>
  <%= yield(:mobile_nav) if content_for?(:mobile_nav) %>
  <div class="site-wrap bg-light-blue">
    <%= render 'shared/banner' %>
    <div aria-label="main-navigation" role="navigation">
      <% if content_for?(:nav) %>
        <%= yield(:nav) %>
      <% else %>
        <%= render decorated_session.nav_partial %>
      <% end %>
    </div>
    <div class="container">
      <div class="padding-x-2 padding-y-2 tablet:padding-y-8 tablet:padding-x-10 margin-x-auto tablet:margin-bottom-8 border-box <%= local_assigns[:disable_card].present? ? '' : 'card' %>" role="main">
        <%= render 'shared/flashes' %>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </div>
  </div>

  <%= render 'shared/footer_lite' %>

  <% if current_user # Render the JS snipped that collects platform authenticator analytics %>
    <div data-platform-authenticator-enabled="true"></div>
    <%= render partial: 'session_timeout/ping',
               locals: {
                 timeout_url: timeout_url,
                 warning: session_timeout_warning,
                 start: session_timeout_start,
                 frequency: session_timeout_frequency,
                 modal: session_modal,
               } %>
  <% elsif !@skip_session_expiration %>
    <%= render partial: 'session_timeout/expire_session',
               locals: {
                 session_timeout_in: Devise.timeout_in,
               } %>
  <% end %>

  <%= javascript_packs_tag_once 'application', prepend: true %>
  <%= render_javascript_pack_once_tags %>

  <%= render 'shared/dap_analytics' if Identity::Hostdata.settings.participate_in_dap == 'true' && !session_with_trust? %>
</body>

</html>
