<!DOCTYPE html>
<html class="no-js" lang="<%= I18n.locale %>">

<head>
  <meta charset="utf-8" />
  <meta content="<%= APP_NAME %>" name="description" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="telephone=no" name="format-detection" />

  <% if content_for?(:meta_refresh) %>
  <meta content="<%= yield(:meta_refresh) %>" http-equiv="refresh" />
  <% end %>

  <% if session_with_trust? || FeatureManagement.disallow_all_web_crawlers? %>
  <meta content="noindex,nofollow" name="robots" />
  <% end %>

  <%= content_tag(
        'title',
        content_for?(:title) ? raw("#{yield(:title)} - #{APP_NAME}") : APP_NAME,
      ) %>

  <%= javascript_tag(nonce: true) do %>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, 'js');
  <% end %>
  <%= preload_link_tag font_url('public-sans/PublicSans-Bold.woff2') %>
  <%= preload_link_tag font_url('public-sans/PublicSans-Regular.woff2') %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag(
        design_system_asset_path('img/favicons/apple-touch-icon.png'),
        rel: 'apple-touch-icon',
        sizes: '180x180',
        type: 'image/png',
      ) %>
  <%= favicon_link_tag(
        design_system_asset_path('img/favicons/favicon-40.png'),
        rel: 'icon',
        sizes: '40x40',
        type: 'image/png',
      ) %>
  <%= favicon_link_tag(
        design_system_asset_path('img/favicons/favicon-16.png'),
        rel: 'icon',
        sizes: '16x16',
        type: 'image/png',
      ) %>
  <link href="/manifest.json" rel="manifest" />
  <%= favicon_link_tag(
        design_system_asset_path('img/favicons/safari-pinned-tab.svg'),
        rel: 'mask-icon',
        color: '#e21c3d',
        type: nil,
      ) %>
  <meta content="#ffffff" name="theme-color" />

  <% if IdentityConfig.store.newrelic_browser_key.present? && IdentityConfig.store.newrelic_browser_app_id.present? %>
    <%= render 'shared/newrelic/browser_instrumentation' %>
  <% end %>

  <%= yield(:head) if content_for?(:head) %>
</head>

<body class="site <%= yield(:background_cls) %>">
  <%= link_to t('shared.skip_link'), '#main-content', class: 'usa-skipnav' %>
  <div class="usa-overlay"></div>
  <%= yield(:mobile_nav) if content_for?(:mobile_nav) %>
  <%= render 'shared/banner' %>

  <%= content_tag(
        local_assigns[:user_main_tag] == false ? 'div' : 'main',
        class: 'site-wrap bg-primary-lighter',
        id: local_assigns[:user_main_tag] == false ? nil : 'main-content',
      ) do %>
    <div class="grid-container padding-y-4 tablet:padding-y-8 <%= local_assigns[:disable_card].present? ? '' : 'card' %>">
      <%= yield(:pre_flash_content) if content_for?(:pre_flash_content) %>
      <%= render FlashComponent.new(flash: flash) %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  <% end %>

  <%= render 'shared/footer_lite' %>

  <% if current_user %>
    <%= render partial: 'session_timeout/ping',
               locals: {
                 timeout_url: timeout_url,
                 warning: session_timeout_warning,
                 start: session_timeout_start,
                 frequency: session_timeout_frequency,
                 modal: session_modal,
               } %>
  <% elsif !@skip_session_expiration %>
    <%= render partial: 'session_timeout/expire_session',
               locals: {
                 session_timeout_in: Devise.timeout_in,
               } %>
  <% end %>

  <%= content_tag(
        :script,
        {
          'appName' => APP_NAME,
          'analyticsEndpoint' => api_logger_path,
        }.to_json,
        { type: 'application/json', data: { config: '' } },
        false,
      ) %>
  <%= javascript_packs_tag_once('application', prepend: true) %>
  <%= render_javascript_pack_once_tags %>

  <%= render 'shared/dap_analytics' if IdentityConfig.store.participate_in_dap && !session_with_trust? %>
</body>

</html>
