<!doctype html>
<html>
  <head>
    <title>Component Preview</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# See: https://github.com/allmarkedup/lookbook/issues/184 %>
    <%= content_tag(:style, nonce: content_security_policy_nonce) { '* { box-sizing: border-box; }' } %>
  </head>
  <body class="padding-2">
    <%= yield %>
    <%= javascript_packs_tag_once('application', prepend: true) %>
    <%= render_javascript_pack_once_tags %>
  </body>
</html>
