<div>
  <div class="grid-row mb1 mt0">
    <h2 class="grid-col-6 m0">
      <%= t('headings.account.authentication_apps') %>
    </h2>
    <% if current_user.auth_app_configurations.count < Figaro.env.max_auth_apps_per_account.to_i %>
      <div class="right-align grid-col-6">
        <%= link_to(
          prefix_with_plus(t('forms.buttons.enable')),
          authenticator_setup_url,
          class: 'btn btn-account-action rounded-lg bg-light-blue',
        ) %>
      </div>
    <% end %>
  </div>

  <div class="border-bottom border-light-blue">
    <% MfaContext.new(current_user).auth_app_configurations.each do |auth_app_configuration| %>
      <div class="p1 grid-row border-top border-left border-right border-light-blue">
        <div class="grid-col-8">
          <div class="grid-col-12 mobile-lg:grid-col-6">
            <%= auth_app_configuration.name %>
          </div>
          <div class="grid-col-12 mobile-lg:grid-col-6 truncate">
            <%= PhoneConfigurationDecorator.new(auth_app_configuration).default_number_message %>
          </div>
        </div>
        <div class="grid-col-4 right-align">
          <%= render @view_model.totp_partial, id: auth_app_configuration.id %>
        </div>
      </div>
    <% end %>
  </div>
</div>
