<div class="p2 clearfix border-top border-blue-light">
  <div class="col col-8">
    <div class="bold col col-12 sm-col-6"><%= t 'forms.backup_code.title' %></div>
    <div class="col col-12 sm-col-6 truncate">
      <% if TwoFactorAuthentication::BackupCodePolicy.new(current_user).configured? %>
        <p class='m0 p0'>
          <em><%= t 'account.index.backup_codes_exist' %></em>
        </p>
        <p class='m0 p0'>
          <%=
            local_time(@view_model.backup_codes_generated_at, t('time.formats.event_timestamp'))
          %>
        </p>
      <% else %>
        <em><%= t 'account.index.backup_codes_no_exist' %></em>
      <% end %>
    </div>
  </div>
  <div class="col col-4 right-align">
    <%= render @view_model.backup_codes_partial %>
  </div>
</div>
