<h2 class="margin-top-0 margin-bottom-1">
  <%= t('forms.backup_code.title') %>
</h2>
<div class="grid-row padding-1 border border-primary-light">
  <% if TwoFactorAuthentication::BackupCodePolicy.new(current_user).configured? %>
    <div class="grid-col-9">
      <%= t 'account.index.backup_codes_exist' %>
      <%= render TimeComponent.new(time: @presenter.backup_codes_generated_at) %>
    </div>
    <div class="grid-col-3 text-right">
      <% if MfaPolicy.new(current_user).multiple_non_restricted_factors_enabled? %>
        <%= link_to t('forms.buttons.delete'), backup_code_delete_path %>
      <% end %>
    </div>
  <% else %>
    <div class="grid-col-12">
      <em><%= t 'account.index.backup_codes_no_exist' %></em>
    </div>
  <% end %>
</div>
<% if TwoFactorAuthentication::BackupCodePolicy.new(@presenter.decorated_user.user).configured? %>
  <%= render 'accounts/actions/regenerate_backup_codes' %>
<% else %>
  <%= render 'accounts/actions/generate_backup_codes' %>
<% end %>
