<div class="border-bottom border-primary-light">
  <div class="margin-bottom-1 margin-top-0">
    <h3 class="margin-0">
      <%= t('account.index.email_addresses') %>
    </h3>
    <% if flash[:email_error] %>
      <%= render AlertComponent.new(type: :error, id: 'emails', class: 'margin-bottom-1', message: flash[:email_error]) %>
    <% end %>
  </div>
  <% @presenter.user.visible_email_addresses.each do |email| %>
    <div class="padding-1 border-top border-left border-right border-primary-light">
      <div class="grid-row grid-gap-2">
        <div class="grid-col-fill">
          <span class="break-word">
            <%= email.email %>
          </span>
          <% unless email.confirmed_at %>
            &nbsp;<%= t('email_addresses.unconfirmed') %>
          <% end %>
        </div>
        <% if EmailPolicy.new(current_user).can_delete_email?(email) %>
          <div class="grid-col-auto">
            <%= render(
                  'accounts/actions/delete_action_button',
                  path: manage_email_confirm_delete_url(id: email.id),
                ) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<% if EmailPolicy.new(current_user).can_add_email? %>
  <%= render ButtonComponent.new(
        url: add_email_path,
        outline: true,
        icon: :add,
        class: 'margin-top-2',
      ).with_content(t('account.index.email_add')) %>
<% end %>
