<div class="grid-row flex-justify padding-y-2 tablet:padding-y-0 margin-bottom-4 bg-primary-lightest tablet:bg-transparent position-relative <% if presenter.showing_any_badges? %>padding-bottom-4<% end %>">
  <div class="grid-col-12 tablet:grid-col-auto">
    <h1 class="margin-0">
      <div class="text-normal tablet:display-none text-center">
        <%= t('account.welcome') %>,
        <span class="text-bold text-wrap-anywhere">
          <%= presenter.header_personalization %>
        </span>
      </div>
      <div class="display-none tablet:display-inline">
        <%= t('headings.account.login_info') %>
      </div>
    </h1>
  </div>
  <div class="account-header__badges grid-col-12 tablet:grid-col-auto">
    <%= render 'accounts/badges' %>
  </div>
</div>
<h1 class="padding-bottom-1 tablet:display-none">
  <%= t('headings.account.login_info') %>
</h1>
