<div class="clearfix pt2 pb3 sm-py0 mb3 bg-lightest-blue sm-bg-none">
  <div class="sm-col sm-col-4">
    <h1 class="h3 m0 center sm-left-align">
      <span class="regular sans-serif sm-hide">
        <%= t('account.welcome') %>,
        <span class="bold">
          <%= view_model.header_personalization %>
        </span>
      </span>
      <span class="sm-show">
        <%= t('headings.account.login_info') %>
      </span>
    </h1>
  </div>
  <%= render partial: view_model.badges_partial %>
</div>
<div class="px2 pb1 bold h3 sm-hide serif">
  <%= t('headings.account.login_info') %>
</div>
