<nav class="usa-nav tablet:display-none sidenav-mobile" aria-label="<%= t('account.navigation.landmark_label') %>">
  <div class="usa-nav__inner">
    <button class="usa-nav__close">
      <span class="usa-sr-only">
        <%= t('account.navigation.close') %>
      </span>
    </button>
    <ul class="usa-nav__primary usa-accordion">
      <% NavigationPresenter.new(user: current_user, url_options:).navigation_items.each do |nav_item| %>
        <li class="usa-nav__primary-item">
          <%= link_to nav_item.href, class: current_page?(nav_item.href) ? 'usa-current' : '' do %>
            <strong><%= nav_item.title %></strong>
          <% end %>
          <% if nav_item.children&.any? %>
            <ul class="usa-nav__submenu">
              <% nav_item.children.each do |child_nav_item| %>
                <li class="usa-nav__submenu-item">
                  <%= link_to child_nav_item.title, child_nav_item.href, class: current_page?(child_nav_item.href) ? 'usa-current' : '' %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
