<div class='bg-white'>
  <div class='container sm-px2 sm-py3'>
    <div class='clearfix'>
      <div class='my1 ml2 sm-m0 col col-4'>
        <%= link_to image_tag(asset_url('logo.svg'),
                              alt: APP_NAME,
                              class: 'align-bottom',
                              width: 170), root_path %>
      </div>
      <div class='right-align col col-8 sm-display-inline-block display-none pr1'>
        <div class='inline-block mr1 truncate-inline'>
          <p class='inline-block truncate m0'>
            <%= t('account.welcome') %>
            <strong><%= greeting %></strong>
          </p>
        </div>
        <div class='inline-block right border-silver border-left'>
          <p class='m0'>
            <%= link_to t('links.sign_out'), destroy_user_session_path,
                        class: 'pl1' %>
          </p>
        </div>
      </div>
        <div class='sm-hide'>
          <% if enable_mobile_nav %>
            <button class='usa-menu-btn right'><%= t('account.navigation.menu') %></button>
          <% end %>
          <div class='right mt1 mr2'>
            <%= link_to t('links.sign_out'), destroy_user_session_path %>
          </div>
        </div>
    </div>
  </div>
</div>
