<div class="grid-container padding-x-0 tablet:padding-x-4">
  <div class="grid-row flex-justify tablet:padding-y-4">
    <div class="grid-col-auto display-flex flex-align-center padding-x-2 tablet:padding-x-0">
      <%= link_to(
            image_tag(
              asset_url('logo.svg'),
              alt: APP_NAME,
              class: 'text-bottom',
              width: 155,
              height: 21,
            ),
            root_path,
          ) %>
    </div>
    <div class="grid-col-auto display-flex flex-align-center">
      <span class="display-none tablet:display-inline padding-right-1 margin-right-1 border-right border-base-darker">
        <%= t('account.welcome') %> <strong><%= greeting %></strong>
      </span>

      <%= button_to t('links.sign_out'), logout_path, method: :delete, class: 'usa-button usa-button--unstyled' %>

      <% if enable_mobile_nav %>
        <button class="usa-menu-btn margin-left-2"><%= t('account.navigation.menu') %></button>
      <% end %>
    </div>
  </div>
</div>
