<%= render ADS::OfficialBannerComponent.new %>

<header class="ads-account-header">
  <%= link_to root_path, class: 'ads-account-header__logo-link', aria: { label: APP_NAME } do %>
    <%= image_tag(
          asset_url('logo.svg'),
          alt: '',
          class: 'ads-account-header__logo',
          aria: { hidden: true },
          width: 155,
          height: 21,
        ) %>
  <% end %>

  <div class="ads-account-header__actions">
    <details class="ads-account-header__menu" data-dismissable-menu>
      <summary class="ads-account-header__menu-button">
        <span class="ads-sr-only"><%= t('account.navigation.account_menu') %></span>
        <span class="ads-account-header__menu-email"><%= greeting %></span>
        <%= render IconComponent.new(
              icon: :chevron_down,
              size: 16,
              class: 'ads-account-header__menu-chevron',
            ) %>
      </summary>

      <div class="ads-account-header__menu-panel">
        <%= button_to t('links.sign_out'),
                      logout_path,
                      method: :delete,
                      form_class: 'ads-account-header__menu-form',
                      class: 'ads-account-header__menu-item' %>
      </div>
    </details>

    <%= render 'accounts/mobile_nav' %>
  </div>
</header>

<%= javascript_packs_tag_once('account-menu', preload_links_header: false) %>
