<% content_for(:nav) do %>
  <%= render 'accounts/nav_auth', greeting: @view_model.header_personalization %>
<% end %>

<% title t('titles.account') %>

<% if @view_model.show_personal_key_partial? %>
  <%= render 'accounts/personal_key', view_model: @view_model %>
<% end %>

<% if @view_model.show_password_reset_partial? %>
  <%= render 'accounts/password_reset', view_model: @view_model %>
<% end %>

<%= render @view_model.pending_profile_partial, view_model: @view_model %>
<%= render 'accounts/header', view_model: @view_model %>


<div class="mb3 profile-info-box">
  <div class="bg-lightest-blue py1 px2 h6 caps">
    <%= t('account.index.login') %>
    <%= image_tag asset_url('sign-in.svg'), alt: '', width: 12, class: 'ml1' %>
  </div>
  <%= render 'emails' %>
  <%= render 'account_item',
    name: t('account.index.password'),
    content: '************',
    path: manage_password_path,
    action: @view_model.edit_action_partial %>
</div>

<div class="mb3 profile-info-box">
  <div class="bg-lightest-blue py1 px2 h6 caps">
    <%= t('headings.account.two_factor') %>
    <%= image_tag asset_url('2fa-account.svg'), alt: '', width: 8, class: 'ml1' %>
  </div>

  <% if TwoFactorAuthentication::PhonePolicy.new(current_user).visible? %>
    <%= render 'phone' %>
  <% end %>
  <%= render 'auth_apps' %>
  <% if TwoFactorAuthentication::WebauthnPolicy.new(current_user).visible? %>
    <%= render 'webauthn' %>
  <% end %>
  <%= render 'piv_cac' %>
  <% if TwoFactorAuthentication::PersonalKeyPolicy.new(current_user).visible? %>
    <% @view_model.manage_personal_key_partial do %>
      <%= render 'account_item',
        name: render(@view_model.personal_key_item_partial),
        action: @view_model.personal_key_action_partial %>
    <% end %>
  <% end %>
  <%= render 'backup_codes' %>
</div>
<%= render @view_model.pii_partial, pii: @view_model.pii,
           locked_for_session: @view_model.locked_for_session %>
<div class="mb3 profile-info-box">
  <div class="bg-lightest-blue pb1 pt1 px2 h6 caps clearfix">
    <%= t('headings.account.connected_apps') %>
    <%= image_tag asset_url('connected_apps.png'), alt: '', width: 12, class: 'ml1' %>
  </div>
  <% @view_model.connected_apps.each do |identity| %>
    <%= render identity.connected_app_partial, identity: identity %>
  <% end %>
</div>
<div class="mb3 profile-info-box">
  <div class="bg-lightest-blue pb1 pt1 px2 h6 caps clearfix">
    <%= t('headings.account.devices') %>
    <%= image_tag asset_url('history.svg'), alt: '', width: 12, class: 'ml1' %>
  </div>
  <% @view_model.recent_devices.each do |device| %>
    <%= render device.device_partial, device: device %>
  <% end %>
</div>

<div class="mb3 profile-info-box">
  <div class="bg-lightest-blue pb1 pt1 px2 h6 caps clearfix">
    <%= t('titles.remembered_browsers') %>
    <%= image_tag asset_url('history.svg'), alt: '', width: 12, class: 'ml1' %>
  </div>
  <div class="p2 clearfix border-top">
    <div class="clearfix mxn1">
      <div class="sm-col sm-col-9 px1">
        <%= t('account.forget_all_browsers.description') %>
      </div>
      <div class="sm-col sm-col-3 px1 sm-right-align">
        <%= link_to(t('account.forget_all_browsers.link_title'), forget_all_browsers_path) %>
      </div>
    </div>
  </div>
</div>
<div class="mb3 profile-info-box">
  <div class="bg-lightest-blue pb1 pt1 px2 h6 caps clearfix">
    <%= t('headings.account.account_history') %>
    <%= image_tag asset_url('history.svg'), alt: '', width: 12, class: 'ml1' %>
  </div>
  <% @view_model.recent_events.each do |event| %>
    <%= render event.event_partial, event: event %>
  <% end %>
</div>
<div class="mb3 profile-info-box">
  <div class="bg-lightest-blue pb1 pt1 px2 h6 caps clearfix">
    <%= t('headings.account.account_management') %>
  </div>
  <%= render 'account_item',
    name: render('accounts/actions/delete_account'),
    action: 'accounts/delete_account_item_heading' %>
</div>
