<% self.title = t('titles.account') %>
<% email_policy = EmailPolicy.new(current_user) %>
<% mfa_context = MfaContext.new(current_user) %>

<div class="ads-account">
  <h1 class="ads-sr-only"><%= t('headings.account.login_info') %></h1>

  <% if @presenter.showing_alerts? %>
    <div class="ads-account__alerts">
      <% if @presenter.show_password_reset_partial? %>
        <%= render 'accounts/password_reset', presenter: @presenter %>
      <% end %>
      <% if @presenter.show_service_provider_continue_partial? %>
        <%= render 'accounts/service_provider_continue', presenter: @presenter %>
      <% end %>
    </div>
  <% end %>

  <%= render 'accounts/account/email_preferences',
             email_policy: %>
  <%= render 'accounts/account/password' %>
  <%= render 'accounts/account/phone',
             mfa_context: %>

  <% if @presenter.show_manage_personal_key_partial? %>
    <%= render 'accounts/account/personal_key' %>
  <% end %>

  <%= render 'accounts/account/delete_account' %>
</div>
